<html>
    <head>
        <meta http-equiv="Refresh" content="5, URL=/index.php">
    </head>
    <body>
        Сторінку не знайдено. Перейдіть на <a href="/index.php">головну</a>
    </body>
</html>


form-inline


modals
openModal(id)
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            
scroll в етикетказ                            



select2
проверить кафе  меню
перевести  магаз на  adminlte
табы в  виижете
форма дока   - белая
tooltip
popover

ps pe ms me

icons