<html>
    <head>
        <meta http-equiv="Refresh" content="5, URL=/index.php">
    </head>
    <body>
        Сторінку не знайдено. Перейдіть на <a href="/index.php">головну</a>

  

  checkmyadsplz@gmail.com
 
 портфели со сделаками
 
 
 сделки  с  сосояниями
 
 
 чеклмчт - в  потфель
 
 в  адсинке  список  стратений
 у стратегии описаие  и чеклист
 
 
 изменение  в  портфелеле
 сохраняем  стратегии
 
 клпируется  в  сдеоку
 новая  стратегия в  сделке  добавляется  в  портфель
 сохраняем стратегии
 
 открытвя
 частичнпя      текстовые  позя  клюя значния
 закрытая
 
 на кажом жтапк  срзранятт ментао  стате
 
меню - журнал трейд  стратегии ментал стате


ментал стате
вопросы

строка один сульта рате (1-10)

 
 
 
 
 