4d2df9c6
www\templates\404.html

@@ -4,130 +4,6 @@
    </head>
    <body>
        Сторінку не знайдено. Перейдіть на <a href="/index.php">головну</a>

 
 
 портфели со сделаками
 
 
 сделки  с  сосояниями
 
 
 чеклмчт - в  потфель
 название
 цвет
  
 баланс
 валюта
 риски 
 
 
 
 в  адсинке  список  стратений
 у стратегии описаие  и чеклист
 
 
 изменение  в  портфелеле
 сохраняем  стратегии
 
 клпируется  в  сдеоку
 новая  стратегия в  сделке  добавляется  в  портфель
 сохраняем стратегии
 
 
 
 открытвя
 частичнпя      текстовые  позя  клюя значния
 закрытая
 
 на кажом жтапк  срзранятт ментао  стате
 
меню - журнал трейд  стратегии ментал стате
  

ментал стате
вопросы

строка один сульта рате (1-10)


 три настройки контента
 тайтл
 лескрипешщт
 бакграунд
 
список контента  с уточнением категорийй

     

 ******************
 30152    
 
 %gXKN&3RBzZ5uMfk23

leon.martynjuk@onetouchdirect.com
 
 
 
 OTDCallTrackerMetro
 EmployeeManager
 OTD_MasterData
 
 TPA-DWSQLCL01\DWSQLCL01
TPA-DW02\SQL2016EXPRESS   
empManager  h8A24!$pL089wc5


user id=empManager ;password=h8A24!$pL089wc5
integrated security=True


Roman Radchenko, [26-Jun-25 10:49]
roman.radchenko@onetouchdirect.com

Roman Radchenko, [26-Jun-25 10:49]
Rr123!1231123rr!

******************

 
https://zippy.com.ua/
Безкоштовна облікова CRM з відкритим кодом та веб інтерфейсом (склад, торгівлч, виробництво, ПРРО) для малого бізнесу.

    
leon.mbs@gmail.com

 

 // 44719175    210653707  воля
  
 
 keytool -genkey -v -keystore my-release-key.jks -keyalg RSA -keysize 2048 -validity 10000 -alias my-key-alias  
  
  
 java -jar bundletool-all-1.16.0.jar build-apks --
bundle=com.companyname.testapp.aab --output=com.companyname.testapp.apks --
mode=universal --ks=my-release-key.jks --ks-pass=pass:test11 --ks-key-alias=my-key-alias --
key-pass=pass:test11
  
   
  java.exe  -jar bundletool-all-1.18.1.jar build-apks --bundle=com.companyname.testapp.aab --output=com.companyname.testapp.apks --mode=universal --ks=my-release-key.jks --ks-pass=pass:omerta --ks-key-alias=my-key-alias --key-pass=pass:omerta
  
 
 

Leon1967       leon12345678*     20.186.18.39

(новый) leonmbs-vnet
Подсеть
(новый) default (10.0.0.0/24)
Общедоступный IP-адрес
(новый) leonmbs-ip

 ALTER TABLE Content ADD [ShowDate] [datetime] NULL;
 
 
 