<html>
    <head>
        <title>API help</title>
        <link rel="stylesheet" href="/assets/css/adminlte.css">


    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-xl-10  pl-4 pr-4">
                    <h2>Опис API</h2>
                   
                    <h3>Формат обміну</h3>
                    <p>В якості протоколу в API використовується <a target="_blank" href="https://www.jsonrpc.org/specification">JSON-RPC</a>.
                        <br>Повідомлення відправляються методом POST і в цілому має вигляд:
                        <br><code>{"jsonrpc": "2.0", "method": "echo", "params": {"say": "Привіт"}, "id": 1}</code>
                    <ul>
                        <li>jsonrpc - завжди "2.0"</li>
                        <li>method - функція, що викликається</li>
                        <li>params - параметри (не обов'язкове поле)</li>
                        <li>id - ідентифікатор запиту</li>
                    </ul>
                    Ідентифікатор запиту повертається у відповідь і може бути будь яким унікальним у випадку пакетного
                     (batch)
                     запиту, оскільки сервер може бути асинхронним та повернути відповіді у довільному порядку. У випадку
                     відсутності ідентифікатора рахується, що запит - це нотифікація і не потребує відповіді.
                    <br> Пакетний запит
                    <br><code>[{"jsonrpc": "2.0", "method": "echo", "params": {"say": "Привіт"}, "id": 1}, {"jsonrpc": "2.0",
                        "method": "echo", "params": {"say": "Бувай"}, "id": 1} ]</code>
                    <br> Відповідь має вигляд
                    <br>
                    <code> {"jsonrpc": "2.0", "result": {"answer": "Привіт"}, "id": 1} </code>
                    <ul>
                        <li>jsonrpc - завжди "2.0"</li>
                        <li>result - відповідь</li>
                        <li>error - повертається замість result, якщо помилка</li>
                        <li>id - відповідний ідентифікатор із запиту</li>
                    </ul>

                    <h3>Авторизація</h3>
                    <p>
                        Тип авторизації задається в налаштуваннях і може бути на основі JWT токена, Basic аутентифікації
                         або авторизація може не використовуватися (наприклад, у локальній мережі).
                         Bearer та Basic аутентифікація відправляються стардартним чином в заголовку Authorization.
                         Для Bearer попередньо необхідно отримати JWT токен.
                    </p>
                    <h4>Перелік функцій</h4>
                    Для логічного группування запитів використовуються окремі точки входу (endpoints)
                    <table class="table  table-sm table-bordered">
                        <tr>
                            <th class="text-nowrap text-center  ">Назва</th>
                            <th class="text-nowrap text-center">URL (endpoint)</th>
                            <th class="text-nowrap text-center">Команда</th>
                            <th class="text-nowrap text-center">Параметри</th>
                            <th class="text-nowrap text-center">Приклад</th>
                            <th class="text-nowrap text-center">Примітка</th>
                        </tr>

                        <tr>
                            <td class="  text-bold">Отримати токен</td>
                            <td>/api/common</td>
                            <td>token</td>
                            <td class="text-nowrap">login - логін
                                <br>password - пароль
                            </td>
                            <td>{"login":"admin","password":"admin"}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="  text-bold">Перелік складів</td>
                            <td>/api/items</td>
                            <td>storelist</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="  text-bold">Перелік категорій</td>
                            <td>/api/items</td>
                            <td>catlist</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="  text-bold">Перелік артикулів</td>
                            <td>/api/items</td>
                            <td>articlelist</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="  text-bold">Перелік ТМЦ</td>
                            <td>/api/items</td>
                            <td>itemlist</td>
                            <td class="text-nowrap">cat_id - id категорії</td>
                            <td>{"cat_id":"10"}</td>
                            <td>Якщо категорія не задана, повертається загальний перелік. Поле description
                                повертається в кодуванні base64
                            </td>
                        </tr>
                        <tr>
                            <td class="  text-bold">Наявність на складах</td>
                            <td>/api/items</td>
                            <td>getqty</td>
                            <td class="text-nowrap">store_id - id склада</td>
                            <td>{"store_id":"1"}</td>
                            <td>Якщо склад не заданий, повертається загальний перелік.</td>
                        </tr>
                        <tr>
                            <td class="  text-bold">Записати ТМЦ</td>
                            <td>/api/items</td>
                            <td>save</td>
                            <td class="text-nowrap">itemname - назва (обов'язкове поле)
                                <br>item_code - артикул (обов'язкове поле)
                                <br>bar_code - штрих код
                                <br>measure - од. виміру
                                <br>manufacturer - виробник, бренд
                                <br>cat_id - id категорії
                                <br>price1,... - відпускні ціни
                                <br> desсription - опис (в base64)
                            </td>
                            <td>{
                                "item_code":"К001","bar_code":"К001","itemname":"testapi","description":"","measure":"шт","manufacturer":"",
                                "cat_id":"0","price1":50}
                            </td>
                            <td>Якщо артикул (item_code) існує, то ТМЦ перезаписується, інакше створюється.
                            </td>
                        </tr>


                        <tr>
                            <td class="  text-bold">Перелік контрагентів</td>
                            <td>/api/customers</td>
                            <td>list</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="  text-bold">Записати контрагента</td>
                            <td>/api/customers</td>
                            <td>save</td>
                            <td class="text-nowrap">customer_id - id контрагента
                                <br> customer_name - назва (обов'язкове поле)
                                <br> phone - телефон (рекомендується вводити як 10 цифр)
                                <br> email - e-mail
                                <br> city - місто
                                <br> address - адреса
                                <br> desсription - опис (в base64)
                            </td>

                            <td> {"customer_id":"8","customer_name":"\"ООВ
                                Вектор2\"","phone":"0991111111","email":"test@ukr.net","city":"","address":""}
                            </td>
                            <td>Якщо customer_id більше нуля, то контрагент перезаписується. Якщо дорівнює нулю або відсутній, то
                                 створюється новий.
                            </td>

                        </tr>
                        <tr>
                            <td class="text-nowrap text-bold">Перелік статусів документів</td>
                            <td>/api/docs</td>
                            <td>statuslist</td>
                            <td></td>
                            <td></td>
                            <td>Не всі статуси підходять до всіх типів документів</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap text-bold">Перелік філій</td>
                            <td>/api/docs</td>
                            <td>branchlist</td>
                            <td></td>
                            <td></td>
                            <td>Якщо обліковій системі включена підтримка філій, необхідно вказати філію у створюваному
                                 документі
                            </td>
                        </tr>

                        <tr>
                            <td class="  text-bold">Створення замовлення, якщо замовлення обробляються на стороні складської системи
                            </td>
                            <td>/api/docs</td>
                            <td>createorder</td>
                            <td class="text-nowrap">number - номер документа. Унікальне значення пов'язано із замовленням в основній системі 
                                <br> phone - телефон (якщо телефон контакта відрізняється від телефона контрагента)
                                <br> email - e-mail (якщо e-mail контакта відрізняється від e-mail контрагента)
                                <br> ship_address - адреса доставки та інші дані доставки
                                <br> description - опис (в base64)
                                <br> customer_id - контрагент
                                <br> amount - всього по документу щодо оплати (якщо відрізняється від усього по позиціям, наприклад, по знижкам)
                                <br> items - перелік позицій
                                <br> branch_id - філія (якщо увімкнено)
                                <br> item_code - артикул
                                <br> quantity - кількість
                                <br> price - ціна
                            </td>
                            <td>
                                {"number":"ID0001","phone":"0971111111","ship_address":"Харків","items":[{"item_code":"cbs500-1","quantity":2,"price":234},{"item_code":"ID0018","quantity":2,"price":234}]
                                }
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="  text-bold">Створення ТТН, якщо потрібно тільки списання зі складу</td>
                            <td>/api/docs</td>
                            <td>createttn</td>
                            <td class="text-nowrap">number - номер документа (унікальне значення, пов'язане з замовленням в
                                основній системі)
                                <br> phone - телефон (якщо телефон контакта відрізняється від телефона контрагента)
                                <br> email - e-mail (якщо e-mail контакта відрізняється від e-mail контрагента)
                                <br> ship_address - адреса доставки та інші дані доставки
                                <br> customer_id - контрагент
                                <br> description - опис (в base64)
                                <br> amount - всього по документу щодо оплати (якщо відрізняється від всього по
                                позиціям, наприклад, по знижкам)
                                <br> branch_id - фiлiя (якщо увiмкнено)
                                <br> items - перелік позицій
                                <br> item_code - артикул
                                <br> quantity - кількість
                                <br> price - ціна
                            </td>
                            <td>
                                {"number":"ID0001","phone":"0971111111","ship_address":"Харків","items":[{"item_code":"cbs500-1","quantity":2,"price":234},{"item_code":"ID0018","quantity":2,"price":234}]
                                }
                            </td>
                            <td></td>
                        </tr>
                         <tr>
                            <td class="  text-bold">Створення видаткової накладної</td>
                            <td>/api/docs</td>
                            <td>goodsissue</td>
                            <td class="text-nowrap">number - номер документа (унікальне значення в основній системі - обов'язкове поле)
                                <br> mf - каса або банкiвський рахунок
                                <br> branch_id - фiлiя (якщо увiмкнено)
                                <br> customer_id - контрагент
                                <br> store_id - склад (обов'язкове поле)
                                <br> autoexec - true (якщо треба записати проводки)
                                <br> total - всього по документу щодо оплати (якщо відрізняється від всього по
                                позиціям, наприклад, по знижкам)
                                <br> payed - внесена сума оплати
                                <br> items - перелік позицій
                                <br> item_code - артикул
                                <br> quantity - кількість
                                <br> price - ціна
                            </td>
                            <td>
                                {"number":"ID0001","store_id":19,"customer_id":8,"mf":2,"total":220,"payed":220,"items":[{"item_code":"cbs500-1","quantity":2,"price":234},{"item_code":"ID0018","quantity":2,"price":234}]
                                }
                            </td>
                            <td></td>
                        </tr>
              
                       
                       <tr>
                            <td class="  text-bold">Оприбуткування ТМЦ</td>
                            <td>/api/docs</td>
                            <td>incomeitem</td>
                            <td class="text-nowrap">number - номер документа (унікальне значення в основній системі - обов'язкове поле)
                                <br> mf - каса або банкiвський рахунок
                                <br> branch_id - фiлiя (якщо увiмкнено)
                                <br> store_id - склад (обов'язкове поле)
                                <br> autoexec - true (якщо треба записати проводки)
                                <br> total - всього по документу щодо оплати (якщо відрізняється від всього по
                                позиціям, наприклад, по знижкам)
                                <br> items - перелік позицій
                                <br> item_code - артикул
                                <br> quantity - кількість
                                <br> price - ціна
                            </td>
                            <td>
                                {"number":"ID0001","autoexec":true,"store_id":19,"customer_id":8,"mf":2,"total":220,"payed":220,"items":[{"item_code":"cbs500-1","quantity":2,"price":234},{"item_code":"ID0018","quantity":2,"price":234}]
                                }
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="  text-bold">Статуси документів за переліком номерів</td>
                            <td>/api/docs</td>
                            <td>checkstatus</td>
                            <td class="text-nowrap">numbers - перелік номерів документів</td>
                            <td>{"numbers":["З-00002","ТТН00034"] }</td>
                            <td>Повертаються тільки ті документи, які створені через API. По поверненим статусам оновляються
                                статуси замовлень в основній системі
                            </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap text-bold">Запит на видалення</td>
                            <td>/api/docs</td>
                            <td>cancel</td>
                            <td class="text-nowrap">number - номер документа<br>reason - причина</td>
                            <td>{"number": "ТТН00034","reason":"Тест" }</td>
                            <td>Запит адміністратору складу на видалення документа. Наприклад, якщо замовлення відмінено, але
                                вже експортовано.
                            </td>
                        </tr>
 <tr>
                            <td class="  text-bold">Перелiк робiт та послуг</td>
                            <td>/api/items</td>
                            <td>servicelist</td>
                            <td class="text-nowrap"></td>
                            <td></td>
                            <td>
                            </td>
                        </tr>  
                        
 <tr>
                            <td class="  text-bold">Створення акту виконаних робiт</td>
                            <td>/api/docs</td>
                            <td>serviceact</td>
                            <td class="text-nowrap">number - номер документа (унікальне значення в
                                основній системі - обов'язкове поле)
                                <br> mf - каса або банкiвський рахунок
                                <br> branch_id - фiлiя (якщо увiмкнено)
                                <br> customer_id - контрагент
                                <br> device - вирiб замовника
                                <br> autoexec - true (якщо відправляється на виконання)
                                <br> total - всього по документу щодо оплати (якщо відрізняється від всього по
                                позиціям, наприклад, по знижкам)
                                <br> payed - внесена сума оплати
                                <br> items - перелік позицій
                                <br> service_id - id 
                                <br> quantity - кількість
                                <br> price - ціна
                            </td>
                            <td>
                                {"number":"ID0001", "customer_id":8,"mf":2,"total":220,"payed":220,"items":[{"service_id":"5","quantity":2,"price":234} ]
                                }
                            </td>
                            <td></td>
                        </tr>                        
  
                        <tr>
                            <td class="  text-bold">Стан  экземпляру</td>
                            <td>/api/saas</td>
                            <td>state</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>                      
                                              
                    </table>
                    <h4>Коди помилок</h4>
                    <table class="table table-sm" style="width:400px;">
                        <tr>
                            <td>-1000</td>
                            <td>Невірний логін</td>
                        </tr>
                        <tr>
                            <td>-1001</td>
                            <td>Користувач не знайдений</td>
                        </tr>
                        <tr>
                            <td>-1002</td>
                            <td>Прострочений токен</td>
                        </tr>
                        <tr>
                            <td>-1003</td>
                            <td>Невірний синтаксис</td>
                        </tr>
                        <tr>
                            <td>-1004</td>
                            <td>Невірний запит</td>
                        </tr>
                        <tr>
                            <td>-1005</td>
                            <td>Хибна команда</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <br> <br>
    </body>
</html>
