<html>
  <head>
      <title> Перегляд об'ектiв   </title>

    </head>

    <body>
        <div class="row">
            <div class="col-12   col-xl-11" zippy="opan">

                <h3>Перегляд об'ектiв</h3>
                <div class="navbar nav">
                    <form zippy="filter" class="form-inline ">

                        <label for="searchcomp">Компанiя</label>
                        <select zippy="searchcomp" class="form-control mr-sm-2">
                            <option value="0">Не вибрана</option>
                        </select>


                        <input type="submit" class="  btn btn-outline-success  " value="Оновити">

                    </form>

                </div>
                <b>Зареестрованi РРО</b>
                <table class="table table-sm">
                    <tr>
                        <th>Найменування</th>

                        <th>Органiзацiя</th>
                        <th>Адреса</th>
                        <th>ЕДРПОУ</th>
                        <th>IПН</th>
                        <th>Фiск. №</th>
                        <th>Лок. №</th>

                        <th>Iм'я</th>
                        <th></th>


                    </tr>
                    <tr zippy="ppolist">
                        <td zippy="name"></td>

                        <td zippy="org"></td>
                        <td zippy="address"></td>
                        <td zippy="tin"></td>
                        <td zippy="ipn"></td>
                        <td zippy="fn"></td>
                        <td zippy="ln"></td>

                        <td zippy="rn"></td>
                        <td><a title="Список  смен" zippy="objdet"><i class="fa fa-eye"></i></a></td>


                    </tr>
                </table>
                <div zippy="pagp"></div>
            </div>


            <div class="col-12 col-md-10 col-xl-10" zippy="shpan">
                <h4>Змiни</h4>
                <a zippy="backo"><i class="fa fa-arrow-alt-circle-left"></i> Назад</a>

                <table class="table table-sm">
                    <tr>
                        <th>Вiдкрив</th>
                        <th>Дата</th>
                        <th>Закрив</th>
                        <th>Дата</th>
                        <td></td>

                    </tr>
                    <tr zippy="shlist">
                        <td zippy="openname"></td>
                        <td zippy="opened"></td>
                        <td zippy="closename"></td>
                        <td zippy="closed"></td>
                        <td><a title="Список  документов" zippy="shdet"><i class="fa fa-eye"></i></a></td>
                    </tr>
                </table>
            </div>
            <div class="col-12 col-md-10 col-xl-10" zippy="docpan">
                <h4>Документи</h4>
                <a zippy="backsh"><i class="fa fa-arrow-alt-circle-left"></i> Назад</a>
                <table class="table table-sm">
                    <tr>
                        <th>Фiск. №</th>
                        <th>Локал. №</th>
                        <th>Документ</th>
                        <th>Тип</th>
                        <td></td>

                    </tr>
                    <tr zippy="doclist">
                        <td zippy="NumFiscal"></td>
                        <td zippy="NumLocal"></td>
                        <td zippy="DocClass"></td>
                        <td zippy="CheckDocType"></td>
                        <td><a title="Перегляд  документу" zippy="docdet"><i class="fa fa-eye"></i></a></td>
                    </tr>
                </table>
                  <div  zippy="docshow"></div>

            </div>
        </div>

    </body>
</html>
