<html>
 
<body>
<div class="row">
    <div class="col-12 col-md-6 col-xl-4" zippy="filter">

        <h3>Закрытие  смены</h3>
        <small>Страница  для  ручного  закрытия  смены</small>
        <div class="navbar nav">
            <form zippy="filter" class="form-inline ">

                <label for="searchcomp">Компания</label>
                <select zippy="searchcomp" class="form-control mr-sm-2">
                    <option value="0">Не выбрана</option>
                </select>


                <input type="submit" class="  btn btn-outline-success  " value="Обновить">

            </form>

        </div>
   </div>

</div>

</body>
</html>