<html>
 <head>
      <title> Закриття зміни   </title>

    </head>

    <body>
        <div class="row">
            <div class="col-12  col-xl-8"  >

                <h3>Закриття зміни</h3>
                <small>Сторінка для ручного закриття зміни. На  випадок розходжень  з фіскальним сервером (наприклад, внаслідок  збою) 
                можна  отримати підсумкові  дані (і підставити в z-звіт) з ФС   
                щоб  сформувати  такий  самий  z-звіт </small>
                <div class="navbar">
                    <form zippy="filter"  >
                       <div class="row  ">
                        <label class="col-form-label col-auto" for="pos">POS термінал</label>
                       <div class="col-auto  ">
                        <select zippy="pos" class="form-control ms-sm-2">
                            <option value="0">Не обрано</option>
                        </select>
                        </div>
                        <div class="col-auto  ">
                        <input type="submit" class="  btn btn-success  " value="Оновити">
                      </div></div>
                    </form>

                </div>
   </div>
   </div>
   
    <div class="row">
            <div class="col-12 col-md-6 col-xl-4"  >
                <a title="Підсумкові дані з  фіскального сервера" zippy="zt"><b>Отримати підсумки  з  ДПА</b></a>
                <p zippy="ztres"></p>
                <form zippy="stat">
                    <div class=" row">
                        <label class="col-5 col-form-label" for="nal">Готівка</label>
                        <div class="col-7">
                        <input style="width:100px" zippy="nal" pattern="[0-9\.]+" class="form-control    ">
                    </div>
                    </div>
                    <div class=" row">
                        <label class="col-5 col-form-label" for="bnal">Банківська карта</label>
                        <div class="col-7">
                        <input style="width:100px" zippy="bnal" pattern="[0-9\.]+" class="form-control    ">
                    </div>
                    </div>
                    <div class=" row">
                        <label class="col-5 col-form-label" for="credit">Кредит</label>
                        <div class="col-7">
                        <input style="width:100px" zippy="credit" pattern="[0-9\.]+" class="form-control    ">
                    </div>
                    </div>
                    <div class=" row">
                        <label class="col-5 col-form-label" for="prepaid">Передплата</label>
                       <div class="col-7">
                        <input style="width:100px" zippy="prepaid" pattern="[0-9\.]+" class="form-control    ">
                    </div>
                    </div>
                    <div class=" row">
                        <label class="col-5 col-form-label" for="cnt">Кількість чеків</label>
                       <div class="col-7">
                        <input style="width:100px" zippy="cnt" pattern="[0-9]+" class="form-control  ">
                    </div>
                    </div>

                    <div class=" row">
                        <label class="col-5 col-form-label" for="retnal">Повернення, готівка</label>
                       <div class="col-7">
                        <input style="width:100px" zippy="retnal" pattern="[0-9\.]+" class="form-control    ">
                    </div>
                    </div>
                    <div class=" row">
                        <label class="col-5 col-form-label" for="retbnal">Повернення, банківська карта</label>
                      <div class="col-7">
                        <input style="width:100px" zippy="retbnal" pattern="[0-9\.]+" class="form-control    ">
                    </div>
                    </div>
                    <div class=" row">
                        <label class="col-5 col-form-label" for="retcnt">Повернення, кількість чеків</label>
                       <div class="col-7">
                        <input style="width:100px" zippy="retcnt" pattern="[0-9]+" class="form-control  ">
                    </div>
                    </div>

                     <div class=" row">
                        <label class="col-5 col-form-label" for="sin">Службове внесення </label>
                     <div class="col-7">
                        <input style="width:100px" zippy="sin" pattern="[0-9\.]+" class="form-control  ">
                    </div>
                    </div>

                     <div class=" row">
                        <label class="col-5 col-form-label" for="sout">Службова видача</label>
                       <div class="col-7">
                        <input style="width:100px" zippy="sout" pattern="[0-9\.]+" class="form-control  ">
                    </div>
                    </div>


                    <input zippy="zclose"  type="submit" class="  btn btn-success  " value="Закрити">    
                     <input zippy="onlyshift" type="checkbox"> Не посилати  z-звіт

                </form>
            </div>
            
            <div class="col-12 col-md-6 col-lg-8  "  >
                Документи  в  z-звіті
               {{#hideblock}}
               <br><a zippy="sync"><b>Синхронізація з  фіскальним  сервером</b></a> 
               {{/hideblock}}             
               
                        
                <table class="table table-sm">
                    <tr>
                        <th>Документ</th>
                        <th class="text-end">Нал</th>
                        <th class="text-end">Безнал</th>
                        <th class="text-end">Кредит</th>
                        <th class="text-end">Передплата</th>
                        <th class="text-end">Пов. нал</th>
                        <th class="text-end">Пов. безнал</th>
                       
                     
                        <th> </th>
                    </tr>
                    <tr  zippy="list">
                        <td zippy="docnumber"> </td>
                        <td zippy="amount0" class="text-end" > </td>
                        <td zippy="amount1" class="text-end" > </td>
                        <td zippy="amount2" class="text-end"> </td>
                        <td zippy="amount3" class="text-end"> </td>
                        <td zippy="amount0r" class="text-end"> </td>
                        <td zippy="amount1r" class="text-end"> </td>
                      
                        <td> <a zippy="del"> <i class="fa fa-trash"></i> </a> </td>
                        
                    </tr>
                    
                </table>
                
            </div>
                
          
            

        </div>
         <script>
        
         function check_sync(){
              document.getElementById('dialogwait').showModal()
         } 
         function check_zt(){
              document.getElementById('dialogwait').showModal()
         } 
         function check_onlyshift(){
              document.getElementById('dialogwait').showModal()
         } 
         function check_zclose(){
              document.getElementById('dialogwait').showModal()
         } 
     
              
         
         </script>
    </body>
</html>