<html>
 <head>
      <title> Закриття змiни   </title>

    </head>

    <body>
        <div class="row">
            <div class="col-12  col-xl-8"  >

                <h3>Закриття змiни</h3>
                <small>Сторiнка для ручного закриття змiни. На  випадок росходжень з фiскальним сервером (наприклад внаслiдок  збою) 
                можна  отримати  данi з ФС  або  синхронiзувати  документи  з тими  що вiдправленi на ФС </small>
                <div class="navbar nav">
                    <form zippy="filter" class="form-inline ">

                        <label for="pos">POS термiнал</label>
                        <select zippy="pos" class="form-control mr-sm-2">
                            <option value="0">Не вибраний</option>
                        </select>

                        <input type="submit" class="  btn btn-outline-success  " value="Оновити">

                    </form>

                </div>
   </div>
   </div>
   
    <div class="row">
            <div class="col-12 col-md-6 col-xl-4"  >
                <a title="Пiдсумковi данi з  фiскального серверу" zippy="zt"><b>Отримати пiдсумки  з  ДПА</b></a>
                <p zippy="ztres"></p>
                <form zippy="stat">
                    <div class="form-group  ">
                        <label for="nal">Готiвка</label>
                        <input style="width:100px" zippy="nal" pattern="[0-9,\.]+" class="form-control   qtyprice">
                    </div>
                    <div class="form-group  ">
                        <label for="bnal">Банкiвська картка</label>
                        <input style="width:100px" zippy="bnal" pattern="[0-9,\.]+" class="form-control  qtyprice ">
                    </div>
                    <div class="form-group  ">
                        <label for="credit">Кредит</label>
                        <input style="width:100px" zippy="credit" pattern="[0-9,\.]+" class="form-control   qtyprice">
                    </div>
                    <div class="form-group  ">
                        <label for="prepaid">Передплата</label>
                        <input style="width:100px" zippy="prepaid" pattern="[0-9,\.]+" class="form-control   qtyprice">
                    </div>
                    <div class="form-group  ">
                        <label for="cnt">Кiлькiсть чекiв</label>
                        <input style="width:100px" zippy="cnt" pattern="[0-9]+" class="form-control  ">
                    </div>

                    <div class="form-group  ">
                        <label for="retnal">Повернення, готiвка</label>
                        <input style="width:100px" zippy="retnal" pattern="[0-9,\.]+" class="form-control   qtyprice">
                    </div>
                    <div class="form-group  ">
                        <label for="retbnal">Повернення, банкiвська картка</label>
                        <input style="width:100px" zippy="retbnal" pattern="[0-9,\.]+" class="form-control   qtyprice">
                    </div>
                    <div class="form-group  ">
                        <label for="retcnt">Повернення, кiлькiсть чекiв</label>
                        <input style="width:100px" zippy="retcnt" pattern="[0-9]+" class="form-control  ">
                    </div>


                    <input type="submit" class="  btn btn-outline-success  " value="Закрити">     <input zippy="onlyshift" type="checkbox"> Не посилати  z-звiт

                </form>
            </div>
            
            <div class="col-12 col-md-6 col-lg-8  "  >
                Документи  в  z-звiтi
               <br><a zippy="sync"><b>Синхронизацiя  с  фiскальним  сервером</b></a>  <img id="aloader" style="display:none" src="/assets/images/ajax-loader.gif">
                          
                <table class="table table-sm">
                    <tr>
                        <th>Документ</th>
                        <th class="text-right">Нал</th>
                        <th class="text-right">Безнал</th>
                        <th class="text-right">Кредит</th>
                        <th class="text-right">Передплата</th>
                        <th class="text-right">Пов. нал</th>
                        <th class="text-right">Пов. безнал</th>
                       
                        <th> </th>
                        <th> </th>
                    </tr>
                    <tr  zippy="list">
                        <td zippy="docnumber"> </td>
                        <td zippy="amount0" class="text-right" > </td>
                        <td zippy="amount1" class="text-right" > </td>
                        <td zippy="amount2" class="text-right"> </td>
                        <td zippy="amount3" class="text-right"> </td>
                        <td zippy="amount0r" class="text-right"> </td>
                        <td zippy="amount1r" class="text-right"> </td>
                        <td> <a zippy="fisc"> Фiскалiзувати </a> </td>
                        <td> <a zippy="del"> <i class="fa fa-trash"><i/> </a> </td>
                        
                    </tr>
                    
                </table>
                
            </div>
                
          
            

        </div>
         <script>
         function check_sync(){
              $("#aloader").show()      
         }
         </script>
    </body>
</html>