<html>
    <head>
      <title>Журнал  Z-звiтiв   </title>

    </head>
    <body>
        <div class="row">
            <div class="col-12  col-xl-10  ">
                <h3>Журнал  Z-звiтiв</h3>
                <div class="navbar nav">
                    <form zippy="filter" class="form-inline">

                        <label for="from">З</label>
                        <input class="form-control mr-sm-2" style="width: 110px" type="text" zippy="from">

                        <label for="to">по</label>
                        <input class="form-control mr-sm-2" style="width: 110px" type="text" zippy="to">

                        <label for="pos">ФН термiналу</label>
                        <input class="form-control mr-sm-2"  type="text" zippy="pos">
                         
                        <label for="doc">ФН звiту</label>
                        <input class="form-control mr-sm-2"   type="text" zippy="doc">

                        <input class="btn btn-outline-primary  " type="submit" value="ОК">


                    </form>
                </div>
           </div>
           <div class="col-12  col-lg-10  col-xl-8">
                 
                <a  zippy="csv">Експорт  </a>
                <table class="table  table-sm">
                
                  <tr> 
                    <th>Дата</th>
                    <th>ФН. термiналу</th>
                    <th>ФН. звiту</th>
                    <th colspan="2" class="text-center">Реалiзацiя</th>
                    <th colspan="2" class="text-center">Повернення</th>
                    <th ></th>
                  </tr>
                  <tr> 
                    <th> </th>
                    <th> </th>
                    <th> </th>
                    <th  class="text-right">Чекiв</th>
                    <th  class="text-right">Сума</th>
                    <th  class="text-right">Чекiв</th>
                    <th  class="text-right">Сума</th>
                    <th > </th>
                  </tr>
                  
                  <tr zippy="list">  
                     <td zippy="createdon"></td>
                     <td zippy="fnpos"></td>
                     <td zippy="fndoc"></td>
                     <td zippy="cnt" class="text-right"></td>
                     <td zippy="amount" class="text-right"></td>
                     <td zippy="rcnt" class="text-right"></td>
                     <td zippy="ramount" class="text-right"></td>
                     <td> <a zippy="view"> <i class="fa fa-eye"></i> </a> </td>
                  </tr>
                  <tr  >  
                    <th> </th>
                    <th> </th>
                    <th class="text-right">Всьго: </th>
                    <th zippy="tcnt" class="text-right"> </th>
                    <th zippy="tamount" class="text-right"> </th>
                    <th zippy="trcnt" class="text-right"> </th>
                    <th zippy="tramount" class="text-right"> </th>
                    <th > </th>
                  </tr>
                
                </table>
            
            </div>
         </div>
        <div zippy="detail" class="col-12  col-lg-10  col-xl-8">
         <ul class="nav nav-tabs">
  
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tprint">  Друкована форма</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  " data-toggle="tab" href="#txml">  Вiдправлений XML</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  " data-toggle="tab" href="#tanswer">  Вiдповiдь  фiскального серверу</a>
          </li>
          
          </ul>
         <div class="tab-content"  >
          
                <div class="tab-pane   show active" id="tprint"> 
                   {{^usemobileprinter}}
                   <a href="javascript:void(0)"   onclick="printform()">Друк</a>
                   {{/usemobileprinter}}
                   {{#usemobileprinter}}
                   <a href="/showreport/print/zreport" target="_blank">Друк</a>
                   {{/usemobileprinter}}
                   <div zippy="preview" >
                  </div>
                </div>
                <div class="tab-pane   show  " id="txml"> 
                  <div zippy="vxml" >
                  </div>
                 
                </div>
                <div class="tab-pane   show  " id="tanswer"> 
         
                 <div zippy="axml" >
                  </div> 
                 <A zippy="download" >Зкачати</A>
                </div>
                
                
        </div>
    
      </div>
      
      <script>
      
     function printform() {
        
                $('#preview').printThis();
            }      
      
      </script>
    </body>
</html>