<<html>

<body>

         <div class="row">
            <div class="col-12 col-md-8 col-xl-6 ">
                <h3>Импорт номенклатуры</h3>
                <form zippy="iform"   enctype="multipart/form-data">
                         <div class="form-group  ">
                            <label   for="filename" >Файл импорта</label>
                            <input type="file" zippy="filename" class="form-control  form-control-sm" />

                        </div> 
                          <div class="form-group  ">
                            <input   class="btn btn-info"  type="submit"  value="Загрузить" />
                        </div> 
                </form>
            </div>
        </div>                        
</body>
</html>
