<html>
    <body>
        <div class="row ">    
            <div class="col-12">    
                <ol class="breadcrumb" zippy="breadcrumb">

                </ol>
            </div>
        </div>
        <div class="row ">    
            <div class="col-12 col-sm-4   col-lg-3   ">    
                <div class="list-group">
                    {{#leftmenu}}
                    <a class="list-group-item list-group-item-action" href={{link}}>{{name}}</a> 
                    {{/leftmenu}}
                </div>

                <div zippy="cartlistpanel">
                    <h5><b>Список покупок</b></h5>
                    <table class="table table-sm">
                        <tr zippy="cartlist">
                            <td zippy="cartname"></td>
                            <td style="width:25px"><a zippy="cartdel"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </table>
                    <a href="/index.php?p=/App/Shop/Pages/Order">Сформировать заказ</a>
                </div>
                <div zippy="complistpanel">
                    <h5><b>Список сравнений</b></h5>
                    <table class="table table-sm">
                        <tr zippy="complist">
                            <td zippy="compname"></td>
                            <td  style="width:25px"><a zippy="compdel"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </table>                    
                    <a href="/index.php?p=/App/Shop/Pages/Compare">Открыть</a>
                </div>
            </div>                

            <div class="col-12 col-sm-8    col-lg-9">    

                <div class="row" zippy="subcatlistp">    


                    <div zippy="subcatlist" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 "  zippy="subcatlist">
                        <div class="card h-100"   >

                            <a zippy="scatimg"><img class="card-img-top" /></a>
                            <div class="card-body">
                                <a class="card-title card-link" zippy="scatname"></a>

                            </div>
                        </div>
                    </div>

                </div>      


                <div  zippy="newlistp"> 
                    <h3>Новинки</h3>   
                    <div class="row"  >                        
                        <div class="col-12 col-sm-6 col-md-3 col-xl-2 "  zippy="newlist" >                        
                            <div class="card h-100">   
                                <a zippy="nimage" ><img class="card-img-top"   ></a>
                                <a class="  card-link" zippy="nname"></a>  
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </body>
</html>
