<html>
    <body>
        <div class="row">
             <div class="col-12 col-md-6 col-lg-4  ">
               <h4>Администрирование</h4> 
               <a class="btn btn-info"> Обновить цены</a>       
             </div>
             </div>
              
             <div class="row mt-4">
            <div class="col-12  col-lg-6  col-xl-4  ">
                <h4>Настройки</h4>
                <form  zippy="shop"  >
                    <div class="form-group  row">
                        <label class="col-sm-4 col-form-label" for="shopdefstore" >Склад для онлайна</label>
                        <div class="col-sm-8">
                           <select class="form-control" zippy="shopdefstore">
                           <option value='0'>Не выбран</option>
                           </select>
                        </div>                    
                    </div>                    
                    <div class="form-group  row"  >
                        <label class="col-sm-4 col-form-label" for="shopdefpricetype" >Тип  цены  </label>
                        <div class="col-sm-8">
                         <select class="form-control" zippy="shopdefpricetype">
                        </select>
                    </div>                    
                    </div>                    
                    <div class="form-group  row"  >
                        <label class="col-sm-4 col-form-label" for="shopdefcust" >Покупатель по умолчанию</label>
                       <div class="col-sm-8">  
                            <select class="form-control select2" zippy="shopdefcust">
                           
                            <option value='0'>Не выбран</option>
                            </select>
                            <small class="form-text text-muted">Условный контрагент от имени  котрого будут  формироватся заказы</small>
                      </div>                    
                    </div>                    



                    <div class="form-group  row" >
                       <div class="col-sm-4"> 
                        <button class="btn btn-outline-primary" type="submit"  >Сохранить</button>
                       </div>
                    </div>

                </form>
            </div>
       
       

    </body>
</html>