<html>
    <body>
        <div class="row">
            <div class="col-12 col-xl-10">
            
            <h3>Експорт   товарів в  магазин</h3>
                &nbsp;&nbsp;&nbsp;<small><i class="fa fa-exclamation-triangle text-danger"></i>Спецсимволи (типу <b> &amp; ' " `</b>)
                    в назвi або описi можуть викликати проблеми з вигрузкою</small>

            <br><a zippy="checkconn"><i class="fa  fa-sync"></i> Загрузити категорії</a>        
                
                <div class="navbar nav">
                    <form zippy="filter"  >
                      <div class="row  ">
                        <label class="col-form-label col-auto" for="searchcat">Категорія</label>
                        <div class="col-auto  ">
                        <select class="form-control mr-sm-2" zippy="searchcat">
                            <option value="0">Не задано</option>
                        </select>
                         </div>
                         <div class="col-auto  ">
                        <input onclick="document.getElementById('dialogwait').showModal()" type="submit" class=" mr-2 btn btn-outline-success  "
                               value="Завантажити">
                      

                       </div></div>
                    </form>
                </div>

                <form zippy="exportform">
                    <table class="table   table-sm   ">
                        <tr>

                            <th style="width:30px"><input type="checkbox" id="chall" onchange="chclick()"></th>

                            <th>Найменування</th>
                            <th>Артикул</th>
                            <th class="text-right">Кіл.</th>
                            <th class="text-right">Ціна</th>
                            <th> Опис</th>


                        </tr>
                        <tr zippy="newitemlist">

                            <td><input type="checkbox" zippy="ch" class="chc"></td>
                            <td zippy="name"></td>
                            <td zippy="code"></td>
                            <td zippy="qty" class="text-right"></td>
                            <td zippy="price" class="text-right"></td>
                            <td zippy="desc"></td>

                        </tr>

                    </table>
                    <div zippy="pag"></div>
                    <div class="ml-2 form-group row  ">
                        <label for="ecat">Категорія в магазині </label>
 
                        <select class="   mr-2" zippy="ecat">
                            <option value="0">Не обрано</option>
                        </select>

                        &nbsp;<input onclick="document.getElementById('dialogwait').showModal()" type="submit"
                                     class="  btn btn-outline-success btn-sm  " value="Відправити">
                         

                    </div>
                </form>
            </div>
            <div class="col-12 col-md-8  ">

                <h3>Оновлення  кількості</h3>

                <div class="navbar  ">
                            
                  <form zippy="upd"  >
                      
                      <div class="row  ">
                      <label class="col-form-label col-auto" for="updcat">Категорiя</label>
                        <div class="col-auto  ">
                        <select class="form-control mr-sm-2" zippy="updcat">
                            <option value="0">Всi</option>
                        </select>
                         </div>
                       <div class="col-auto  ">
                    <a zippy="updateqty" class="  btn btn-outline-success  ">Оновити кількість</a>
                    </div>
   <div class="col-auto  ">
                    <a zippy="updateprice" class="  btn btn-outline-success  ">Оновити ціни</a>
                      </div> </div>
                  

                     </form>
                </div>
            </div>

            <div class="col-12 col-md-8  ">

                <h3>Iмпорт товарів з магазину </h3>

                <div class="navbar  ">
                    
                    <form zippy="importform"  >
                    
                   

                        <input zippy="getitems" type="submit" class=" mr-2 btn btn-outline-success  "
                               value="Завантажити">
                   


                    </form>

                </div>
            </div>
        </div>
        <script>

            function check_updateqty() {

                 document.getElementById('dialogwait').showModal()
            }

            function check_updateprice() {

               document.getElementById('dialogwait').showModal()
            }

            function check_getitems() {

                document.getElementById('dialogwait').showModal()
            }
            function check_checkconn() {

                document.getElementById('dialogwait').showModal()
            }

            function chclick() {
                var ch = $("#chall").prop('checked');
                $('.chc').prop('checked', ch)
            }
        </script>
    </body>
</html>
