<html>

    <body>

        <div class="row  ">
            <div class="col-12  col-sm-10 col-md-6    col-xl-4  ">
                <h4>Налаштування з'єднання</h4>
                <form zippy="cform">
                    <div class="form-group">
                        <label for="site">Адреса сайту</label>
                        <input type="text" zippy="site" class="form-control" required="required"/>
                         <small>Потрiбно  вводити повну адресу</small>
                    </div>               
                    <div class="form-group">
                        <label for="login">Логiн</label>
                        <input  zippy="login" class="form-control" required="required"/>
                    </div>
                   <div class="form-group">
                        <label for="password">Пароль</label>
                        <input  zippy="password" class="form-control" required="required"/>
                    </div>
                   
                     
                    <div class="form-group   ">
                        <label for="defpricetype">Тип ціни </label>

                        <select class="form-control" zippy="defpricetype">
                            <option value="0">Не обрано</option>

                        </select>

                    </div>
                    <div class="form-group   ">
                        <label for="defpaytype">Тип оплати </label>

                        <select class="form-control" zippy="defpaytype">
                            <option value="0">Не вказано</option>

                        </select>
                        

                    </div>                    
                     <div class="form-group   ">
                        <label for="defmf">Каса  </label>

                        <select class="form-control" zippy="defmf">
                            <option value="0">Не вказана</option>

                        </select>
                         <small class="form-text text-muted">Обов`язуова  якщо тип оплати  - передплата </small>
  
                    </div>
                      <div class="form-group   ">
                        <label for="defstore">Склад</label>

                        <select class="form-control" zippy="defstore">
                            <option value="0">Не вказаний</option>

                        </select>
                        <small class="form-text text-muted">Для  автоматичного резервування товару  </small>

                    </div>
                  
                    <div class="form-group  ">
                        <label for="salesource">Джерело продаж</label>
                        <select class="form-control" zippy="salesource">
                            <option value="0">Не обрано</option>
                        </select>
                    </div>   
                     <div class="form-check">
                        <input zippy="insertcust" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="insertcust">Iмпортувати контрангентiв </label>
                        <small class="form-text text-muted">Iмпортувати клiєнтiв з IМ в довiдник контрагентiв.</small>
                        <br>
                    </div>
                    <div class="form-check">
                        <input zippy="ssl" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="ssl">Перевiрка SSL сертифiката </label>

                    </div>                                  
                    <div class="form-group">
                        <input type="submit" value="Зберегти" zippy="save" class="btn   btn-primary mr-2"/>
                        


                    </div>
                </form>
            </div>
        </div>
        <script>

            function check_check() {

                  document.getElementById('dialogwait').showModal()
            }

        </script>

    </body>
</html>
