 
 .filtertiem{
    color:black; 
 }
 
 .rating-symbol-foreground {
    color: red;
 }
 
 .ctable td {
    padding: 2px;;
}

.ctable th {
    padding: 2px;
    text-align: center;
}

.price-arrow{
     font-size:14px;
}
 .footer {
    background-color: black;
    color: #fff;
}

.footer   a {
    color: #fff;
    text-decoration: none;
}