<html>
<head>
    <title>Контакти | Програма для облiку товару та торгiвлi</title>
     <meta name="robots" content="noindex">     
        
</head>
<body>
    <section class="contacts">
        <div class="container">
       <div class="row">
                <div class="col-sm-12   text-format">
           
         <h4   class="contacts__title contacts__title-card title-h3">Контакти</h4>
               <table class="table table-sm">
             
                   
            <tr><td style="width:30px">    <i class="fab fa-telegram"></i> </td>
                  <td>
                   <a    id="grplink" onclick="ongrp()" href="javascript:void(0);"  >Показати</a>
                     <br>
                    <small  >
                        Телеграм-група користувачів (новини, консультації, фідбеки та пропозиції)
                    </small>
                   </td> </tr>
                   
                   
            <tr><td>    <i class="fab fa-telegram"></i> </td>
                  <td>
                    <a    href="tg://resolve?domain=leonmbs" target="_blank">@leonmbs</a>
                      <br>
                    <small  >
                      Телеграм (контакт розробника)
                    </small>
                   </td> </tr>
          <tr><td>    <i class="fab fa-facebook"></i> </td>
                  <td>
                   <a   href="https://www.facebook.com/profile.php?id=61574731317309" target="_blank">Facebook</a>
                
                   </td> </tr>
                   
        <tr><td>    <i class="fa fa-envelope"></i> </td>
                  <td>
                        support&lt;собака&gt;zippy.com.ua
                       <!--   <button   data-toggle="modal" data-target="#feedback">Форма
                        зворотнього зв'язку</button>   -->

             
                   </td> 
                   </tr>
           <tr>     <td colspan="2">
                     Консультації по встановленню та налаштуванню - безкоштовні.
                  

             
                   </td> </tr>
           
             </table>
           
  
            <h5 id="donate" class="contacts__title contacts__title-card title-h4">Підтримати проект</h5>
            <ul class="contacts__list">
                <li class="contacts__item">
                    <span class="contacts__text contacts__text-card">4149 6293 6743 7647 (Леонід)</span>
                </li>
            </ul>

        </div>
        </div>
        </div>
    </section>

    <script>                                      
    function ongrp() {
        $("#grplink").attr('onclick',null); 
        $("#grplink").attr('href',"https://t."+"me/+W59aKr-T59I0ODUy");   
        $("#grplink").text('zstoregroup' ); 
    }                                       
 
     </script>                
 
</body>

</html>
                            