<html>
<head>
    <title>Zippy ERP | Програма для обліку товару та торгівлі</title>
    <meta name="description" content="ERP, облік ПДВ, план рахунків ">         
        
</head>
<body>
    <section class="contacts">
      <div class="container">
       <div class="row">
           <div class="col-sm-12   text-format">
           
               <h4   class="contacts__title contacts__title-card title-h3">ERP версія</h4>
                <strong class="badge  badge-warning">В розробці </strong> <br><br>
                <p>
                    Версія  CRM  з обліком ПДВ та бухгалтерським  планом рахунків
                </p>
   

         </div>
       </div>
     </div>
    </section>

 
</body>

</html>
                            