<html>
<head>
    <title>Zippy ERP | Програма для облiку товару та торгiвлi</title>
    <meta name="description" content="ERP, облiк ПДВ, план рахункiв ">         
        
</head>
<body>
    <section class="contacts">
      <div class="container">
       <div class="row">
           <div class="col-sm-12   text-format">
           
               <h4   class="contacts__title contacts__title-card title-h3">ERP версiя</h4>
                <strong class="badge  badge-warning">В розробцi </strong> <br><br>
                <p>
                    Версiя  CRM  з облiком ПДВ та бухгалтерським  планом рахункiв
                </p>
   

         </div>
       </div>
     </div>
    </section>

 
</body>

</html>
                            