<html>

<head>

    <title>Додаткові модулі та інтеграції</title>
    <meta name="description" content="Інтеграція з Опенкарт, інтеграція з Новою Поштою, вбудований  ПРРО">    
</head>

<body>



    <section class="modules">
        <div class="container ">

            <div class="row">

                <div class="col-md-12">
                    <h1 class="modules__title title-h2 title-center">Модулі та інтеграції</h1>
                    <p>
                        Розширення системи, які в разі потреби можна підключити як додаткову функціоналніть.
                        Безпосередньо на роботу основної системи не впливають.
                        <br>Підключити потрібний модуль можна на сторінці адміністратора, після перелогіну з'являються відповідні пункти меню.
                    </p> <br>
                    <ul class="list-unstyled modules__list" style="font-weight:bolder;">

                        <li><a class="link link-anchor" href="#id1">Інтеграція з Опенкарт</a></li>
                        <li><a class="link link-anchor" href="#id5">Інтеграція з WooCommerce</a></li>
                        <li><a class="link link-anchor" href="#id9">Інтеграція з PromUA</a></li>
                        <li><a class="link link-anchor" href="#id15">Інтеграція з Хорошоп.</a></li>
                      
                        <li><a class="link link-anchor" href="#id3">Онлайн каталог</a></li>
                        <li><a class="link link-anchor" href="#id2">База знань</a></li>
                        <li><a class="link link-anchor" href="#id4">Проекти та завдання</a></li>
                 
                        <li><a class="link link-anchor" href="#id6">Модуль фіскалізації (ПРРО) </a></li>
                        <li><a class="link link-anchor" href="#id8">Інтеграція з Новою Поштою </a></li>

                        <li><a class="link link-anchor" href="#id11">Підключення чат-бота</a></li>
                        <li><a class="link link-anchor" href="#id12">Інтеграція з CheckBox</a></li>
                        <li><a class="link link-anchor" href="#id13">API для інтеграції з боку зовнішніх систем.</a></li>
                        <li><a class="link link-anchor" href="#id14">Інтеграція з ВчасноКаса.</a></li>
                        <li><a class="link link-anchor" href="#id16">Інтеграція з ВчасноДокументооборот.</a></li>
                        <li><a class="link link-anchor" href="#id10">Підключення та використання принтерів</a></li>
                        <li><a class="link link-anchor" href="#id17">Підключення та використання торгового обладнання</a></li>
                        <li><a class="link link-anchor" href="#id18">Дропшиппінг та  фулфілмент </a></li>

                    </ul>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12   text-format">

                    <h2 id="id1" class="modules-content__title title-h3">Інтеграція з Опенкарт</h2>

                    <p>
                        Модуль до складської програми дозволяє отримувати нові замовлення з магазину, оновлювати в магазині
                        статус виконаних замовлень, додавати в магазин нові товари, а також оновлювати зі складу кількість
                        і ціни товарів.

                        Для роботи необхідно встановити додаток для Опенкарт. Доповнення розширює стандартне API
                        і може використовуватись для інтеграції з іншими складськими програмами.
                        Доповнення до ІМ розташоване на <a class="link" target="_blank"
                            href="https://github.com/leon-mbs/opencart">GitHub</a>, там же
                        опис
                        і керівництво по установці.
                        <br>
                        Для автоматичної синхронізації (оновлення цін, кількості та імпорту замовлень) в корені проекту є скрипт
                        cron_updateoc.php,
                        який можна додати до системного планувальника (cron або task sheduler). Також його можна викликати за адресою
                        https://&lt;адреса сайту&gt;/cron_updateoc.php. На початку скрипта встановлюється назва статусу, з яким імпортуються
                        замовлення.

                    </p>
                    <p>
                        У Модулі-> Опенкарт-> Налаштування
                        потрібно вказати адресу ІМ, а також аккаунт API,
                        який створюється в адміністративній панелі Опенкарт.

                    </p>
                    <p>
                        На сторінці Модулі-> Опенкарт-> Замовлення в складській системі
                        вибираємо статус замовлень ІМ, які вважаються новими і завантажуємо список з магазину. Потім імпортуємо в
                        складську програму.
                        На кожний запис створюється документ Замовлення. На цій сторінці можна оновити статуси замовлень в ІМ
                        після їх обробки.


                    </p>
                    <p>
                        На сторінці Модулі-> Опенкарт-> Товари можна експортувати нові товари зі складу в магазин, а також
                        імпортувати
                        з магазину, якщо товар там виявився раніше. Відповідність товарів забезпечується по артикулу (SKU).
                        Так само можна в будь який момент відновити в магазині ціни і кількість у відповідності зі складом.


                    </p>
                  
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12   text-format">

                    <h2 id="id5" class="modules-content__title title-h3">Інтеграція з WooCommerce</h2>

                    <p>
                        Модуль по функціональності аналогічний модулю інтеграції з Опенкарт.
                    </p>
                    <p>
                        У Модулі-> WooCommerce-> Налаштування
                        потрібно вказати адресу ІМ, а також ключі, які створюються в адміністративній панелі магазину.

                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12   text-format">

                    <h2 id="id9" class="modules-content__title title-h3">Інтеграція з PromUA</h2>

                    <p>
                        Модуль по функціональності аналогічний модулю інтеграції з Опенкарт.
                    </p>
                    <p>
                        У Модулі-> PromUA-> Налаштування
                        потрібно вказати адресу ІМ, а також ключ, який створюється в адміністративній панелі магазину.

                    </p>

                </div>
            </div>
           
            <div class="row">
                <div class="col-sm-12   text-format">

                    <h2 id="id15" class="modules-content__title title-h3">Інтеграція з Хорошоп</h2>

                    <p>
                        Модуль по функціональності аналогічний модулю інтеграції з Опенкарт.
                    </p>
                    <p>
                        У Модулі->Хорошоп-> Налаштування
                        потрібно вказати адресу сайту логін та  пароль (зі  списку  адмінів  в  хорошопі)  .

                    </p>

                </div>
            </div>
           

            <div class="row">

                <div class="col-sm-12   text-format">

                    <h2 id="id3" class="modules-content__title title-h3">Онлайн каталог</h2>

                    <p>
                        Невеликий модуль онлайн каталогу інтегрований з   складським обліком. Особливість каталогу -
                        ієрархічна система атрибутів товару,
                        що дозволяє автоматично генерувати фільтри пошуку товару і сторінку порівняння.
                        <br>Наприклад, для категорії побутова техніка можна задати атрибути Вага і Розміри.
                        <br>
                        <br> Виставити каталог домашньою сторінкою можна в налаштуваннях модуля.
                        Перейти в адмінку можна за адресою http: //&lt;адреса сайту&gt;/store.
                        На основі замовлень магазину автоматично створюються замовлення в журналі замовлень.
                        <br>Для налаштування магазину необхідно вибрати склад і вказати його в налаштуваннях модуля
                        інтернет-магазину.
                        Після цього товари будуть доступні в редагуванні каталогу в модулі магазину.
                        Для відображення в каталогу в довіднику ТМЦ повиннин бути тип Товар та вказана категорія.
                        <br>Дизайн по дефолту - на Twitter Bootstrap.
                    </p>
                     <i  class="fa fa-exclamation-triangle"></i> Для роботи модуля повинен працювати mod_rewrite  в Apache для обробки .htaccess
                </div>
                <a class="link" data-toggle="lightbox" data-gallery="screen2"   href="/assets/images/shop1.png"><img
                        class="screen" src="/assets/images/shop1.png"  ></a>
                <a class="link" data-toggle="lightbox" data-gallery="screen2"    href="/assets/images/shop2.png"><img
                        class="screen" src="/assets/images/shop2.png"  ></a>
                <a class="link" data-toggle="lightbox" data-gallery="screen2"   href="/assets/images/shop3.png"><img
                        class="screen" src="/assets/images/shop3.png"  ></a>


            </div>
            <div class="row">

                <div class="col-sm-12   text-format">

                    <h2 id="id2" class="modules-content__title title-h3">База знань</h2>
                    <p>
                        Організатор для зберігання неструктурованих даних
                        в ієрархічному вигляді. По суті вбудований проект <a class="link" href="/notty">Notty</a>. Оскільки користувачі
                        є
                        користувачами однієї корпоративної системи, додана можливість спільного перегляду і редагування топіків.



                    </p>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-12   text-format">

                    <h2 id="id4" class="modules-content__title title-h3">Проекти та завдання</h2>
                    <p>
                        Менеджер завдань. Дозволяє призначати співробітникам різні завдання, що дає можливість контролювати хід
                        виконання.
                        Для завдань можна вказати пріоритет, поточний статус, час виконання на кожному етапі,
                        додавати коментарі і прикріплювати файли.                         клієнтів. Завдання групуються в проекти.<br>
                        Також є можливість для співробітників фіксувати виконану роботу в тайм-трекері
                        із зазначенням номеру завдання.<br>
                        Для адміністратора є таблиця статистики по проектам і співробітникам.


                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12   text-format">

                    <h2 id="id6" class="modules-content__title title-h3">Модуль фіскалізації РРО  </h2>


                    <p>
                        Модуль призначений для автоматичної відправки чеків і z-звітів в податкову.

                        <br> Для роботи модуля також потрібно ввести реєстраційні дані РРО з особистого кабінету в податковій. У довідник
                        POS терміналів ввести
                        назву компанії, ЄДРПОУ та ІПН (для платників ПДВ) та налаштувати роботу з приватним ключем та сертифікатом. Також
                        потрібно вказати назву та адресу
                        торгової точки, фіскальний і локальний номери в довіднику POS терміналів. У разі використання стороннього ключа
                        (наприклад, ключа ПриватБанку) необхідно зареєструвати в особистому кабінеті податкової ідентифікатор ключа,
                        завантаженого у програму.

                        <br> Робота з фіскалізованими чеками ведеться, в основному, в АРМ касира. Перед початком роботи необхідно відкрити
                        зміну для даного POS терміналу.
                        Після закінчення роботи по кліку "закриття зміни" автоматично формується z-звіт і закривається зміна.
                        <br>
                        Так само фіскалізація при виборі відповідного POS терміналу, на якому відкрита зміна відбувається
                        при внесенні оплати в журналі оплат і в накладній на повернення.
                        <br> Дані з податкової (РРО, зміни і відправлені документи) можна переглянути на сторінці в модулі фіскалізації.
                        <br>

                        <br>В якості бібліотеки використовується проект <a class="link" href="https://github.com/leon-mbs/ppolib"
                            target="_blank">ppolib</a>. Додаткове ПЗ при цьому не потрібне, але бібліотека працює досить повільно.
                        Зокрема, завантаження ключа займає до хвилини і може не виконатися на повільних серверах, тому бажано встановити
                        тайм-аут роботи в кілька разів більше, ніж стандартні 30 сек,
                        або використати зовнішній сервер.


                        <br> Завантаження (перевірка) ключів та сертифікатів виконується у довіднику POS терміналів. .
                    </p>

                </div>
            </div>


            <div class="row">

                <div class="col-sm-12   text-format">

                    <h2 id="id8" class="modules-content__title title-h3">Інтеграція з Новою Поштою</h2>
                    <p> Модуль дає можливість створювати відправки через Api Нової Пошти та відслідковувати їх статус.
                        <br> Перед початком використання в налаштуваннях модуля необхідно додати ключ доступу і дані відправника за
                        замовчуванням.
                        Декларація НП створюється в журналі Продажі при виборі в списку потрібної ТТН в статусі Готово до відправки.
                        <br> Перегляд і управління ТТН з експрес-накладними на стороні НП здійснюється зі спеціальної сторінки в модулі.
                        Там же є можливість роздрукувати наклейку на посилку
                        

                        
                    </p>
                </div>
            </div>
      
  
            <div class="row">

                <div class="col-sm-12   text-format">

                    <h2 id="id11" class="modules-content__title title-h3">Підключення телеграм чат-боту</h2>
                    <p>
                        Бот створюється стандартним способом за домомогою @BotFather. Токен, котрий буде при цьому
                        сгенеровано, вводиться в загальних налаштуваннях.
                        Після цього треба активувати діалог з новоствореним ботом. Перелік команд - /help.
                        Щоб отримувати повідомлення потрібно залогінитись тим самим способом, як і на сайті.


                    </p>
                </div>
            </div>
           
            <div class="row">

                <div class="col-sm-12   text-format">

                    <h2 id="id13" class="modules-content__title title-h3">API для інтеграції з боку зовнішніх систем.</h2>
                    <p>
                        API призначено для інтеграції зі сторонніми системами та мобільними додатками.
                        За допомогую API можна синхронізувати довідники номенклатури та контрагеннтів,
                        отримувати та створювати документи, та ін.
                        <br> Опис API за адресою &lt;сайт складу>/api/help
                        <br> <a href="https://github.com/leon-mbs/zstore/blob/master/www/app/api/client.php">Приклад клієнту</a> для роботи з API
                </p>
            </div>
            </div>
            
             <div class="row">
                <div class="col-sm-12   text-format">

                    <h2 id="id12" class="modules-content__title title-h3">Інтеграція з CheckBox</h2>
                 
                    <p>
                        Для відправки чеків в ДПС яерез CheckBox потрібно ввімкнути модуль в загальних налаштуваннях та
                        вкзати в довіднику кас (POS терміналів) що даний термінал використовує фіскалізацію.
                        Також необхідно ввести ліцензійний ключ та пін код касира, отримані з налаштувань кас в особистому кабінеті CheckBox.
                        <br> Аналогічно вбудованому ПРРО перед початком  роботи необхідно відкрити зміну в АРМ касира та
                        закрити після закінчення роботи.
                    </p>
                </div>
            </div>            
            
            <div class="row">
                <div class="col-sm-12   text-format">

                    <h2 id="id14" class="modules-content__title title-h3">Інтеграція з ВчасноКаса</h2>
                    
                    <p>
                        Для відправки чеків в ДПС яерез ВчасноКаса потрібно ввімкнути модуль в загальних налаштуваннях та
                        вкзати в довіднику кас (POS терміналів) що даний термінал використовує фіскалізацію.
                        Також необхідно ввести токен доступу, отриманий з налаштувань кас в особистому кабінеті ВчасноКаса.
                        <br> Аналогічно вбудованому ПРРО перед початком  роботи необхідно відкрити зміну в АРМ касира та
                        закрити після закінчення роботи.
                    </p>
                </div>
            </div>
 
            <div class="row">

                <div class="col-sm-12   text-format">

                    <h2 id="id16" class="modules-content__title title-h3">Інтеграція з ВчасноДокументооборот</h2>
                    <p> Модуль для відправки документів в сервіс з можливістю накладання цифрового підпису (КЕП).
                        <br>Перед початком роботи потрібно отримати токен з налаштувань компанії в сервісі і
                        задати його в налаштуваннях відповідної компанії в довіднику компаній. ЄДРПОУ компаії також повинно  відповідати заданому  в компаії з  Вчасно.   
                        <br>На сторінці переліку документів можна відібрати документи для відправки в сервіс,
                        або відмітити непотрібні документи (ніби як відправлені), щоб більше не виводились у переліку. Також можливо вибрати 
                        компанію (в довіднику компаній),
                        в якій завантажено приватний ключ для накладання ЕЦП (КЕП) аналогічно, як і в модулі РРО. В такому разі
                        документ відправиться в сервіс вже підписаним. 

                    </p>
                </div>
            </div>
 
       
          <div class="row">

                <div class="col-sm-12   text-format">

                    <h2 id="id10" class="modules-content__title title-h3">Підключення та використання принтерів   </h2>
      <h3 class="modules-content__title title-h4"  >Використання принтерів </h3>
                 
                    <p>
                        У програмі може бути використано два типи принтерів – широкий (А4) та вузький (чековий).
                        Широкий принтер призначений для виведення друкованих форм первинних документів (накладних тощо).
                        Підключається як звичайний системний принтер і не потребує будь яких налаштувань у програмі.
                        <br>Вузький принтер призначений для друку чеків, квитанцій, а також цінників та етикеток.
                        Може бути підключений як системний або, при низькій якості друку, через додаткове ПЗ (сервер друку). Тип підключення
                        задається у профілі користувача.
                        <br>Для вузького принтера створюються окремі шаблони друкованих форм у папці templates/printform,
                        структура яких залежить від типу підключення.
                        Якщо принтер підключений як системний, його друковані форми містять html розмітку як і форми стандартного широкого принтера, а
                        друк здійснюється    браузером через системний драйвер.
                        Якщо принтер підключений через сервер друку (див. нижче), друковані форми (з суфіксом _ps або _ts ) містять спеціальну розмітку в XML, яка відповідає
                        набору команд принтера.
                  
                      <br>
                       Вузькі принтери зазвичай підтримують один із двох (або обидва) режимів друку - receipt (ESC/POS) для чеків
                              та label (tspl/tspl2) для етикеток. У налаштуваннях принтера (профіль користувача) необхідно встановити в якому режимі принтер.
                              (Етикетки можна друкувати і в режимі receipt).
                              <br> В режимі label можна використовувати Zebra та  інші  строкові  протоколи для tspl/tspl2.
                              <br> Шаблони для чекового (receipt) режиму зберігаються у файлах з ім'ям, що закінчується на _ps
                              (наприклад, poscheck_bill_ps.tpl) для режиму label на _ts (наприклад item_tag_ts.tpl ). 
                              <br>Як і всі шаблони їх можна кастомізувати, додавши до кінця імені _custom щоб не перезатирало при оновленні. Наприелад item_tag_ps_custom.tpl 
                              <br> Для розмітки шаблонів відповідно використовуються спеціальні теги, що перетворюються на ESC/POS команди (див. нижче) 
                              або безпосередньо команди tspl/rspl2 (див. документацію до принтера)                   
                              
                              <br> printforms/item_tag.tpl      - шаблон етикетки товару
                              <br> printforms/item_qr.tpl       - шаблон QR коду товару
                              <br> printforms/item_sticker.tpl  - шаблон стікера вагового товару
                              <br> printforms/pays_bill.tpl     - квитанція про оплату
                              <br> printforms/doc/*_bill.tpl    - решта шаблонів відповідають назві документів
                    
                       </p>                  
                    <h5 class="modules-content__title title-h5">Опис тегів шаблонів друкованих форм для ESC/POS принтера</h5>
                       <p>
                    Шаблон  повинен відповідати структурі XML. Як правило, теги визначають відповідні команди для принтера.
                    Теги можуть мати обов'язкові або необов'язкові атрибути. Також реалізація декотрих тегів як, наприклад,
                    cut або beep залежить від моделі принтера. Некоректно вказані теги будуть пропущені.
                    
                    <details>
                        <summary class="modules__btn"><b>Опис тегів</b></summary>
                        <table class="table table-sm">
                            <tr>
                                <th>Тег</th>
                                <th>Приклад</th>
                                <th>Опис</th>
                            </tr>
                            <tr>
                                <td><b>text</b></td>
                                <td>&lt;text&gt;Hi, dude&lt;/text&gt; </td>
                                <td>Текст в UTF-8 </td>
                            </tr>
                            <tr>
                                <td><b>font</b></td>
                                <td>&lt;font&gt;a&lt;/font&gt; </td>
                                <td> Шрифт (a aбo b). Може мати атрибут bold="true" </td>
                            </tr>
                            <tr>
                                <td><b>size</b></td>
                                <td>&lt;size height="2" width="2">&lt;/size&gt; </td>
                                <td> Розмір тексту. Обов'язкові атрибути height та width. Значення - коефіцієнти ( 1 - 8) </td>
                            </tr>
                            <tr>
                                <td><b>align</b></td>
                                <td>&lt;align&gt;center&lt;/align&gt; </td>
                                <td> Вирівнювання (left, center, right) </td>
                            </tr>
                            <tr>
                                <td><b>separator</b></td>
                                <td>&lt;separator&gt;*&lt;/separator&gt; </td>
                                <td> Строка повторюваного символа </td>
                            </tr>
                            <tr>
                                <td><b>barcode</b></td>
                                <td>&lt;barcode type="code128"&gt;1234567890&lt;/barcode&gt; </td>
                                <td>Штрих код. Обов'язковий атрибут type ('code128','code39','EAN13').<br> Може мати атрибути height (0-255)
                                    та width (2 - 6) </td>
                            </tr>
                            <tr>
                                <td><b>qrcode</b></td>
                                <td>&lt;qrcode&gt;http://mysite.ua/&lt;/qrcode> </td>
                                <td> QR код. Може мати атрибут size від 1 до 24. Наприклад size="12" </td>
                            </tr>
                            <tr>
                                <td><b>newline</b></td>
                                <td>&lt;newline>&lt;/newline&gt; </td>
                                <td>Перевод строки</td>
                            </tr>
                            <tr>
                                <td><b>cash</b></td>
                                <td>&lt;cash&gt;2&lt;/cash&gt;</td>
                                <td>Відкрити касовий ящик. Пін 2 або 5</td>
                            </tr>
                            <tr>
                                <td><b>cut</b></td>
                                <td>&lt;cut&gt;&lt;/cut&gt; </td>
                                <td>Відрізати після друку. </td>
                            </tr>
                            <tr>
                                <td><b>partialcut</b></td>
                                <td>&lt;partialcut&gt;&lt;/partialcut&gt;</td>
                                <td>Частково відрізати після друку.</td>
                            </tr>
                            <tr>
                                <td><b>beep</b></td>
                                <td> &lt;beep&gt;&lt;/beep&gt; </td>
                                <td>Звуковий сигнал</td>
                            </tr>
                            <tr>
                                <td><b>color</b></td>
                                <td> &lt;color&gt;0&lt;/color&gt; </td>
                                <td>Колір. Може приймати значення 0 або 1</td>
                            </tr>
                            <tr>
                                <td><b>commands</b></td>
                                <td> &lt;commands&gt;27,116,17&lt;/commands&gt; </td>
                                <td>Послідовність команд принтера. Байти (0 - 255) через кому</td>
                            </tr>
                            <tr>
                                <td><b>row,col</b></td>
                                <td>&lt;row&gt;<br>&lt;col length="22" &gt;11.11.2022&lt;/col&gt;&lt;col align="left" length="10"
                                    &gt;100.00&lt;/col&gt;<br>&lt;/row&gt; </td>
                                <td>Друк данних по колонкам у вигляді таблиці. Колонка повинна мати обов'язковий атрибут length - ширина
                                    стовпця в символах.
                                    Сума не може перевищувати ширину друку, задану в налаштуваннях (за замовчуванням 32 символи). Колонка
                                    може мати атрибут align="left" для вирівнювання
                                    тексту всередині колонки. Текст, що виходить за межі колонки, буде обрізаний. </td>
                            </tr>


                        </table>

                    </details> <br>
                    <b>Опис  команд</b> для принтерів в режимі Label  <a href="/download/TSPL_TSPL2_Programming.pdf">тут</a>  
                    <br>Для реалізації логіки в шаблоні використовується синтаксис шаблонізатора  Mustache
                       
                    <br><br> В  деяких  випарках для роботи принтреа  пІсля  задання параметрів  в  профілі користувача  необхідно перелогінитись. 
                       
                        </p>                     
                    
                                     
                   
                    <h3 class="modules-content__title title-h4" >Допоміжне ПЗ - POS сервер (сервер друку) </h3>
                    <p>
                      &nbsp;&nbsp; Позаяк програма працює в онлайн режимі через браузер - підключення принтерів (крім системного принтера на який брауер може друкувати безпосередньо )
                          та торгівельного обладнання проблематично без допоміжного забезпечення.
                         <br> POS сервер реалізований як локальний веб-сервер, що приймає команди, що відправляються з браузера як на будь-який інший веб-сервер 
                           і виконує роль проміжної ланки 
                            POS сервер виконаний у двох варіантах для Віндовс та кроссплатформенний для NodeJs.
                         <br> Обидва рішення – проекти з відкритим кодом, розташовані на GitHub відповідно за адресами 
                         <br> <a style="color:navy;font-weight:bolder" href="https://github.com/leon-mbs/pservernet">POS Server Net (Windows)</a>
                         <br> <a style="color:navy;font-weight:bolder" href="https://github.com/leon-mbs/pservernode">POS Server Node</a>
                         <br> Для віндовс  можна  скачати  <a style="color:navy;font-weight:bolder" href="/download/PosServerNet.zip">готову збірку</a>
                          <br>

                         <br>  В обох проектах реалізований режим принт сервера для чекових принтерів і принтерів етикеток, що підключаються по USB.
                         <br> Реалізація інших режимів залежить від обладнання та покладається на сторонніх розробників. Для роботи зі складом у серверах
                                передбачений конкретний інтерфейс обміну (API) командами і даними, що розуміється складською програмою, однаковий для будь-якого обладнання. 
                                <br>  Адреса та порт серверів задається в appsettings.json та config.json відповідно За замовчанням http://127.0.0.1:8080. Сервери повинні 
                           бути розташованим на  тому  самому компьютері  обо в  тій самій локальній мережі де  користувач  прицює з браузера.
                    
                           <br> Перевірити що сервер стартував нормально  можна  набравши в браузері  http://127.0.0.1:8080/check. 
                           Звісно ж сервер  може  бути доданий в меню  автостарту Віндовс.
                           <br>  Дана  реалізація може бути як  приклад - POS сервер може бути реалізований на будь-якому іншому технологічному стеку, якщо буде реалізований аналогічний  інтерфейс обміну
                           з складом.
                           
                         
                     </p>
                      <h4 class="modules-content__title title-h5"  >Сервер  друку  для  чекових принтерів </h4>
                
                      <p> &nbsp;&nbsp;
                         Підключення принтера через сервер друку дозволяє виводити інформацію (включаючи штрих коди) безпосередньо за
                        допомогою спеціальних команд принтера, що забезпечує кращу якість друку.
                        Тобто спеціалізована чекова інформація виводиться призначеними для цього апаратними та програмними засобами.
                        <br> <br>Обидві програми можна перевірити з браузера, набравши http://127.0.0.1:8080/testprint  ( http://127.0.0.1:8080/testprintlabel  для принтера  етикеток в режимі Label). 
                         Повинна  надрукуватись  строка на принетрі.
                          
                         <br> В  варіанті принт сервера  для  віндовс   в  конфігураційному файл appsettings.json повиненна бути прописана  назва  принтера відповідно тому  як  вона записана   в  системі 
                        в  списку принтерів.
                                  
                      <br>
                      <br> Робочий адрес (за замовчанням http://127.0.0.1:8080 )  задається в налаштуваннях профілю користувача CRM.
                                
                      </p>
            
               
                </div>
            </div>
          <div class="row">

                <div class="col-sm-12   text-format">

                    <h2 id="id17" class="modules-content__title title-h3">Підключення та використання торгового обладнання   </h2>
                     <i class="fa fa-exclamation"></i>  Якщо торгове обладнання не підтримує доступ по мережі, можна  використати  POS-сервер  як  проміжне ПЗ, 
                     дописавши відповідні  методи виклику
                      <br>
    
                  <h3  class="modules-content__title title-h4">Фіскальний реєстратор</h3>
                  <p> 
                      Підтримка фіскальний реєстратор вмикається на  сторінці  адміністратора  як тип фіскалізаії.  Далі в  довіднику POS терміналів 
                      потрібно запрограмувати  підтримку  конкретного пристрою, написавши  відповідний javascript обробник.
                      Відправка  даних на  реєстратор відбуваєтся в  момент  проведеня чеку. Чек  повернення слід  створювати в списку чеків в  АРМ касира
                      щоб відправка  виконалась на  поточний реєстратор.
                     <br> Скрипт обробника -  реалізація вбудованої функції  callFR 
                         <pre> 
                        
    function callFR(check,callback) {
      
      &lt;кастомний  код&gt;  
      
    }
                         
                         </pre>  
                        Де 
                 <br> <b> check</b> - об'єкт з даними  чека для формування HTTP запиту  до пристрою реестрації  
                 <br>  Структура даних чека
                  <pre> 
 {
    "type": "C",
    "number": "K-0023",
    "cashier": "Сидоров",
    "totalamount": "198", сума  по  документу
    "payamount": 198,  до сплати
    "bonus": 0,   списані бонуси
    "discount": 0,  загальна знижка
    "rest": 0,    решта якщо  є
    "nal": 0,     готівка
    "beznal": 0,  картка
    "prepaid": 0,  передплата
    "credit": 0,    в борг (післяплата)
    "payed": 198, прийнята від покупцяы  оплата
    "slogan": "",   фраза  в  кінці  чеку (типу  Дякуємо за покупку)
 
    "items": [       список  позицій
        {
            "id": "476",
            "article": "2233",   артикул
            "name": "Canon EOS 5D",
            "qty": 2,
            "price": 99,
            
            "bar_code": штрих-код якщо задано в довіднику  ТМЦ
            "uktz": УКТЗЕД якщо задано в довіднику  ТМЦ
        }
    ]
}                 
                  </pre>          
                 <br>  <b> callback </b> - функція, що має бути викликана по результату відправки даних на пристрій 
                 <br>  параметром може бути
                 <pre> 
     {
        fn:  фіскальний  номер, повернутий реєстратором
     }
                  </pre>    
                   або, якщо помилка
                   <pre> 
    {
        error:  текст помилки, повернутий реєстратором
    }
                  </pre>  
                  в    разі помилки фіскалізацію  можна повторити в списку  чеків  в  АРМ касира.
                 
                  <br><b>Приклад</b> реалізації скрипта на  прикладі реєстратора серії  MG  
                 <pre> 
             
             
    var rows=[]
    
    if(isNonEmptyString(check.cashier)) {    //isNonEmptyString - вбудована функція  перевірки строки
       rows.push({"C":{"cm":"Касир:"+check.cashier}})
    }
    
    for(let  item of check.items) {   
       rows.push({
          "code":item.id,
          "name":item.itemname,
          "price":item.price,
          "qty":item.qty
       })
    }
     
    if(check.nal >0) {  
       rows.push({"P":{"sum":check.nal}})
    }    
    if(check.beznal >0) {  
       rows.push({"P":{"sum":check.nal,no:4}})
    }    
    
    var body={
       "F":rows
    }
    
    if(check.type=="R") {  
      body={
        "R":rows
      }
     
    }
    
             
 var opt={
   method: 'POST' ,
   headers: {
    'Content-Type': 'application/json' 
   },   
   body:   body
   };    
             
  fetch(IP+"/cgi/chk",opt)    //запит  до рееестратора                                        

      .then((response) => {
          return response.json();
      })
      .then((data) => {
         if( isNonEmptyString(data.DI) ){
             callback( { dn:data.DI }   )
         } 
           
      })   
      .catch(function (error) {
           callback( { error:error}   )
          })          
 
             
                </pre>  
                </p>
              
              
               <h3 class="modules-content__title title-h4">Електронні ваги</h3>
                     <p> 
                         Підтримка ваг вмикається  в  загальних налаштуваннях. В профілі користувача, 
                          в поле  скрипта  потрібно записати  скрипт,  що поверне значення  ваги з ваг.
                         <br> Скрипт - реалізація вбудованої функції callScale  
                         <pre> 
                        
    function callScale(callback) {
        &lt;кастомний  код&gt;    
    }
                         
                         </pre>
                         де  callback - функція якій має бути передано значення  ваги
                           <br> Приклад коду що потрібно вставити  в  поле скрипта 
                          <pre> 
                        
     fetch(url ,opt)                                            

      .then((response) => {
          return response.json();
      })
      .then((data) => {
      
         callback(data.weight)
         
          
      })
      
      повідомлення в  обробниках  помилок: 
       toastr.error(строка  з  помилкою)        
      
                        
                         </pre>                           
                    </p>
                     <br>              
              
                   
              </div>
        </div>
    
    
    
    
     <div class="row">
                <div class="col-sm-12   text-format">

                    <h2 id="id18" class="modules-content__title title-h3">Дропшиппінг та  фулфілмент</h2>

                    <p>
                      Модуль вмикається  на  сторінці адміністратора. В налаштуваннях модуля (бокове меню) необхідно задати 
                      як буде визначатись  ціна для  доропшиппера  та/або  склад  для  фулфілменту.   
                      <br>  Аккаунт  партнерів стрворюється  в  довіднику  контрагентів.  Необхідно вказати тип партнера, задати його e-mail 
                      та пароль. 
                     <br>   Вхід в особистий кабінет партнера  по за адресою http: //&lt;адреса сайту&gt;/partner. Вигляд кабінету залежить від типу партнера але 
                     в обох випадках на  головній сторінці  перелік документів та   кнопка створення  нових.
                     <br> Готові до виконання замовлення попадають на  сторінку замовлень в  модулі CRM де  адміністратор  призначає виконавця. Після  чого  замовлення  з'явиться  в  журналі замовлень для обробки 
                     як звичайне замовлення.
                       
                     <br><b>Дропшиппінг</b><br>
                         В замовленнях вибираються  товари зі складу  постачальника. В залежності  від налаштувань  модуля формується відпускна  ціна  постачальника.
                         Різниця між  продажною та  відпускною  ціною - заробіток дропшипера.  Розрахунки по  коштам (в залежності від  того як проходить оплата  
                         від кінцевого  покупця)  слід вести через касові  ордери як зі  звичайним  контрагентом
                     <br><b>Фулфілмент</b><br>
                        Перед  створенням замовлень партнер має  заповнити номенкатуру (меню зверху). Також новий товар  можна  додати при оприиходуванні.
                        Перелік  товарів  прив'язується до  акаунта партнера і зберігається на  складі, заданому  в налаштуваннях модуля.
                        Товар  оприходується  на  склад документом  Оприходування  ТМЦ. Якщо товар  неактуальний   його можна  забрати  зі  складу, створюється  документ Списання  ТМЦ.
                        Складські документи попадають в  систему в статусі Очікує затверження щоб менеджер міг переконатись  що товари поступили (списались).
                        При створенні замовлення  вибираются  тільки  товари  залогіненого партнера.
                    </p>
                    
                  

                </div>
            </div>
           
    
     </div>
    </section>

</body>

</html>