<html>

<head>
    <meta name="description" content="Безкоштовна програма для складського обліку з відкритим кодом та  веб-інтерфейсом">
    <title>Поширені запитання</title>

</head>

<body>

    <section id="questions" class="questions">
        <div class="container">
            <h2 class="questions__title title-h2">Поширені запитання</h2>
            <div class="questions-accordion">
               <div class="questions-accordion__item accordion__item">
                    <button class="questions-accordion__item-btn accordion__control" aria-expanded="false">
                        <span class="questions-accordion__title title-h4">  Для кого призначена програма? </span>
                        <span class="questions-accordion__icon"></span>
                    </button>
                    <div class="questions-accordion__content accordion__content" aria-hidden="true">
                        <p class="questions-accordion__text text">
                            Цільова аудиторія - малий бізнес (зазвичай на єдиному податку), для якого  критичні витрати на  платне  ПЗ чи розробку власних рішень.
                              <br>Програма може використовуватися також середнім бізнесом, якщо її функціональність виявиться достатньою.
                              <br> Також програма може бути корисна розробникам та впроваджувачам, які можуть поширювати програму та отримувати оплату за послуги з встановлення, налаштування та доопрацювання програми
                              для конкретного бізнесу.
                        
                           </p>
                    </div>
                </div>

                <div class="questions-accordion__item accordion__item">
                    <button class="questions-accordion__item-btn accordion__control" aria-expanded="false">
                        <span class="questions-accordion__title title-h4">Чи дійсно Zippy CRM повністю безкоштовна чи має якісь обмеження?</span>
                        <span class="questions-accordion__icon"></span>
                    </button>
                    <div class="questions-accordion__content accordion__content" aria-hidden="true">
                        <p class="questions-accordion__text text">Програма повністю безкоштовна, жодних платних модулів чи редакцій в основній версії немає
                            і не планується. Але сторонні розробники можуть дописувати та налаштовувати програму під конкретні бізнеси та продавати свої рішення.   
                        
                           </p>
                    </div>
                </div>
                 <div class="questions-accordion__item accordion__item">
                    <button class="questions-accordion__item-btn accordion__control" aria-expanded="false">
                        <span class="questions-accordion__title title-h4">Які є варіанти розгортання програми?</span>
                        <span class="questions-accordion__icon"></span>
                    </button>
                    <div class="questions-accordion__content accordion__content" aria-hidden="true">
                        <p class="questions-accordion__text text">  
                        
                         <br> Детальніше <a href="/zstore">тут</a>  
                        
                           </p>
                    </div>
                </div>

                <div class="questions-accordion__item accordion__item">
                    <button class="questions-accordion__item-btn accordion__control" aria-expanded="false">
                        <span class="questions-accordion__title title-h4">Які права у користувачів програми? Чи не зміняться умови у майбутньому?</span>
                        <span class="questions-accordion__icon"></span>
                    </button>
                    <div class="questions-accordion__content accordion__content" aria-hidden="true">
                        <p class="questions-accordion__text text">Це відкрите (open-source) програмне забезпечення, яке поширюється по MIT ліцензії.
                         Будь-хто може встановлювати програму, використовувати і вносити зміни в програму.
                         <br>Зміна умов не планується. У будь-якому випадку  програма відкрита, будь-хто може зробити
                         копію та продовжувати користуватися, вносити зміни та не залежати від розробників.
                         <br>Але потрібно мати на увазі  - програма поширюється AS IS. Автори не несуть відповідальності за функціонування програми.
                         Простими словами - програма безкоштовна роби з нею що хочеш але на  випадок  чого претензій   пред'явити не буде кому.
                         Користувачеві слід самому подбати про безпеку та цілісність даних, періодично робити резервні копії
                         а також тестувати критичну функціональність перед тим, як почати використовувати. Але   оскільки вже є сотні 
                         користувачів (деякі користуються вже кілька років), - у програмі рідко можна знайти критичні баги а знайдені швидко виправляются.
                        
                           </p>
                    </div>
                    </div>
           
                <div class="questions-accordion__item accordion__item">
                    
                    <button class="questions-accordion__item-btn accordion__control" aria-expanded="false">
                        <span class="questions-accordion__title title-h4">Що робити якщо програма  працює неправильно?</span>
                        <span class="questions-accordion__icon"></span>
                    </button>
                    <div class="questions-accordion__content accordion__content" aria-hidden="true">
                        <p class="questions-accordion__text text">  Користувачеві  слід  <a href="/contacts"> повідомити</a>  про  проблему  розробникам.
                          Розробники-впроваджувачі  можуть створити issue або pool request на  GitHub.<br>
                          Критичні  помилки  будуть виправлені в максимально короткий срок.  Некритичні виправлення ввійдуть в наступне оновлення
                        
                           </p>
                    </div>
                </div>
                 <div class="questions-accordion__item accordion__item">
                    <button class="questions-accordion__item-btn accordion__control" aria-expanded="false">
                        <span class="questions-accordion__title title-h4">Чи має програма  мобільний  додаток?</span>
                        <span class="questions-accordion__icon"></span>
                    </button>
                    <div class="questions-accordion__content accordion__content" aria-hidden="true">
                        <p class="questions-accordion__text text">                     
                              Позаяк програма  має веб-інтерфейс, вона доступна з будь-якого мобільного пристрою. Крім того, розробка
                              мобільного додатку коштує дорого. Але якщо хтось із сторонніх розробників вирішить
                              таку програму зробити або йому вона буде замовлена кимось із користувачів, в програмі
                              передбачена можливість інтеграції (API) із зовнішніми системами 
                              (мобільними програмами, CRM, промисловим обладнанням).                               
                           </p>
                    </div>
                </div>

                  <div class="questions-accordion__item accordion__item">
                    <button class="questions-accordion__item-btn accordion__control" aria-expanded="false">
                        <span class="questions-accordion__title title-h4">Що робити при втраті пароля  адміністратора?</span>
                        <span class="questions-accordion__icon"></span>
                    </button>
                    <div class="questions-accordion__content accordion__content" aria-hidden="true">
                        <p class="questions-accordion__text text">   Скористатись <a href="/zstore#lostpass">інструкцією</a>  
                        
                           </p>
                    </div>
                </div>

            </div>
        </div>
    </section>


</body>

</html>