<html>

<head>
     <title>CRM система   для складського обліку та торгівлі</title>

    <meta name="description"         content="Безкоштовна програма  для складського обліку та торгівлі,   програма для кафе,альтернатива  1С, проста  програма для  складу, безкоштовни  аналог 1С, програми для  обліку товару ">
  

</head>

<body>


    <section class="hero">
        <div class="container">
            <h1 class="hero__title title-h1">
                CRM система для  складського  обліку та  торгівлі
            </h1>
            <p class="hero__subtitle subtitle">Альтернатива для 1С та інших платних рішень </p>
            <div class="hero__items">
                <div class="hero__item">
                    <ul class="hero__list">
                        <li class="hero__list-item text">Склад, торгівля, послуги, виробництво, кафе </li>
                        <li class="hero__list-item text">ПРРО, інтеграція з інтернет-магазинами та Новою Поштою </li>
                        <li class="hero__list-item text">Орієнтована  на  малий бізнес та вітчизняне законодавство </li>
                        <li class="hero__list-item text">Веб інтефейс, відкритий код (open-source), можливiть втановити як  онлайн так і на ПК</li>
                        <li class="hero__list-item text">Розповсюджується безкоштовно (без пробних періодів, платних версій та інщих обмежень) </li>

                    </ul>

                </div>
                <div class="hero__item hero__item-img">
                    <img src="/assets/images/home/hero.png" alt="zippy store">
                </div>
            </div>
            <div class="hero__buttons mt-4">
                <a class="btn btn-sm btn-info" href="#demo">Демо сайт</a>
                <a class="btn btn-sm btn-success" href="/zstore">Як встановити</a>
            </div>
                   
                  <div style="font-size:smaller" class="text-white mt-2">
                    <b> <i class="fab fa-github"></i></b> Проект на <a class="about__link link" href="https://github.com/leon-mbs/zstore"
                            target="_blank">GitHub</a>
                    </div>
        </div>
    </section>


    <section id="about" class="about">
        <div class="container">
            <div class="about__title title-h2">Про проект</div>
            <div class="about__items">   
                <div class="about__item about__item-img">
<iframe style="max-width: 800px;" width="100%" height="315" src="https://www.youtube.com/embed/RycVAG2VHhc?si=Wi2fGTlone8zgX8y&amp;start=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="about__item">
                    <p class="about__text text">
                        <span class="color-accent">Zippy CRM</span> - це вільно росповсюджуване ПЗ з відкритим кодом та веб-інтерфейсом, призначене
                        для автоматизації малого бізнесу.
                        Облікова система орієнтована на вітчизняний ринок, має звичний інтерфейс, проста в установці та налаштуванні, з
                        модульною архітектурою, що дозволяє легко адаптувати її під вимоги бізнесу.
                    </p>
                    <p class="about__text text">
                        Стандартний документообіг, звичний для вітчизняних користувчів (особливо звиклих до 1С) інтерфейс, можливість
                        багатокористувацької роботи та роботи через Інтернет з будь якого мобільного пристрою.
                    </p>
                    <p class="about__text text">
                        Мета проекту - надати альтернативу платним та/або зарубіжним обліковим програмам.
                    </p>
                 
                    <p class="about__text text">
                        Використано найпростіший та найпоширеніший технологічний стек (PHP/Mysql), що забезпечує кросплатформенність та
                        можливість установки на будь якому хостингу або офісному комп'ютері для індивідуального використання. З точки зору
                        архітектури проект є платформою, де основні об'єкти - документи, довідники, звіти можуть додаватись, видалятись та
                        замінюватись без внесення змін в ядро платформи та структуру бази данних.
                    </p>
                     
                </div>
            </div>

        </div>
    </section>

    <section id="possibilities" class="possibilities">
        <div class="container">
            <div class="possibilities__title title-h2">Можливості</div>
            <div class="row mb-4">
                <div class="col-12 col-md-6">
                    <h3 class="possibilities__item-title title-h3">Функції</h3>
                    <ul class="possibilities__list">
                        <li class="possibilities__list-item text">управління складами, складська логістика</li>
                        <li class="possibilities__list-item text">управління закупівлями та  продажами</li>
                        <li class="possibilities__list-item text">облік платежів та взаєморозрахунки з контрагентами</li>
                        <li class="possibilities__list-item text">програмний РРО</li>
                        <li class="possibilities__list-item text">управління користувачами та розділення доступу</li>
                        <li class="possibilities__list-item text">контрагенти, робота з лідами</li>
                        <li class="possibilities__list-item text">звіти по продажах, закупках, руху ТМЦ</li>
                        <li class="possibilities__list-item text">послуги, наряди на виконання робіт</li>
                        <li class="possibilities__list-item text">облік виробництва, понарядне та поетапне виробництво</li>
                        <li class="possibilities__list-item text">облік обладнання</li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="possibilities__item-title title-h3">Інтеграції</h3>
                    <ul class="possibilities__list">
                        <li class="possibilities__list-item text">API для обміну з іншми інформаційними системами</li>
                        <li class="possibilities__list-item text">підтримка сканера (клавіатурного) штрих коду</li>
                        <li class="possibilities__list-item text">підтримка принтера чеків та етикеток</li>
                        <li class="possibilities__list-item text">розділення доступу між філіями (наприклад, торговими точками)</li>
                        <li class="possibilities__list-item text">інтеграція з Опенкарт та Вукомерс</li>
                        <li class="possibilities__list-item text">SMS розсилки</li>
                        <li class="possibilities__list-item text">інтеграція з Новою Поштою</li>
                        <li class="possibilities__list-item text">інтеграція з CheckBox та ВчасноКаса</li>
                        <li class="possibilities__list-item text">вбудований (безкоштовний) програмний РРО</li>
                        <li class="possibilities__list-item text">
                            <a class="possibilities__link link" href="/ext">
                                рiзноманiтнi модулі та додатки (управління проектами, база знань та ін.).
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div id="demo" class="possibilities-demo ">
                <span class="possibilities__text  text text-white">Доступ до тестового сайту:</span>
                <div class="possibilities-demo__items">
                    <div class="possibilities-demo__item possibilities-demo__item-text">
                        <span class="possibilities__text  text text-white">логін: admin</span>
                        <span class="possibilities__text  text text-white">пароль: admin</span>
                    </div>
                    <div class="possibilities-demo__item possibilities__buttons">
                        <a class="possibilities__link btn btn-1"
                            href="https://store.zippy.com.ua/"   target="_blank">Перейти</a>
                       &nbsp; &nbsp; &nbsp; &nbsp; <a class="possibilities__link btn btn-2" href="/zstore">Як завантажити</a>
                        
                    </div>

                </div>
                <small class="possibilities__text  text-white  "><i class="fa fa-exclamation-triangle"></i> Демо сайт є повноцінною версією програми </small>
            </div>
        </div>
    </section>


    <section id="advantages" class="advantages">
        <div class="container">
            <h2 class="advantages__title title-h2">Переваги   рішення</h2>

            <div class="advantages__items">
                <div class="advantages__item">
                    <span class="advantages__item-icon"></span>
                    <h4 class="advantages__item-title title-h4">Відкритий код</h4>
                    <p class="advantages__item-text text">Дозволяє не залежати від виробника ПЗ, оперативно вносити виправлення та зміни</p>
                </div>
                <div class="advantages__item">
                    <span class="advantages__item-icon"></span>
                    <h4 class="advantages__item-title title-h4">Під будь який бізнес</h4>
                    <p class="advantages__item-text text">Простота розширення та налаштування під будь який тип бізнесу та мінливе
                        законодавство</p>
                </div>
                <div class="advantages__item">
                    <span class="advantages__item-icon"></span>
                    <h4 class="advantages__item-title title-h4">Кросплатформенність</h4>
                    <p class="advantages__item-text text">З програмою можна повноцінно працювати як всередині корпоративної мережі, так і
                        онлайн</p>
                </div>
                <div class="advantages__item">
                    <span class="advantages__item-icon"></span>
                    <h4 class="advantages__item-title title-h4">Адаптивний інтефейс</h4>
                    <p class="advantages__item-text text">
                        Веб-інтерфейс дозволяє повноцінно працювати з будь яких пристроїв, у тому числі мобільних
                    </p>
                </div>
                <div class="advantages__item">
                    <span class="advantages__item-icon"></span>
                    <h4 class="advantages__item-title title-h4">Налаштовано  під законодавство</h4>
                    <p class="advantages__item-text text">
                        Базове налаштування під вітчизняне законодавство. Передбачено експорт в електронний формат обміну
                    </p>
                </div>
                <div class="advantages__item">
                    <span class="advantages__item-icon"></span>
                    <h4 class="advantages__item-title title-h4">Онлайн-торгівля</h4>
                    <p class="advantages__item-text text">Інтеграція з поширеними інтернет магазинами. Вбудований онлайн-каталог</p>
                </div>
            </div>

        </div>
    </section>
  

</body>

</html>


