<html>

<head>
     
    <title>Органайзер Notty</title>
</head>

<body>

    <section class="znote">
        <div class="container">

            <div class="row">
                <div class="col-sm-12   text-format">
                    <h2 id="znote" class="znote__title title-h3 title-center">Notty</h2>
                    <div class="znote__text">
                        <p>
                            <strong>Zippy Note</strong> – Менеджер персональних записів (блокнот, органайзер, база знань), 
                                що дає можливість збереження та впорядкування користувачів записів в ієрархічному вигляді. 
                                <br>Контент розділяється між користувачами, тому може працювати як SAAS.
                                                        </p>

                      
                        <p>Основной репозитарий на <a class="link" target="_blank" href="https://github.com/leon-mbs/zippynote">GitHub</a>
                        </p>
                        <p><a class="link" target="_blank" href="http://notty.zippy.com.ua/">Демо версiя</a> вхiд admin@admin.admin пароль
                            admin
                        </p>
                        
                    </div>

                </div>
            </div>

        </div>
    </section>



</body>

</html>