<html>

<head>
    <meta name="description" content="Безкоштовна програма для складського обліку з відкритим кодом та  веб-інтерфейсом">
    <title>CRM система для складського обліку</title>

</head>

<body>
    <section id="update" class="update">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 ">
                    <h1 class="update__title title-h2 title-center">Оновлення та зміни</h1>
                    <p>
                        Завантажити оновлення можна  зі сторінки оновлень в програмі (меню Система).
                      <br>У випадку проблем  можна  виконати ручне оновлення відповідно   опису оновлення або виконати 
                      повне  оновлення  з   <a class="link" href="/download/fullzstore.zip">готовї збірки </a>
                      <br>Відкотити зміни у разі проблем можна з архіву попередньої версії
                   <br>Якщо пропущено кілька оновлень, потрібно виконати повне оновлення папок і файлів (крім config) 
                    завантаживши останню версію з<a class="link" href="https://github.com/leon-mbs/zstore">GitHub</a>
                      або завантаживши     <a class="link" href="/download/fullzstore.zip">готову збірку </a>
                      Також можливо треба  буде послідовно виконати  sql скрипти з папки db/updates. 
                      <br><i class="fa fa-exclamation" ></i> Після оновлення слід перелогінитись
                    </p>    
                     <br>
                  
                    <b  style="font-size:larger;display:block" >Історія оновлень</b>
                    <i class="fa fa-exclamation"></i>  Оновлення виконується в автоматичному режимі на сторінці Оновлення в  системному  меню. 
                    Ручне  оновлення потрібно якщо виникла нештатна ситуація 
             
         
             
             
                 <p class="mb-2 mt-3"><span class="font-weight-bold">v8.2.7 (2026-08-25) </span>
                        <br> <i class="fa fa-check  text-success"></i>     Підтримка  сканування ШК мобільною камерою
                        <br> <i class="fa fa-check  text-success"></i>     Пошук  сканером  в  номенклатурі
                        <br> <i class="fa fa-check  text-success"></i>     Підбір позицій приходу по  заявці  постачальнику
                        <br> <i class="fa fa-check  text-success"></i> Виправлення та доповнення
                        <br><br>
                         <small><i class="fa fa-download text-info"></i> 
                                    Для оновлення версії оновити папки app, assets i templates  з <a href="/updates/update-8.2.7.zip"> архіву </a>
                                    або з <a class="link" href="https://github.com/leon-mbs/zstore/releases/tag/8.2.7">GitHub</a>
                                  
                                </small>
                 </p>   
         
                 <p class="mb-2 mt-3"><span class="font-weight-bold">v8.2.6 (2026-08-05) </span>
                        <br> <i class="fa fa-check  text-success"></i>     Виправлення оновленого дизайну
                        <br> <i class="fa fa-check  text-success"></i> Виправлення та доповнення
                        <br><br>
                         <small><i class="fa fa-download text-info"></i> 
                                    Для оновлення версії оновити папки app, assets i templates  з <a href="/updates/update-8.2.6.zip"> архіву </a>
                                    або з <a class="link" href="https://github.com/leon-mbs/zstore/releases/tag/8.2.6">GitHub</a>
                                  
                                </small>
                 </p>   
          
                 <p class="mb-2 mt-3"><span class="font-weight-bold">v8.2.5 (2026-07-25) </span>
                        <br> <i class="fa fa-check  text-success"></i> Перевод дизайну на  актуальні бібліотеки стилю (Twitter Bootstrap5)
                        <br><small> Натиснути  в  браузері ctrl+F5 якщо проблеми з відображенням (в  мобільному пристрою можна  почистити кеш  або тимчасово пермкнутись  в  режим  інкогніто  )</small>
                        <br> <i class="fa fa-check  text-success"></i> Редагування ТМЦ в документах (в довіднику вибору)
                        <br> <i class="fa fa-check  text-success"></i> Оновлення найменувань товарів (поперелньо засинхронизованих) в опенкарті   (тре оновити  <a href="https://github.com/leon-mbs/opencart" target="_blank">модуль</a> на боці опенкарту)
                        
                        <br> <i class="fa fa-check  text-success"></i> Виправлення та доповнення
                        <br><br> <small><i class="fa fa-download text-info"></i> 
                                    Для оновлення версії оновити папки app, assets i templates  з <a href="/updates/update-8.2.5.zip"> архіву </a>
                                    або з <a class="link" href="https://github.com/leon-mbs/zstore/releases/tag/8.2.5">GitHub</a>
                                   <br>Бажано оновити папку  vendor (для PHP8.1+)
                                </small>
                 </p>   
        
                 <p class="mb-2 mt-3"><span class="font-weight-bold">v8.2.4 (2026-06-21) </span>
                        <br> <i class="fa fa-check  text-success"></i> Контрагент в документах Оприходування та  Списання ТМЦ
                        <br><small>Не враховується в взаєморозрахунках. Для обліку  ТМЦ в некомерційних (наприклад доброчинних) організаціях</small>
                       
                        <br> <i class="fa fa-check  text-success"></i> Виправлення та доповнення
                        <br><br> <small><i class="fa fa-download text-info"></i> 
                                    Для оновлення версії оновити папки app i templates  з <a href="/updates/update-8.2.4.zip"> архіву </a>
                                    або з <a class="link" href="https://github.com/leon-mbs/zstore/releases/tag/8.2.4">GitHub</a>
                                </small>
                 </p>   
                 
             <p class="mb-2 mt-3"><span class="font-weight-bold">v8.2.3 (2026-06-01) </span>
                        <br> <i class="fa fa-check  text-success"></i> Можливість списання  товару  в документі Замовлення
                        <br> <i class="fa fa-check  text-success"></i> Відмітка виконання послуг в документі  Рахунок-фактура
                     
                        <br> <i class="fa fa-check  text-success"></i> Виправлення та доповнення
                        <br><br> <small><i class="fa fa-download text-info"></i> 
                                    Для оновлення версії оновити папки app i templates  з <a href="/updates/update-8.2.3.zip"> архіву </a>
                                    або з <a class="link" href="https://github.com/leon-mbs/zstore/releases/tag/8.2.3">GitHub</a>
                                </small>
                 </p>   
                 
                 
                <p class="mb-2 mt-3"><span class="font-weight-bold">v8.2.2 (2026-05-12) </span>
                        <br> <i class="fa fa-check  text-success"></i> Деталізація в  звіті  Рух по складу
                        <br> <i class="fa fa-check  text-success"></i> Виправоення в  звіті  Обмеження системи
                         <!--   <br> <i class="fa fa-check  text-success"></i> Двофакторна аутентифікація (в  профілі користувача)  -->
                        <br> <i class="fa fa-check  text-success"></i> Виправлення та доповнення
                        <br><br> <small><i class="fa fa-download text-info"></i> 
                                Для оновлення версії оновити папки app i templates  з <a href="/updates/update-8.2.2.zip"> архіву </a>
                                або з <a class="link" href="https://github.com/leon-mbs/zstore/releases/tag/8.2.2">GitHub</a>
                                </small>
                 </p>   
                       
                 <p class="mb-2 mt-3"><span class="font-weight-bold">v8.2.1 (2026-04-24) </span>
                        <br> <i class="fa fa-check  text-success"></i> Виправлення та доповнення
                        <br><br> <small><i class="fa fa-download text-info"></i> 
                                Для оновлення версії оновити папки app i templates  з <a href="/updates/update-8.2.1.zip"> архіву </a>
                                або з <a class="link" href="https://github.com/leon-mbs/zstore/releases/tag/8.2.1">GitHub</a>
                                </small>
                 </p>              
                 <p class="mb-2 mt-3"><span class="font-weight-bold">v8.2.0 (2026-04-18) </span>
                                                   
                                                                           
                        <br> <i class="fa fa-check  text-success"></i> Модуль дропшипінгу та фулфілменту  <a href="/ext#id18" target="_blank">опис</a>
                        <br> <i class="fa fa-check  text-success"></i> Форма ведення обліку товарних запасів (для податкової) 
                        <br> <i class="fa fa-check  text-success"></i> Режим офіціанта (для мобільних телефонів) в АРМ кафе 
                         
                        <br><br> <small><i class="fa fa-download text-info"></i> 
                                Для оновлення версії оновити папки app i templates  з <a href="/updates/update-8.2.0.zip"> архіву </a>
                                або з <a class="link" href="https://github.com/leon-mbs/zstore/releases/tag/8.2.0">GitHub</a>
                            <br>Виконати скрипт  update810to820.sql для  оновлення  БД вручну  або в  програмі на  сторінці Оновлення 
                         
                               </small>

                 </p>                    
                 
                 
                 
                 
                    <p class="mt-4">
                        <span class="font-weight-bold">v8.1.4</span> <small>(2026-03-14) </small>   
                           <br>
                          <br>   <span style="display:block"> <i class="fa fa-check  text-success"></i> X-Звіт (для Чекбокс}  </span> 
                           <br>  <span style="display:block"> <i class="fa fa-check  text-success"></i> Образ для Docker   </span>   
                           <br>  <span style="display:block"> <i class="fa fa-check  text-success"></i> Виправлення та доповнення  </span>
                           <br>
                         <small><i class="fa fa-download text-info"></i> 
                                Для оновлення версії оновити папки app i templates  з <a href="/updates/update-8.1.4.zip"> архіву </a>
                                або з <a class="link" href="https://github.com/leon-mbs/zstore/releases/tag/8.1.4">GitHub</a>
                                </small>
                                
                                 
                 </p>  
                 
                      
                  
                  <p class="mb-2 mt-3"><span class="font-weight-bold">v8.1.2 (2026-02-04) </span>
                        <br> <i class="fa fa-check  text-success"></i> Варіації в продуктах  кафе   <a href="/zstoreusage#food">Детальніше</a> 
                        <br> <i class="fa fa-check  text-success"></i> Виправлення та доповнення
                        <br><br> <small><i class="fa fa-download text-info"></i> 
                                Для оновлення версії оновити папки app i templates  з <a href="/updates/update-8.1.2.zip"> архіву </a>
                                або з <a class="link" href="https://github.com/leon-mbs/zstore/releases/tag/8.1.2">GitHub</a>
                                </small>
                 </p>       
          
                  <p class="mb-2 mt-3"><span class="font-weight-bold">v8.1.0 (2026-01-12) </span>
                                                   
                                                                           
                        <br> <i class="fa fa-check  text-success"></i>  Облік акцизних марок (в  АРМ кассира  i  АРМ кафе).  Звіт по  акцизних марках
                        <br> <i class="fa fa-check  text-success"></i> Звіт Обмеження  системи (за  мотивами ТОС  Голдратта) 
                         
                        <br><br> <small><i class="fa fa-download text-info"></i> 
                                Для оновлення версії оновити папки app i templates  з <a href="/updates/update-8.1.0.zip"> архіву </a>
                                або з <a class="link" href="https://github.com/leon-mbs/zstore/releases/tag/8.1.0">GitHub</a>
                            <br>Виконати скрипт  update800to810.sql для  оновлення  БД вручну  або в  програмі на  сторінці Оновлення 
                         
                               </small>

                 </p>   
              
                  <p class="mb-2 mt-3"><span class="font-weight-bold">v8.0.1 (2025-12-27) </span>
                                                   
                                                                           
                        <br> <i class="fa fa-check  text-success"></i> Книга  обліку доходів і видатків (в Журналі доходів і видатків)
                        <br> <i class="fa fa-check  text-success"></i> Виправлення та доповнення
                       
                         
                        <br><br> <small><i class="fa fa-download text-info"></i> 
                                Для оновлення версії оновити папки app i templates  з <a href="/updates/update-8.0.1.zip"> архіву </a>
                                або з <a class="link" href="https://github.com/leon-mbs/zstore/releases/tag/8.0.1">GitHub</a>
                         
                               </small>

                 </p>   
                  <p class="mb-2 mt-3"><span class="font-weight-bold">v8.0.0 (2025-12-20) </span>
                                                   
                                                                           
                        <br> <i class="fa fa-check  text-success"></i>  Зміна мажорного номера  версії  в  зв'язку  зі достатньою стабільністю  роботи і закінченою основною функціональністю.
                        <br> <i class="fa fa-check  text-success"></i> Функціональність з попередньої  версії не  змінилась (крім непринципових виправлень і доповнень)
                         
                        <br><br> <small><i class="fa fa-download text-info"></i> 
                                Для оновлення версії оновити папки app i templates  з <a href="/updates/update-8.0.0.zip"> архіву </a>
                                або з <a class="link" href="https://github.com/leon-mbs/zstore/releases/tag/8.0.0">GitHub</a>
                            <br>Виконати скрипт  update6180to800.sql для  оновлення  БД вручну  або в  програмі на  сторінці Оновлення 
                         
                               </small>

                 </p>   
                                      
                  <p class="mb-2 mt-3"><span class="font-weight-bold">v6.18.1 (2025-12-09) </span>
                                                   
                                                                           
                        <br> Можливість підключення фіскального реєстратора  <a href="/ext#id17">Детальніше</a> 
                        <br> Можливість кастмної реалізації сервісу відправки SMS
                        <br> Виправлення та доповнення
                        <br><br> <small><b> 
                                Для оновлення версії оновити папки app i templates  з <a href="/updates/update-6.18.1.zip"> архіву </a>
                                або з <a class="link" href="https://github.com/leon-mbs/zstore/releases/tag/6.18.1">GitHub</a>
                            
                            </b>  </small>

                 </p>   
                                 
                
                    
        
                  <br>


                </div>


            </div>
        </div>
    </section>


</body>

</html>