<html>

<head>
    <meta name="description" content="Проекты,  связанные с  фреймворком Zippy">

    <title>Органайзер</title>
</head>

<body>

    <section class="znote">
        <div class="container">

            <div class="row">
                <div class="col-sm-12   text-format">
                    <h2 id="znote" class="znote__title title-h3 title-center">Zippy Note</h2>
                    <div class="znote__text">
                        <p>
                            <strong>Zippy Note</strong> – Менеджер персональных записей (блокнот, органайзер, база знаний),
                            представляющий возможность сохранения и упорядочивания пользовательских записей в иерархическом виде.
                            <br>Контент разделяется между пользователями, поэтому может работать как SAAS.
                        </p>

                        <p>Проект возник в результате <a class="link" target="_blank" href="https://habrahabr.ru/post/316814/">статьи</a> на
                            Хабре </p>
                        <p>Основной репозитарий на <a class="link" target="_blank" href="https://github.com/leon-mbs/zippynote">GitHub</a>
                        </p>
                        <p><a class="link" target="_blank" href="http://znote.zippy.com.ua/">Демо версия</a> вход admin@admin.admin пароль
                            admin
                        </p>
                        <P>
                            Пользователи, не являющиеся IT специалистами
                            могут <a class="link" class="link" target="_blank" href="https://zippy.com.ua/download/znotesrv.zip">скачать</a>
                            "коробочную" версию - сайт упакован в архив вместе с веб-сервером и сервером БД (для windows 7 и выше).

                        </p>
                    </div>

                    <a class="link" data-toggle="lightbox" class="screens" href="http://zippy.com.ua/download/znote.jpg"><img
                            class="znote__screen screen" src="http://zippy.com.ua/download/znote.jpg"></a>
                    <a class="link" data-toggle="lightbox" class="screens" href="http://zippy.com.ua/download/znote.png"><img
                            class="znote__screen screen" src="http://zippy.com.ua/download/znote.jpg"></a>
                </div>
            </div>

        </div>
    </section>



</body>

</html>