<html>

<head>
    <meta name="description" content="Безкоштовна програма для складського обліку з веб-інтерфейсом і відкритим кодом ">
    <title>CRM система для складського обліку | Документація розробника</title>

</head>

<body>


    <section class="documentation">
        <div class="container ">
            <div class="row">

       

     <div class="col-12">
                    <h1 class="documentation__title title-h2 title-center">Документація розробника</h1>                    
                </div>

                <div class="manual-menu col-12">
                    <ul style=" line-height: 1.4em;" class="list-unstyled manual__list">

                        <li ><a class="ml-2 link link-anchor" href="#arch">Архітектура</a>  </li>
                        <li ><a class="ml-2 link link-anchor" href="#data">Структура даних інформаційної                                системи </a></li>
                        <li ><a class="ml-2 link link-anchor" href="#meta">Структура основних об'єктів </a></li>

                        <li ><a class="ml-2 link link-anchor" href="#tables">Опис  таблиць БД </a></li>
                        <li ><a class="ml-2 link link-anchor" href="#custom">Можливості кастомізації </a></li>
                    </ul>
                </div>
                <div class="manual-content text-format">



                    <h2 id="arch" class="documentation-content__title title-h3">Архітектура</h2>
                    <h3 class="documentation-content__title title-h4">Архітектура програми</h3>

                    <p>
                        З точки зору програми, облікова система базується на архітектурі, яка визначається фреймворком Zippy.
                        У зв'язку з чим, розробнику слід ознайомиться зі сторінками проектів
                        <a class="link" href="https://zippy.com.ua/frm">Фреймворк Zippy</a> і <a class="link"
                            href="https://zippy.com.ua/zdb"> Zippy
                            DB</a>
                        <br>
                        Стилі програми засновані на Twitter Bottstrap. Верстка сторінки, бічне меню та інше зроблено на адмінці AdminLTE2.
                        <br>
                        У загальному випадку сторінку можна умовно розділити на бекенд і фронтенд. Бекенд - це PHP файл (папка pages),
                        фронтенд - шаблон (папка templates/pages). Також у шаблонах є папка printforms із шаблонами друкованих форм
                        документів
                        та звітів.
                        Файл бекенда по суті є комбінацією контролера та моделі - методи є методами контролера, що реагують на події
                        фронтенда,                тобто на дії
                        Користувача, а поля та zippy-компоненти - це модель, що зберігає стан сторінки.
                        <br><br>
                        Існує кілька варіантів взаємодії між фронтендом і бекендом, які можуть використовуватися як окремо, так і в
                        комбінації
                        один з одним.
                        <br>
                        <br><b>Через компоненти zippy</b>
                        <br>
                        Використовується для двостороннього обміну між фронтендом та бекендом. Насамперед із елементами введення з форм,
                        а також для виведення таблиць, в яких є елементи виклику методів бекенда (наприклад, іконки редагування).
                        У цьому випадку фронтенд-компонент прив'язується через атрибут zippy до бекенд частини компонента та забезпечує
                        двосторонній обмін даними, реакцію на події,
                        а також персистентність стану сторінки, оскільки сторінка разом з компонентами та їх даними кешуються в сесії,
                        та відновлюється після перезавантаження.
                        <br>Крім цього, основні компоненти мають вбудовану можливість обробки подій (викликів бекенду) за допомогою ajax
                        запитів
                        без перезавантаження сторінки.
                        <br>

                        <br><b>За допомогою шаблонізатора Mustache</b>
                        <br>
                        Якщо виведення даних одностороннє, тобто тільки у бік фронтенду і не передбачає введення даних
                        (наприклад показати/приховати якийсь блок залежно від даних, вивести якусь інформацію і т.д.),
                        використовується шаблонізатор Mustache, який працює за типом шаблонізаторів Twig або Smarty. Таке рішення набагато
                        простіше, ніж за допомогою компонентів Zippy.
                        Дані шаблонізатора додаються в поле сторінки - масив $this->_tvars.
                        <br> Також за допомогою Mustache рендеруються друковані форми документів та звітів.
                        <br>

                        <br><b>Запити від javascript фреймворків</b>
                        <br>
                        Для обробки запитів, не пов'язаних із подіями компонентів zippy, передбачено виклик
                        методів сторінок за ім'ям. Для цього слід використовувати javascript функцію callpagemethod, яка йде з фреймворком
                        та формує правильний url для виклику сторінки. Метод розташований у
                        /vendor/leon-mbs/zippy/assets/js/zippy-bundle.js.
                        <br>
                        Зазвичай на фронті використовується бібліотека jquery або, у складніших випадках (наприклад, віджет перегляду
                        документа                         або сторінка нарахування зарплати), фреймворк Vue, але
                        може бути використание будь-яке Javascript рішення.


                        <br>

                    </p>
                
                    <h3 class="documentation-content__title title-h4">Архітектура бізнес-логіки</h3>
                    <p> Програма складається з двох базових частин - ядра з загальними сторінками
                        і функціональністю (користувачі, управління системою і т.д.) і, власне,
                        облікової частини куди входять об'єкти метаданих (документи, довідники, звіти), що реалізують основну
                        бізнес-логіку.<br>
                        У термінах 1С можна умовно назвати ці частини платформою і конфігурацією.
                        <br> <br> Основа облікової частини - об'єкти метаданих (довідники, документи, звіти, журнали).
                        Об'єкти спроектовані з мінімальною залежністю один від одного і доступні через загальне меню, яке
                        будується
                        динамічно, згідно зі списком об'єктів, що задається адміністратором.
                        Це дозволяє незалежно модифікувати їх без зміни інших об'єктів і модулів системи.
                        Розробники за аналогією з конструктором Lego можуть легко створювати різні конфігурації (в термінології
                        1С) під різні типи бізнесу,
                        обмінюватися реалізацією окремих об'єктів системи та друкованими формами простим копіюванням файлів.
                        <br><br>
                        Алгоритми бізнес-логіки реалізуються безпосередньо на мові PHP.
                        <br>Шаблони (бланки) друкованих форм документів і звітів виконані в чистому HTML,
                        що дозволяє як друкувати їх безпосередньо, так і експортувати в Word, Excel або PDF, а також
                        коригувати їх за допомогою звичайного текстового редактора.
                    </p>
                   
                   
                    <h3 class="documentation-content__title title-h4">Основні бізнес-сутності</h3>
                    <table class="table table-condensed">
                        <tr>
                            <td><b>ТМЦ</b></td>
                            <td> товари, матеріали, продукція</td>
                        </tr>
                        <tr>
                            <td><b>Склади</b></td>
                            <td> склади, магазини</td>
                        </tr>
                        <tr>
                            <td><b>Контрагенти</b></td>
                            <td> постачальники, покупці</td>
                        </tr>
                        <tr>
                            <td><b>Грошові рахунки</b></td>
                            <td> каси, банки</td>
                        </tr>
                        <tr>
                            <td><b>Документи</b></td>
                            <td> первинні документи що фіксують господарські операції</td>
                        </tr>
                    </table>
                    <p>
                        У відповідності з архітектурою фреймворка, всі бізнес-сутності реалізовані класами, наслідуваними від <code>
                            <a class="link" href="https://frm.zippy.com.ua/api/ZCL.DB.Entity.html" target="_blank">Entity</a></code>.
                    </p>

                    <h2 id="data" class="documentation-content__title title-h3">Структура даних інформаційної системи</h2>


                    <p>
                        <b>Аналітичний облік </b>ведеться на підставі руху матеріальних і грошових коштів, відповідно до
                        господарських операцій.
                        Система не зберігає початкові і поточні залишки за період (використовується повний перерахунок рухів).
                        Це спрощує огранізацію даних і дозволяє вводити і змінювати інформацію заднім числом, а також переднім,
                        що дозволяє виконувати
                        резервування товару і планування операцій.
                        <br> Аналітичні дані зберігаються в одній таблиці <i>entrylist</i>. По суті, таблиці фактів в ROLAP де
                        вимірювання - бізнес-сутності.
                        Збільшення запасів відображається записом з позитивними значеннями кількості і суми, зменшення -
                        негативними, таким чином залишки і обороти по товару
                        виходять простим підсумовуванням за період.


                        <br>
                        Також аналітичні дані, як і дані, що посилаються на інші бізнес-суті,
                        зберігаються в самому документі в упакованому вигляді. Подібна денормалізація дозволяє уникнути
                        додаткових звернень до БД, а також дозволяє зберігати "історичні" дані в документі
                        - документ зберігає всі атрибути такими, якими вони були на момент створення документа.
                    </p>

                    <p><b>Складський облік</b> ведеться по партіях. Партія - той же товар за тією ж обліковою
                        ціною (ціна надходження) незалежно від постачальника. Записи по рухах на складі зберігаються в таблиці
                        <i>store_stock</i>,
                        де крім посилання на склад і на ТМЦ вказана облікова ціна (партія).
                    </p>

                    <h2 id="meta" class="documentation-content__title title-h3">Структура основних об'єктів </h2>
                    <h3 class="documentation-content__title title-h4">Довідники</h3>
                    <p>
                        Елементи довідників - об'єкти, що знаходяться в просторі імен <code> App\Entity</code>. Об'єкти
                        призначені для зберігання довідкових бізнес-сутностей.
                        <br> Для редагування переліків об'єктів призначені відповідні сторінки в просторі імен <code>
                App\Pages\Reference</code>.

                    </p>
                    <h3 class="documentation-content__title title-h4">Звіти</h3>
                    <p>
                        Сторінки звітів знаходяться в просторі імен <code> App\Pages\Report</code>.
                        З кожним звітом пов'язана друкована форма, яка знаходиться в папці <code> /templates/printforms/report</code>
                    </p>
                    <h3 class="documentation-content__title title-h4">Журнали</h3>
                    <p>
                        Журнали об'єднують об'єкти та бізнес-сутності за типом використання. Наприклад - журнал документів, журнал
                        замовлень.
                        <br>Сторінки журналів знаходяться в просторі імен <code> App\Pages\Register</code>.
                    </p>

                    <h3 class="documentation-content__title title-h4">Документи</h3>

                    <p>
                        Для кожного типу документа реалізований клас в просторі імен <code>App\Entity\Doc</code>, успадкований
                        від базового класу <code>Document</code>.
                        Клас документа реалізує бізнес-логіку відповідно до типу госп. операції і забезпечує зберігання
                        документа в БД.
                        З кожним типом документа пов'язані сторінка редагування документа в просторі імен <code>
                App\Pages\Doc</code> і шаблон друкованої форми в папці <code> /templates/printforms</code>.
                        <br> <br>
                        Кожен клас документа
                        передбачає два методи: <code>generateReport</code> и <code>Execute</code>.
                        Метод <code>generateReport</code> призначений для заповнення друкованої форми даними документа.
                        Метод <code>Execute</code> змінює данні аналітичного обліку - фіксує рух матеріальних і грошових
                        коштів.
                        За збереження документа в БД та інші загальні операції над усіма типами документів відповідає базовий
                        клас <code>Document</code>.
                        <br> Всі документи зберігаються в одній таблиці. Таблиця містить
                        кілька загальних полів (наприклад: дати, номер документа) і текстове поле content де зберігається деталізація
                        документа у вигляді XML.
                        Використання XML дозволяє, при необхідності, виконувати пошук за документами, орієнтуючись на XML теги,
                        а також використовувати <code>XPath</code>. Упаковку і розпаковування детальних даних документа виконує
                        базовий клас.
                         Для цього клас містить масив <code>$headerdata</code> для шапки та таблиць
                         частини документа.
                         Сторінка редагування документа повинна записувати атрибути до цього масиву. Таблична частина
                         пакується в одне з полів, наприклад $doc->packDetails('detaildata', $itemlist);
                        <br>
                        <br>Деякі  поля  загального признаяення,яких слід  притримуватись для сумісності документів та правильної работи бізнес-логіки .
                        
                        <table style="font-size:smaller" class="table table-sm">
                        <tr><td>headerdata['author']</td><td>Автор (створювач)  документа </td></tr>
                        <tr><td>user_id</td><td>Користувач  ассоційований з документом. За замовчанням- автор </td></tr>
                        <tr><td>customer_id</td><td> Коннтрагент (якщо заданий)</td></tr>
                        <tr><td>branch_id</td><td>Філія,якщо ввімкнена  підтримка </td></tr>

                        <tr><td>parent_id</td><td>Батьківський  документ (підства) </td></tr>
                        <tr><td>state</td><td>Статус </td></tr>
                        <tr><td>headerdata['store']</td><td>id  складу </td></tr>
                        <tr><td>headerdata['time']</td><td>Час (document_date має  тільки дату)  </td></tr>
                        <tr><td>headerdata['payment']</td><td>id  грошового рахунку для оплати (каса, банк) </td></tr>
                        <tr><td>amount</td><td>Сума по  документу (по  позиціях) </td></tr>
                        <tr><td>payamount</td><td>Сума  дл сплати (amount мінус наприклад знижка) </td></tr>
                        <tr><td>payed</td><td> Фактична оплата (сума по  таблиці платажів)</td></tr>
                        <tr><td>headerdata['payed']</td><td> Внесена  оплата.  Для  відповідного поля   на сторінці редагування  документу. Може не збігатись з payed  наприклад при  частковій  оплаті</td></tr>
                        <tr><td>headerdata['detaildata']</td><td> Упакована  таблична частина.</td></tr>
                        </table>
                    </p>


                    <p>
                        Всі об'єкти зареєстровані в таблиці метаданих на відповідній сторінці налаштувань.
                        По таблиці метаданих автоматично формується меню.
                        <br>У таблиці вказується тип, назва об'єкта, ім'я класу (простір імен обчислюється за типом),
                        група (для другого рівня меню).
                    </p>
                    <h3 class="documentation-content__title title-h4">Приклад створення документа</h3>
                    <p>
                        Припустимо потрібно додати в систему документ Товарно-транспортна накладна. Необхідно внести запис в
                        метадані, створити
                        сторінку редагування документа, клас-сутність для зберігання документа в БД і HTML шаблон друкованої
                        форми.</p>

                    <b>Необхідна послідовність:</b>

                    <ol>

                        <li>Створюємо в просторі імен <code>App\Entity\Doc</code> клас сутності <code>TTN</code>, успадкований
                            від класу <code>Document</code>.
                        </li>
                        <li>Перевизначити методи <code>generateReport</code> і <code>Execute</code>.
                            Метод <code>Execute</code> виконує відповідні записи в таблиці аналітичного обліку.
                            Метод <code>generateReport</code> звертається до генератора звітів, передаючи йому шаблон друкованої
                            форми і дані з деталізації документа, створюючи на виході
                            HTML файл із заповненим бланком для друку або експорту.
                        </li>
                        <li>Файл з класом сутності копіюємо в каталог <code>/app/entity/doc/</code></li>
                        <li>Створюємо сторінку редагування документа. Сторінка створюється з ім'ям класу
                            <code>BankStatement</code> в просторі імен <code>App\Pages\Doc</code> як звичайна сторінка
                            відповідно
                            з архітектурою фреймворка Zippy. Файл з класом сторінки створюємо в каталозі
                            <code>app/pages/doc</code>, шаблон сторінки - в каталозі <code>/templates/pages/doc</code>.
                        </li>
                        <li>Створюємо файл ttn.tpl з друкарською формою в каталозі <code>/templates/printforms</code>.</li>
                        <li>Додаємо запис для документа на сторінці налаштування меню з ім'ям класу TTN.</li>
                    </ol>

                    <p> Документ ТТН з'явиться в головному меню і буде готовий до використання.

                    </p>

                 
                    
                    
                     <h2 id="tables" class="documentation-content__title title-h3">Опис  таблиць БД</h2>
                      <span>Зміна  даних  напряму в  таблиці  не  рекомендується. Більшість  операцій виконується  через  відповідні Entity</span>
                     <table class="table table-sm">
                      <tr><td><b>acc_entry</b></td><td>Бухгалтерські проводки</td></tr>
                      <tr><td><b>branches</b></td><td>Філії</td></tr>
                      <tr><td><b>contracts</b></td><td>Договори з контрагентами</td></tr>
                      <tr><td><b>crontask</b></td><td>Завдання планувальника</td></tr>
                      <tr><td><b>custacc</b></td><td>Балансові рахунки  контрагентів. При проведенні  документу  виконується  рух  по  дебету або кредиту. 
                               Позитивнмй баланс - кредитовий борг  фірми контрагенту, негативний - дебетовий.  </td></tr>
                      <tr><td><b>custitems</b></td><td>Товари  у  постачальника</td></tr>
                      <tr><td><b>customers</b></td><td>Контрагенти </td></tr>
                      <tr><td><b>docstatelog</b></td><td>Исторія  статусів документіа</td></tr>
                      <tr><td><b>documents</b></td><td> Документи. Поля: amount - сума  по  документу, payamount - до сплаты, payed - оплачено (сума  по  таблиці payments)  </td></tr>
                      <tr><td><b>empacc</b></td><td> Особовий рахунок  співробітника. В  першу чергу для  руху по зарплаті.</td></tr>
                      <tr><td><b>employees</b></td><td>Співробітники. Поле login з'єднує  з користувачем  системи (аккаунтом) </td></tr>
                      <tr><td><b>entrylist</b></td><td>Рух  по  складу </td></tr>
                      <tr><td><b>equipments</b></td><td>Основні засоби та обладнання </td></tr>
                      <tr><td><b>eqentry</b></td><td>Проводки по ОЗ </td></tr>
                      <tr><td><b>eventlist</b></td><td>Події, використовуєтся  для  контрагентів  і завдань </td></tr>
                      <tr><td><b>files</b></td><td> Загружені  файли </td></tr>
                      <tr><td><b>filesdata</b></td><td>Зміст  файлів.  Окрема  таблиця  щоб не  грузити всю  БД </td></tr>

                      <tr><td><b>images</b></td><td> Зображення </td></tr>
                      <tr><td><b>iostate</b></td><td>Записи  прибутків та  видатків </td></tr>
                      <tr><td><b>issue_*</b></td><td>Таблиці модуля Проекти  та завдання  </td></tr>
                      <tr><td><b>item_cat</b></td><td> Категорії (групи) ТМЦ </td></tr>
                      <tr><td><b>item_set</b></td><td> Комплекти для  ТМЦ</td></tr>
                      <tr><td><b>items</b></td><td> Номенклатура ТМЦ </td></tr>
                      <tr><td><b>keyval</b></td><td>Допоміжна таблиця для  даних типу ключ-значення </td></tr>
                      <tr><td><b>messages</b></td><td>Повідомлення </td></tr>
                      <tr><td><b>metadata</b></td><td> Метадані бізнес  об`єктів (документи, довідники, звіти, журнали... Формує основне меню програми) </td></tr>
                      <tr><td><b>mfund</b></td><td>Грошові рахунки    </td></tr>
                      <tr><td><b>note_*</b></td><td>Таблиці  модуля  Органайзер </td></tr>
                      <tr><td><b>notifies</b></td><td>Повідомлення </td></tr>
                      <tr><td><b>options</b></td><td>Загальні налаштування  та  налаштування  модулів </td></tr>
                      <tr><td><b>parealist</b></td><td>Виробничі дільниці </td></tr>
                      <tr><td><b>paylist</b></td><td> Оплати (рух  по грошових рахунках)</td></tr>
                      <tr><td><b>poslist</b></td><td>POS термінали </td></tr>
                      <tr><td><b>prodproc</b></td><td> Виробничі  процеси </td></tr>
                      <tr><td><b>prodstage</b></td><td>Виробничі етапм </td></tr>
                      <tr><td><b>promocodes</b></td><td>Промо коди </td></tr>
                      <tr><td><b>roles</b></td><td> Ролі користувачів </td></tr>
                      <tr><td><b>saltypes</b></td><td>Типи нарахувань та  утримань по зарплаті </td></tr>
                      <tr><td><b>services</b></td><td> Послуги, роботи </td></tr>
                      <tr><td><b>shop_*</b></td><td>Таблиці онлайн-каталогу </td></tr>
                      <tr><td><b>stats</b></td><td> Службова  таблиця для статистичних даних </td></tr>
                      <tr><td><b>store_stock</b></td><td> Партії  товарів.  Пов'язує  товар, склади  та облікові ціни. Поле qty (кількість) вираховується  за допомогою триггерів  при зміні  таблиці  entrylist
                      Поле  partion - облікова  ціна. Додаткова розбивка  якщо ввімкнений облік по  серіях  </td></tr>
                      <tr><td><b>stores</b></td><td>Склади </td></tr>
                      <tr><td><b>subscribes</b></td><td> Підписки на події в системі (наприклад зміна статусу документу) </td></tr>
                      <tr><td><b>substitems</b></td><td> Заміни ТМЦ </td></tr>
                      <tr><td><b>taglist</b></td><td>Теги </td></tr>
                      <tr><td><b>timesheet</b></td><td> Облік робочого  часу </td></tr>
                      <tr><td><b>users</b></td><td> Користувачі  системи (акаунти). admin - невидалюваний користувач </td></tr>
                      
 

                      </table>
             
                <h2 id="custom" class="documentation-content__title title-h3">Можливості кастомізації</h2>
                <h3   class="documentation-content__title title-h4">Кастомні шаблони</h3>
                 <p>
                  У системі передбачена можливість створення шаблонів сторінок та друкованих форм, які не будуть перезатиратись під час оновлення. 
                    Для цього потрібно зробити файл на основі основного та додати в назву відповідного файлу закінчення _custom. 
                    Наприклад, ttn_custom.html або ttn_ps_custom.tpl. 
                    Система спочатку шукатиме файл з таким закінченням. 
                   <br>Шаблони сторінок  в <i>/templates/pages</i>, друковані форми в <i>/templates/printforms</i> 
                   <br>У разі використання кастомних шаблонів розробник сам повинен слідкувати за оновленнями  і вручну переносити зміни з основного файлу.       
                 </p>
                  
                
                  

                </div>


            </div>
        </div>
    </section>

</body>

</html>