<html>

<head>
    <meta name="description" content="Безкоштовна програма для складського обліку з веб-інтерфейсом і відкритим кодом  ">
    <title>CRM система для складського обліку.| Керівництво користувача</title>

</head>

<body>


    <!-- <script>
        $(document).ready(function () {
            function scrollToSection(target) {
                if (target.length) {
                    $('html, body').stop().animate({
                        scrollTop: target.offset().top - 100
                    }, 1500);
                }
            }

            $('a[href^="#"]').on('click', function (event) {
                event.preventDefault();
                var target = $($(this).attr('href'));
                scrollToSection(target);
            });
        });
    </script> -->

    <section id="manual" class="manual">
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <h1 class="manual__title title-h2 title-center">Керівництво користувача</h1>
                </div>

                <div class="manual-menu col-12">
                    <ul style=" line-height: 1.4em;" class="list-unstyled manual__list">
                        <li> <a class="ml-2 link link-anchor" href="#basic">Основні принципи</a> </li>

                        <li><b>Початок роботи</b> </li>
                        <li> <a class="ml-2 link link-anchor" href="#rset">Загальні налаштування</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#users">Користувачі і ролі</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#rdoc">Журнал документів</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#ritem">Номенклатура і склади</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#rcon">Контрагенти і контакти</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#start">Внесення початкових даних</a> </li>
                        <li><b>Основні бізнес-процеси</b> </li>
                        <li> <a class="ml-2 link link-anchor" href="#buying">Закупівля</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#selling">Продажа</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#orttn">Замовлення і доставки</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#services">Послуги</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#prod">Виробництво</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#food">Облік для закладів громадського харчування</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#salary">Розрахунок та нарахування зарплати</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#payment">Облік руху грошових коштів</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#osnma">Облік основних засобів та обладнання</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#action">Програма лояльності</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#timesheet">Облік робочого часу</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#office">Офісні документи</a> </li>
                        <li> <b> Додаткові функції</b> </li>
                        <li> <a class="ml-2 link link-anchor" href="#snumber">Облік по серійним номерам виробника</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#branch">Підтримка філій</a> </li>

                        <li> <a class="ml-2 link link-anchor" href="#subs">Підписка на події та розсилка повідомлень</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#print">Друковані форми</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#cron">Планувальник</a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#comdrop">Комісійна торгівля </a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#account">Бухгалтерський облік </a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#nds">Облік ПДВ </a> </li>
                        <li> <a class="ml-2 link link-anchor" href="#excise">Облік акцизних марок </a> </li>
                        <li> <a class="ml-2 link link-anchor" href="/ext"><b>Додаткові модулі та інтеграції <i class="fa fa-arrow-right"></i></b></a> </li>
                    </ul>
                </div>
                <div class="manual-content text-format">

                    <h2 id="basic" class="manual-content__title title-h3 title-center">Основні принципи</h2>
                    <p>Основна структура, інтерфейс та термінологія програми виконана за зразком найбільш поширеної програми 1С,
                        що може спростити перехід для користувачів, які раніше працювали з іншими обліковими програмами. Насамперед потрібно
                        засвоїти кілька базових понять обліку таких як первинний документ, довідник, проводка по складу (при бажанні можна
                        ознайомитись у документації та навчальний матеріалах 1С).
                    </p>
                    <p><b>Документ</b> (первинний документ) - призначений для фіксації змін господарських активів. Під час проведення
                        документа
                        виконуються проводки (зміни) за складом та/або
                        касі (грошового рахунку). Документ може мати різні статуси. Проводки виконуються під час переводу документа зі
                        статусів
                        Новий або Відредагований у статуси Проведено, Виконано тощо.
                        Документ може бути скасовано, при цьому скасовуються всі проводки (тобто якщр наприклад було списано товар він
                        первернется назад на склад). Потім документ може бути видалений або відредагований та перепроведений.
                        <br> У документа є кілька обов'язкових атрибутів, таких як номер, дата, автор та необов'язкових залежно від виду
                        документів.
                        Крім "шапки" з атрибутами, у більшості випадків документ містить табличну частину з позиціями. Як правило, позиції
                        це
                        вибираються з відповідних довідників ТМЦ
                        (товарно-матеріальні цінності) чи роботи (послуги). Також документи мають друковану форму. Усі документи мають
                        широку      друкарську форму      а також може бути додаткова форма розрахована на вузький (чековий) принтер. 
                        Широка форма відображається за  замовчанням                         під час перегляду документа
                        а також може бути роздрукована оба експортована в ексель або pdf.
                        <br><b>Контрагент</b> (покупаць, постачальник) - фізична або юридична особа (або держаний орган) з якою
                        виконуются якійсь бізнес операції - закупка, продажа, переведення коштів.
                        <br><b>Номенклатура</b> - перелік ТМЦ або рібіт, послуг в відповідному довіднику.
                        <br><b>Довідник</b> - перелік різноманітих бізнес об'єктів - ТМЦ,склади, контрагенти, співробітники тощо.
                        Запис в довіднику (карточка) включає в себе різноманітні атрибути данного типу об1єктів починаючи з назви
                        (найменування).
                        <br><b>Журнал</b> - об'єднуе дані за тематикою. Зазвичай Журнали це списки документів. Крім згального журналу з
                        усіма  документами є журнали продаж, закупок, замовлень тощо.
                        В спеціалізованих журналах зазвичай є додаткові функції в залежності від тематики журналу. Наприклад в журналі
                        замовлень
                        можна оперативно змінювати статус замовлення.
                        <br> Загальний журнал містить всі документи і зазвичай є основною робочою сторінкою користувача оскільки показує в
                        одному місці все що відбуваєтся з господарськими активами..

                        <br><b>Звіт</b> - призначений для перегляду рызноманітних аналітичнмх данних. Звіти мають друковані форми,
                        призначені
                        для перегляду данних, друку або експорту.
                        <br><br> Також є кілька сервісних сторінок таких як робоче місце (АРМ) касира де можна вводити чеки послідовно, не
                        пекидаючи сторінку
                        <br> Користувачам системи можуть бути призначені різні ролі де прописаний доступ до тих щи інших бізнес об'єктів.
                        Наприклад продавцям може бути закритий доступ до закупочних документів.
                    </p>




                    <h2 class="manual-content__title title-h3 title-center">Початок роботи</h2>
                    <h3 id="rset" class="manual-content__title title-h4">Загальні налаштування</h3>
                    <p>
                        Після установки програми користувач може виконати такі дії:
                        <br>Змінити пароль admin (обов'язково якщо програма  онлайн) в профілі користувача.
                        <br>Там же бажано становити дефолтні значення для складів і грошових рахунків, які будуть за замовчуванням підставлятися в документах.
                        <br>Ввести дані компанії.
                        <br>Ввімкнути необхідні модулі та розширення  на сторінці адміністратора.
                        <br> 
                        <br> За неохідності:
                        
                        <br>Налаштувати меню - непотрібні пункти можна вимкнути. 
                        <br>Налаштувати меню швидкого доступу (кнопки вгорі) у довіднику ролей.
                        <br>Додати,   нових користувачів та нові ролі, а також права доступу до об'єктів програми.
                        <br>Встановити на сторінці загальних налаштувань необхідні налаштування .
                        <br>Ввести перелік номенклаури у відповідному довіднику, або занести ТМЦ за допомогою імпорту з Excel файлу.
                        <br>Встановити відпускні ціни (націнки). Націнки можна встановити на товар або категорію.
                        <br>Задати грошові рахунки - готівка (каси) та безготівка (банки).
                        <br>Наповнити довідник співробітників, якщо такі є, та, за необхідності, прив'язати їх до логінів користувачів  програми.
                        <br><small><a class="fa fa-exclamation-triangle"></a> Конфігурацію системи (на  сторінці адміністратора) бажано встановити до початку активної роботи </small>
                    </p>
                    <h3 id="users" class="manual-content__title title-h4">Користувачі і права доступу.</h3>
                    <p> Користувачів та ролі системи створює адміністратор - користувач з логіном admin.
                        Ролям може бути заданий рівень доступу до докуменів інших ресурсів. Потім роль може бути призначена
                        користувачам.

                        <br> За замовчуванням створюється роль admins, користувачі якої мають доступ до всієї системи.
                        У створюваних ролях може бути вказаний конкретний доступ до документів та довідників (читання, редагування,
                        виконання).
                        Для ролі можна вказати доступні віджети першої сторінки та оперативне меню.
                        <br> Також логін користувача може бути вказаний в довіднику співробітників, тоді в автора документа і
                        історії статусів буде відображатись ім'я співробітника, а не логін.


                    </p>


                    <h3 id="rdoc" class="manual-content__title title-h4">Журнал документів</h3>
                    <p> Журнал документів - регістр, де зберігаються всі документи, створені в системі.
                        <br><strong>Документ</strong> - бізнес-сутність, яка фіксує виконання господарських операцій -
                        зміна стану складів, грошових і особових рахунків. Дана операція називається проведенням документа
                        (використовується звичний для користувачів 1С термін).
                        <br> Документ може знаходитись в різних станах - <i>новий</i>,<i>проведено</i>,<i>скасовано</i> і т.д.
                        Для зміни проведеного документа потрібно скасувати проведення. В цьому випадку скасовуються проводки,
                        пов'язані з документом. В останній колонці деяких документів з'являється комбобокс, що містить перелік
                        документів,
                        які можуть бути створені (при виборі в комбобоксі) на підставі поточного.
                        <br>Статус <i>Проведено</i> зазвичай означає, що в цей момент виконуються господарські операції, такі як
                        зміни на складі.
                        При скасуванні документа автоматично відкочуються назад усі зміни. Якщо документ зберегти, натиснувши кнопку
                        Зберегти, то документ просто
                        зберігається як чернетка.
                        <br>Документ може проводитись будь якою датою як в минулому, так і в майбутньому.
                        Проведення документа майбутнім числом дозволяє реалізувати резервування товару, або вказати очікувані
                        надходження.
                        У разі зміни обставин документ може бути скасований, або перепроведений з іншими даними.
                        <br> Всі атрибути документа як шапки, так і табличній частині, зберігаються в самому документі
                        так, як це відбувається у випадку паперових документів. Тобто, у разі зміни атрибута в довіднику
                        (наприклад ім'я товару)
                        документ залишається незмінним, поки його не підготують до нової редакції.

                        <br><br>Для перегляду документа, не відкриваючи його на редагування (це відкинути редагування), потрібно
                        клікнути іконку <i class="fa fa-eye"></i>. Панель перегляду, що
                        відкривається внизу сторінки, складається з декількох вкладок.
                        У першій - друкована форма документа і іконки експорту, в залежності від типу документа.
                        Друга вкладка - коментарі, де користувачі можуть залишити примітки для себе, або інших.
                        На третій вкладці користувач може прикріпити до документа файл (наприклад, відсканований оригінал у форматі pdf),
                        а також вказати документи, пов'язані з поточним (при створенні документа на підставі іншого такий
                        зв'язок виникає автоматично).
                        На четвертій вкладці можна подивитися історію платежів, якщо такі є, і історію змін статусу документа.
                        <br><br> Номери документів генеруються автоматично. Якщо потрібно задати свій шаблон, то потрібно
                        змінити номер вручну
                        і наступна нумерація для даного типу документа піде вже від нього.
                        Номер задається у вигляді декількох букв і наступних цифр. Наприклад, для прибуткової накладної може бути
                        ПН-0001. Система перевіряє унікальність номерів ..
                        <br><br> В системі є також спеціалізовані журнали документів, наприклад, - закупівлі. У таких журналах
                        згруповані документи щодо конкретних дій. Це спрощує поділ доступу, крім того,
                        при перегляді документа в спеціалізованому журналі з'являються додаткові кнопки зміни статусу документа,
                        що дозволяє керувати життєвим циклом документів, не відкриваючи їх на редагування.

                    </p>

                    <h3 id="ritem" class="manual-content__title title-h4">Номенклатура і склади</h3>
                    <p> Довідник номенклатури служить для зберігання переліку ТМЦ. Для номенклатури можна вказати до п'яти типів
                        цін, які потім вказуються в видатковому або прибутковому документі. Також можна для зручності вказати "Категорія
                        товару"    з     довідника категорій.
                        <br> Для обліку на складі використовується облік по партіях. Партія - товар надійшов по тій же ціні,
                        незалежно від дати доставки та поставщиків. При переміщенні ТМЦ зі складу користувач вказує, яку партію
                        (Облікову вартість) використовувати. Така система дозволяє точно розраховувати прибуток по кожному
                        товару.
                        <br>Для оприбуткування  ТМЦ  на  склад  потрібно створити і провети документ Оприбуткування  ТМЦ або Прибуткова  накладна (якщо закупка).
                        <br>Для переміщення між складами використовуються документи Списання зі складу та Оприбуткування на                        склад.
                        <br>Інформацію про стан складу можна отримати в журналі Товари на складі. Історію переміщення ТМЦ можна отримати  в
                        журналі Рух ТМЦ та звіті Рух по складу.
                        <br>В довіднику ТМЦ є кнопка Налаштування де  можно при потребі ввімкнути такі  опціії як 
                        зображення в  номенклатурі або ієрархія категорій.  Такж  можна додати власні (кастомні) поля  до довідника ТМЦ
                    </p>
                    <h3 id="rcon" class="manual-content__title title-h4">Контрагенти і контакти</h3>
                    <p> Довідник контрагентів дозволяє зберігати контрагентів різних типів як покупців, так і постачальників,
                        а також їх контактні дані. Додати нового контрагента можна як беспосередньо в довіднику так і в документах.
                        <br> До кожного контрагента може бути написаний коментар, прикріплений файл,
                        а також можна вказати подію в календарі з нагадуванням, яке з'явиться в нотифікації.
                        <br> Також у довіднику можна працювати з лідами з можливістю подальшої конвертації в контрагента.
                    </p>
                    <h3 id="start" class="manual-content__title title-h4">Внесення початкових даних</h3>
                    <p>
                        Початкові залишки ТМЦ можна ввести за допомогою документа Оприбуткування товару.
                        Також є можливість імпорту номенклатури в довідник і на склад (якщо вказані кількості) а також
                        імпорту контрагентів.
                        <br>Для внесення залишків на грошові рахунки, особові рахунки співробітників або
                        баланс розрахунків з контрагентами, використовуються касові ордери.

                    </p>


                    <h2 class="manual-content__title title-h3 title-center">Основні бізнес-процеси</h2>

                    <h3 id="buying" class="manual-content__title title-h4">Закупівля</h3>

                    <p> Зазвичай закупівля виконується за допомогою прибуткової накладної. ТМЦ в позиції можна вибрати з довідника або
                        ввести за   допомогою  сканера штрих-коду (вмикається в загальних налаштуваннях). Також можна додати новий ТМЦ не переходячи в довідникю.
                        <br> Прибуткова накладна може бути створена на підставі вхідного рахунку. В такому разі оплата здійснюєтся в рахунку
                        а в                        прибутковій накладній
                        вказується передплата. Сума до сплати може бути введена не повністю тобто виникає борг.                        Доплатити можна в журналі Розрахунки з постачальниками.
                        <br>Статистику по закупках можно переглянутив звіті Звіт по закупках.
                        <br> В прибутковій накладній є можливість вказати валюту (якщо валютний облік ввімкнено в загальних налаштуваннях)
                        та її курс. Поточний курс валют задається в налаштуваннях. Курс валют зберігається в товарі та використовується при
                        формуванні відпускної цїни для обліку курсових різниць між закупкою та продажею.
                        <br>Проводки по складу виконуються вже в національній валюті.


                    </p>

                    <h3 id="selling" class="manual-content__title title-h4">Продажа</h3>

                    <p> Продажі можна реалізувати кількома способами. За допомогою Видаткової накладної (створеної беспосередньо
                        або на підставі рахунку-фактури), замовлення + ТТН, Касового чеку. Робота з касовими чеками повинна виконуватися в
                        АРМ Касира. Також з АРМ Кассира можливо фіскалізовувати чеки за допомогою ПРРО.
                        <br>Якщо оплата в кредит, розрахунки можна виконати в журналі Розрахунки з покупцями.
                        <br>Статистику по продажах можна переглянути в звіті Звіт по продажах.

                    </p>

                    <h3 id="orttn" class="manual-content__title title-h4">Замовлення і доставка</h3>
                    <p>
                      Замовлення може бути створене вручну, або створене з модуля онлайн каталогу.
                        Для замовлень виділений окремий журнал, де можна керувати статусами замовлення, не відкриваючи його на
                        редагування.
                        Початок роботи з замовленнями фіксується переводом його в статус Виконується. Також можна додавати оплати до
                        замовлення.
                        <br>  Оплата  залежить від обраного типу  оплати. При попередній оплаті (наприклад  оплата була здійснена в інтенет-магазині)  оплата  вносится  зразу.
                        При пост оплаті оплата  вносится  в журналі Розрахунки  з покупцями. В обох  випадках  оплата прив'язується до документу Замовлення. 
                        Для  списання  товарів  використовуєтся товарно-транспортна накладна (ТТН), яка  створюється на  підставі замовлення в  журналі замовлень. . 
                        Також  може бути обрана оплата  в  накадній  або касовому  чеку (звичайному або  фіскальному).  В такому  разі і  оплата  і  складське  списання  виконується 
                        одним документом.   Такой на підставі  Замовлення для оплати  може  бути створений рахунок-фактура (наприклад для юр. осіб). В такому  разі на  підставі  РФ можна  створити ТТН для відправки товарів.
                       <br> Проводки  по складу виконуются  якщо вказано Списати зі складу.  Інакше для списання  ТМЦ потрібна  ТТН (наприклад  для відправки Новою Поштою), ВН або Касовий чек.
                       <br>Документи  доставки створюються  в журналі Замовлення якщо  замовлення  в  статусі  Виконується
                         
                        
                        <br> Для накладних  є окремий журнал   Продажі. Якщо ТТН переведена в статус Доставлено і замовлення оплачено,
                        то вона автоматично закривається. Для ТТН можна вказати
                        номер декларації (наприклад, Нової Пошти) і виконавця, відповідального за доставку (наприклад, кур'єр), з
                        довідника прцівників. Якщо ввімкнено  модуль Нової Пошти можна  створити доставку з автоматичним отриманням номеру декларауії 



                    </p>
                    <h3 id="services" class="manual-content__title title-h4">Послуги</h3>
                    <p> Для оформлення замовлення на послуги або роботи використовуєтся документ Замовлення
                        послуг (Акт виконаних робіт). До позицій крім робіт можна також додати ТМц (комплектуючі або матеріали які оплачає
                        замовник).
                        Якщо вартість робіт або перелік ТМЦ до закінчення робіт невизначений можна перевести документ в статус Виконуєтся
                        без позицій. Відредагувати позицїї в процесі виконання без відміни документу можна в жпрналі Послуги.
                        <br>Якщо замовлення складне потребує виробничого процесу, кількох учасників, обліку годин та ін. (наприклад на СТО),
                        на підставі замовлення також можна сформувати наряд для виробництва.
                        <br> Для послуг замовлених у сторонньго виконавця використовуєтся документ Вхідні послуги.
                        В цьому документі можна також вказати перелік ТМЦ на собівартість яких будут розподілені послуги.
                    </p>



                    <h3 id="prod" class="manual-content__title title-h4">Виробництво</h3>
                     Для роботи з виробництво необхідно ввімкнути підтримку  на  сторінці адміністратора
                    <h4>Наряди на виконання робіт і послуг</h4>
                    <p>
                        Наряди на виконання виробничих завдань
                        передбачені для оформлення виконання різних робіт,
                        наприклад, ремонт побутової техніки. У наряді можна відзначити тип
                        роботи (з довідника послуг), необхідні комплектуючі, виконавців і
                        виробничу дільницю (наприклад, ремонтний бокс на СТО).
                        <br>Для нарядів виділений окремий журнал. Крім звичайної роботи з нарядом як документом, журнал можна
                        наочно переглянути також в календарі (подібно до гугл-календаря), а також створити наряд кліком по календарю.
                        <br>В залежності від вартості робіт можна сформувати звіт по зарплатам виконавців за вказаний період.
                        Нарахування зарплати виконуєтся  по  розцінкам робіь ьа/вбо готової продукції (якщо виробництсво). Розцінки  за замовчанням 
                        задаються в  відповідних довідниках.
                        

                        <br>
                        Послуги також можна оформити звичайним документом Акт виконаних робіт.

                    </p>
                    <h4>Облік ТМЦ</h4>
                    <p>Облік у виробництві виконується документами Списання у виробництво і Оприбуткування з виробництва.
                        Собівартість оприбуткування може розраховуватись по комплектах (комплектуючих, інгредієнтів),
                        заданих для продукції в довіднику ТМЦ. <br>
                        Так само, в картці ТМЦ можна задати автоматичне списання та оприбуткування при продажі готової продукції.
                        Такий режим підходить для виробництв з коротким виробничим циклом, наприклад, громадське харчування.
                        <br> Надалі планується додати функціональність виробничих процесів для поетапного виробництва.


                    </p>
                    <h4>Виробничі процеси та виробничі етапи</h4>
                    <p>
                        Для організації складних виробництв з виробничими циклами і поетапним виробництвом можна створювати
                        виробничі процеси у відповідному журналі. При створенні процесу задається список планованої готової продукції,
                        замовлення, серія (партія) продукції. Для кожного процесу задається список виробничих етапів. Виробничий етап
                        - це набір закінчених операцій на конкретній виробничій дільниці (наприклад, складання корпусу або фарбування).
                        Для виробничого етапу задається виробнича дільниця і, якщо необхідно, технологічна карта.
                        <br> Виробничий процес починається переводом його в статус Виконується.
                        <br> Для  виробничих етапів можна задати перелік виконавців (для  нарахування відрядної оплати)  та  передік 
                        напівфабрикаів та  готової продукції що виробляются  на  ланому  етапі  (для контролю в  документах).
                        <br> Для кожного етапу в процесі роботи створюються документи списання в виробництво сировини і матеріалів, а також
                        оприходування готової продукції.
                        За першим документом етап перетворюється на стан Виконується. Після закінчення робіт
                        етап закривається. 
                        <br> У перегляді процесу виводиться перелік етапів, фактичне оприбуткування продукції і списання ТМЦ. Коли всі етапи
                        закриті і Продукція оприбуткована на склад процес закривається.
                        Повторювані процеси (наприклад, для наступної партії такої ж продукції) процес можна скопіювати з усім списком
                        етапів.
                        <br> Нарахування зарплати відбуваєтся при провеленні документів Переміщення між етапами  та  Оприходування з виробництсва.
                         Сума  оплати задається в довіднику ТМЦ.  Для більге  одного  виконавця чума  розподіляється згідно коефіціенту трудової участі (КТУ)
                         
                    </p>




                    <h3 id="food" class="manual-content__title title-h4">Облік для закладів громадського харчування</h3>
                    <p>
                        Для обліку в закладах громадського харчування використовується документ Замовлення (кафе). Документ являє собою
                        комбінацію замовлення і касового чека.
                        Для оперативної роботи є АРМ касира громадського харчування. В АРМ створюються замовлення і в ньому ж знаходиться
                        журнал замовлень, де можна відстежувати нові
                        замовлення (з онлайн каталогу) і виконання замовлень на виробництві (кухні). 
                        <br>Для кухні (бару) є окремий АРМ для контролю процесу виготовлення блюд.
                        <br><br>
                        Категорії ТМЦ в закладах громадського харчування дозволяють сформувати одне- або двохрівневе меню. У найпростішому
                        випадку це може бути просто один рівень -
                        салати, закуски, десерти, основні страви.
                        Більш складний випадок: Основне меню, Ланч-меню, бар-меню і так далі. А основне меню вже ділиться на салати, десерти
                        і так далі.
                        Також може бути окрема категорія для супутніх товарів (одноразовий посуд, упаковка) і, само собою, для закуповування
                        сировини (інгредієнтів).
                        <br> У разі використання онлайн каталогу можна вказати, яка категорія показується клієнту, а яка ні.
                        <br> Ієрархія категорій, а також зображення в ТМЦ та категоріях, вмикаются в основних налаштуваннях програми.
                        <br> Оскільки у громадського харчування короткий цикл виробництва, є сенс використовувати автоматичне оприбуткування
                        і списання з виробництва
                        (проводити по складу необхідно для обліку продажів і витрат).
                        Налаштування залежать від технологічного циклу. Для, наприклад, випічки або компотів проводиться оприбуткування
                        окремим документом (з автоматичним списанням  інгредієнтів, якщо вони задані в картці ТМЦ).  Потім продукція надходить у 
                        продаж за необхідності. Якщо страва готується на замовлення, то його можна автоматично оприбуткувати і списати відповідні інгредієнти.
                        Частина продукції (наприклад, напої в пляшках) йде просто як товар, який оприбутковується прибутковою накладною,
                        потім    продається.
                        <br><br>
                         Якщо є аналогічні страви, що відрізняються деякими опціями (наприклад об'ємом), їх можна згрупувати в АРМ, 
                        задавши варіації. Для цього потрібно вибрати основну страву для якої буде заданий опис (з описами опцій для клієнта) та початкова ціна. 
                        Потім для основної страви задаються варіації - ТМЦ із номенклатури, які АРМ запропонує як уточнюючий вибір при додаванні  страви на замовлення. 
                        В результаті в позицію замовлення буде додано варіацію. Самі варіації до меню не потрапляють. Для варіації у довіднику ТМЦ задається своя ціна та, 
                        якщо треба, комплект (рецепт) із автосписанням.
                        <br><br>
                        Якщо потрібно враховувати упаковку  (для товарів на  винос) можно створити один або  кілька ТМЦ в  номенклатурі з відповідними комплектами та  автосписанням  i  
                        додавати в  замовлення  як  звичайну  позицію.
                        <br><br>
                        <b>Сторінка  меню (для QR коду)</b>  <br>
                        Для перегляду відвідувачем меню кафе  передбачена спеціальна сторінка на яку можна перейти за адресою
                        &lt;адреса сайту>/menu.   
                        <br> Сторінка орієнтована на мобільні екрани. Крім того, передбачена кастомізація.
                        шляхом зміни шаблону /templates/modules/shop/pages/catalog/menu.html.
                        Щоб зміни не перезатерлися при оновленні файл menu.html, можна перейменувати (перекопіювати) в menu_custom.html
                        <br> Меню (ієрархія категорій) має бути дворівневим. Верхній рівень це пункт Основне меню. Додатково
                         може бути пункт наприклад меню бару. Дочірні меню, які відображаються в горизонтальному списку сторінки,
                         - категорії страв.
                         <br> Якщо додати номер  столу, наприклад  &lt;адреса сайту>/menu/tableno/4, то на  сторінці меню з'явиться кнопка виклику офіціанта.
                          Також якщо для  даного  столу є неоплачене замовлення з'явиться кнопка оплати  по  QR коду.  Оплата  буде  на  IBAN, 
                          заданий в  налаштуваннях 
                         <br>Для роботи з  кафе необхідно ввімкнути підтримку  на  сторінці адміністратора
                    </p>

                    <h3 id="salary" class="manual-content__title title-h4">Розрахунок та нарахування зарплати</h3>
                    <p>
                        Розрахунок зарплати здійснюється документом Нарахування зарплати. Алгоритм розрахунку задається формулами, що
                        використовують синтаксис мови JavаScript. Попередньо в відповідному довіднику налаштовуються типи нарахувань і утримань, які потім
                        використовуються в формулах як змінні.  Також є ряд наперед  визначених змінних - суми, години, атрибути працівника  та  ін. 
                        <br> Формули складаються  з  двох частин. Переша  виконуєтся однократно і обчислює основну зарплату 
                        яку  можна  редагувати вручну. Друга   частина  виконуєтся  при  редагуванні основної зарплати і нараховує 
                        нарахування  та  утримання.
                        Нарахована зарплата заноситься на особовий рахунок працівника.
                       <br> нарахування на особовий  рахунок залежить  від наоаштування  профілю працівника.  Якшо задано  оелад  нарахування відбуваєтся відповілно
                       кількості робочих днів та днів  в  табелі.  При погодинній оплаті враховуюся  години з табеля  робочого часу. При відрядній оплаті 
                       нараховується сума по готовій продукції або напівфабрикатах (задано в  довіднику номенклатури). В нарядє  сума  розподіляється  по  вказаним  виконавцям. 
                       В оприходуваннє  - або  по  вказаному  виконавцю або по  перелєку  виконавців  на  виробничому  етапі.

                        <br> Виплата зарплати (або авансу) здійснюється документом Виплата зарплати який списує суму с особового рахунку
                        працівника і виконеє проводку по вибраному грошовому рахунку.
                       
                    </p>
                    <h3 id="payment" class="manual-content__title title-h4">Облік руху грошових коштів</h3>
                    <p>
                        Для обліку оплат в довідник Грошові рахунки додаються каси і банківські рахунки.
                        Для додавання платежу в прибуткових і видаткових накладних слід вказати
                        грошовий рахунок. Також можна вказати оплату пізніше і додати платежі через журнал розрахунку з
                        контрагентами.
                        Крім того, є документи типу Прибутковий і Видатковий ордери для безпосереднього нарахування, або списання
                        сум з грошових рахунків.
                        <br> Рух грошей можна подивитися в звіті Рух по рахункам і журналі Журнал платежів.
                        <br><br>
                        Разом з рухом грошей за грошовими рахунками проводиться запис типу Витрати або Дохід. Переглянути
                        підсумки за видатками та доходами за період
                        можна в звіті Прибутки та  видатки.
                    </p>
                 
                    <h3 id="osnma" class="manual-content__title title-h4">Облік основних засобів та обладнання</h3>
                    <p>  
                         Облік основних засобів, обладнання та нематеріальних активів ведеться У довіднику
                         ОЗ та обладнання. Для кожної позиції необхідно задати інвентарний номер.
                         <br> Операції з ОЗ виконуються через документ Операції з ОЗ. Першим записом має бути введення 
                         в експлуатацію останнім – списання.
                    </p>
                   <h3 id="action" class="manual-content__title title-h4">Програма лояльності</h3>
                    <p> Програма налаштовується на сторінці Програма лояльності. Можна налаштувати
                        методи нарахування бонусів та знижок, постійні знажки клієнтам, акційні ціни на товари та послуги, оптові знажки.

                    </p>
                    <h3 id="timesheet" class="manual-content__title title-h4">Облік робочого часу</h3>

                    <p>
                        Облік здійснюється в табелі робочого чвсу (праве меню). Дані з табелю доступні при нарахуванні зарплати.
                        <br> Для користувачів групи admins доступні дані інших користувачів
                        а також загальна статистика.
                    </p>
                    

                   <h3 id="office" class="manual-content__title title-h4">Офісні документи</h3>

                    <p>
                       Офісні документи – тип документу для довільного контенту. Це може бути заявки, розпорядження, звіти.
                        Робота з офісними документами виконується у журналі Офіс. У документа є назва, яка виконує роль підтипу.
                        <br> З документом може бути пов'язаний контрагент або співробітник (наприклад, розпорядження про прийом на роботу).
                        Також для співробітника може бути вказана сума для нарахування або списання з особистого рахунку співробітника (наприклад для премій та штрафів).
                        <br> Крім доступу на основі ролі для кожного документа можна задати доступ до перегляду або редагування.
                         Так само можна задати список тих, хто має підписати (затвердити) документ.                       
                    </p>

                    <h2 class="manual-content__title title-h3 title-center"> Додаткові функції </h2>



                    <h3 id="snumber" class="manual-content__title title-h4">Облік по серійним номерам виробника</h3>
                    <p>
                        У ряді випадків (наприклад, аптеки) потрібно вести облік по партіях виробника з урахуванням терміну
                        придатності.
                        Якщо в налаштуваннях включений облік по серіях, у формах введення товару в прибутковій накладній
                        з'являються додаткові поля - серія і дата. Ці дані з'являються
                        у вибірці при продажу, що дає можливість вибрати більш давній товар.
                        Деталізацію можна подивитися в журналі Товари на складі.
                        Якщо в картці товару (довідник номенклатури) вказаний термін придатності,
                        то в журналі обчислюється дата, до якої придатний товар.

                    </p>
                    <h3 id="branch" class="manual-content__title title-h4">Підтримка філій</h3>
                    <p> У програмі є можливість вести облік окремо по філіях (наприклад, торговим точкам).
                        У цьому випадку користувачеві в його профілі призначаються філії, доступ до ресурсів яких він може мати.
                        Розділяются документи, склади, каси, співробітники. Спільними для всіх залишаються довідники
                        номенклатури і контрагентів.
                        <br> Також (при встановленому  налаштуванні в  ТМЦ) можливо запам'ятовувати відпускні ціни в  прив'язці до вибраної філії.
                        <br>Філії вмикаются на  сторінці адміністратора
                    </p>
               

                    <h3 id="subs" class="manual-content__title title-h4">Підписка на події та розсилка повідомлень</h3>
                    <p>
                        Підписка дозволяє повідомляти учасників про зміни в системі. Перш за все, про зміну статусу документів.
                        Таклж  можна  творити підписку  на  подію Новий контрагент  та  Кінець робочого дня (для розсилок  результатів торгового дня)  

                        <br>Повідомлення можуть бути системними, на електронну пошту або смс.
                        (Служби смс розсилок налаштовуються на сторінці налаштувань системи)

                    </p>

                    <h3 id="print" class="manual-content__title title-h4">Друковані форми</h3>
                    <p>
                        Форми для друку документів та звітів знаходяться в папці
                        /templates/printform i виконані як звичайні HTML файли, що дає можливість ті самі форми виводити на экран, друкувати
                        на
                        принтері, а також експортувати в pdf або excel. Перед завантаженням файли форм обробляються спеціальним
                        шаблонізатором,
                        який наповнює їх даними. Форми можна редагувати звичайним текстовим редактором.
                        <br>Програма дає можливість створити кастомну копію форми, щоб вона не перезатерлася при наступному оновленні,
                        якщо потрібно створити свій варіант форми.
                        Для цього треба до імені файла форми додати _custom. Наприклад: ttn_custom.tpl.
                        Тоді програма спочатку шукатиме кастомний варіант.
                        <br>Додаткова інформація про підключення принтерів <a class="link" href="/ext#id10">тут</a>
                    </p>

                    <h3 id="cron" class="manual-content__title title-h4">Планувальник завдань</h3>
                    <p>
                        Планувальник призначений для фонового виконання завдань, що потребують тривалої обробки.
                        Наприклад, розсилка email з підписок, які не відправляються негайно, а відправляються в чергу на відправку.
                        <br> У планувальнику можуть виконуватися завдання щоразу під час виклику скрипту, раз на годину або раз на добу.
                        <br><br> Для виклику обробника потрібно звернутися за адресою &lt;ваш сайт&gt;/crontab.php.
                        <br>Додатково на сторінці управління планувальником (системне меню) потрібно виставити перемикач, що дозволяє роботу
                        планувальника.
                        <br>Для підключення потрібно налаштувати сторонній планувальник - (cron На Лінукс, Task Scheduler на Windows,
                        планувальник на хостингу і т.д.)
                        який буде періодично (не частіше ніж раз на п'ять хвилин) звертатися до скрипту за вказаною вище адресою.
                        Також існують онлайн сервіси та мобільні програми, що дозволяють налаштувати розклад для періодичного звернення по
                        URL  сторінки.
                        <br>Планувальник буде працювати і без зовнішнього виклику, якщо працювати з програмою або просто залишити незакриту
                        сторінку (або форму логіна) у браузері
                    </p>

                    <h3 id="comdrop" class="manual-content__title title-h4">Комісія</h3>
                    <p>
                           Товари на комісію приймаються прибутковою накладною з прапором Товари на комісії.
                         При цьому оплата не здійснюється відразу, а в міру продажу товарів. 
                         Непродані товари можна повернути                         створеної на підставі прибуткової.
                         <br>Стан можна переглянути звітом Товари на комісії. 
                         Також звіт може бути використаний як звіт комісіонера, якщо вказати комінента.               
                   </p>

                    <h3 id="nds" class="manual-content__title title-h4">Облік ПДВ</h3>
                    <p>
                        Облік   вмикається на сторінці Адміністратора. Ставка акциза - в  номенклатурі.
                        <br> В АРМ кассира (i АРМ кафе)  з'яаится додаткове  поле  вводу переліку акцизних марок  відповідно  кількості
                        товару в  строці. Список  марок  виводится в  чеках.  Пошук марок можна  здійснити в  Звіті по  акцизних марках
                       
                   </p>
                    <h3 id="excise" class="manual-content__title title-h4">Облік акцизних марок</h3>
                    <p>
                        Облік ПДВ вмикається на сторінці Адміністратора. 
                        <br> В  продажних та закупочних документах  з'являются поля з ПДВ. Ставку  ПДВ  можна задати на категорію товару.  
                        Також, при необхідності, можна зажати ставку на  конкретний  товар в довіднику ТМЦ.
                           <br> В програмі не  ведеться  поноцінний  облік. Основне призначення - сумісність з документами  контрагентів- платників ПДВ
                       
                   </p>

                    <h3 id="account" class="manual-content__title title-h4">Бухгалтерський облік</h3>
                    <p>
                          Модуль (вмикається на сторінці Адміністратора) призначений для компаній, яким необхідно вести облік згідно із законодавством (наприклад, юридичним особам). 
                          В першу чергу для  , котрі змушені експортувати  дані  з CRM в 1С щоб сформувати  регламентовану  бехгалтерську  звітність.
                    <br>      
                    Бухгалтерські проводки в основному формуються автоматично паралельно з основними аналітичними проводками в програмі, 
                    хоча є також  можливість виконання   ручних операцій з рахунками не не пов'язаними з аналітчним обліком.
                    <br>Модуль не додає в CRM будь-якої нової функціональності і не дає можливості редагувати план рахунків - його призначення - виконувати проводки та 
                    формувати бухгалтерську звітність для виконання вимог закону. 
                    <br> Початкові залишки можна ввести документом Ручна операція
                                         
                   </p>


                   


                    </p>
                </div>
            </div>
        </div>
</body>
</section>


</html>