<html>
    <head>
      <title> Налаштування   </title>

    </head>

    <body>

        <div class="row  ">
            <div class="col-12  col-sm-10 col-md-6    col-xl-4  ">
                <h4>Налаштування </h4>
                <h5>Налаштування API</h5>
                <form zippy="cform">

                    <div class="form-group">
                        <label for="apikey">Ключ</label>
                        <input type="text" zippy="apikey" class="form-control" required="required"/>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Зберегти" class="btn   btn-primary  "/>

                    </div>
                </form>  <br>
         
                <br>
                <h5>Данi вiдправника за замовчуванням</h5>

                <form zippy="oform">

                    <div class="form-group">
                        <label for="tel">Телефон</label>

                        <input zippy="tel" class="form-control   "/>

                    </div>
                     <div class="form-group">
                        <label for="city">Населений пункт</label>

                        <input placeholder="Почніть вводити..." zippy="city" class="form-control   "/>

                    </div>
                    <div class="form-group">
                        <label for="point">Вiддiлення</label>

                        <input placeholder="Почніть вводити..." zippy="point" class="form-control   "/>
                         <small>Для пошуку по номеру додайте перед цифрами №</small>
                    </div>
                  
             

                    <div class="form-group">
                        <input type="submit" value="Зберегти" class="btn   btn-primary  "/>

                    </div>
                </form>
            </div>
          <div class="col-12  col-sm-10 col-md-6    col-xl-4  ">
            <b>Перелiк габаритiв</b>
           <form zippy="gabform" class="form-inline">
              Ш: <input zippy="gw" required="required"  class="form-control" style="width:75px"  type="number">  
              В: <input zippy="gh" required="required"  class="form-control" style="width:75px"  type="number">  
              Д: <input zippy="gd" required="required"  class="form-control" style="width:75px"  type="number">  
              <input class="btn btn-success" type="submit" value="+"> 
           </form>
           <table class="ctable">
              <tr zippy="gablist">
                 <td zippy="gabname"></td>
                 <td> <a zippy="delgab"> <i class="fa fa-trash"></i></a></td>
              </tr>
           </table>
  
        </div>
        </div>
        <script>

            function check_check() {

                $('#loader').removeAttr('style');
            }

        </script>

    </body>
</html>
