<html>

<body>

<div class="row  ">
    <div class="col-12  col-sm-10 col-md-6    col-xl-4  ">
        <h4>Настройки </h4>
        <h5>Настройки API</h5>
        <form zippy="cform">
 
           <div class="form-group">
                <label for="apikey">Ключ</label>
                <input type="text" zippy="apikey" class="form-control" required="required"/>
            </div>
 
 
            <div class="form-group">
                <input type="submit" value="Сохранить"   class="btn   btn-primary  "/>
  
            </div>
        </form>
        <h5>Данные  отправителя</h5>
        
        <form zippy="oform">
 
           <div class="form-group">
                <label for="area">Область</label>
                <select   zippy="area" class="form-control   "  ></select>
            </div>
           <div class="form-group">
                <label for="city">Город</label>
                <select  zippy="city" class="form-control  "  ></select>
            </div>
          <div class="form-group">
                <label for="point">Отделение</label>
                <select  zippy="point" class="form-control  "  ></select>
            </div>
           <div class="form-group">
                <label for="lastname">Фамилия</label>
                <input type="text" zippy="lastname" class="form-control" required="required"/>
            </div>
            <div class="form-group">
                <label for="firstname">Имя</label>
                <input type="text" zippy="firstname" class="form-control" required="required"/>
            </div>
           <div class="form-group">
                <label for="middlename">Отчество</label>
                <input type="text" zippy="middlename" class="form-control" required="required"/>
            </div>
           <div class="form-group">
                <label for="tel">Тел.</label>
                <input type="text" zippy="tel" class="form-control" required="required"/>
            </div>

 
            <div class="form-group">
                <input type="submit" value="Сохранить"   class="btn   btn-primary  "/>
  
            </div>
        </form>
    </div>
</div>
<script>

    function check_check() {

        $('#loader').removeAttr('style');
    }

</script>

</body>
</html>
