<html >
    <body>
        <div class="row">
            <div class="col-12   col-xl-10" zippy="opan">

                <h3>Состояние  доставок</h3>
                &nbsp; &nbsp; <a zippy="refresh">Обновить</a>
                <table class="table  table">
                    <tr>
                        <th>ТТН</th>
                        <th>Сумма</th>
                        <th>Покупатель</th>
                        <th>Экспрес-накладная</th>
                        <th>Состояние</th>
                        <th> </th>
                    </tr>
                    <tr zippy="doclist">
                        <td  zippy="document_number"></th>
                        <td  zippy="amount"></th>
                        <td zippy="customer_name"></td>
                        <td zippy="ship_number"></td>
                        <td zippy="state"></td>
                        <td><a target="_blank" zippy="print" title="Печать маркировки"><i class="fa fa-print"></i></a> </td>
                    </tr>
                </table>
            </div>
        </div>

    </body>
</html>
