<html>

    <body>
        <div class="row">
            <div class="col-8">
                <h3>Оповещения</h3>
                <table class="table table-sm table-striped">
                    <tr zippy="nlist">

                        <td><p zippy="msg"  > /p>  </td>
                        <td><span zippy="newn"  class="label label-info">Новое</span> </td>
                        <td class="text-nowrap"><span zippy="ndate" ></span> </td>

                    </tr>
                </table>
                <div zippy="pag"></div>

            </div>
        </div>

    </body>
</html>