<html>

    <body>

        <div class="row ">
            <div class="col-10 col-lg-3 col-md-4">

                <h4>Мой профиль</h4>
                <form role="form" zippy="profileform">
                    <div class="form-group">
                        <label for="userlogin">Логин</label>
                        <span zippy="userlogin" class="form-control-plaintext"></span>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" zippy="email"  >
                    </div>


                    <button type="submit" zippy="submitpass" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
            <div class="col-10 col-lg-3 col-md-4">

                <h4>Смена пароля</h4>
                <form role="form" zippy="passwordform">

                    <div class="form-group">
                        <label for="userpassword">Пароль</label>
                        <input type="password" class="form-control" zippy="userpassword" required="required">
                    </div>

                    <div class="form-group">
                        <label for="userpassword">Подтверждение</label>
                        <input type="password" class="form-control " zippy="confirmpassword" required="required">
                    </div>

                    <button type="submit" zippy="submitpass" class="btn btn-primary">Сохранить</button>
                </form>
            </div>

        </div>


    </body>

</html>














