<html>
    <head>
        <title> АРМ офiцiанта  </title>

    </head>
    <body>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-4">
              <h3>АРМ офiцiанта</h3>
               <small>Для закладiв типу кафе</small>
            </div>
            <div class="col-12  ">
               <a class="btn btn-success mr-4" >Нове замовлення</a> 
               <a class="btn btn-info mr-4" >Список  замовлень</a> 
            </div>
         </div>
     
       
         
        <script>
     
      
                           
        </script>

  
    </body>
</html>
