<html>
    <head>
        <title> АРМ касира  </title>

    </head>
    <body>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-4">
                <div id="newordersalert" style="display:none;"  class="alert alert-info  ml-4"  >
                    <span id="neworderscnt"></span>
                </div>   
                <div id="newprodalert" style="display:none;"  class="alert alert-sucess  ml-4"  >
                    <span id="newprodcnt"></span>
                </div>   


            </div>
  <div class="col-12 col-md-4 col-xl-3   " >
             <i style="cursor:pointer"  onclick="onBell(this)" title="Звукове  повiдомлення" class="fa fa-bell-slash text-secondary"></i>  
            </div>              
        </div>

        <form zippy="setupform">
            <h3>АРМ касира</h3>

            <div class="row">
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group row ">
                        <label class="col-6 col-form-label" for="nal">Готiвкова каса</label>
                        <div class="col-6">
                            <select class="form-control" zippy="nal">
                                <option value="0">Не вибрана</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row  ">
                        <label class="col-6 col-form-label" for="beznal">Безготiвковий рахунок</label>
                        <div class="col-6">
                            <select class="form-control" zippy="beznal">
                                <option value="0">Не вибраний</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group  row ">
                        <label class="col-6 col-form-label" for="pos">POS термiнал</label>
                        <div class="col-6">
                            <select class="form-control" zippy="pos">
                                <option value="0">Не вибраний</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group row  ">
                        <label class="col-6 col-form-label"   for="store">Склад (кухня)</label>
                        <div class="col-6">
                            <select class="form-control" zippy="store">
                                <option value="0">Не вибраний</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group   ">
                        <input type="submit" value="К заказам >"   class="btn btn-success">
                    </div>
                </div>

            </div>

        </form>


        <div   zippy="docpanel">
            <h5><strong><a zippy="toorderlist"><i class="fa fa-list"></i> До списку  замовлень</a></strong> </h5>
            <h3>Оформлення  замовлення</h3>


            <div class="row"  >
                <div class="col-12  col-xl-10"> 

                    <div   zippy="catpan" class="row">
                        <div    class="col-12">
                            <i class="fa fa-arrow-alt-circle-left"></i><a  zippy="stopcat">До  замовлення</a>  
                        </div>
                        <div   zippy="catlist" class="col-12 col-sm-6 col-md-4  col-xl-3">
                            <div class="card mb-2" zippy="catbtn"  style="cursor:pointer" >

                                <table style="height:100%;width:100%;"  >
                                    <tr><td>
                                            <img zippy="catimage" style="height:100px "  >
                                        </td>
                                        <td valign="middle" align="left">

                                            <b   zippy="catname"> </b>
                                        </td></tr>
                                </table>  




                            </div>

                        </div >        
                    </div >        
                    <div   zippy="prodpan" class="row">
                        <div    class="col-12">
                            <i class="fa fa-arrow-alt-circle-left"></i><a  zippy="stopprod">До  замовлення</a>  
                        </div>                      <div   zippy="prodlist" class="col-12 col-sm-6 col-md-4  col-xl-3">
                            <div class="card mb-2" zippy="prodbtn" style="cursor:pointer;;">
                                <table style="height:100%;width:100%;"  >
                                    <tr><td rowspan="2">
                                            <img zippy="prodimage" style="height:100px "  >
                                        </td>
                                        <td   align="left">

                                            <b   zippy="prodname"> </b> 

                                        </td></tr>
                                    <tr><td><b zippy="prodprice" style="font-size:large"></b></td></tr>

                                </table>  



                            </div>

                        </div >        
                    </div >        
                </div>   

                <div class="col-12 col-md-10 col-xl-8  ">         

                    <div class="navbar mt-4">        
                        <form zippy="navform" class="form-inline   ">                   
                            <input  zippy="baddnewpos"  type="submit" value="Додати позицiю    "   class="btn btn-info mr-4"> 
                            {{#usescanner}}
                            Штрих-код &nbsp;<input class="form-control"   style="width:150px;" autocomplete="off" autofocus type="text" zippy="barcode"
                                                   onkeydown="onBarCode()"> &nbsp;<a zippy="addcode" class="btn btn-info btn-sm mr-4">+</a>

                            {{/usescanner}}
                           {{#ppo}}
                
                        <a zippy="openshift"><i class="fa fa-bullhorn"/> Вiдкрити змiну</a>
                        &nbsp;  &nbsp; <a zippy="closeshift"><i class="fa fa-gavel"/> Закрити змiну</a>
                        
             
                           {{/ppo}}
                        </form> 

                    </div>           

                    <form zippy="listsform" >  
                        <div class="card">
                            <table class="table   " style="font-size:large">
                                <tr>
                                    <th>Назва</th>
                                    <th>Код</th>
                                    <th class="text-right ">Кiл.</th>
                                    <th class="text-right">Цiна</th>
                                    <th class="text-right">Сума</th>
                                    {{#pack}}
                                    <th class="text-center text-nowrap">С собою</th>
                                    {{/pack}}

                                    <th > </th>
                                </tr>
                                <tr zippy="itemlist"> 


                                    <td zippy="itemname"></td>
                                    <td zippy="item_code"></td>
                                    <td class="text-right text-nowrap">
                                         <a zippy="qtymin" class="btn btn-info btn-sm mr-1">-</a>
                                        <span zippy="qty"></span>
                                        <a zippy="qtyplus" class="btn btn-info  btn-sm ml-1">+</a>
                                    </td>
                                    <td zippy="price" class="text-right"></td>
                                    <td zippy="amount" class="text-right"></td>
                                    {{#pack}}
                                    <td class="text-center"> <a zippy="myselfon"><i class="fa fa-toggle-on text-success"></i></a> <a zippy="myselfoff"><i class="fa fa-toggle-off"></i></a> </td>
                                    {{/pack}}
                                    <td><a zippy="removeitem"  ><i class="fa fa-trash text-danger" ></i></a></td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right text-bold">Всього:</td>
                                    <td zippy="totalamount" class="text-right text-bold"></td>
                                    <td ></td>
                                    <td ></td>
                                </tr>
                            </table>
                        </div>
                        <div class="  row ">
                            <div class="  col-6 ">
                                <div class="form-group   ">
                                    <label   for="customer">Клiент</label>

                                    <input  zippy="customer" class="form-control" placeholder="Почнiть вводити..."  > 
                                    <a zippy="addcust" >Додати нового</a>

                                </div>                          


                                {{#tables}}
                                <div class="form-group   ">
                                    <label  for="table">Номер  столу</label>

                                    <input  style="width:100px;" zippy="table" class="form-control"  > 


                                </div>
                                {{/tables}}
                                <div class="form-group   ">
                                    <label   for="notes">Коментар </label>

                                    <input  zippy="notes" class="form-control"  > 


                                </div>                          

                            </div>  
                            <div class="  col-6 ">

                                {{#delivery}}  


                                <div class="form-group   ">
                                    <label   for="delivery">Доставка</label>

                                    <select class="form-control" zippy="delivery">
                                        <option value="0">Доставки нема</option>
                                    </select>


                                </div>
                                <div class="form-group   ">

                                    <label   for="contact" >Контакт</label>


                                    <input    zippy="contact" class="form-control">

                                </div>                           
                                <div class="form-group   ">

                                    <label   data-label="address" for="address"  >Адреса</label>


                                    <input   zippy="address" class="form-control"> 

                                </div>

                                <div class="form-group   ">

                                    <label   for="time" >Час доставки</label>


                                       <div class="input-group">
                                        <input   class="form-control"   zippy="dt"  >
                                        <span class="input-group-text">:</span>
                                        <input   zippy="time" class="form-control">
                                    </div> 
                                </div>                        


                                {{/delivery}}                          

                            </div>  
                        </div>  



                        <div class="  w-100 ">
                            <input zippy="btosave" type="submit" value="Зберегти"   class="btn btn-success mr-4">
                            
                            <input zippy="btopay" type="submit" value="До сплати"   class="btn btn-success mr-4">

                            <input zippy="btodel" type="submit" value="В доставку"   class="btn btn-success mr-4">

                            <input zippy="btoprod" type="submit" value="У виробництво"   class="btn btn-success mr-4">
   
                        </div>
                    </form>  
                </div>
                <div class="w-100"></div>  
                <div class="col-12   ">   
                    <form zippy="payform" class="row">

                        <div class="col-12 col-md-4 col-xl-3 mr-4 ">   

                            <div class="form-group   ">
                                <label for="pfamount"  >На суму</label>

                                <input zippy="pfamount" readonly="readonly" style="width:100px;"  class="form-control  qtyprice "  pattern="[0-9,\.]+">

                            </div>
                            <div class="form-group   ">
                                <label  for="pfdisc"  >Знижка</label>

                                <input readonly="readonly" zippy="pfdisc"  class="form-control  qtyprice " style="width:100px;" pattern="[0-9,\.]+">

                            </div>
                       <div class="form-group">
                            <label for="pfbonus" data-label="paydisc">Бонуси</label>
                            <input autocomplete="off" class="form-control" type="text" zippy="pfbonus">
                        </div>
                            
                            <div class="form-group   ">
                                <label  for="pfforpay" >Всього</label>

                                <input zippy="pfforpay" readonly="readonly" style="width:100px;" class="form-control  qtyprice "  pattern="[0-9,\.]+">

                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-xl-3  ">  

                            <div class="form-group   ">
                                <label   >Каса, рахунок</label>
                                <br>

                                <div class="form-check form-check-inline">
                                    <input zippy="pfnal" class="form-check-input" type="radio"   >
                                    <label class="form-check-label" for="pfnal"><i class="fa fa-coins"></i> Готiвка</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input zippy="pfbeznal" class="form-check-input" type="radio"    >
                                    <label class="form-check-label" for="pfbeznal"><i class="fa fa-credit-card"></i> Банк. карта</label>
                                </div>


                            </div>
                        <div class="form-group  ">
                            <label data-label="pftrans"  for="trans">№ транзакції</label>
                            <input zippy="pftrans" class="form-control "  />
                            <small  data-label="pftrans" >Код з банківського терміналу при оплаті карткою</small>
                            

                        </div>
                            
                            <div class="form-group   ">
                                <label for="pfpayed"  >Внесена  оплата</label>

                                <input autocomplete="off" zippy="pfpayed" style="width:100px;" class="form-control  qtyprice "  pattern="[0-9,\.]+">

                            </div>
                            <div class="form-group   ">

                                <label for="pfrest"  >Решта   </label>

                                <input readonly="readonly" zippy="pfrest" style="width:100px;" class="form-control-plaintext    "  pattern="[0-9,\.]+">

                            </div>
                            <div class="form-check">
                                <input zippy="exch2b" type="checkbox" class="form-check-input">
                                <label class="form-check-label"  data-label="exch2b" for="exch2b">Занести решту в бонуси </label>
                           </div>

                                   
                        </div>
                        <div class="col-12   ">  
                            <div class="form-group   ">
                                <a zippy="bbackitems" class="btn btn-outline-info"> &lt; Назад</a>

                                &nbsp;&nbsp; <input zippy="btocheck" type="submit" value="Друкувати  чек > "   class="btn btn-success">
                                     {{#ppo}}
                            &nbsp;&nbsp;<input zippy="passfisc" type="checkbox"> Вiдкласти  фiскализацiю  
                           <i class="fa fa-info-circle  " data-toggle="tooltip" data-placement="top"
                                   title="На випадок збою інтернету фіскалізацію можна пропустити. Чек може бути фіскалізований ДО закриття зміни на сторінці ручного закриття зміни в модулі РРО "></i>
                                              
                            {{/ppo}}                             
                            </div>
                        </div>

                    </form>     
                </div>
                <div class="w-100"></div>  
                <div class="col-12 col-md-8 col-xl-6  ">  
                    <div zippy="checkpan">

                        <div zippy="checktext"></div> 
                        <br>
                        <a    zippy="btoprint"  class="btn  btn-info">Друк</a>&nbsp;&nbsp;&nbsp;
                        <a zippy="bnewcheck"  class="btn  btn-success">Нове замовлення</a> &nbsp;&nbsp;&nbsp;

                    </div>
                </div> 

            </div  >    
        </div>



        <div class="row" zippy="orderlistpan">

            <div class="col-12  " >
                <h3>Список  замовлень</h3>
                <a  class="btn btn-success" zippy="neworder">Нове замовлення</a>  &nbsp;&nbsp;&nbsp;
            </div>

            <div class="col-12 col-md-8 xl-6" >
                <div class="card">
                    <div class="card-body">
                        <div class="navbar nav">
                            <form zippy="searchform" class="form-inline ">
                                <label for="searchnumber"> № </label>

                                <input class="form-control mr-2" type="text" zippy="searchnumber" style="width:100px">

                                <label for="searchcust"> Клiент </label>

                                <input placeholder="Почнiть вводити..." class="form-control mr-2" type="text" zippy="searchcust"  >

                                <input type="submit" class="  btn btn-outline-success  " value="Шукати">


                            </form>
                        </div>
                    </div>
                </div>





                <table class="table  table-sm">
                    <tr>
                        <th>Дата</th>
                        <th>Номер</th>
                        {{#tables}}
                        <th>Стiл</th>
                        {{/tables}}


                        <th >Статус</th>
                        <th ></th>


                        <th ></th>
                        <th ></th>
                        <th class="text-right">Сума</th>


                        <th ></th>
                    </tr>
                    <tr zippy="orderlist">
                        <td zippy="docdate"  >   </td>

                        <td ><a zippy="docnumber"></a></td>
                        {{#tables}} <td zippy="tablenumber"></td>  {{/tables}}

                        <td class="text-nowrap  " zippy="state">  </td>
                        <td >   </td>

                        <td   ><i title="Доставка" zippy="isdel" class="fa fa-truck" /></td>
                        <td   ><i title="Чекає оплату" zippy="wp" class="fa fa-credit-card" /></td>
                        <td class="text-right" zippy="docamount"></td>


                        <td zippy="docnotes"></td>
                    </tr>

                </table> 
                <div zippy="pag"></div>
          
                <a id="dankor"></a>
            </div>
            <div class="col-12 col-md-10 xl-8" >
                <div   zippy="statuspan">



                    <div class="card">
                        <div class="card-body">
                            <div class="navbar nav">
                                <form zippy="statusform" class="form-inline ">
                                    <button zippy="bedit" type="submit" class="  btn btn-info  mr-2 ">Редагувати</button>

                                    <button zippy="bpay" type="submit" class="  btn btn-primary  mr-2 ">Оплатити</button>


                                    <button zippy="bclose" type="submit" class="  btn btn-success  mr-2 ">Закрити</button>
                                    <button zippy="brefuse" type="submit" class="  btn btn-danger  mr-2 ">Анулювати</button>


                                </form>
                            </div>
                        </div>
                    </div>




                    <div class="card">
                        <div class="card-body">
                            <div zippy="docview"></div>

                        </div>
                    </div>
                </div>

            </div>




        </div>

        <form zippy="editcust">
            <h3>&nbsp;Новий покупець </h3>
            <div class="row">
                <div class="col-12 col-md-4 col-xl-3">

                    <div class="form-group">
                        <label for="editcustname">Им'я </label>
                        <input class="form-control " zippy="editcustname" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="editphone">Телефон</label>
                        <input pattern="[0-9]+" class="form-control" type="text" zippy="editphone"/>
                    </div>
                    <div class="form-group">
                        <label for="editaddress">Адреса</label>
                        <input class="form-control" type="text" zippy="editaddress"/>
                    </div>


                    <div class="form-group">
                        <input zippy="savecust" type="submit" value="Зберегти" class="btn btn-outline-primary">
                        <input type="button" zippy="cancelcust" value="Вiдмiнити" class="btn btn-outline-secondary ">
                    </div>
                </div>
            </div>
        </form>


        <script>
            $(document).ready(function () {
                $('#pfpayed').focus();

                $("#pfdisc").change(function () {
                    var amount = $("#pfamount").val();
                    var paydisc = $("#pfdisc").val();
                    var bonus = $("#pfbonus").val();
                    var payamount = parseFloat(amount) - parseFloat(paydisc) - parseFloat(bonus);
                    $("#pfforpay").val(payamount.toFixed(2));

                });
                $("#pfbonus").change(function () {
                    var amount = $("#pfamount").val();
                    var paydisc = $("#pfdisc").val();
                    var bonus = $("#pfbonus").val();
                    var payamount = parseFloat(amount) - parseFloat(paydisc) - parseFloat(bonus);
                    $("#pfforpay").val(payamount.toFixed(2));

                });

                $("#pfpayed").change(function () {
                    var payed = $("#pfpayed").val();
                    var payamount = $("#pfforpay").val();
                    var exchange = parseFloat(payed) - parseFloat(payamount);
                    if (exchange > 0) {
                        $("#pfrest").val(exchange.toFixed(2));
                    } else {
                        $("#pfrest").val(0);
                    }

                });

            });



            function check_brefuse() {
                return confirm("Анулювати замовлення?")
            }


            window.setInterval(onNewOrder, 5000);

          
            function onNewOrder() {
                  
                        callPageMethod('getMessages',null,null,(data)=> 
                        {
                           
                            var  answer = JSON.parse(data)  
      
                            if (answer.cntorder > 0) {
                                $('#newordersalert').show();
                                $('#neworderscnt').text('Нових замовлень ' + answer.cntorder);
                                beep()
                            }
                            if (answer.cntprod > 0) {
                                $('#newprodalert').show();
                                $('#newprodcnt').text('Готово в виробництвi ' + answer.cntprod);
                                beep()
                            }


                        });
            }

           function onBell(el){
                    $(el).attr('class','fa fa-bell  text-success')
                }

        </script>

        {{#usescanner}} 
        <script>


            $('#barcode').focus();


            function onBarCode(ele) {

                if (event.key === 'Enter' || event.keyCode == 13) {
                    // alert($('#barcode').val());
                    $('#addcode').click()
                }
            }
            
            
            function check_btocheck(ele) {
                $('#btocheck').attr('disabled', 'disabled');
                return true;
            }            
            
        </script>  

            

        {{/usescanner}} 
    </body>
</html>
