<html>
<body>
         <div class="row"  >

            <div class="col-12  " >
                <h3>АРМ кухня</h3>
                
             </div>

                  <div class="col-12 col-md-10 col-lg-8" >
             

                 <a zippy="btnupdate" class="btn btn-info">Обновить</a>
                <table class="table table-striped">
              
                    <tr zippy="itemlist">
                   

                        <td zippy="docnumber"> </td>
                        <td zippy="name">  </td>
                        <td zippy="qty" class="text-right">  </td>
                        
                        <td zippy="notes">  </td>
                      
         
                        <td zippy="docnotes"></td>
                        <td  ><a zippy="ready" class="btn btn-success">Готово</a></td>
                    </tr>

                </table> 
                   <a id="dankor"></a>
                 </div>
               



         
        </div> 
</body>
</html>
