<html>
    <head>

    </head>
    <body>
        <h3>  АРМ кассира</h3>

        <form zippy="form1">

            <div class="row">
                <div class="col-12 col-md-4 col-xl-3">
                    <div class="form-group  ">
                        <label for="pos">POS терминал</label>
                        <select class="form-control" zippy="pos">
                            <option value="0">Не выбрано</option>
                        </select>
                    </div>


                    <div class="form-group  ">
                        <label for="store">Склад</label>
                        <select class="form-control" zippy="store">
                            <option value="0">Не выбран</option>
                        </select>
                    </div>

                    <div class="form-group  ">
                        <label for="pricetype">Тип цены</label>
                        <select class="form-control" zippy="pricetype">

                        </select>
                    </div>
                    <div class="form-group  ">
                        <label for="salesource">Источник продаж</label>
                        <select class="form-control" zippy="salesource">
                            <option value="0">Не выбран</option>
                        </select>
                    </div>

                    <div class="form-group  ">
                        <input type="submit" value="Ввод товаров >" zippy="next1" class="btn btn-info">
                    </div>
                </div>

            </div>

        </form>

        <div   zippy="docpanel">
            <h4>Оформление  чека</h4>
            <a zippy="tochecklist"><i class="fa fa-list"></i> Список чеков</a>     &nbsp; &nbsp; &nbsp; &nbsp;
               {{#ppo}}
           
                        <a zippy="openshift"><i class="fa fa-bullhorn"/> Открыть смену</a>

                        &nbsp; &nbsp; <a zippy="closeshift"><i class="fa fa-gavel"/> Закрыть смену</a>
                      
                  
                {{/ppo}}       
            <form zippy="form2" class="mt-2">   
           
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                        {{#usescanner}}
                        <div class="navbar nav justify-content-start">
                            Штрих-код &nbsp;<input autocomplete="off" autofocus type="text" zippy="barcode" onkeydown="onBarCode()">
                            &nbsp; &nbsp;<a zippy="addcode" class="btn btn-info btn-sm">+</a>

                        </div>
                        {{/usescanner}}


                        <a class="btn btn-info  " zippy="addrow">Добавить товар</a>
                        &nbsp;&nbsp;<a class="btn btn-info  " zippy="addser">Добавить услугу</a>
                        &nbsp;&nbsp;<input type="submit" value="Перейти к оплате >" zippy="topay" class="btn  btn-info">


                        <table class="table table-sm">
                            <tr>
                                <th>Название</th>
                                <th>Код</th>
                                <th>Ед.</th>
                                {{#usesnumber}}
                                <th>Серия</th>
                                <th>Дата</th>
                                {{/usesnumber}}



                                <th   style="width:40px" class="text-right">Кол.</th>

                                <th class="text-right">Цена</th>

                                <th class="text-right">Сумма</th>
                                <th  ></th>
                                <th  ></th>
                            </tr>

                            <tr zippy="detail">
                                <td zippy="tovar"></td>
                                <td zippy="code"></td>
                                <td zippy="msr"></td>
                                {{#usesnumber}}
                                <td zippy="snumber"></td>
                                <td zippy="sdate"></td>
                                {{/usesnumber}}


                                <td  class="text-right text-nowrap"><b><a  zippy="minus">-</a></b>&nbsp;&nbsp;<span zippy="quantity"></span>&nbsp;&nbsp;<b><a zippy="plus">+</a></b>  </td>

                                <td zippy="price" class="text-right"></td>

                                <td zippy="amount" class="text-right"></td>
                                <td><a zippy="edit"><i class="fa fa-edit"></i></a></td>
                                <td><a zippy="delete"><i class="fa fa-trash"></i></a></td>

                            </tr>
                            <tr zippy="detailser">
                                <td zippy="service"></td>
                                <td></td>
                                <td></td>
                                {{#usesnumber}}
                                <td></td>
                                <td></td>
                                {{/usesnumber}}


                                <td zippy="serquantity" class="text-right"></td>
                                <td zippy="serprice" class="text-right"></td>

                                <td zippy="seramount" class="text-right"></td>
                                <td><a zippy="seredit"><i class="fa fa-edit"></i></a></td>
                                <td><a zippy="serdelete"><i class="fa fa-trash"></i></a></td>

                            <tr style="font-weight: bolder;" id="tankor">

                                {{^usesnumber}}
                                <td colspan="5" class="text-right">Всего:</td>
                                {{/usesnumber}}
                                {{#usesnumber}}
                                <td colspan="7" class="text-right">Всего:</td>
                                {{/usesnumber}}

                                <td zippy="total" class="text-right"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>


            </form>
            <form zippy="form3">

                <div class="row">
                    <div class="col-12 col-md-3 col-xl-2">
                        <div class="form-group">
                            <label for="document_number">Номер документа</label>
                            <input class="form-control" type="text" zippy="document_number" required="required">
                        </div>

                        <div class="form-group">
                            <label for="document_date"> Дата</label>
                            <input style="width:120px;" class="form-control" type="text" zippy="document_date" required="required">
                        </div>
                        <div class="form-group  ">
                            <label for="notes">Примечание </label>

                            <textarea class="form-control" zippy="notes"></textarea>


                        </div>

                    </div>

                    <div class="col-12 col-md-3 col-xl-2">
                        <div class="form-group  ">
                            <label for="customer">Покупатель</label>
                            <input placeholder="Начните вводить..." class="form-control " zippy="customer"/>
                            <span zippy="discount" style="display:block;font-size:smaller"></span>
                            <a style="font-size:smaller" zippy="addcust">Добавить нового</a>

                        </div>

                        <div class="form-group  ">
                            <label for="payment">Касса, счет </label>
                            <select class="form-control" zippy="payment">

                            </select>
                        </div>


                    </div>


                    <div class="col-12 col-md-3 col-xl-2">
                        <div class="form-group">
                            <label for="total2">Всего</label>
                            <input class="form-control-plaintext" type="text" zippy="total2" readonly>
                        </div>
                        <div class="form-group">
                            <label for="paydisc" data-label="paydisc">Скидка</label>
                            <input autocomplete="off" class="form-control" type="text" zippy="paydisc">
                        </div>
                        <div class="form-group">
                            <label for="payamount" data-label="payamount">К оплате</label>
                            <input autocomplete="off" class="form-control" type="text" zippy="payamount">
                        </div>
                        <div class="form-group">
                            <label for="payed" data-label="payed">Внесена оплата</label>
                            <input autocomplete="off" class="form-control" type="text" zippy="payed">
                        </div>

                        <div class="form-group">
                            <label for="exchange" data-label="exchange">Сдача</label>
                            <input class="form-control-plaintext" type="text" zippy="exchange" readonly>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-6">
                        <div class="form-group  ">
                            <input type="button" value="< назад" zippy="cancel2" class="btn  btn-outline-info">
                            &nbsp;&nbsp;<input type="submit" value="Сохранить  " zippy="save" class="btn  btn-info">
                        </div>

                    </div>
                </div>

            </form>
            <form zippy="formcheck">
                <div class="row">
                    <div class="col-6">
                        <div zippy="showcheck">

                        </div>
                        <br>
                        <div class="form-group  ">
                            <input onclick="$('#showcheck').printThis()" zippy="print" type="button" value="Печать "
                                   class="btn  btn-primary">
                            &nbsp;&nbsp;<input type="button" value="Новый чек  " zippy="newdoc" class="btn  btn-info">
                        </div>

                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-12 col-md-4 col-xl-3">
                    <form zippy="editdetail">
                        <h4>Ввод товара </h4>
                        <div class="form-group">
                            <label for="edittovar">Название</label>
                            <input placeholder="Начните вводить..." class="form-control " zippy="edittovar"/>
                            <br> <a zippy="openitemsel">Открыть справочник</a>
                            <br> <a zippy="opencatpan">Открыть Категории</a>
                            <br>
                            Наличие: <span zippy="qtystock"></span>

                        </div>
                        {{#usesnumber}}
                        <div class="form-group">
                            <label for="editserial">Серия производителя </label>
                            <input class="form-control " zippy="editserial"/>

                        </div>

                        {{/usesnumber}}
                        <div class="form-group">
                            <label for="editquantity">Количество</label>
                            <input class="form-control" type="text" zippy="editquantity" required="required" pattern="[0-9\.]+"
                                   style="width: 70px;">

                        </div>

                        <div class="form-group">
                            <label for="editprice">Цена </label>
                            <input autocomplete="off" class="form-control" type="text" zippy="editprice" required="required"
                                   pattern="[,0-9\.]+"
                                   style="width: 70px;">

                        </div>


                        <div class="form-group">
                            <input type="submit" zippy="submitrow" value="Сохранить" class="btn btn-outline-primary ">
                            &nbsp; <input type="button" zippy="cancelrow" value="К списку" class="btn btn-light ">
                        </div>

                    </form>
                </div>
                <div class="col-12 col-md-8 col-xl-8">
                    <div zippy="wselitem"></div>
                  
                  <div   zippy="catpan" class="row">                    
                      <div   zippy="catlist" class="col-12 col-sm-6 col-md-4  col-xl-3">
                            <div class="card mb-2" zippy="catbtn"  style="cursor:pointer" >

                                <table style="height:100%;width:100%;"  >
                                    <tr><td>
                                            <img zippy="catimage" style="height:100px "  >
                                        </td>
                                        <td valign="middle" align="left">

                                            <b   zippy="catname"> </b>
                                        </td></tr>
                                </table>  




                            </div>

                        </div >  
                        </div >  
                  <div   zippy="prodpan" class="row">
                          <div   zippy="prodlist" class="col-12 col-sm-6 col-md-4  col-xl-3">
                            <div class="card mb-2" zippy="prodbtn" style="cursor:pointer;;">
                                <table style="height:100%;width:100%;"  >
                                    <tr><td rowspan="2">
                                            <img zippy="prodimage" style="height:100px "  >
                                        </td>
                                        <td   align="left">

                                            <b   zippy="prodname"> </b> 

                                        </td></tr>
                                    <tr><td><b zippy="prodprice" style="font-size:large"></b></td></tr>

                                </table>  



                            </div>

                        </div >        
                    </div >  
                </div>
            </div>


            <form zippy="editserdetail">
                <h4>Ввод услуги </h4>
                <div class="row">
                    <div class="col-12 col-md-4 col-xl-3">

                        <div class="form-group">
                            <label for="editser">Название</label>
                            <input placeholder="Начните вводить..." class="form-control " zippy="editser"/>


                        </div>

                        <div class="form-group">
                            <label for="editserquantity">Количество</label>
                            <input class="form-control" type="text" zippy="editserquantity" required="required" pattern="[0-9\.]+"
                                   style="width: 70px;">

                        </div>

                        <div class="form-group">
                            <label for="editserprice">Стоимость </label>
                            <input class="form-control" type="text" zippy="editserprice" required="required" pattern="[,0-9\.]+"
                                   style="width: 70px;">

                        </div>


                        <div class="form-group">
                            <input type="submit" zippy="submitser" value="Сохранить" class="btn btn-outline-primary ">
                            &nbsp; <input type="button" zippy="cancelser" value="Отменить" class="btn btn-light ">
                        </div>


                    </div>
                </div>
            </form>
        </div> 

        <div class="row" zippy="checklistpan"  >

            <div class="col-12 col-md-10 xl-8" >
                <h4>Список  чеков</h4>
                <a  class="btn btn-success" zippy="newcheck">Новый чек</a>   


                <div class="row"  >       
                    <div class="card">
                        <div class="card-body">
                            <div class="navbar nav">
                                <form zippy="searchform" class="form-inline ">
                                    <label for="searchnumber"> № </label>

                                    <input class="form-control mr-2" type="text" zippy="searchnumber" style="width:100px">

                                    <label for="searchcust"> Клиент </label>

                                    <input placeholder="Начните вводить..." class="form-control mr-2" type="text" zippy="searchcust"  >

                                    <input type="submit" class="  btn btn-outline-success  " value="Искать">

                                </form>
                            </div>
                        </div>
                    </div>
                </div>




                <table class="table  table-sm">
                    <tr>
                        <th>Дата</th>
                        <th>Номер</th>

                        <th class="text-right">Сумма</th>


                        <th ></th>


                    </tr>
                    <tr zippy="checklist">
                        <td zippy="rowdate"> </td>
                        <td ><a zippy="rownumber"></a></td>

                        <td class="text-right" zippy="rowamount"> </td>

                        <td zippy="rownotes"></td>

                    </tr>

                </table>  <a id="dankor"></a>

            
                    <div class="row" zippy="statuspan">

                        {{#hideblock}}


                        <div class="card">
                            <div class="card-body">
                                <div class="navbar nav">
                                    <form zippy="statusform" class="form-inline ">
                                        <label for="stpamount">К оплате</label>
                                        <input zippy="stpamount" pattern="[0-9\.\-]+" style="width:100px;" placeholder="Сумма..."
                                               class="form-control mr-2">
                                        <label for="stpayment">счет</label>
                                        <select class="form-control mr-2" zippy="stpayment">

                                        </select>
                                        <button zippy="stbtnpay" type="submit" class="  btn btn-info  mr-4 ">Оплатить</button>
                                        <button zippy="stbtback" type="submit" class="  btn btn-info  mr-2 ">Возврат</button>


                                    </form>
                                </div>
                            </div>
                        </div>
                        {{/hideblock}}



                        <div class="card">
                            <div class="card-body">

                                <div zippy="docview"></div>

                            </div>
                        </div>
                    </div>
                




            </div>

        </div>         

        <form zippy="editcust">
            <h3>&nbsp;Новый контрагент </h3>
            <div class="row">
                <div class="col-12 col-md-4 col-xl-3">

                    <div class="form-group">
                        <label for="editcustname">Название </label>
                        <input class="form-control " zippy="editcustname" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="editphone">Телефон</label>
                        <input class="form-control" type="text" zippy="editphone"/>
                    </div>
                   <div class="form-group">
                        <label for="editemail">E-mail</label>
                        <input class="form-control" type="text" zippy="editemail"/>
                    </div>
                    <div class="form-group">
                        <input zippy="savecust" type="submit" value="Сохранить" class="btn btn-outline-primary">
                        <input type="button" zippy="cancelcust" value="Отменить" class="btn btn-light ">
                    </div>
                </div>
            </div>
        </form>





        <!--
        <form zippy="zform">
           <h3>&nbsp;Закрытие  смены </h3>
           <div class="row">
               <div class="col-12 col-md-4 col-xl-3">
                   <div class="form-group row">
                       <label for="zformqnt" class="col-5 col-form-label">Кол. документов</label>
                       <div class="col-4">
                         <input pattern="[0-9]+" class="form-control" type="text" zippy="zformqnt"/>
                      </div>
                   </div>
                  <div class="form-group row">
                       <label for="zformnal" class="col-5 col-form-label">Наличные</label>
                       <div class="col-4">
                         <input pattern="[0-9\.]+" class="form-control" type="text" zippy="zformnal"/>
                      </div>
                   </div>
                  <div class="form-group row">
                       <label for="zformbnal" class="col-5 col-form-label">Банковская карта</label>
                       <div class="col-4">
                         <input pattern="[0-9\.]+" class="form-control" type="text" zippy="zformbnal"/>
                      </div>
                   </div>
                  <div class="form-group row">
                       <label for="zformcredit" class="col-5 col-form-label">В кредит</label>
                       <div class="col-4">
                         <input pattern="[0-9\.]+" class="form-control" type="text" zippy="zformcredit"/>
                      </div>
                   </div>
                  <div class="form-group row">
                       <label for="zformprepaid" class="col-5 col-form-label">Предоплата</label>
                       <div class="col-4">
                         <input pattern="[0-9\.]+" class="form-control" type="text" zippy="zformprepaid"/>
                      </div>
                   </div>
                  <div class="form-group row">
                       <label for="zformtotal" class="col-5 col-form-label">Всего</label>
                       <div class="col-4">
                         <input pattern="[0-9\.]+" class="form-control" type="text" zippy="zformtotal"/>
                      </div>
                   </div>
                    <div class="form-group">
                       <input zippy="savezform" type="submit" value="Закрыть" class="btn btn-outline-primary">
                       <input type="button" zippy="cancelzform" value="Отменить" class="btn btn-light ">
                   </div>
               </div>
           </div>
        </form>
        -->

        <script>
            $(document).ready(function () {

                $('#payed').focus();
                $('#barcode').focus();


                $("#paydisc").change(function () {
                    var total2 = $("#total2").val();
                    var paydisc = $("#paydisc").val();
                    var payamount = parseFloat(total2) - parseFloat(paydisc);
                    $("#payamount").val(payamount.toFixed(2)); 
                    $("#payed").val(payamount.toFixed(2));
             });
                $("#payed").change(function () {
                    var payed = $("#payed").val();  
                    var payamount = $("#payamount").val();
                    var exchange = parseFloat(payed) - parseFloat(payamount);
                    if (exchange > 0) {
                        $("#exchange").val(exchange.toFixed(2));
                    } else {
                        $("#exchange").val(0);
                    }

                });

            });

            function onBarCode(ele) {

                if (event.key === 'Enter' || event.keyCode == 13) {
                    // alert($('#barcode').val());
                    $('#addcode').click()
                }
            }

            function check_save(ele) {
                $('#save').attr('disabled', 'disabled');
                return true;
            }
            function check_openshift(ele) {
                
                $('#openshift').attr('disabled', 'disabled');
                return true;
            }
            function check_closeshift(ele) {
                $('#closeshift').attr('disabled', 'disabled');
                return true;
            }


        </script>

    </body>

</html>
