<html>
    <head>
        <title> АРМ касира  </title>

    </head>
    <body>
        <h3>  АРМ касира</h3>

        <form zippy="form1">

            <div class="row">
                <div class="col-12 col-md-4 col-xl-3">
                    <div class="form-group  ">
                        <label for="pos">POS термінал</label>
                        <select class="form-control" zippy="pos">
                            <option value="0">Не вибрано</option>
                        </select>
                    </div>

                    <div class="form-group  ">
                        <label for="store">Склад</label>
                        <select class="form-control" zippy="store">
                            <option value="0">Не вибраний</option>
                        </select>
                    </div>

                    <div class="form-group  ">
                        <label for="pricetype">Тип цiни</label>
                        <select class="form-control" zippy="pricetype">
                            <option value="0">Не вибрано</option>
                        </select>
                    </div>
                    <div class="form-group  ">
                        <label for="salesource">Джерело продаж</label>
                        <select class="form-control" zippy="salesource">
                            <option value="0">Не вибрано</option>
                        </select>
                    </div>

                    <div class="form-group  ">
                        <input type="submit" value="Додати товари >" zippy="next1" class="btn btn-info">
                    </div>
                </div>

            </div>

        </form>

        <div   zippy="docpanel">

            <h4 class="mb-2  ">Оформлення  чеку</h4>
            <a zippy="tochecklist"  ><i class="fa fa-list"></i> Список  чекiв</a>    &nbsp;  &nbsp; &nbsp;  &nbsp; 
             {{#ppo}}
                
                        <a zippy="openshift"><i class="fa fa-bullhorn"/> Вiдкрити змiну</a>
                        &nbsp;  &nbsp; <a zippy="closeshift"><i class="fa fa-gavel"/> Закрити змiну</a>
                        
             
                {{/ppo}}
            <form zippy="form2" class="mt-2 ">
             
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                        {{#usescanner}}
                        <div class="navbar nav justify-content-start">
                            Штрих-код &nbsp;<input autocomplete="off" autofocus type="text" zippy="barcode" onkeydown="onBarCode()">
                            &nbsp; &nbsp;<a zippy="addcode" class="btn btn-info btn-sm">+</a>

                        </div>
                        {{/usescanner}}


                        <a class="btn btn-info  " zippy="addrow">Додати товар</a>
                        &nbsp;&nbsp;<a class="btn btn-info  " zippy="addser">Додати послугу</a>
                        &nbsp;&nbsp;<input type="submit" value="Перейти до  оплати >" zippy="topay" class="btn  btn-info">


                        <table class="table table-sm">
                            <tr>
                                <th>Назва</th>
                                <th>Код</th>
                                <th>Од.</th>
                                {{#usesnumber}}
                                <th>Серія</th>
                                <th>Дата</th>
                                {{/usesnumber}}


                                <th  style="width:40px" class="text-right">Кіл.</th>
                                <th class="text-right">Ціна</th>

                                <th class="text-right">Сума</th>
                                <th  ></th>
                                <th  ></th>
                            </tr>

                            <tr zippy="detail">
                                <td zippy="tovar"></td>
                                <td zippy="code"></td>
                                <td zippy="msr"></td>
                                {{#usesnumber}}
                                <td zippy="snumber"></td>
                                <td zippy="sdate"></td>
                                {{/usesnumber}}

                                <td  class="text-right text-nowrap"><b><a  zippy="minus">-</a></b>&nbsp;&nbsp;<span zippy="quantity"></span>&nbsp;&nbsp;<b><a zippy="plus">+</a></b>  </td>
                                <td zippy="price" class="text-right"></td>

                                <td zippy="amount" class="text-right"></td>
                                <td><a zippy="edit"><i class="fa fa-edit"></i></a></td>
                                <td><a zippy="delete"><i class="fa fa-trash"></i></a></td>

                            </tr>
                            <tr zippy="detailser">
                                <td zippy="service"></td>
                                <td></td>
                                <td></td>
                                {{#usesnumber}}
                                <td></td>
                                <td></td>
                                {{/usesnumber}}


                                <td zippy="serquantity" class="text-right"></td>
                                <td zippy="serprice" class="text-right"></td>

                                <td zippy="seramount" class="text-right"></td>
                                <td><a zippy="seredit"><i class="fa fa-edit"></i></a></td>
                                <td><a zippy="serdelete"><i class="fa fa-trash"></i></a></td>

                            <tr style="font-weight: bolder;" id="tankor">

                                {{^usesnumber}}
                                <td colspan="5" class="text-right">Всього:</td>
                                {{/usesnumber}}
                                {{#usesnumber}}
                                <td colspan="7" class="text-right">Всього:</td>
                                {{/usesnumber}}

                                <td zippy="total" class="text-right"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>


            </form>
            <form zippy="form3">

                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group row">
                            <label class="col-4" for="document_number">Номер документу</label>
                            <div class="col-6">
                            <input class="form-control" type="text" zippy="document_number" required="required">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-4" for="document_date"> Дата</label>
                            <div class="col-6">
                           <input style="width:120px;" class="form-control" type="text" zippy="document_date" required="required">
                            </div>
                        </div>
                   

 
                        <div class="form-group  row ">
                            <label class="col-4" for="customer">Покупець</label>
                            <div class="col-6">
                           <input placeholder="Почніть вводити..." class="form-control " zippy="customer"/>
                            <span zippy="discount" style="display:block;font-size:smaller"></span>
                            <a style="font-size:smaller" zippy="addcust">Додати нового</a>

                              </div>
                      </div>

                        <div class="form-group  row ">
                            <label class="col-4" for="payment">Тип оплати </label>
                            <div class="col-6">
                           <select class="form-control" zippy="payment">

                            </select>
                                          </div>
                        </div>
                         <div class="form-group  row ">
                            <label class="col-4" data-label="trans"  for="trans">№ транзакції</label>
                            <div class="col-6">
                           <input zippy="trans" class="form-control "  />
                            <small  data-label="trans" >Код з банківського терміналу при оплаті карткою</small>
                            
                             </div>
                           
                        </div>
                         <div class="form-group  row ">
                            <label class="col-4" for="notes">Примітка </label>

                            <div class="col-6">
                           <textarea class="form-control" zippy="notes"></textarea>

                          </div> 
                        </div>

                    </div>


                    <div class="col-12 col-md-4  ">
                        <div class="form-group row">
                          <label class="col-4" for="total2">На суму</label>
                           <div class="col-2">
                             <input class="form-control-plaintext" type="text" zippy="total2" readonly>
                         </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4" for="paydisc" data-label="paydisc">Знижка</label>
                           <div class="col-2">
                            <input autocomplete="off" class="form-control" type="text" zippy="paydisc">
                         </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4" for="bonus" data-label="paydisc">Бонуси</label>
                           <div class="col-2">
                            <input autocomplete="off" class="form-control" type="text" zippy="bonus">
                         </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4" for="payamount" data-label="payamount">Всього</label>
                          <div class="col-2">
                            <input autocomplete="off" class="form-control" type="text" zippy="payamount">
                         </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4" for="payed" data-label="payed">Внесена оплата</label>
                           <div class="col-2">
                            <input autocomplete="off" class="form-control qtyprice" type="text" zippy="payed">
                          </div>
                        </div>

                        <div class="form-group  row">
                            <label class="col-4" for="exchange" data-label="exchange">Решта</label>
                          <div class="col-2">
                            <input class="form-control-plaintext" type="text" zippy="exchange" readonly>
                         </div>
                        </div>
                     
                       <div class="form-group row">
                            <label class="col-4" for="exch2b" data-label="exch2b">Бонуси</label>
                         
                            <div class="col-2">
                            <input autocomplete="off" class="form-control" type="text" zippy="exch2b">
                         </div>     
                             <div class="col-12">
                  <small>    Занести частину або  всю решту в бонуси </small>
                      </div>     
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="form-group  ">
                            <input type="button" value="< назад" zippy="cancel2" class="btn  btn-outline-info">
                            &nbsp;&nbsp;<input type="submit" value="Зберегти  " zippy="save" class="btn  btn-info">
                            {{#ppo}}
                            &nbsp;&nbsp;<input zippy="passfisc" type="checkbox"> Вiдкласти  фiскалiзацiю  
                           <i class="fa fa-info-circle  " data-toggle="tooltip" data-placement="top"
                                   title="На випадок збою інтернету фіскалізацію можна пропустити. Чек може бути фіскалізований ДО закриття зміни на сторінці ручного закриття зміни в модулі РРО "></i>
                                              
                            {{/ppo}}
                            
                        </div>

                    </div>
                </div>

            </form>
            <form zippy="formcheck">
                <div class="row">
                    <div class="col-6">
                        <div zippy="showcheck">

                        </div>
                        <br>
                        <div class="form-group  ">
                          
                           <input   zippy="print" type="button" value="Друк "                                   class="btn  btn-primary">
                                     
                         
                            &nbsp;&nbsp;<input type="button" value="Новий чек  " zippy="newdoc" class="btn  btn-info">
                        </div>

                    </div>
                </div>
            </form>


            <div class="row">
                <div class="col-12 col-md-4 col-xl-3">
                    <form zippy="editdetail">
                        <h4>Введення товару </h4>
                        <div class="form-group">
                            <label for="edittovar">Назва</label>
                            <input placeholder="Почніть вводити..." class="form-control " zippy="edittovar"/>
                            <br> <a zippy="openitemsel">Вiдкрити довiдник</a>
                            <br> <a zippy="opencatpan">Відкрити Категорії</a>
                           <br>
                            Наявність: <span zippy="qtystock"></span>

                        </div>
                        {{#usesnumber}}
                        <div class="form-group">
                            <label for="editserial">Серія виробника </label>
                            <input class="form-control " zippy="editserial"/>

                        </div>

                        {{/usesnumber}}
                        <div class="form-group">
                            <label for="editquantity">Кількість</label>
                            <input class="form-control qtyprice" type="text" zippy="editquantity" required="required" pattern="[0-9,\.]+"
                                   style="width: 70px;">

                        </div>

                        <div class="form-group">
                            <label for="editprice">Ціна </label>
                            <input autocomplete="off" class="form-control" type="text" zippy="editprice" required="required"
                                   pattern="[,0-9\.]+"
                                   style="width: 70px;">

                        </div>


                        <div class="form-group">
                            <input type="submit" zippy="submitrow" value="Зберегти" class="btn btn-outline-primary ">
                            &nbsp; <input type="button" zippy="cancelrow" value="До списку" class="btn btn-outline-secondary ">
                        </div>

                    </form>
                </div>
                <div class="col-12 col-md-8 col-xl-8">
                    <div zippy="wselitem"></div>
                            
 
                </div>
            </div>


            <form zippy="editserdetail">
                <h4>Введення послуги </h4>
                <div class="row">
                    <div class="col-12 col-md-4 col-xl-3">

                        <div class="form-group">
                            <label for="editser">Назва</label>
                            <input placeholder="Почніть вводити..." class="form-control " zippy="editser"/>


                        </div>

                        <div class="form-group">
                            <label for="editserquantity">Кількість</label>
                            <input class="form-control qtyprice" type="text" zippy="editserquantity" required="required" pattern="[0-9,\.]+"
                                   style="width: 70px;">

                        </div>

                        <div class="form-group">
                            <label for="editserprice">Вартість </label>
                            <input class="form-control" type="text" zippy="editserprice" required="required" pattern="[,0-9\.]+"
                                   style="width: 70px;">

                        </div>


                        <div class="form-group">
                            <input type="submit" zippy="submitser" value="Зберегти" class="btn btn-outline-primary ">
                            &nbsp; <input type="button" zippy="cancelser" value="Скасувати" class="btn btn-outline-secondary ">
                        </div>


                    </div>
                </div>
            </form>
        </div>  
        <div class="row" zippy="checklistpan"  >

            <div class="col-12 col-md-10 xl-8" >
                <h4>Список  чекiв</h4>
                <a  class="btn btn-success" zippy="newcheck">Новий чек</a>   


                <div class="row"  >       
                    <div class="card">
                        <div class="card-body">
                            <div class="navbar nav">
                                <form zippy="searchform" class="form-inline ">
                                    <label for="searchnumber"> № </label>

                                    <input class="form-control mr-2" type="text" zippy="searchnumber" style="width:100px">

                                    <label for="searchcust"> Клiент </label>

                                    <input placeholder="Почнiть вводити..." class="form-control mr-2" type="text" zippy="searchcust"  >

                                    <input type="submit" class="  btn btn-outline-success  " value="Шукати">


                                </form>
                            </div>
                        </div>
                    </div>
                </div>




                <table class="table  table-sm">
                    <tr>
                        <th>Дата</th>
                        <th>Номер</th>

                        <th class="text-right">Сума</th>


                        <th ></th>


                    </tr>
                    <tr zippy="checklist">
                        <td zippy="rowdate"> </td>
                        <td ><a zippy="rownumber"></a></td>

                        <td class="text-right" zippy="rowamount"> </td>

                        <td zippy="rownotes"></td>
                    </tr>

                </table> 
                <div zippy="pag"></div>
                 <a id="dankor"></a>

           
                    <div class="row" zippy="statuspan">
                        {{#hideblock}}

                        <div class="card">
                            <div class="card-body">
                                <div class="navbar nav">
                                    <form zippy="statusform" class="form-inline ">
                                        <label for="stpamount">До сплати</label>
                                        <input zippy="stpamount" pattern="[0-9\.\-]+" style="width:100px;" placeholder="Сумма..."
                                               class="form-control mr-2">
                                        <label for="stpayment">рахунок</label>
                                        <select class="form-control mr-2" zippy="stpayment">

                                        </select>
                                        <button zippy="stbtnpay" type="submit" class="  btn btn-info  mr-4 ">Сплатити</button>
                                        <button zippy="stbtback" type="submit" class="  btn btn-info  mr-2 ">Повернення</button>


                                    </form>
                                </div>
                            </div>
                        </div>
                        {{/hideblock}}


                        <div class="card">
                            <div class="card-body">

                                <div zippy="docview"></div>

                            </div>
                        </div>
                    </div>
              




            </div>

        </div>         




        <form zippy="editcust">
            <h3>&nbsp;Новий контрагент </h3>
            <div class="row">
                <div class="col-12 col-md-4 col-xl-3">

                    <div class="form-group">
                        <label for="editcustname">Назва </label>
                        <input class="form-control " zippy="editcustname" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="editphone">Телефон</label>
                        <input pattern="[0-9]+" class="form-control" type="text" zippy="editphone"/>
                    </div>
                    <div class="form-group">
                        <label for="editemail">E-mail</label>
                        <input class="form-control" type="text" zippy="editemail"/>
                    </div>
 

                    <div class="form-group">
                        <input zippy="savecust" type="submit" value="Зберегти" class="btn btn-outline-primary">
                        <input type="button" zippy="cancelcust" value="Скасувати" class="btn btn-outline-secondary ">
                    </div>
                </div>
            </div>
        </form>


        <script>
            $(document).ready(function () {

                $('#payed').focus();
                $('#barcode').focus();


                $("#paydisc").change(function () {
                    var total2 = $("#total2").val();
                    var paydisc = $("#paydisc").val();
                    var bonus = $("#bonus").val();
                    var payamount = parseFloat(total2) - parseFloat(paydisc) - parseFloat(bonus);
                    $("#payamount").val(payamount.toFixed(2));
                     $("#payed").val(payamount.toFixed(2));
                });
               $("#bonus").change(function () {
                    var total2 = $("#total2").val();
                    var paydisc = $("#paydisc").val();
                    var bonus = $("#bonus").val();
                    var payamount = parseFloat(total2) - parseFloat(paydisc) - parseFloat(bonus);
                    $("#payamount").val(payamount.toFixed(2));
                     $("#payed").val(payamount.toFixed(2));
                });
                
                $("#payed").change(function () {
                    var payed = $("#payed").val();  
                    var payamount = $("#payamount").val();
                    var exchange = parseFloat(payed) - parseFloat(payamount);
                    if (exchange > 0) {
                        $("#exchange").val(exchange.toFixed(2));
                    } else {
                        $("#exchange").val(0);
                    }

                }); 

            $('#editquantity').on('input',function( ) {
                   if(editquantity.reportValidity()==false) return
           
                   var id = $('#edittovar_id').val()
                   if(id==0)   return;
                   var q = $('#editquantity').val()
                   
                   $('#submitrow').attr('disabled','disabled')                     
                      callPageMethod('getPriceByQty',[id,q], null,(data)=> 
                      {
                               $('#editprice').val(data)
                               $('#submitrow').attr('disabled',null)                     
     
                          
                      });
                    
            })                
                
                
            });

            function onBarCode(ele) {

                if (event.key === 'Enter' || event.keyCode == 13) {
                    // alert($('#barcode').val());
                    $('#addcode').click()
                }
            }
            function check_save(ele) {
                $('#save').attr('disabled', 'disabled');
                return true;
            }
            function check_openshift(ele) {
                
                $('#openshift').attr('disabled', 'disabled');
                return true;
            }
            function check_closeshift(ele) {
                $('#closeshift').attr('disabled', 'disabled');
                return true;
            }

        </script>

    </body>

</html>
