<html>
      <head>
        <title> АРМ кухнi  </title>

    </head>

    <body>
        <div class="row"  >

            <div class="col-12 col-md-4 col-xl-3   " >
                <h3>АРМ кухнi</h3>
                
                <div id="newordersalert" style="display:none;"  class="alert alert-success  ml-4"  >
                    <span id="neworderscnt"></span>
                </div>   
            </div>
            <div class="col-12 col-md-4 col-xl-3   " >
             <i id="bell"  style="cursor:pointer"  onclick="onBell( )" title="Звукове повiдомлення" class="fa fa-bell-slash text-secondary"></i>  
            </div>
            
      
             <div class="w-100">
    {{={| |}=}}             
  <div  id="vapp" class="col-12 col-md-10 col-lg-8" >
        <a onclick="updateItems()" href="javascript:void(0)"   class="btn btn-info">Оновити</a>
        
        <table class="table table-striped">
    <tr v-for="item, index in itemlist">
        <td>{{item.ordern}}</td>
        <td>{{item.name}}</td> 
        <td>{{item.qty}}</td> 
        <td>{{item.notes}}</td> 
        <td><a    v-on:click="onReady(item.document_id,item.item_id, index) " class="btn btn-success">Готово</a></td> 
    </tr>    
        </table>
        <paginator></paginator>
   
  </div>
             </div>
            {|={{ }}=|}
            <script>
            
                function onBell(){
                    $("#bell").attr('class','fa fa-bell  text-success')
                    // beep()
                }
               
            
                window.setInterval(onNewOrder, 5000);

            
     
    
     var vapp = new Vue({
            el: '#vapp',
       
      data() {return  {
          itemlist:[]
      }    }  ,
     components: {
          'paginator': httpVueLoader('/assets/js/vue/paginator.vue')
   
        }, 
        methods: {
             onReady( document_id,item_id, index) {
                 // onBell()
                  $('#newordersalert').hide();
                  callPageMethod('onReady',[document_id,item_id],null,(data)=> 
                  {
                      this.updateItems() ;
                  });     
             
           } ,
           
        updateItems(){
            
      
            
          callPageMethod('getItems',null,null,(data)=> 
          {
                   
              this.itemlist= JSON.parse(data)  
              
          
          });
            
      }           
        }      
      
    })   

    function updateItems() {
      vapp.updateItems() ;
  }
  
  
             function onNewOrder() {
                        
                        callPageMethod('getMessages',null,null,(data)=> 
                        {
                               
                                var  answer = JSON.parse(data)  
                                
                                if (answer.update==true ) {
                                  
                                      updateItems() 
                                      return;
                                }
                             
                                
                                if(answer.cnt > 0){
                                   $('#newordersalert').show();
                                   $('#neworderscnt').text('Нових замовлень ' + answer.cnt);
                                   beep()
                                   updateItems() 
                                }
                            });
                
                }
    
  

      
  $(document).ready(function () {
      
      updateItems() ;
 });                          
     </script>


    </body>
</html>
 const app = Vue.createApp({
  methods: {
    initialize() { /* ... */ }
  }
});

const vm = app.mount("#app");
vm.initialize();