<html>
      <head>
        <title> АРМ кухнi  </title>

    </head>

    <body>
        <div class="row"  >

            <div class="col-12 col-md-4 col-xl-3   " >
                <h3>АРМ кухнi</h3>
                
          
            </div>
            <div class="col-12 col-md-4 col-xl-3   " >
             <i id="bell"  style="cursor:pointer"  onclick="onBell( )" title="Звукове повiдомлення" class="fa fa-bell-slash text-secondary"></i>  
            </div>
            
      
            <div class="w-100"></div>
    {{={| |}=}}             
  <div  id="vapp" class="col-12 col-md-10 col-lg-8" >
        <input id="forbar"  class="ml-2" type="checkbox" v-model="forbar"  > <label for="forbar">Бар</label> <a onclick="updateItems()" href="javascript:void(0)"   class="btn btn-info  ml-2">Оновити</a>
         
        <table class="table table-striped">
        <tr>
           <th>Замовлення</th>
           <th>Блюдо</th>
           <th>Кiл.</th>
           <th>Стiл</th>
           <th></th>
           <th>Рецепт</th>
           <th></th>
           <th></th>
           <th></th>
        </tr>
    <tr v-for="item, index in itemlist">
        <td>{{item.ordern}}</td>
        <td>{{item.name}}</td> 
        <td>{{item.qty}}</td> 
        <td>{{item.table}}</td> 
        <td>{{item.notes}}</td> 
        <td>
           <i v-show="item.techcard != ''"  class="fa fa-book  popinfo" style="cursor:pointer;font-size:16px;" data-container="body" data-toggle="popover"
                  data-placement="bottom" v-bind:data-content="item.techcard" ></i>          
        
        </td> 
        <td><a  v-show="item.foodstate == 1"  v-on:click="onInprocess(item.document_id,item.rowid, index) " class="btn btn-info">На виготовлення</a></td> 
        <td><a v-show="item.foodstate == 1 || item.foodstate == 2"   v-on:click="onReady(item.document_id,item.rowid, index) " class="btn btn-success ml-2">Готово</a></td> 
        <td><a  v-show="item.foodstate == 3"   v-on:click="onSend(item.document_id,item.rowid, index) " class="btn btn-success ml-2">Видано</a></td> 
    </tr>    
        </table>
        
   
  </div>
             </div>
            {|={{ }}=|}
        <script>
        
            function onBell(){
                $("#bell").attr('class','fa fa-bell  text-success')
                // beep()
            }
        
            window.setInterval(onNewOrder, 5000);
     
    
          var vapp = new Vue({
                el: '#vapp',
           
          data() {
              return  {
                 forbar:false ,
                 itemlist:[]
               }   
          }  ,
          methods: {
             onReady( document_id,rowid, index) {
                 // onBell()
                
                  callPM('onReady',[document_id,rowid],null,(data)=> 
                  {
                      
                      
                      this.updateItems() ;
                  });     
             
           } ,
            onInprocess( document_id,rowid, index) {
                 // onBell()
                
                  callPM('onInprocess',[document_id,rowid],null,(data)=> 
                  {
                      
                      
                      this.updateItems() ;
                  });     
             
           } ,
           onSend( document_id,rowid, index) {
                 // onBell()
                
                  callPM('onSend',[document_id,rowid],null,(data)=> 
                  {
                      
                      this.updateItems() ;
                  });     
             
           } ,
           
          updateItems(){
            
      
            
              callPM('getItems',[this.forbar],null,(data)=> 
              {
                       
                  this.itemlist=  data    
                  $('.popinfo').popover();            
              
              });
                
          }           
        },
        
        mounted: function  (){ 

          this.updateItems() ;  
        }     
      
    })   

    function updateItems() {
      vapp.updateItems() ;
    }
  
  
             function onNewOrder() {
                        
                        callPM('getMessages',null,null,(answer)=> 
                        {
                               
                          
                                
                                if (answer.update==true ) {
                                  
                                      updateItems() 
                                      return;
                                }
                             
                                
                                if(answer.cnt > 0){

                                   toastr.info( 'Нових замовлень ' + answer.cnt +' ' ,'',{timeOut:5000})
                                   beep()
                                   updateItems() 
                                }
                            });
                
                }
    
  

      
  $(document).ready(function () {
      
      updateItems() ;
 });                          
     </script>


    </body>
</html>
 