<html>
    <head>

    </head>
    <body>
        
       
        <div class="row">
             <div class="col-12    ">
             <h3>  Скидки и акции</h3>

                <div class="mt-1" style="font-size: 1.5rem">
                    <a zippy="tabo"><span class="{{{tabobadge}}}">  Общие  настройки</span> </a> &nbsp;&nbsp;
                    <a zippy="tabc"><span class="{{{tabcbadge}}}">  Контрагенты   </span> </a>
                    <a zippy="tabg"><span class="{{{tabgbadge}}}">  Категории   </span> </a>
                    <a zippy="tabi"><span class="{{{tabibadge}}}">  Товары   </span> </a>
                    <a zippy="tabs"><span class="{{{tabsbadge}}}">  Услуги, работы   </span> </a>
                    

                </div>
               <div zippy="otab">
                  
                  <div class="row">
                   <div class="col-12 col-md-4 col-xl-3   ">
                    <h4> Общие настройки</h4>
                   <form zippy="commonform">
                            <div class="form-group">
                                <label for="firstbay">Скидка на первую  покупку, % от суммы</label>
                                <input zippy="firstbay"  pattern="[0-9\.]+" style="width:100px"  class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label for="bonus1">Бонусы от суммы покупки больше 0,%</label>
                                <input zippy="bonus1" style="width:100px" pattern="[0-9\.]+"                                       class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label for="level2">Если сумма больше</label>
                                <input zippy="level2" style="width:100px" pattern="[0-9\.]+"                                       class="form-control" type="text">
                                <small>Второй уровень</small>
                            </div>
                            <div class="form-group">
                                <label for="bonus2">Бонусы,%</label>
                                <input zippy="bonus2" style="width:100px" pattern="[0-9\.]+"                                       class="form-control" type="text">
                            </div>
 
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Сохранить</button>
                            </div>
                        </form>
                    </div>
                   </div>
                  </div>
               <div zippy="ctab">
                <div class="row">
                   <div class="col-12 col-md-8 col-xl-6   ">
                       <h4> Покупатели</h4>
                       <div class="navbar nav  ">
                            <form zippy="cfilter" class="form-inline ">

                                <label for="csearchkey">Поиск</label>
                                <input class="form-control mr-sm-2" type="text" zippy="csearchkey">
                              
                                <input class="btn btn-outline-success   " type="submit" value="ОК"  >

                            </form> 
                       </div>
                        <div zippy="clistpan">
                            <small> <i class="fa fa-exclamation-triangle"/> Если задана  постоянная скидка  остальные  скидки и акции игнорируются </small> 
                             <table class="table    table-sm mt-2">
                                <tr>
                               <th >Имя </th>
                               <th >Тел. </th>
                               <th   class="text-right">Скидка,%</th>
                               <th   class="text-right">Бонусы</th>
                               <th >   </th>
                                </tr>
                                <tr  zippy="clist">
                                  <td zippy="cname"></td>
                                  <td zippy="cphone"></td>
                                  <td zippy="cdisc"  class="text-right"></td>
                                  <td zippy="cbonus"  class="text-right"></td>
                                  <td  ><a zippy="cedit"><i class="fa fa-edit"/></a></td>
                                </tr>
                                </table>
                               <div zippy="cpag"></div>
                           </div>
                       <div zippy="cedit">
                          <form zippy="cform">
                          
                          </form>
                       
                       </div>
                   </div>
               </div>
               </div>
               <div zippy="gtab">
                 <div class="row">
                   <div class="col-12 col-md-8 col-xl-6   ">
                     <h4> Категории</h4>
                         <table class="table    table-sm mt-2">
                           <tr>
                               <th > Наименование </th>
                               <th > Скидка,%</th>
                               <th > С</th>
                               <th > По</th>
                               <th >  </th>
                          </tr>
                          <tr  zippy="glist">      
                               <td zippy="gname"></td>               
                               <td> </td>               
                               <td> </td>               
                               <td> </td>               
                               <td> </td>               
                          </tr>
                        </table>     
                   </div>
                </div>
               </div>
              <div zippy="itab">
                <h4> Товары</h4>
               </div>
               <div zippy="stab">
                <h4> Услуги</h4>
               </div>
                
           </div>

        </div>                
</body>
</html>
