<html>
    <head>
      <title> Програми лояльності  </title>

    </head>
    <body>


        <div class="row   "  >

            <div class="col-12    ">
                <h3>  Програми лояльності</h3>

                <div class="mt-1" style="font-size: 1.5rem"  >
                     <a zippy="tabc"><span class="{{{tabcbadge}}}">  Знижки   </span> </a>
                    
                    <a zippy="tabi"><span class="{{{tabibadge}}}">  Акції, товари   </span> </a>
                    <a zippy="tabs"><span class="{{{tabsbadge}}}">  Акції, послуги    </span> </a>
                  
                    <a zippy="tabo"><span class="{{{tabobadge}}}"> Бонуси</span> </a> &nbsp;&nbsp;
                    <a zippy="tabp"><span class="{{{tabpbadge}}}">  Промокоди    </span> </a>
                   
                    <a zippy="tabe"><span class="{{{tabebadge}}}">  Співробітники    </span> </a>
              


                </div>   <br>
                <div zippy="otab" >

                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-5   ">
                             <small>Бонуси не  нараховуються  якщо задана знижка</small>
                            <form zippy="commonform">
                                <div class="form-group">
                                    <label for="firstbay">Бонуси від суми першої покупки, % від суми</label>
                                    <input zippy="firstbay"  pattern="[0-9,\.]+" style="width:100px "  class="form-control qtyprice" type="text">
                                </div>
                                <div class="form-group">
                                    <label >Бонуси від суми покупки </label>
                                </div>
                                <div class="form-group">

                                    <div class="input-group">
                                        <span class="input-group-text"> Більше</span>
                                        <input   style="width:100px"  class="form-control"   zippy="summa1"   pattern="[0-9]+">
                                        <span class="input-group-text"> бонус, %</span>
                                        <input  style="width:100px"   class="form-control qtyprice"   zippy="bonus1"   pattern="[0-9,\.]+">
                                    </div>      
                                    <small>Перший рівень</small>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-text"> Більше</span>
                                        <input   style="width:100px"  class="form-control"   zippy="summa2"   pattern="[0-9]+">
                                        <span class="input-group-text"> бонус, %</span>
                                        <input   style="width:100px"  class="form-control qtyprice"   zippy="bonus2"   pattern="[0-9,\.]+">
                                    </div>      

                                    <small>Другий рівень</small>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-text"> Більше</span>
                                        <input  style="width:100px"   class="form-control"   zippy="summa3"   pattern="[0-9]+">
                                        <span class="input-group-text"> бонус, %</span>
                                        <input   style="width:100px"  class="form-control qtyprice"   zippy="bonus3" pattern="[0-9,\.]+" >
                                    </div>      

                                    <small>Третiй рівень</small>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-text"> Більше</span>
                                        <input  style="width:100px"   class="form-control"   zippy="summa4"   pattern="[0-9]+">
                                        <span class="input-group-text"> бонус, %</span>
                                        <input  style="width:100px"   class="form-control qtyprice"   zippy="bonus4" pattern="[0-9,\.]+" >
                                    </div>      

                                    <small>Четвертий рівень</small>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-success" type="submit">Зберегти</button>
                                </div>
                            </form>
                            
                            <h5> Персональнi бонуси</h5>
                            <div class="card  ">
                                <form zippy="pbfilter" class="form-inline ">

                                    <label for="pbsearchkey">Контрагент</label>
                                    <input placeholder="Почнiть вводити..." class="form-control mr-sm-2" type="text" zippy="pbsearchkey">
                                    <label for="pbsearchbon">бонус,%</label>
                                    <input class="form-control qtyprice mr-sm-2" type="text" zippy="pbsearchbon" pattern="[0-9\.]+" style="width:50px;">
                                    <input class="btn btn-success " type="submit" value="Додати"  >
                                 
  
                                </form> 
                            </div>                            
                                   <table class="table    table-sm mt-2">
                                    <tr>
                                        <th >Контрагент </th>
                                        <th >Тел. </th>
                                        <th  class="text-right" >Бонус</th>
                                        <th > </th>
                                    </tr>
                                    <tr  zippy="pblist">
                                        <td zippy="pbname"></td>
                                        <td zippy="pbphone"></td>
                                        <td  class="text-right" zippy="pbbonus"> </td>
                                        <td  ><a zippy="pbdel"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                </table>
                                <div zippy="pbpag"></div>                        
                        </div>
                        
                        <div class="col-12 col-md-6 col-xl-6   ">
                            <h5> Нарахованi бонуси</h5> 
                           <div class="card  ">
                                <form zippy="blfilter" class="form-inline ">
                                    <input placeholder="Контрагент..." class="form-control " type="search"  zippy="blsearch">
                                    <input class="btn btn-success mr-4" type="submit" value="Шукати"  >
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#modaladdbonus" class="btn btn-success " title="Додати/вiдняти бонуси"  >Бонус +/-</a>
                             
                                </form> 
                            </div>  
                               <table class="table    table-sm  ">
                                    <tr  zippy="listbon">
                                        <td zippy="lbname"></td>
                                        <td zippy="lbphone"></td>
                                        <td class="text-right" zippy="lbbonus"> </td>
                                        <td  >   
                                              <details>
                                                <summary><b>Iсторiя</b></summary>
                                                 <table class="ctable" style="font-size:smaller" zippy="lbdetail">
                                                 </table>
                                              </details>
                                        </td>

                                    </tr>
                                </table>
                                <div zippy="lbpag"></div>                             
                                <b>Всього: </b><b zippy="sumbonuses"></b> 
                                             
                        </div>
                    </div>
                </div>
                <div zippy="ctab">
                    <div class="row">
                        <div class="col-12 col-md-7 col-xl-5   ">
                            <small> <i class="fa fa-exclamation-triangle"></i> Якщо заданi знижки, бонуси не використовуються </small>
                            <h5> Накопичувальнi знижки (вiд суми всiх покупок )</h5>
                               <div class="row">
                               <div class="col-12 col-md-8 col-xl-6">
                              <form zippy="discform" >
                         
                                <div class="form-group">

                                    <div class="input-group">
                                        <span class="input-group-text"> Більше</span>
                                        <input   class="form-control"   zippy="discsumma1"   pattern="[0-9]+">
                                        <span class="input-group-text"> знижка, %</span>
                                        <input   class="form-control qtyprice"   zippy="disc1"   pattern="[0-9,\.]+">
                                    </div>      
                                    <small>Перший рівень</small>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-text"> Більше</span>
                                        <input   class="form-control"   zippy="discsumma2"   pattern="[0-9]+">
                                        <span class="input-group-text"> знижка, %</span>
                                        <input   class="form-control qtyprice"   zippy="disc2"   pattern="[0-9,\.]+">
                                    </div>      

                                    <small>Другий рівень</small>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-text"> Більше</span>
                                        <input   class="form-control"   zippy="discsumma3"   pattern="[0-9]+">
                                        <span class="input-group-text"> знижка, %</span>
                                        <input   class="form-control qtyprice"   zippy="disc3" pattern="[0-9,\.]+" >
                                    </div>      

                                    <small>Третiй рівень</small>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-text"> Більше</span>
                                        <input   class="form-control"   zippy="discsumma4"   pattern="[0-9]+">
                                        <span class="input-group-text"> знижка, %</span>
                                        <input   class="form-control qtyprice"   zippy="disc4" pattern="[0-9,\.]+" >
                                    </div>      

                                    <small>Четвертий рівень</small>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-success" type="submit">Зберегти</button>
                                </div>
                            </form>
                             </div>
                             </div>
                             </div>
                         <div class="col-12 col-md-8 col-xl-6   ">    
                            <h5> Постiйнi знижки</h5>
                            <div class="card  ">
                                <form zippy="cfilter" class="form-inline ">

                                    <label for="csearchkey">Контрагент</label>
                                    <input placeholder="Почнiть вводити..." class="form-control mr-sm-2" type="text" zippy="csearchkey">
                                    <label for="csearchdisc">знижка, %</label>
                                    <input class="form-control qtyprice mr-sm-2" type="text" zippy="csearchdisc" pattern="[0-9,\.]+" style="width:50px;">
                                    <input class="btn btn-success " type="submit" value="Додати"  >

                                </form> 
                            </div>
                            <form zippy="clistform">

                                <table class="table    table-sm mt-2">
                                    <tr>
                                        <th >Контрагент </th>
                                        <th >Тел. </th>
                                        <th >Знижка, %</th>
                                        <th > </th>
                                    </tr>
                                    <tr  zippy="clist">
                                        <td zippy="cname"></td>
                                        <td zippy="cphone"></td>
                                        <td >
                                            <input class="form-control qtyprice" style="width:50px;" zippy="cdisc"    pattern="[0-9,\.]+">
                                        </td>

                                        <td  ><a zippy="сdel"><i class="fa fa-trash"></i></a></td>

                                    </tr>
                                </table>
                                <input  type="submit" class="btn  btn-success" value="Зберегти"> 
                                <div zippy="cpag"></div>
                            </form>

                        </div>
                    </div>
                </div>
           
                <div zippy="itab">
                    <div class="row">
                        <div class="col-12  col-xl-10   ">
                             
                            <span><i class="fa fa-exclamation-triangle"></i> Тiльки для цін типу <i> {{price1name}}</i> </span>
                            <h5>Акційні ціни</h5>                            
                            <div class="card  ">
                                            <form zippy="ifilter" class="form-inline ">

                                                <label for="isearchkey">Назва</label>
                                                <input  placeholder="Почнiть вводити..."  class="form-control   mr-2"   zippy="isearchkey"> 

                                                <label for="isearchdisc">акц. цiна</label>
                                                <input   class="form-control qtyprice mr-sm-2" type="text" zippy="isearchdisc" pattern="[0-9,\.]+" style="width:100px;">
                                                <label for="isearchfrom">з</label>
                                                <input  class="form-control mr-sm-2"   zippy="isearchfrom"  style="width:100px;">
                                                <label  for="isearchto">по</label>
                                                <input  class="form-control mr-sm-2"   zippy="isearchto" style="width:100px;" >

                                                <input zippy="ifiltersbm"  class="btn btn-success  ml-2 " type="submit" value="Додати"  >

                                            </form>   
                                            
                                        </div>
                                        
                            <span>Встановлює акційну ціну на даний товар</span>  
                           <div class="card  ">
                                <form zippy="gfilter" class="form-inline ">

                                    <label for="gsearchkey">Категорiя</label>
                                    <select   class="form-control  "   zippy="gsearchkey"></select>
                                    &nbsp;   &nbsp;
                                    <label for="gsearchdisc">знижка, %</label>
                                    <input   class="form-control qtyprice mr-sm-2" type="text" zippy="gsearchdisc" pattern="[0-9,\.]+" style="width:50px;">
                                    <label for="gsearchfrom">з</label>
                                    <input  class="form-control mr-sm-2"   zippy="gsearchfrom"  style="width:100px;">
                                    <label  for="gsearchto">по</label>
                                    <input  class="form-control mr-sm-2"   zippy="gsearchto" style="width:100px;" >

                                    <input  class="btn btn-success  ml-2 " type="submit" value="Додати"  >

                                </form>
                                
                            </div>
                            <span>Встановлює акційну знижку на всі товари даної категорії</span>                      
                           <form  zippy="itform" >          
                            <table class="table    table-sm mt-2">
                                <tr>
                                   <th onclick=" $('.seldel').prop('checked', $('.seldel').prop('checked') == false);"
                           style="width:30px;cursor:pointer" title="Зняти/виставити прапорець"><i
                                    class="fa fa-check-double "></i></th>                                     
                                    
                                    <th > Категорiя </th>
                                    <th > Назва </th>
                                    <th > Код </th>
                                    <th class="text-right" style="width:100px"> акц. цiна</th>
                                    <th class="text-right" style="width:100px"> знижка, %</th>
                                    <th > З </th>
                                    <th > По</th>
                                   
                                </tr>
                                <tr  zippy="ilist">      
                                <td><input  zippy="seldel" class="seldel" type="checkbox"></td>
                            
                                <td zippy="icat_name"></td>               
                                        <td zippy="iname"></td>               
                                        <td zippy="icode"></td>               

                                <td  class="text-right"> <span    zippy="iprice"></span> </td>               
                                    <td  class="text-right"> <span    zippy="idisc"></span> </td>               
                                        <td zippy="ifrom"></td>               
                                    <td zippy="ito"></td>               

                                    
                                </tr>
                                     <tr><td colspan="7">
                                <a class="text-danger" zippy="deleteall" title="Видалити"><i class="fa fa-trash"></i></a>
                              
                            </td> </tr>  
                            </table>  
                            <div zippy="ipag"></div>   
                            </form>
                            
                            <h5>Знижки для опту (2 товари і більше)</h5> 
                                       <div class="card  ">
                                            <form zippy="iofilter" class="form-inline ">

                                                <label for="isearchokey">Назва</label>
                                                <input  placeholder="Почнiть вводити..."  class="form-control  mr-2"   zippy="isearchokey"> 

                                                <label for="isearchoqty1">кiл. (рiвень1)</label>
                                                <input   class="form-control qtyprice mr-sm-2" type="text" zippy="isearchoqty1" pattern="[0-9,\.]+" style="width:50px;">
                                                <label for="isearchoprice1">акц. цiна (рiвень1)</label>
                                                <input   class="form-control qtyprice mr-sm-2" type="text" zippy="isearchoprice1" pattern="[0-9,\.]+" style="width:75px;">
                                                <label for="isearchoqty2">кiл. (рiвень2)</label>
                                                <input   class="form-control qtyprice mr-sm-2" type="text" zippy="isearchoqty2" pattern="[0-9,\.]+" style="width:50px;">
                                                <label for="isearchoprice2">акц. цiна (рiвень2)</label>
                                                <input   class="form-control qtyprice mr-sm-2" type="text" zippy="isearchoprice2" pattern="[0-9,\.]+" style="width:75px;">
                                           
                                                <input zippy="iofiltersbm" class="btn btn-success  ml-2 " type="submit" value="Додати"  >

                                            </form>   
                                            
                                        </div>
                                     <table class="table    table-sm mt-2">
                                     <tr>
                                       <th > Назва </th>
                                       <th > Код </th>
                                       <th class="text-right" style="width:100px"> кiл. (р1)</th>
                                       <th class="text-right" > акц. цiна (р1)</th>
                                       <th class="text-right" style="width:100px"> кiл. (р2)</th>
                                       <th class="text-right" > акц. цiна (р2)</th>
                                       <th> </th>
                                     </tr>
                                      <tr zippy="iolist">
                                       <td zippy="ioname" >  </td>
                                       <td zippy="iocode" >  </td>
                                       <td zippy="ioqty1"  class="text-right" style="width:100px"> </td>
                                       <td zippy="ioprice1"  class="text-right" ></td>
                                       <td zippy="ioqty2"  class="text-right" style="width:100px"> </td>
                                       <td zippy="ioprice2" class="text-right" ></td>
                                       <td  ><a zippy="odel"><i class="fa fa-trash" ></i></a></td>
                                      </tr>
                                     </table>  
                                     <div zippy="iopag"></div>  
                        
          
                        </div>
                    </div>
                </div>
                <div zippy="stab">
                    <div class="row">
                        <div class="col-12 col-md-10 col-xl-8   ">
                            
                            <div class="card  ">
                                <form zippy="sfilter" class="form-inline ">

                                    <label for="ssearchkey">Назва</label>
                                    <select   class="form-control select2"   zippy="ssearchkey"></select>
                                    &nbsp;   &nbsp;
                                    <label for="ssearchdisc">акц. ціна</label>
                                    <input   class="form-control qtyprice mr-sm-2" type="text" zippy="ssearchdisc" pattern="[0-9,\.]+" style="width:50px;">
                                    <label for="ssearchfrom">з</label>
                                    <input  class="form-control mr-sm-2"   zippy="ssearchfrom"  style="width:100px;">
                                    <label  for="sgsearchto">по</label>
                                    <input  class="form-control mr-sm-2"   zippy="ssearchto" style="width:100px;" >

                                    <input class="btn btn-success  ml-2 " type="submit" value="Додати"  >

                                </form> 
                            </div>                     
                            <table class="table    table-sm mt-2">
                                <tr>
                                    <th > Назва </th>
                                    <th style="width:100px"> Акц. ціна</th>
                                    <th > З</th>
                                    <th > По</th>
                                    <th >  </th>
                                </tr>
                                <tr  zippy="slist">      
                                    <td zippy="sname"></td>               

                                    <td  class="text-right"> <span    zippy="sdisc"></span> </td>               
                                    <td zippy="sfrom"></td>               
                                    <td zippy="sto"></td>               

                                    <td  ><a zippy="sdel"><i class="fa fa-trash"></i></a></td>

                                </tr>
                            </table>  
                            <div zippy="spag"></div>   

                        </div>
                    </div>
                </div>
                <div zippy="ptab">
                    <div class="row">
                        <div class="col-12 col-md-10 col-xl-8   ">
                             
                           <div zippy="listpan">
                           <span>Використовується в замовленнях та чеках</span>
                             <div class="card  ">
                                <form zippy="pfilter" class="form-inline ">
                                    <label for="psearchkey">Код</label>
                                    <input placeholder="Код для пошуку" class="form-control mr-2" type="search" zippy="psearchkey">
                                    <input class="btn btn-success " type="submit" value="OK"  >
                                </form> 
                              </div>                                
                     

                                <a class="btn btn-success " zippy="pcodeadd">Додати</a>
                                <table class="table table-sm">                      
                                    <tr><th>Код</th><th>Тип</th><th>Знижка </th><th>Контрагент</th><th> Срок дії</th><th>Використаний </th><th> </th></tr>
                                    <tr zippy="plist">
                                    <td zippy="pcode"></td>
                                    <td zippy="ptype"> </td>
                                    <td zippy="pdisc" class="text-right"> </td>

                                    <td zippy="pcust"> </td>
                                    <td zippy="pdateto">  </td>
                                    <td zippy="pused"> </td>
                                    <td><a zippy="pdel"><i class="fa fa-trash"></i></a> </td>
                                    </tr>
                                    
                                    
                                </table>
                                 
                                    
                                </div>
                              </div>
                              </div>
                         <div class="col-12 col-md-6 col-xl-4  ">      
                              
                                <div zippy="formpan">
                                     <h4>Новий  промо код</h4>
                                     <small><b>Одноразовий</b> - для однократного використання 
                                         <br>  <b>Багаторазовий</b> - для використання (однократного)  багатьма  покупцями 
                                         <br><b>Персональний</b> - для конкретного контрагента
                                         <br><b>Реферальный</b>  - бонус контрашента, з  промо  котрого  прийшов новий покупець

                                      </small>                                     
                                    <form zippy="pform" >
                                 
                                 
                                            <div class="form-group row">
                                               <label class="col-5 col-form-label" for="peditcode">Код</label>
                                                <div class="col-7">
                                                  <input readonly    class="form-control"   zippy="peditcode"   >
                                               </div>
                                           </div>      
                                            <div class="form-group row">
                                               <label class="col-5 col-form-label" for="paddtype">Тип</label>
                                                <div class="col-7">
                                                <select class="form-control  " zippy="paddtype">
                                                  <option value="0">Не вибрано</option>
                                                  <option value="1">Одноразовий</option>
                                                  <option value="2">Багаторазовий</option>
                                                  <option value="3">Персональний</option>
                                                  <option value="4">Реферальний</option>

                                                </select>   
                                               </div>
                                                
                                           </div>                                              
                                           <div class="form-group row">
                                               <label class="col-5 col-form-label" for="peditdate">Срок до</label>
                                                <div class="col-7">
                                               <input style="width:140px" class="form-control"  zippy="peditdate"   >
                                               </div>
                                           </div>      
                                           <div class="form-group row">
                                               <label class="col-5 col-form-label" for="peditdisc">Знижка,%</label>
                                                <div class="col-7">
                                               <input    pattern="[0-9\.]+" style="width:140px" class="form-control"  zippy="peditdisc"   >
                                               </div>
                                           </div>      
                                           <div class="form-group row">
                                               <label class="col-5 col-form-label" for="peditdiscf">Знижка, сума</label>
                                                <div class="col-7">
                                               <input    pattern="[0-9]+" style="width:140px" class="form-control"  zippy="peditdiscf"   >
                                               </div>
                                           </div>      
                                          
                                           
                                           <div class="form-group row">
                                               <label class="col-5 col-form-label" for="peditcust">Контрагент</label>
                                                <div class="col-7">
                                               <input placeholder="Почніть вводити..." class="form-control"  zippy="peditcust"   >
                                               </div>
                                           </div>    
                                          <div class="form-group row">
                                               <label class="col-5 col-form-label" for="peditbonus">Реферальний бонус</label>
                                                <div class="col-7">
                                               <input    pattern="[0-9]+" style="width:140px" class="form-control"  zippy="peditbonus"   >
                                               </div>
                                           </div>      
                                             
                                     <div class="form-group row">
                                            <div class="form-check">
                                                <input zippy="peditcheck" type="checkbox" class="form-check-input">
                                                <label class="form-check-label" for="peditcheck"> Додавати код в кiнцi чеку </label>
                                            </div>                 
                                      </div> 
                                        <div class="form-group">
                                            <a zippy="cancelpadd" class="btn btn-secondary" >Скасувати</a>
                                         &nbsp;   <button class="btn btn-success" type="submit">Додати</button>
                                        </div>
                                    </form>                      
                                
                                </div>
                              </div>
                        </div>
                        
                        
               <div zippy="etab">
                      <h5> Бонуси та штрафи  </h5>
                     <form zippy="empform" >
                            <div class="row">
                               <div class="col-12 col-md-4 col-xl-3">
                                   <div class="form-group row">
                                       <label  class="col-8 col-form-label"   for="ebonussell">Чек, % від суми</label>
                                       <div class="col-4"> 
                                         <input   pattern="[0-9,\.]+" class="form-control"  zippy="ebonussell"   >
                                      </div> 
                                       <small>Нараховується авторові чека</small>
                                   </div> 
                                    <div class="form-group row">
                                       <label  class="col-8 col-form-label"   for="efineret">Повернення, % від суми</label>
                                       <div class="col-4">
                                         <input   pattern="[0-9,\.]+" class="form-control"  zippy="efineret"   >
                                      </div>                                                             
                                       <small>Вираховується з автора  чека на  який  повернення</small>
                                 </div>                                                             
                               </div>                          
                               <div class="col-12 ">
                                    <button class="btn btn-success" type="submit">Зберегти</button>
                               </div>
                             
                          </div>
                    </form>
                </div>

            </div>

        </div> 

                                         
    <div id="modaladdbonus" class="modal fade  " tabindex="-1" role="dialog"   >
                <div class="modal-dialog modal-dialog-centered  modal-sm">
                    <div class="modal-content">
                         {{#admins}}
                        <div class="modal-header">
                            <h5 class="modal-title">Додати (відняти) бонуси</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                         {{/admins}}
                        <div class="modal-body"> 
                           <form zippy="formaddbc" >
                                <div class="form-group  ">
                                   <label for="custbc">Контрагент </label>
                                   <input   class="form-control"  zippy="custbc" >
                               </div>
                                <div class="form-group  ">
                                   <label for="amountbc">Сума </label>
                                   <input style="width:100px"  class="form-control qtyprice" type="text" zippy="amountbc" pattern="[0-9\-]+">
                               </div>
                               
                                <div class="form-group">
                                    <input type="submit" value="Зберегти"   class="btn btn-info  ">

                                </div>
                                
                          
                         </form>       
                        </div>

                    </div>
                </div>
            </div>
                             
                   
    </body>
</html>

  






