<html>
    <head>

    </head>
    <body>
        
       
        <div class="row">
             <div class="col-12    ">
             <h3>  Скидки и акции</h3>

                <div class="mt-1" style="font-size: 1.5rem"  >
                    <a zippy="tabo"><span class="{{{tabobadge}}}">  Общие  настройки</span> </a> &nbsp;&nbsp;
                    <a zippy="tabc"><span class="{{{tabcbadge}}}">  Покупатели   </span> </a>
                    <a zippy="tabg"><span class="{{{tabgbadge}}}">  Категории   </span> </a>
                    <a zippy="tabi"><span class="{{{tabibadge}}}">  Товары   </span> </a>
                    <a zippy="tabs"><span class="{{{tabsbadge}}}">  Услуги, работы   </span> </a>
                    

                </div>   <br>
               <div zippy="otab" >
                  
                  <div class="row">
                   <div class="col-12 col-md-4 col-xl-3   ">
                    <h3> Общие настройки</h3>
                   <form zippy="commonform">
                            <div class="form-group">
                                <label for="firstbay">Скидка на первую  покупку, % от суммы</label>
                                <input zippy="firstbay"  pattern="[0-9\.]+" style="width:100px"  class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label ><b>Бонусы от суммы покупки</b></label>
                            </div>
                           <div class="form-group">
                                
                                 <div class="input-group">
                                 <span class="input-group-text"> Бельше</span>
                                 <input   class="form-control"   zippy="summa1"   pattern="[0-9]+">
                                   <span class="input-group-text"> бонус,%</span>
                                 <input   class="form-control"   zippy="bonus1"   pattern="[0-9\.]+">
                               </div>      
                               <small>Первый уровень</small>
                            </div>
                            <div class="form-group">
                               <div class="input-group">
                                 <span class="input-group-text"> Бельше</span>
                                 <input   class="form-control"   zippy="summa2"   pattern="[0-9]+">
                                   <span class="input-group-text"> бонус,%</span>
                                 <input   class="form-control"   zippy="bonus2"   pattern="[0-9\.]+">
                               </div>      

                                <small>Второй уровень</small>
                            </div>
                     
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Сохранить</button>
                            </div>
                        </form>
                    </div>
                   </div>
                  </div>
               <div zippy="ctab">
                <div class="row">
                   <div class="col-12 col-md-8 col-xl-6   ">
                       <h3> Покупатели</h3>
                       <small> <i class="fa fa-exclamation-triangle"/> Если задана  постоянная скидка  остальные  скидки и акции игнорируются </small> 
                       <div class="navbar nav  ">
                            <form zippy="cfilter" class="form-inline ">

                                <label for="csearchkey">Имя</label>
                                <input placeholder="Начните вводить..." class="form-control mr-sm-2" type="text" zippy="csearchkey">
                                <label for="csearchdisc">скидка,%</label>
                                <input   class="form-control mr-sm-2" type="text" zippy="csearchdisc" pattern="[0-9\.]+" style="width:50px;">
                              
                                <input class="btn btn-outline-success   " type="submit" value="Добавить"  >

                            </form> 
                       </div>
                        <form zippy="clistform">
                            
                             <table class="table    table-sm mt-2">
                                <tr>
                               <th >Имя </th>
                               <th >Тел. </th>
                               <th    >Скидка,%</th>
                               <th    > </th>
                        
                             
                                </tr>
                                <tr  zippy="clist">
                                  <td zippy="cname"></td>
                                  <td zippy="cphone"></td>
                                  <td >
                                  <input style="width:50px;" zippy="cdisc"    pattern="[0-9\.]+">
                                  </td>
                                 
                                  <td  ><a zippy="сdel"><i class="fa fa-trash"/></a></td>
                                 
                                </tr>
                                </table>
                                <input  type="submit" class="btn  btn-success" value="Сохранить"> 
                               <div zippy="cpag"></div>
                      </form>
                       
                   </div>
               </div>
               </div>
               <div zippy="gtab">
                 <div class="row">
                   <div class="col-12 col-md-8 col-xl-6   ">
                     <h3> Категории</h3>
                         <table class="table    table-sm mt-2">
                           <tr>
                               <th > Наименование </th>
                               <th > Скидка,%</th>
                               <th > С</th>
                               <th > По</th>
                               <th >  </th>
                          </tr>
                          <tr  zippy="glist">      
                               <td zippy="gname"></td>               
                               <td> </td>               
                               <td> </td>               
                               <td> </td>               
                               <td> </td>               
                          </tr>
                        </table>     
                   </div>
                </div>
               </div>
              <div zippy="itab">
                <h3> Товары</h3>
               </div>
               <div zippy="stab">
                <h3> Услуги</h3>
               </div>
                
           </div>

        </div>                
</body>
</html>
