<html>

<body>
<div class="row">
    <div class="col-12 col-md-6 col-xl-4">
        <h3>Экспорт номенклатуры</h3>
        <form zippy="iform" class="row">
            <div class="col-10 col-md-4 col-xl-3">

                <div class="form-group  ">
                    <label for="itype">Тип экспорта</label>
                    <select zippy="itype" class="form-control   ">
                    </select>
                </div>
                <div class="form-group  ">
                    <label for="price">Тип цены</label>
                    <select zippy="price" class="form-control   ">
                    </select>
                </div>
                <div class="form-group  ">
                    <label data-label="store" for="store">Склад</label>
                    <select zippy="store" class="form-control   ">
                    </select>
                </div>

                <div class="form-group  ">
                    <label for="encode">Кодировка</label>
                    <select zippy="encode" class="form-control  ">
                        <option value="0">Не выбрана</option>
                    </select>
                </div>
                <div class="form-group  ">
                    <label for="sep">Разделитель</label>
                    <input style="width:50px;" zippy="sep" class="form-control   "/>

                </div>
                <div class="form-group  ">
                    <input class="btn btn-info" type="submit" value="Экспорт"/>
                </div>
            </div>


        </form>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
        <h3>Экспорт контрагентов</h3>
        <form zippy="cform" class="row">
            <div class="col-10 col-md-4 col-xl-3">

                <div class="form-group  ">
                    <label for="ctype">Тип </label>
                    <select zippy="ctype" class="form-control ">
                    </select>
                </div>


                <div class="form-group  ">
                    <label for="cencode">Кодировка</label>
                    <select zippy="cencode" class="form-control   ">
                        <option value="0">Не выбрана</option>
                    </select>
                </div>
                <div class="form-group  ">
                    <label for="csep">Разделитель</label>
                    <input style="width:50px;" zippy="csep" class="form-control  "/>

                </div>
                <div class="form-group  ">
                    <input class="btn btn-info" type="submit" value="Экспорт"/>
                </div>
            </div>


        </form>
    </div>
</div>

</body>
</html>