<html>
      <head>
        <title> Імпорт    </title>

    </head>

    <body>
        <div class="row">
            <div class="col-12   card">
                <h3>Імпорт номенклатури
                    <i class="fa fa-info-circle" style="cursor:pointer;font-size:16px;" data-container="body"
                       data-toggle="popover"
                       data-placement="bottom" data-content="Імпорт ТМЦ з Excel файлу.
                       Для розташування даних необхідно вказати номери відповідних колонок (перевіряється на унікальність артикул і найменування).
                       Може бути виконаний імпорт номенклатури в довідник, або якщо вказано кількість оприбуткування на склад, створюється документ Оприбуткування товару.
                       Також є можливість попереднього перегляду даних. "></i>
                </h3>
         <small><i class="fa fa-exclamation-triangle"></i> 
         Якщо при імпорті великих файлів виникає помилка 500 або просто порожня сторінка, це означає недостатній об'єм пам'яті .
          Потрібно або збільшити пам'ять або розбити файл імпорту на менші частини </small>

                <br><br>
                <form zippy="iform" class="row" enctype="multipart/form-data">
                    <div class="col-4">

                        <div class="form-group  ">
                            <label for="itype">Тип імпорту</label>
                            <select zippy="itype" class="form-control  ">
                                <option value="0">Тiльки довiдник</option>
                                <option value="1">З оприходуванням на склад</option>
                                
                            </select>
                        </div>
                        <div class="form-group  ">
                            <label for="icompare">Спiвставлення при оновленнi</label>
                            <select zippy="icompare" class="form-control  ">
                                <option value="0">За артикулем</option>
                                <option value="1">За найменуванням</option>
                                <option value="2">За найменуванням та брендом</option>
                                <option value="3">За артикулем та брендом</option>
                               
                                
                            </select>
                        </div>

                        <div class="form-group  ">
                            <label data-label="store" for="store">Склад</label>
                            <select zippy="store" class="form-control  ">
                            </select>
                        </div>

                        <div class="form-group  ">
                            <label for="filename">Файл імпорту</label>
                            <input type="file" zippy="filename" class="form-control  "/>
                        </div>
                        <div class="form-group  ">
                            <label for="item_type" data-label="item_type">Оприходувати як</label>
                            <select zippy="item_type" class="form-control   ">

                            </select>
                        </div>

                        <div class="  form-check">
                            <input zippy="passfirst" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="passfirst">Пропустити першу строку</label>
                        </div>
                       
                        <div class="  form-check">
                            <input zippy="noshowprice" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="noshowprice">Не показувати в прайсi</label>
                        </div>
                        <div class="  form-check">
                            <input zippy="noshowshop" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="noshowshop">Не показувати в онлайн каталозi </label>
                        </div>
                        

                        <div class="  form-check">
                            <input zippy="preview" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="preview">Попередній перегляд</label>
                        </div>

                        <div class="form-group  ">
                            <input class="btn btn-info" type="submit" value="Завантажити"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group  ">
                            <label><b>Номери колонок Excel файлу</b> </label>

                        </div>
                        <div class="form-group row">
                            <label  class="col-8 col-form-label" for="colname">Найменування</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colname" class="form-control  ">
                            </select>   </div> 
                        </div>
                       <div class="form-group row">
                            <label  class="col-8 col-form-label" for="colshortname">Скорочене найменування</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colshortname" class="form-control  ">
                            </select>   </div> 
                        </div>
                        <div class="form-group  row">
                            <label  class="col-8 col-form-label" for="colcode">Код, артикул</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colcode" class="form-control  ">
                            </select>   </div> 
                        </div>
                        <div class="form-group row ">
                            <label  class="col-8 col-form-label" for="colbarcode">Штрих код</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colbarcode" class="form-control  ">
                            </select>   </div> 
                        </div>
                        <div class="form-group row ">
                            <label  class="col-8 col-form-label" for="colcat">Категорiя</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colcat" class="form-control  ">                            </select>  
                           </div> 
                        </div>
                        <div class="form-group  row">
                            <label  class="col-8 col-form-label" for="colbrand">Бренд</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colbrand" class="form-control  ">                                </select>  
                           </div> 
                        </div>
                         <div class="form-group  row">
                            <label  class="col-8 col-form-label" for="colimage">Фото (URL)</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colimage" class="form-control  ">
                                </select>  
                           </div> 
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label"  data-label="colminqty" for="colminqty">Мін. кіл.</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colminqty" class="form-control  ">
                            </select>  
                            </div> 
                        </div>          
                   <div class="form-group  row">
                            <label  class="col-8 col-form-label" data-label="colqty" for="colqty">Кількість</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colqty" class="form-control  ">
                            </select>  </div> 
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label"  data-label="colinprice" for="colinprice">Облікова ціна</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colinprice" class="form-control  ">
                            </select>  
                            </div> 
                        </div>
                         
                                          
                         
                 
                    </div>

                    <div class="col-4">
                       <div class="form-group  ">
                            <label><b>&nbsp;</b> </label>

                        </div>
  <div class="form-group  row">
                            <label class="col-8 col-form-label"  for="colmsr">Од. виміру</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colmsr" class="form-control  ">
                            </select>   </div> 
                        </div>
                                               
         <div class="form-group  row  ">
                            <label class="col-8 col-form-label" for="coldesc">Опис</label>
                            <div class="col-4">
                                <select   zippy="coldesc" class="form-control  ">
                                </select>
                            </div>  
                        </div>                        
                       <div class="form-group  row">
                            <label class="col-8 col-form-label"  for="colcell">Комiрка</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colcell" class="form-control  ">
                            </select>   </div> 
                        </div>
                       <div class="form-group  row">
                            <label class="col-8 col-form-label"  for="colwar">Гарантiя</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colwar" class="form-control  ">
                            </select>   </div> 
                        </div>
                      <div class="form-group  row">
                            <label class="col-8 col-form-label"  for="colnotes">Примiтка</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colnotes" class="form-control  ">
                            </select>   </div> 
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label"   zippy="pricename1" for="colprice1"> </label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colprice1" class="form-control  ">
                            </select>   </div> 
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label"  zippy="pricename2" for="colprice2"> </label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colprice2" class="form-control  ">
                            </select>  </div> 
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label"   zippy="pricename3" for="colprice3"> </label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colprice3" class="form-control  ">
                            </select>   </div> 
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label"   zippy="pricename4" for="colprice4"> </label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colprice4" class="form-control  ">
                            </select>   </div> 
                        </div>
                        <div class="form-group row">
                            <label class="col-8 col-form-label"   zippy="pricename5" for="colprice5"> </label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="colprice5" class="form-control  ">
                            </select> </div> 
                        </div> 
                      
                    </div>
                </form>
                {{#preview}}
                <div class="row">
                    <div class="col-12 col-lg-10 ">
                        <table class="table table-sm">
                            <tr>
                                <th>Найменування</th>
                                <th>Код</th>
                                <th>Категорія</th>
                                <th>Бренд</th>
                                <th>Од.</th>
                                <th class="text-right">Кіл.</th>
                                <th class="text-right">Обл. ціна</th>
                                <th class="text-right">Мін. кіл.</th>
                                <th class="text-right">Вiдп. ціна1</th>
                                <th class="text-right">Вiдп. ціна2</th>
                                <th class="text-right">Вiдп. ціна3</th>
                                <th class="text-right">Вiдп. ціна4</th>
                                <th class="text-right">Вiдп. ціна5</th>

                            </tr>
                            {{#list}}
                            <tr>
                                <td>{{colname}}</td>
                                <td>{{colcode}}</td>
                                <td>{{colcat}}</td>
                                <td>{{colbrand}}</td>
                                <td>{{colmsr}}</td>
                                <td class="text-right">{{colqty}}</td>
                                <td class="text-right">{{colinprice}}</td>
                                <td class="text-right">{{colminqty}}</td>
                                <td class="text-right">{{colprice1}}</td>
                                <td class="text-right">{{colprice2}}</td>
                                <td class="text-right">{{colprice3}}</td>
                                <td class="text-right">{{colprice4}}</td>
                                <td class="text-right">{{colprice5}}</td>

                            </tr>
                            {{/list}}
                        </table>
                    </div>
                </div>
                {{/preview}}
            </div>

            <div class="col-12 col-lg-6  card">
                <h3>Імпорт прибуткової накладної
                    <i class="fa fa-info-circle" style="cursor:pointer;font-size:16px;" data-container="body"
                       data-toggle="popover"
                       data-placement="bottom"  data-content="Імпорт накладної з Excel файлу.
                       Для розташування даних необхідно вказати номери відповідних колонок (перевіряється на унікальність артикул і найменування).
                       У результатi створюється документ Прибуткова накладна, який слiд провести пiсля введення оплат та інших атрибутів.
                       Також є можливість попереднього перегляду даних. "></i>
                </h3>

                <br><br>
                <form zippy="nform" class="row" enctype="multipart/form-data">
                    <div class="col-6">

                        <div class="form-group  ">
                            <label for="ncust">Контрагент</label>
                            <input  placeholder="Почніть вводити..." zippy="ncust" class="form-control  "/>

                        </div>
                        <div class="form-group  ">
                            <label data-label="nstore" for="store">Склад</label>
                            <select zippy="nstore" class="form-control  ">
                            </select>
                        </div>

                        <div class="form-group  ">
                            <label for="nfilename">Файл імпорту</label>
                            <input type="file" zippy="nfilename" class="form-control  "/>
                        </div>
                        <div class="  form-check">
                            <input zippy="npassfirst" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="npassfirst">Пропустити першу строку</label>
                        </div>
                     
                        <div class="  form-check">
                            <input zippy="npreview" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="npreview">Попередній перегляд</label>
                        </div>

                        <div class="form-group  ">
                            <input class="btn btn-info" type="submit" value="Завантажити"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group  ">
                            <label><b>Номери колонок Excel файлу</b> </label>

                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="ncolname">Найменування</label>
                              <div class="col-4">
                             <select style="width:100px;" zippy="ncolname" class="form-control  ">
                            </select>  </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="ncolcode">Код, артикул</label>
                              <div class="col-4">
                             <select style="width:100px;" zippy="ncolcode" class="form-control  ">
                            </select>   </div>
                        </div>
                        <div class="form-group row ">
                            <label  class="col-8 col-form-label" for="ncolbarcode">Штрих код</label>
                              <div class="col-4">
                             <select style="width:100px;" zippy="ncolbarcode" class="form-control  ">
                            </select>  </div>
                        </div>

                        <div class="form-group row ">
                            <label class="col-8 col-form-label" for="ncolmsr">Од. виміру</label>
                             <div class="col-4">
                              <select style="width:100px;" zippy="ncolmsr" class="form-control  ">
                            </select>  </div>
                        </div>
                       <div class="form-group  row">
                            <label  class="col-8 col-form-label" for="ncolbrand">Бренд</label>
                            <div class="col-4">
                                <select style="width:100px;" zippy="ncolbrand" class="form-control  ">
                                </select>  
                           </div> 
                        </div>
  
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="ncoldesc">Опис </label>
                              <div class="col-4">
                             <select style="width:100px;" zippy="ncoldesc" class="form-control  ">
                            </select>   </div>
                        </div>

                        <div class="form-group  row">
                            <label class="col-8 col-form-label" data-label="ncolqty" for="ncolqty">Кількість</label>
                             <div class="col-4">
                              <select style="width:100px;" zippy="ncolqty" class="form-control  ">
                            </select>  </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="ncolprice">Вхiдна ціна</label>
                             <div class="col-4">
                              <select style="width:100px;" zippy="ncolprice" class="form-control  ">
                            </select>  </div>
                        </div>


                    </div>


                </form>
                {{#preview3}}
                <div class="row">
                    <div class="col-12 col-lg-10 ">
                        <table class="table table-sm">
                            <tr>
                                <th>Найменування</th>
                                <th>Код</th>
                                <th>Штрих код</th>
                                <th>Бренд</th>
                                <th>Од.</th>
                               
                                <th class="text-right">Кіл.</th>
                                <th class="text-right">Цiна</th>

                            </tr>
                            {{#list}}
                            <tr>
                                <td>{{colname}}</td>
                                <td>{{colcode}}</td>
                                <td>{{colbarcode}}</td>

                                <td>{{colbrand}}</td>
                                <td>{{colmsr}}</td>
                                <td class="text-right">{{colqty}}</td>
                                <td class="text-right">{{colprice}}</td>

                            </tr>
                            {{/list}}
                        </table>
                    </div>
                </div>
                {{/preview3}}
            </div>


            <div class="col-12 col-lg-6  card">
                <h3>Імпорт контрагентів
                    <i class="fa fa-info-circle" style="cursor:pointer;font-size:16px;" data-container="body"
                       data-toggle="popover"
                       data-placement="bottom"  data-content="Імпорт контрагентів з Excel файлу.
                       Для розташування даних необхідно вказати номери відповідних колонок.
                       Перевіряється на унікальність телефон. 
                       Також є можливість попереднього перегляду даних. "></i>
                </h3>

                <br><br>
                <form zippy="cform" class="row" enctype="multipart/form-data">
                    <div class="col-6">
                        <div class="form-group  ">
                            <label> &nbsp; </label>

                        </div>
                        <div class="form-group  ">
                            <label for="ctype">Імпортувати як</label>
                            <select zippy="ctype" class="form-control   ">
                                <option value="0">Не обрано</option>
                                <option value="1">Покупцi</option>
                                <option value="2">Постачальники</option>
                                

                            </select>
                        </div>


                        <div class="form-group  ">
                            <label for="cfilename">Файл імпорту</label>
                            <input type="file" zippy="cfilename" class="form-control  "/>

                        </div>
                        <div class="  form-check">
                            <input zippy="cpassfirst" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="cpassfirst">Пропустити першу строку</label>
                        </div>

                        <div class="  form-check">
                            <input zippy="cpreview" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="cpreview">Попередній перегляд</label>
                        </div>

                        <div class="form-group  ">
                            <input class="btn btn-info" type="submit" value="Завантажити"/>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="form-group  ">
                            <label><b>Номери колонок Excel файлу</b> </label>

                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="colcname">Найменування</label>
                            <div class="col-4">
                              <select style="width:100px;" zippy="colcname" class="form-control  ">
                            </select> </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="colphone">Телефон</label>
                             <div class="col-4">
                              <select style="width:100px;" zippy="colphone" class="form-control  ">
                            </select>  </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="colemail">E-mail</label>
                             <div class="col-4">
                              <select style="width:100px;" zippy="colemail" class="form-control  ">
                            </select>  </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="coledrpou">ЄДРПОУ</label>
                             <div class="col-4">
                              <select style="width:100px;" zippy="coledrpou" class="form-control  ">
                            </select>  </div>
                        </div>
                         <div class="form-group  row">
                            <label class="col-8 col-form-label" for="colcity">Місто</label>
                             <div class="col-4">
                              <select style="width:100px;" zippy="colcity" class="form-control  ">
                            </select>  </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="coladdress">Адреса</label>
                             <div class="col-4">
                              <select style="width:100px;" zippy="coladdress" class="form-control  ">
                            </select>  </div>
                        </div>


                    </div>


                </form>
                {{#preview2}}
                <div class="row">
                    <div class="col-12 col-lg-10 ">
                        <table class="table table-sm">
                            <tr>
                                <th>Найменування</th>
                                <th>ЄДРПОУ</th>
                                <th>Тел.</th>
                                <th>E-mail</th>
                                <th>Місто</th>
                                <th>Адреса</th>

                            </tr>
                            {{#list2}}
                            <tr>
                                <td>{{colname}}</td>
                                <td>{{coledrpou}}</td>
                                <td>{{colphone}}</td>
                                <td>{{colemail}}</td>
                                <td>{{colcity}}</td>
                                <td>{{coladdress}}</td>
                              </tr>
                                {{/list2}}
                        </table>
                    </div>
                </div>
                {{/preview2}}
            </div>
            
           <div class="col-12 col-lg-6  card">
                <h3>Імпорт замовлення
                    <i class="fa fa-info-circle" style="cursor:pointer;font-size:16px;" data-container="body"
                       data-toggle="popover"
                       data-placement="bottom"  data-content="Імпорт накладної з Excel файлу.
                       Для розташування даних необхідно вказати номери відповідних колонок (перевіряється на унікальність артикул і найменування).
                       В результатi створюється документ Замовлення.
                       "></i>
                </h3>

                 
                <form zippy="zform" class="row" enctype="multipart/form-data">
                    <div class="col-6">

                        <div class="form-group  ">
                            <label for="zcust">Контрагент</label>
                            <input placeholder="Почніть вводити..." zippy="zcust" class="form-control  "/>

                        </div>

                        <div class="form-group  ">
                            <label for="zfilename">Файл імпорту</label>
                            <input type="file" zippy="zfilename" class="form-control  "/>
                        </div>
                        <div class="  form-check">
                            <input zippy="zpassfirst" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="zpassfirst">Пропустити першу строку</label>
                        </div>
                     
                        <div class="  form-check">
                            <input zippy="zpreview" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="zpreview">Попередній перегляд</label>
                        </div>

                        <div class="form-group  ">
                            <input class="btn btn-info" type="submit" value="Завантажити"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group  ">
                            <label><b>Номери колонок Excel файлу</b> </label>

                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="zcolname">Найменування</label>
                              <div class="col-4">
                             <select style="width:100px;" zippy="zcolname" class="form-control  ">
                            </select>  </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="zcolcode">Код, артикул, штрих-код</label>
                              <div class="col-4">
                             <select style="width:100px;" zippy="zcolcode" class="form-control  ">
                            </select>   </div>
                        </div>

                 


                        <div class="form-group  row">
                            <label class="col-8 col-form-label" data-label="zcolqty" for="zcolqty">Кількість</label>
                             <div class="col-4">
                              <select style="width:100px;" zippy="zcolqty" class="form-control  ">
                            </select>  </div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="zcolprice">Вхiдна ціна</label>
                             <div class="col-4">
                              <select style="width:100px;" zippy="zcolprice" class="form-control  ">
                            </select>  </div>
                        </div>


                    </div>


                </form>
                {{#preview4}}
                <div class="row">
                    <div class="col-12 col-lg-10 ">
                        <table class="table table-sm">
                            <tr>
                                <th>Найменування</th>
                                <th>Код</th>
                               
                                <th class="text-right">Кіл.</th>
                                <th class="text-right">Цiна</th>

                            </tr>
                            {{#list}}
                            <tr>
                                <td>{{colname}}</td>
                                <td>{{colcode}}</td>
                              
                                <td class="text-right">{{colqty}}</td>
                                <td class="text-right">{{colprice}}</td>

                            </tr>
                            {{/list}}
                        </table>
                    </div>
                </div>
                {{/preview4}}
            </div>
           
         <div class="col-12 col-lg-6  card">
               
               
               <h3>Імпорт налаштувань</h3>

                <form zippy="oform" class="row" enctype="multipart/form-data">
                    <div class="col-10 col-md-8 col-xl-6">
                    
                        <div class="form-group  ">
                            <label for="ofilename">Файл імпорту</label>
                            <input type="file" zippy="ofilename" class="form-control  "/>

                        </div>

                        <div class="form-group  ">
                            <input class="btn btn-info" type="submit" value="Завантажити"/>
                        </div>
                    </div>


                </form>            
            
             </div>   
            
            
            
        </div>


    </body>
</html>