<html>

    <body>
        <div class="row">
            <div class="col-12  ">
                <h3>Импорт номенклатуры
                    <i class="fa fa-info-circle" style="cursor:pointer;font-size:16px;" data-container="body"
                       data-toggle="popover"
                       data-placement="bottom" data-html="true" data-content="Импорт ТМЦ из  Excel файла.
                       Для указания расположения данных необходимо  указать номера  соответствующих столбцов. Проаеряется  на                                 уникальность  артикул  и наименование
                       Может  быть  выполнен  импорт номенклатуры  в справочник или  если  указано количество  оприходование на  склад.                       В этом  случае создается документ  Оприходование  товара 
                       <br>Также  есть  возможность предварительного просмотра данных. "></i>
                </h3>

                <br><br>
                <form zippy="iform" class="row" enctype="multipart/form-data">
                    <div class="col-4">

                        <div class="form-group  ">
                            <label for="itype">Тип импорта</label>
                            <select zippy="itype" class="form-control  ">
                                <option value="0">Только справочник</option>
                                <option value="1">С оприходованием на склад</option>
                                <option value="2">Только  обновить  цены и названия</option>
                            </select>
                        </div>

                        <div class="form-group  ">
                            <label data-label="store" for="store">Склад</label>
                            <select zippy="store" class="form-control  ">
                            </select>
                        </div>

                        <div class="form-group  ">
                            <label for="filename">Файл импорта</label>
                            <input type="file" zippy="filename" class="form-control  "/>
                        </div>
                        <div class="form-group  ">
                            <label data-label="item_type" for="item_type">Оприходовать как</label>
                            <select zippy="item_type" class="form-control   ">

                            </select>
                        </div>
                        <div class="  form-check">
                            <input zippy="passfirst" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="passfirst">Пропустить первую строку</label>
                        </div>
                        <div class="  form-check">
                            <input zippy="checkname" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="checkname">Проверять на уникальность наименования</label>
                        </div>
                        <div class="  form-check">
                            <input zippy="noshowprice" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="noshowprice">Не  показывать в  прайсе </label>
                        </div>
                        <div class="  form-check">
                            <input zippy="noshowshop" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="noshowshop">Не  показывать в  онлайн каталоге </label>
                        </div>
                     

                        <div class="  form-check">
                            <input zippy="preview" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="preview">Предпросмотр</label>
                        </div>

                        <div class="form-group  ">
                            <input class="btn btn-info" type="submit" value="Загрузить"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row ">
                            <label><b>Номера столбцов Excel файла</b> </label>

                        </div>
                        <div class="form-group  row">
                            <label  class="col-8 col-form-label" for="colname">Наименование</label>
                            <div class="col-4">
                                <select  zippy="colname" class="form-control  ">
                                </select>
                            </div>  
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="colcode">Код, артикул</label>
                            <div class="col-4">
                                <select  zippy="colcode" class="form-control  ">
                                </select>
                            </div>  
                        </div>                  
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="colbarcode">Штрих код</label>
                            <div class="col-4">
                                <select  zippy="colbarcode" class="form-control  ">
                                </select>
                            </div>
                        </div>  
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="colgr">Категория</label>
                            <div class="col-4">
                                <select  zippy="colgr" class="form-control  ">
                                </select>
                            </div>  
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="colbrand">Бренд</label>
                            <div class="col-4">
                                <select  zippy="colbrand" class="form-control  ">
                                </select>
                            </div>  
                        </div>
                        <div class="form-group  row">
                            <label class="col-8 col-form-label" for="colmsr">Ед. измерения</label>
                            <div class="col-4">
                                <select  zippy="colmsr" class="form-control  ">
                                </select>
                            </div>  
                        </div>



                    </div>

                    <div class="col-4">
                        <div class="form-group  row  ">
                            <label class="col-8 col-form-label" for="coldesc">Описание</label>
                            <div class="col-4">
                                <select   zippy="coldesc" class="form-control  ">
                                </select>
                            </div>  
                        </div>
                        <div class="form-group  row  ">
                            <label class="col-8 col-form-label" for="colcell">Ячейка</label>
                            <div class="col-4">
                                <select   zippy="colcell" class="form-control  ">
                                </select>
                            </div>  
                        </div>                    

                        <div class="form-group  row">
                            <label class="col-8 col-form-label" data-label="colqty" for="colqty">Количество</label>
                            <div class="col-4">
                                <select    zippy="colqty" class="form-control  ">
                                </select>
                            </div>  
                        </div>
                        <div class="form-group row ">
                            <label class="col-8 col-form-label" data-label="colinprice" for="colinprice">Учетная цена</label>
                            <div class="col-4">
                                <select   zippy="colinprice" class="form-control  ">
                                </select>
                            </div>  
                        </div>                        
                        <div class="form-group  row ">
                            <label zippy="pricename1" class="col-8 col-form-label" for="colprice1"> </label>
                            <div class="col-4">
                                <select   zippy="colprice1" class="form-control  ">
                                </select>
                            </div>  
                        </div>
                        <div class="form-group  row ">
                            <label zippy="pricename2" class="col-8 col-form-label" for="colprice2"> </label>
                            <div class="col-4">
                                <select   zippy="colprice2" class="form-control  ">
                                </select>
                            </div>  
                        </div>
                        <div class="form-group  row ">
                            <label zippy="pricename3" class="col-8 col-form-label"  for="colprice3"> </label>
                            <div class="col-4">
                                <select   zippy="colprice3" class="form-control  ">
                                </select>
                            </div>  
                        </div>
                        <div class="form-group row  ">
                            <label zippy="pricename4" class="col-8 col-form-label" for="colprice4"> </label>
                            <div class="col-4">
                                <select   zippy="colprice4" class="form-control  ">
                                </select>
                            </div>  
                        </div>
                        <div class="form-group  row ">
                            <label zippy="pricename5"   class="col-8 col-form-label" for="colprice5"> </label>
                            <div class="col-4">
                                <select   zippy="colprice5" class="form-control  ">
                                </select>
                            </div>  
                        </div>                                      



                    </div>


                </form>
                {{#preview}}
                <div class="row">
                    <div class="col-12 col-xl-10 ">
                        <table class="table table-sm">
                            <tr>
                                <th>Наименование</th>
                                <th>Код</th>
                                <th>Кат.</th>
                                <th>Бренд</th>
                                <th>Ед.</th>
                                <th class="text-right">Кол.</th>
                                <th class="text-right">Уч. цена</th>
                                <th class="text-right">Отп. цена 1</th>
                                <th class="text-right">Отп. цена 2</th>
                                <th class="text-right">Отп. цена 3</th>
                                <th class="text-right">Отп. цена 4</th>
                                <th class="text-right">Отп. цена 5</th>
                            </tr>
                            {{#list}}
                            <tr>
                                <td>{{colname}}</td>
                                <td>{{colcode}}</td>
                                <td>{{colgr}}</td>
                                <td>{{colbrand}}</td>
                                <td>{{colmsr}}</td>
                                <td class="text-right">{{colqty}}</td>
                                <td class="text-right">{{colinprice}}</td>
                                <td class="text-right">{{colprice1}}</td>
                                <td class="text-right">{{colprice2}}</td>
                                <td class="text-right">{{colprice3}}</td>
                                <td class="text-right">{{colprice4}}</td>
                                <td class="text-right">{{colprice5}}</td>
                            </tr>
                            {{/list}}
                        </table>
                    </div>
                </div>
                {{/preview}}
            </div>
            <div class="col-12 col-lg-6  card">
                <h3>Импорт накладной
                    <i class="fa fa-info-circle" style="cursor:pointer;font-size:16px;" data-container="body"
                       data-toggle="popover"
                       data-placement="bottom" data-html="true" data-content="Импорт накладной из  Excel файла.
                       Для указания расположения данных необходимо  указать номера  соответствующих столбцов. 
                       Проаеряется  на    уникальность  артикул  и наименование если товар не  найден он  добавляется в справочник.
                       В результате  создается   документ Приходная  накладная который следует  провести  после ввода 
                       оплат и других атрибутов
                       <br>Также  есть  возможность предварительного просмотра данных. "></i>
                </h3>

                <br><br>
                <form zippy="nform" class="row" enctype="multipart/form-data">
                    <div class="col-6">

                        <div class="form-group  ">
                            <label for="ncust">Контрагент</label>
                            <input zippy="ncust" class="form-control  "/>

                        </div>
                        <div class="form-group  ">
                            <label data-label="nstore" for="store">Склад</label>
                            <select zippy="nstore" class="form-control  ">
                            </select>
                        </div>

                        <div class="form-group  ">
                            <label for="nfilename">Файл импорта</label>
                            <input type="file" zippy="nfilename" class="form-control  "/>
                        </div>
                        <div class="  form-check">
                            <input zippy="npassfirst" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="npassfirst">Пропустить первую строку</label>
                        </div>
                        <div class="  form-check">
                            <input zippy="ncheckname" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="ncheckname">Проверять на уникальность наименования</label>
                        </div>

                        <div class="  form-check">
                            <input zippy="npreview" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="npreview">Предпросмотр</label>
                        </div>

                        <div class="form-group  ">
                            <input class="btn btn-info" type="submit" value="Загрузить"/>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group  ">
                            <label><b>Номера столбцов Excel файла</b> </label>

                        </div>
                        <div class="form-group  ">
                            <label for="ncolname">Наименование</label>
                            <select style="width:100px;" zippy="ncolname" class="form-control  ">
                            </select>
                        </div>
                        <div class="form-group  ">
                            <label for="ncolcode">Код, артикул</label>
                            <select style="width:100px;" zippy="ncolcode" class="form-control  ">
                            </select>
                        </div>
                        <div class="form-group  ">
                            <label for="ncolbarcode">Штрих-код</label>
                            <select style="width:100px;" zippy="ncolbarcode" class="form-control  ">
                            </select>
                        </div>

                        <div class="form-group  ">
                            <label for="ncolmsr">Ед. измерения</label>
                            <select style="width:100px;" zippy="ncolmsr" class="form-control  ">
                            </select>
                        </div>

                        <div class="form-group  ">
                            <label data-label="ncolqty" for="ncolqty">Количество</label>
                            <select style="width:100px;" zippy="ncolqty" class="form-control  ">
                            </select>
                        </div>
                        <div class="form-group  ">
                            <label for="ncolprice">Входящая цена</label>
                            <select style="width:100px;" zippy="ncolprice" class="form-control  ">
                            </select>
                        </div>


                    </div>


                </form>
                {{#preview3}}
                <div class="row">
                    <div class="col-12 col-lg-10 ">
                        <table class="table table-sm">
                            <tr>
                                <th>Наименование</th>
                                <th>Код</th>
                                <th>штрих-код</th>

                                <th>Ед.</th>
                                <th class="text-right">Кол.</th>
                                <th class="text-right">Уч. цена</th>

                            </tr>
                            {{#list}}
                            <tr>
                                <td>{{colname}}</td>
                                <td>{{colcode}}</td>
                                <td>{{colbarcode}}</td>

                                <td>{{colmsr}}</td>
                                <td class="text-right">{{colqty}}</td>
                                <td class="text-right">{{colprice}}</td>

                            </tr>
                            {{/list}}
                        </table>
                    </div>
                </div>
                {{/preview3}}
            </div>

            <div class="col-12 col-lg-6  card">
                <h3>Импорт контрагентов
                    <i class="fa fa-info-circle" style="cursor:pointer;font-size:16px;" data-container="body"
                       data-toggle="popover"
                       data-placement="bottom" data-html="true" data-content="Импорт контрагентов из  Excel файла.
                       Для указания расположения данных необходимо  указать номера  соответствующих столбцов.
                       Проверяется  на  уникальность телефон 
                       <br>Также  есть  возможность предварительного просмотра данных. "></i>
                </h3>

                <br><br>
                <form zippy="cform" class="row" enctype="multipart/form-data">
                    <div class="col-6">
                        <div class="form-group  ">
                            <label> &nbsp; </label>

                        </div>
                        <div class="form-group  ">
                            <label for="ctype">Импортировать как</label>
                            <select zippy="ctype" class="form-control   ">
                                <option value="0">Не выбрано</option>
                                <option value="1">Поставщики</option>
                                <option value="2">Покупатели</option>
                            </select>
                        </div>

                        <div class="form-group  ">
                            <label for="cfilename">Файл импорта</label>
                            <input type="file" zippy="cfilename" class="form-control  "/>

                        </div>
                        <div class="  form-check">
                            <input zippy="cpassfirst" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="cpassfirst">Пропустить первую строку</label>
                        </div>

                        <div class="  form-check">
                            <input zippy="cpreview" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="cpreview">Предпросмотр</label>
                        </div>

                        <div class="form-group  ">
                            <input class="btn btn-info" type="submit" value="Загрузить"/>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="form-group  ">
                            <label><b>Номера столбцов Excel файла</b> </label>

                        </div>
                        <div class="form-group  ">
                            <label for="colcname">Наименование</label>
                            <select style="width:100px;" zippy="colcname" class="form-control  ">
                            </select>
                        </div>
                        <div class="form-group  ">
                            <label for="colphone">Телефон</label>
                            <select style="width:100px;" zippy="colphone" class="form-control  ">
                            </select>
                        </div>
                        <div class="form-group  ">
                            <label for="colemail">E-mail</label>
                            <select style="width:100px;" zippy="colemail" class="form-control  ">
                            </select>
                        </div>
                        <div class="form-group  ">
                            <label for="colcity">Город</label>
                            <select style="width:100px;" zippy="colcity" class="form-control  ">
                            </select>
                        </div>
                        <div class="form-group  ">
                            <label for="coladdress">Адрес</label>
                            <select style="width:100px;" zippy="coladdress" class="form-control  ">
                            </select>
                        </div>


                    </div>


                </form>
                {{#preview2}}
                <div class="row">
                    <div class="col-12 col-lg-10 ">
                        <table class="table table-sm">
                            <tr>
                                <th>Наименование</th>
                                <th>Тел.</th>
                                <th>Email</th>
                                <th>Город</th>
                                <th>Адрес</th>

                            </tr>
                            {{#list2}}
                            <tr>
                                <td>{{colname}}</td>
                                <td>{{colphone}}</td>
                                <td>{{colemail}}</td>
                                <td>{{colcity}}</td>
                                <td>{{coladdress}}</td>

                                {{/list2}}
                        </table>
                    </div>
                </div>
                {{/preview2}}
            </div>
        </div>


    </body>
</html>