<html>
    <head>
        <title> Оприходование  минимальных количеств  </title>

    </head>
   <body>
        <div class="row"  >

            <div class="col-12 col-md-4 col-xl-3   " >
                <h3>Оприходование  минимальных количеств</h3>
              

            </div>
            <div class="w-100">

                <div class="col-12 col-md-10 col-xl-8" >
                            <div class="navbar nav">
                                <form zippy="searchform" class="form-inline ">
                                    <label for="search"> Пошук </label>
                                    <input class="form-control mr-2" zippy="search">                                     
                                    <label for="store"> Склад </label>

                                    <select class="form-control mr-2" zippy="store"> 
                         
                                     </select>


                                    <input type="submit" class="  btn btn-success  " value="Шукати">


                                </form>
                            </div>
 
                    <form zippy="exportform">
                    <table class="table  table-sm">
                        <tr>
                             <th onclick=" $('.seldel').prop('checked', $('.seldel').prop('checked') == false);"
                           style="width:30px;cursor:pointer" title="Зняти/виставити галки"><i
                                    class="fa fa-check-double "></i></th>  
                            <th>Назва</th>
                    
                            <th class="text-right">Факт.</th>
                            <th class="text-right">Приход</th>
                            
                        </tr>
                        <tr zippy="itemlist">
                            <td >  <input  zippy="sel" class="seldel" type="checkbox"> </td>
                            <td zippy="itemname"  >   </td>

                            <td class="text-right" zippy="qty"  >   </td>
                            <td class="text-right" zippy="prodqty"  >   </td>
                        </tr>

                    </table>
                    <input type="submit" class="  btn btn-outline-success  " value="Створити приход">

                    </form>
                </div>
                 
            </div> 
                    
                     
    </body>
</html>
