<html>
    <head>
        <link rel="stylesheet" href="/assets/css/chart.css">


    </head>

    <body>
        <div class="row">
            <div class="col-12   col-md-10 col-xl-8   ">
                <div zippy="listp">
                    <h2>Постачальники </h2>
         
                    <a zippy="addnew" class="btn btn-primary">Додати нового</a>

               
                        <table class="table table-hover   table-sm  ">
                            <tr>
                              
                                <th >Назва</th>
                                <th >Сайт</th>
  
                                <th>Контакт </th>
                                <th>Коментар </th>
                                <th> </th>

                            </tr>
                            <tr zippy="list">
                            
                                <td zippy="name" class="text-nowrap"></td>
                                <td class="text-nowrap"> <a target="_target" zippy="site"></a>  </td>
                                
                                <td zippy="contact"  ></td>
                                <td zippy="comment"  ></td>
                                <td   >  
                                   <a zippy="edit"><i class="fa fa-edit"></i> </a>
                                  &nbsp; <a zippy="delete"><i class="fa fa-trash"></i> </a>
                                 </td>
  
                            </tr>
                           
                        </table>
                        <div zippy="pag"></div>
                  
                </div>


            </div>
        </div>

        <div class="col-12   col-md-4 col-xl-3   ">
            <h4>&nbsp; Редагувати  </h4>
            <form   zippy="detail" method="post">
           
  

                <div class="form-group">
                    <label for="editname">Назва</label>
                    <input required="required" class="form-control" zippy="editname"/>
                  
                </div>

                <div class="form-group">
                    <label for="editsite">Сайт</label>
                    <input class="form-control" zippy="editsite"/>
                </div>
                <div class="form-group">
                    <label for="editcontact">Контакт</label>
                    <textarea   class="form-control" zippy="editcontact"></textarea>
                </div>
                <div class="form-group">
                    <label for="editcomment">Коментар</label>
                    <textarea   class="form-control" zippy="editcomment"></textarea>
               </div>
    
               <div class="form-check">
                    <input zippy="editdisabled" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="editdisabled">Більше не використовується</label>
                </div>
  
                <div class="form-group">
                    <button zippy="save" type="submit" class="btn btn-primary ">Зберегти</button> &nbsp;&nbsp;
                    <button zippy="cancel" type="button" class="btn btn-secondary">Відмінити</button>

                </div>
        
           </form>

     

        <script>
            function check_delete() {

            return confirm("Видалити?")

            }
        </script>


    </body>
</html>
