<html>
    <head>
        <meta charset="utf-8">
        <meta lang="ua" >
        <title>Zippy Склад</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/assets/css/fontawesome-all.css">

        <link rel="stylesheet" href="/assets/css/adminlte.css">
        <!--<link rel="stylesheet" href="/vendor/leon-mbs/zippy/assets/css/bootstrap.css">   -->
        <link rel="stylesheet" href="/vendor/leon-mbs/zippy/assets/css/zippy-bundle.css">
        <link rel="stylesheet" href="/assets/css/toastr.min.css">
        <link rel="stylesheet" href="/assets/css/select2.css">
        <link rel="stylesheet" href="/assets/css/select2-bootstrap.css">
        <link rel="stylesheet" href="/assets/js/summernote/summernote-bs4.css">
        <link rel="stylesheet" href="/assets/css/app.css">

        <script src="/vendor/leon-mbs/zippy/assets/js/jquery.js" type="text/javascript"></script>
        <script src="/assets/js/bootstrap.bundle.js" type="text/javascript"></script>
        <script src="/vendor/leon-mbs/zippy/assets/js/zippy-bundle-ua.js" type="text/javascript"></script>
        <script src="/assets/js/select2.js" type="text/javascript"></script>
        <script src="/assets/js/toastr.min.js" type="text/javascript"></script>
        <script src="/assets/js/printThis.js" type="text/javascript"></script>
        <script src="/assets/js/summernote/summernote-bs4.js" type="text/javascript"></script>
        <script src="/assets/js/summernote/lang/summernote-uk-UA.js" type="text/javascript"></script>
        <script src="/assets/js/adminlte.js" type="text/javascript"></script>
        <script src="/assets/js/vue/vue.min.js"></script>     
        <script src="/assets/js/vue/httpvueloader.js"></script>     
           
        <script src="/assets/js/app.js" type="text/javascript"></script>
       
        <!-- Google Font -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


    </head>
    <body class="{{hidesidebar}} ">
        {{#usemobilescanner}}
        <link rel="stylesheet" href="/assets/css/mscanner.css">
        {{/usemobilescanner}}
        <div id="upbutton"><a href="#top" class="btn btn-secondary"><b><i class="fa  fa-angle-double-up"></i></b></a></div>
        <a id="top"></a>
        <div class="wrapper">
            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand   ">
               {{#showsidemenu}}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                    </li>

                </ul>
               {{/showsidemenu}}   
               
               {{^showsidemenu}}   
               <ul class="navbar-nav">
                <li class="nav-item">   
               <a href="/index.php" class="brand-link">
                    <span  > Zippy  Склад</span>
                </a>     </li>
               </ul>   
               {{/showsidemenu}}   
               
               
                <ul class="navbar-nav ml-auto">
                    {{#usebranch}}
                    <li class="nav-item">
                        <form zippy="nbform" class="form-inline ">
                            Філія
                            <select zippy="nbbranch" class="form-control ml-1 ">
                                <option value="0">Всі доступні</option>
                            </select>


                        </form>
                    </li>
                    {{/usebranch}}
                    {{#showactiveusers}}     
                    <li class="nav-item dropdown">
                        <a title="Активнi користувачi" class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fa fa-users"></i>
                            <span  class="badge badge-success navbar-badge">{{activeuserscnt}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <table class="table table-sm">
                                {{#aulist}}
                                <tr><td>{{ausername}}</td> 
                                  <td>
                                  {{#auserid}}
                                  
                                  <i onclick="openSendMsg({{auserid}},'{{ausername}}')" style="cursor:pointer" class="fa fa-comment-alt" title="Отправить сообщение" />
                                  
                                  {{/auserid}} 
                                  </td>
                                  </tr>
                                {{/aulist}}
                            </table>
                        </div>
                    </li>               
                    {{/showactiveusers}}     
                    {{#showchat}} 
                    <li class="nav-item  ">
                        <a class="nav-link  " href="/index.php?p=App/Pages/Chat">
                            <i title="Загальний чат" class="fa fa-comments "></i>
                            {{#chatcnt}}
                            <span class="badge badge-success  navbar-badge">{{chatcnt}}</span>
                            {{/chatcnt}}
                        </a>
                    </li>
                    {{/showchat}}

                    {{#taskcnt}} 
                    <li class="nav-item  ">
                        <a class="nav-link  " href="/index.php?p=App/Pages/Jobs">
                            <i title="Мої завдання" class="fa fa-gavel "></i>

                            <span class="badge badge-danger  navbar-badge">{{taskcnt}}</span>

                        </a>
                    </li>
                    {{/taskcnt}}

                    <li class="nav-item  ">
                        <a class="nav-link  " href="/index.php?p=App/Pages/NotifyList">
                            <i title="Повiдомлення" class="fa fa-bell "></i>
                            {{#notcnt}}
                            <span class="badge badge-danger  navbar-badge">{{notcnt}}</span>
                            {{/notcnt}}
                        </a>
                    </li>
                    <li class="nav-item dropdown  ">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span
                                zippy="username"></span> </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item  " href="/index.php?p=App/Pages/Jobs"><i
                                        class="fa fa-gavel"></i>  Мої завдання</a>
                            </li>
                             {{#showtimesheet}} 
                            <li>
                                <a class="dropdown-item  " href="/index.php?p=App/Pages/TimeSheet"><i
                                        class="fa fa-calendar-alt"></i> Облiк роб. часу</a>
                            </li>
                            {{/showtimesheet}} 

                            {{#isemp}}
                            <li>
                                <a class="dropdown-item  " href="/index.php?p=App/Pages/EmpAcc"><i
                                        class="fa fa-money-bill-alt"></i> Особовий рахунок</a>
                            </li>
                            {{/isemp}}
                            <li>
                                <a class="dropdown-item  " href="/index.php?p=App/Pages/UserProfile"><i class="fa fa-user"></i>
                                    Мій профіль</a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item  " zippy="logout"><i class="fa fa-door-open"></i> Вийти</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item  ">
                        &nbsp; &nbsp; &nbsp; &nbsp;
                    </li>
                </ul>


            </nav>
            {{#showsidemenu}}
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="/index.php" class="brand-link">

                    <span class="brand-text font-weight-light">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zippy  Склад</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <nav class="mt-2">
                        <ul class="nav  nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                            <li class="nav-item  ">
                                <a href="/index.php" class="nav-link">
                                    <i class="nav-icon fa fa-home"></i>
                                    <p>
                                        Головна
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item  ">
                                <a href="?p=/App/Pages/Main" class="nav-link">
                                    <i class="nav-icon fa fa-chart-pie"></i>
                                    <p>
                                        Дашборд
                                    </p>
                                </a>
                            </li>
                            {{#showdocmenu}}
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fa fa-file"></i>
                                    <p>
                                        Документи
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">

                                    {{#docmenu}}
                                    {{#groups}}
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>{{grname}}
                                                <i class="right fas fa-angle-left"></i>
                                            </p>

                                        </a>
                                        <ul class="nav nav-treeview">
                                            {{#items}}
                                            <li class="nav-item  has-treeview">
                                                <a href='{{link}}' class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</p>
                                                </a>
                                            </li>
                                            {{/items}}
                                        </ul>

                                        </il>
                                        {{/groups}}

                                        {{#items}}
                                    <li class="nav-item  has-treeview">
                                        <a href='{{link}}' class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>&nbsp;&nbsp;{{name}}</p>
                                        </a>
                                    </li>
                                    {{/items}}
                                    {{/docmenu}}
                                </ul>

                            </li>
                            {{/showdocmenu}}
                            {{#showrepmenu}}
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fa fa-chart-bar"></i>
                                    <p>
                                        Звіти
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">

                                    {{#repmenu}}
                                    {{#groups}}
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>{{grname}}
                                                <i class="right fas fa-angle-left"></i>
                                            </p>

                                        </a>
                                        <ul class="nav nav-treeview">
                                            {{#items}}
                                            <li class="nav-item  has-treeview">
                                                <a href='{{link}}' class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</p>
                                                </a>
                                            </li>
                                            {{/items}}
                                        </ul>

                                        </il>
                                        {{/groups}}

                                        {{#items}}
                                    <li class="nav-item  has-treeview">
                                        <a href='{{link}}' class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>&nbsp;&nbsp;{{name}}</p>
                                        </a>
                                    </li>
                                    {{/items}}
                                    {{/repmenu}}

                                </ul>

                            </li>
                            {{/showrepmenu}}
                            {{#showregmenu}}
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fa fa-list"></i>
                                    <p>
                                        Журнали
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    {{#regmenu}}
                                    {{#groups}}
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>{{grname}}
                                                <i class="right fas fa-angle-left"></i>
                                            </p>

                                        </a>
                                        <ul class="nav nav-treeview">
                                            {{#items}}
                                            <li class="nav-item  has-treeview">
                                                <a href='{{link}}' class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</p>
                                                </a>
                                            </li>
                                            {{/items}}
                                        </ul>

                                        </il>
                                        {{/groups}}

                                        {{#items}}
                                    <li class="nav-item  has-treeview">
                                        <a href='{{link}}' class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>&nbsp;&nbsp;{{name}}</p>
                                        </a>
                                    </li>
                                    {{/items}}
                                    {{/regmenu}}
                                </ul>

                            </li>
                            {{/showregmenu}}
                            {{#showrefmenu}}
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fa fa-book"></i>
                                    <p>
                                        Довідники
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    {{#refmenu}}
                                    {{#groups}}
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>{{grname}}
                                                <i class="right fas fa-angle-left"></i>
                                            </p>

                                        </a>
                                        <ul class="nav nav-treeview">
                                            {{#items}}
                                            <li class="nav-item  has-treeview">
                                                <a href='{{link}}' class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</p>
                                                </a>
                                            </li>
                                            {{/items}}
                                        </ul>

                                        </il>
                                        {{/groups}}

                                        {{#items}}
                                    <li class="nav-item  has-treeview">
                                        <a href='{{link}}' class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>&nbsp;&nbsp;{{name}}</p>
                                        </a>
                                    </li>
                                    {{/items}}


                                    {{/refmenu}}

                                </ul>

                            </li>
                            {{/showrefmenu}}
                            {{#showsermenu}}
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-project-diagram"></i>
                                    <p>
                                        Сервісні сторінки
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    {{#sermenu}}
                                    {{#groups}}
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>{{grname}}
                                                <i class="right fas fa-angle-left"></i>
                                            </p>

                                        </a>
                                        <ul class="nav nav-treeview">
                                            {{#items}}
                                            <li class="nav-item  has-treeview">
                                                <a href='{{link}}' class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</p>
                                                </a>
                                            </li>
                                            {{/items}}
                                        </ul>

                                        </il>
                                        {{/groups}}

                                        {{#items}}
                                    <li class="nav-item  has-treeview">
                                        <a href='{{link}}' class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>&nbsp;&nbsp;{{name}}</p>
                                        </a>
                                    </li>
                                    {{/items}}

                                    {{/sermenu}}
                                </ul>

                            </li>
                            {{/showsermenu}}
                            {{#showmodmenu}}
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fa fa-puzzle-piece"></i>
                                    <p>
                                        Модулі
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                
                                    {{#shop}}
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>Онлайн каталог
                                                <i class="right fas fa-angle-left"></i>
                                            </p>

                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="/shop" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Перейти  до  каталогу</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/index.php?p=App/Modules/Shop/Pages/Admin/GroupList" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Атрибути товарiв</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/index.php?p=App/Modules/Shop/Pages/Admin/ProductList" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Значення атрибутiв</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/index.php?p=App/Modules/Shop/Pages/Admin/VarList" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Варiацiї товарiв</p>
                                                </a>
                                            </li>
                                                
                                           <li>
                                                <a href="/index.php?p=App/Modules/Shop/Pages/Admin/Dashboard" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Дашборд</p>
                                                </a>
                                            </li>
                                                
                                             {{#isadmins}}
                                            <li>
                                                <a href="/index.php?p=App/Modules/Shop/Pages/Admin/Custom" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Кастомiзацiя</p>
                                                </a>
                                            </li>     
                                            <li>
                                                <a href="/index.php?p=App/Modules/Shop/Pages/Admin/Options" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Налаштування</p>
                                                </a>
                                            </li>     
                                            {{/isadmins}}
                                        </ul>

                                    </li>
                                    {{/shop}}
                                    {{#ocstore}}
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>Обмін з ОпенКарт
                                                <i class="right fas fa-angle-left"></i>
                                            </p>

                                        </a>
                                        <ul class="nav nav-treeview">
                                              {{#isadmins}}
                                               <li class="nav-item">
                                                <a href="/index.php?p=App/Modules/OCStore/Options" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Налаштування</p>
                                                </a>
                                            </li>
                                               {{/isadmins}}
                                            <li>
                                                <a href="/index.php?p=App/Modules/OCStore/Orders" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Замовлення</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/index.php?p=App/Modules/OCStore/Items" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Товари</p>
                                                </a>
                                            </li>
                                        </ul>

                                    </li>
                                    {{/ocstore}}
                                    {{#woocomerce}}
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>Обмін з Woocommerce
                                                <i class="right fas fa-angle-left"></i>
                                            </p>

                                        </a>
                                        <ul class="nav nav-treeview">
                                               {{#isadmins}}
                                               <li class="nav-item">
                                                <a href="/index.php?p=App/Modules/WC/Options" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Налаштування</p>
                                                </a>
                                                 {{/isadmins}}
                                            </li>
                                            <li>
                                                <a href="/index.php?p=App/Modules/WC/Orders" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Замовлення</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/index.php?p=App/Modules/WC/Items" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Товари</p>
                                                </a>
                                            </li>
                                        </ul>

                                    </li>
                                    {{/woocomerce}}
                                    {{#note}}
                                    <li class="nav-item  has-treeview">
                                        <a href="/index.php?p=App/Modules/Note/Pages/Main" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>База знань</p>
                                        </a>
                                    </li>
                                    {{/note}}
                                    {{#issue}}
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>Проекти та завдання
                                                <i class="right fas fa-angle-left"></i>
                                            </p>

                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="/index.php?p=App/Modules/Issue/Pages/ProjectList" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Проекти</p>
                                                </a>
                                                <a href="/index.php?p=App/Modules/Issue/Pages/IssueList" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Завдання</p>
                                                </a>
                                               
                                                <a href="/index.php?p=App/Modules/Issue/Pages/TimeSheet" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Облік  часу</p>
                                                </a>
                                              
                                             

                                            </li>
                                        </ul>

                                    </li>
                                    {{/issue}}
                       
                                    {{#ppo}}
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>Фiскализацiя
                                                <i class="right fas fa-angle-left"></i>
                                            </p>

                                        </a>
                                        <ul class="nav nav-treeview">

                                            <li class="nav-item">
                                                <a href="/index.php?p=App/Modules/PPO/PPOList" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Зареєстровані РРО</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/index.php?p=App/Modules/PPO/ZList" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Журнал  z-звiтiв</p>
                                                </a>
                                            </li>
                                                   {{#isadmins}}                                            
                                            <li class="nav-item">
                                                <a href="/index.php?p=App/Modules/PPO/ZForm" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Закриття змiни</p>
                                                </a>
                                            </li>
                                                   {{/isadmins}}
                                        </ul>

                                    </li>
                                    {{/ppo}}
                                    {{#np}}
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>Нова Пошта
                                                <i class="right fas fa-angle-left"></i>
                                            </p>

                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="/index.php?p=App/Modules/NP/TTNList" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Перелiк доставок</p>
                                                </a>
                                            </li>     {{#isadmins}}
                                            <li class="nav-item">
                                                <a href="/index.php?p=App/Modules/NP/Options" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Налаштування</p>
                                                </a>
                                            </li>      {{/isadmins}}

                                        </ul>

                                    </li>
                                    {{/np}}
                                  {{#paperless}}
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>Paperless
                                                <i class="right fas fa-angle-left"></i>
                                            </p>

                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="/index.php?p=App/Modules/Paperless/DocList" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Документи</p>
                                                </a>
                                            </li>     {{#isadmins}}
                                            <li class="nav-item">
                                                <a href="/index.php?p=App/Modules/Paperless/Options" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Налаштування</p>
                                                </a>
                                            </li>      {{/isadmins}}

                                        </ul>

                                    </li>
                                    {{/paperless}}
                                  {{#promua}}
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>Обмен с PromUa
                                                <i class="right fas fa-angle-left"></i>
                                            </p>

                                        </a>
                                        <ul class="nav nav-treeview">
                                              {{#isadmins}}
                                            <li class="nav-item">
                                                <a href="/index.php?p=App/Modules/PU/Options" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Налаштування</p>
                                                </a>
                                            </li>
                                              {{/isadmins}}
                                            <li>
                                                <a href="/index.php?p=App/Modules/PU/Orders" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Замовлення</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/index.php?p=App/Modules/PU/Items" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;Товари</p>
                                                </a>
                                            </li>
                                        </ul>

                                    </li>
                                    {{/promua}}
                                </ul>

                            </li>
                            {{/showmodmenu}}

                            {{#isadmins}}
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fa fa-cog"></i>
                                    <p>
                                        Система
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">

                                    {{#isadmin}}
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>Налаштування
                                                <i class="right fas fa-angle-left"></i>
                                            </p>

                                        </a>
                                        <ul class="nav nav-treeview">

                                            <li class="nav-item">
                                                <a href="/index.php?p=App/Pages/Options" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Загальнi</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/index.php?p=App/Pages/MenuList" class="nav-link">
                                                    <i class="fa    nav-icon"></i>
                                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Налаштування меню</p>
                                                </a>
                                            </li>
                                        </ul>

                                    </li>

                                    <li class="nav-item">
                                        <a href="/index.php?p=App/Pages/FirmList" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>&nbsp;&nbsp;Компанії</p>
                                        </a>
                                    </li>


                                    {{#usebranch}}
                                    <li class="nav-item">
                                        <a href="/index.php?p=App/Pages/BranchList" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>&nbsp;&nbsp;Філії</p>
                                        </a>
                                    </li>
                                    {{/usebranch}}


                                    <li class="nav-item">
                                        <a href="/index.php?p=App/Pages/Roles" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>&nbsp;&nbsp;Ролі</p>
                                        </a>
                                    </li>
                                    {{/isadmin}}
                                    <li class="nav-item">
                                        <a href="/index.php?p=App/Pages/Users" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>&nbsp;&nbsp;Користувачі</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/index.php?p=App/Pages/PosList" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>&nbsp;&nbsp;POS термінали</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="/index.php?p=App/Pages/Subscribes" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>&nbsp;&nbsp;Пiдписки</p>
                                        </a>
                                    </li>                            
                                    <li class="nav-item">
                                        <a href="/index.php?p=App/Pages/SystemLog" class="nav-link">
                                            <i class="fa    nav-icon"></i>
                                            <p>&nbsp;&nbsp;Системний лог</p>
                                        </a>
                                    </li>
                                </ul>

                            </li>
                         
                            <li class="nav-item  ">
                                <a href="https://zippy.com.ua/aboutus#contact" class="nav-link">
                                    <i class="nav-icon fas fa-phone-alt"></i>
                                    <p>
                                        Тех. пiдтримка 

                                    </p>
                                </a>
                            </li>
                      
                            {{/isadmins}}
                        </ul>
                    </nav>
                </div>
                <!-- /.sidebar -->     
            </aside>
            {{/showsidemenu}}
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper mb-4">
                <!-- Main content -->
                <section class="content"> <a id="topankor" />
                    <div class="row justify-content-center mt-2 mb-1">
                        <div class="col-12 col-md-10 col-lg-9 col-xl-8   ">

                            {{#alerterror}}
                            <div class="alert alert-danger" role="alert">
                                {{{alerterror}}}
                            </div>
                            {{/alerterror}}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12    ">
                            {{#smart}}

                            <div class=" card navbar nav justify-content-start d-none d-sm-block">
                                {{{smart}}}
                            </div>

                            {{/smart}}


                            <childpage/>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

        </div>
        <!-- ./wrapper -->

           <div id="modalsendmsg" class="modal fade  " tabindex="-1"  
                 aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Вiдправити повiдомлення</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                             <form id="sendmsgform"  >
                               <div class="form-group">
                                  <label  >Отримувач</label>
                                  <input  id="sendmsgrecname"  name="sendmsgrecname"  readonly class="form-control-plaintext"  />  
                                  <input  id="sendmsgrecid" name="sendmsgrecid" type="hidden"     />  
                               </div>
                              <div class="form-group">
                                  <label for="sendmsgtext">Повiдомлення</label>
                                  <textarea required="required" class="form-control" name="sendmsgtext" id="sendmsgtext"  >  </textarea>
                               </div>
                             
                             </form>
                        </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                    <button onclick="sendSendMsg()" type="submit" class="btn btn-primary">Вiдправити</button>
                  </div>
                    </div>
                </div>
            </div>

   
        {{#toasts}}
        <script>
$(document).Toasts('create', {
icon: 'fa fa-exclamation-triangle text-warning',
        position:'bottomRight',
{{{title}}}

})
        </script>
        {{/toasts}}

        <script>
                    toastr.options = {
                    "closeButton": true,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-top-center",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "2000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                    };
            $(function () {
                $('[data-toggle="popover"]').popover();
                $('[data-toggle="tooltip"]').tooltip();
                $('.select2').select2({theme:'bootstarp4'});
  
            });
            $(window).scroll(function () {
                if ($(this).scrollTop() > 600) {
                if ($('#upbutton').is(':hidden')) {
                $('#upbutton').css({
                opacity: 0.7
                }).fadeIn('slow');
                }
                } else {
                $('#upbutton').stop(true, false).fadeOut('fast');
                }
            });
            
            
            
            
            function sendSendMsg( ){
                var f = document.getElementById('sendmsgform')  ;
                   
                let formdata = new FormData(f);
               
                $('#modalsendmsg').modal('hide') 
                   
                callPageMethod('sendMsg',null,formdata,(data)=> 
                {
                         
                     toastr.success('Вiдправлено','',{'timeOut':'2000'})     
                    
         
                } )
            }
            function openSendMsg(id,name){
                
                
              $('#modalsendmsg').modal('show')  
              $('#sendmsgrecname').val(name)  
              $('#sendmsgrecid').val(id)  
              $('#sendmsgtext').val('')  
            }
            
             function  _getValue(id){
                  var v = parseFloat($('#'+id).val()); 
                
                  if(Number.isNaN(v)==false) {
                      return v;  
                  } else {
                      return 0;
                  }
                
            }
            
            {{#twodigit}}
            //форматирует
            function  _setText(id,v){
               $('#'+id).val( v.toFixed(2)  );         
            }
            function  _setVal(id,v){
               $('#'+id).val( v.toFixed(2) );         
            }
            {{/twodigit}}
        
            {{^twodigit}}
            //форматирует
            function  _setText(id,v){
               $('#'+id).val( v.toFixed(0)  );         
            }
            function  _setVal(id,v){
               $('#'+id).val( v.toFixed(0) );         
            }
            {{/twodigit}}        
        
       //автофокус на  модальном  окне
       $(document).on('shown.bs.modal', '.modal', function() {
          $(this).find('input:visible:first').focus();
       });            
   
       //замена  запятой
        $(document).on('change', 'input.qtyprice', function() {
          var val =   $(this).val().replace(/,/g, '.');
          val =   val.replace(/\s/g, '');
          $(this).val(val)
        });    
                   
       function check_execdoc(ele){
            
            $('#execdoc').attr('disabled','disabled')
            return true;
       
        }
        function check_savedoc(ele){
            
            $('#savedoc').attr('disabled','disabled')
            return true;
       
        } 
   
     
        function sendPS( buf){
          
           var url="{{psurl}}"  
            
   //  console.log(buf)     
               
    
       var opt={
           method: 'POST' ,
  
           body:   buf
       };    
             
          fetch(url+"/print",opt)                                            
  
              .then((response) => {
                  return response.text();
              })
              .then((data) => {
                 if(data == ""){
                     toastr.success("Вiдправлено на принтер" )   
                 }   else {
                    toastr.error(data )        
                 }
              })
               .catch(function (error) {
                    toastr.error(error )       
                      });  
            
       
        } 
           
        </script>
        {{#usemobilescanner}}
        <script src="/assets/js/quagga.min.js" type="text/javascript"></script>
        <script src="/assets/js/mscanner.js" type="text/javascript"></script>

        {{/usemobilescanner}}
    </body>
</html>
