<html>
    <head>
    </head>

    <body>
        <div class="row">
            <div class="col-12">
                <div zippy="branchtable">
                    <h3>Список филиалов </h3>
                    <a zippy="addnew" class="btn btn-outline-primary  ">Добавить</a>
                    <table class="table table-bordered   table-sm" style="width:400px">
                        <tr>
                            <th>Название</th>
                            <th>Адрес</th>
                            <th>Телефон</th>

                            <th> </th>
                        </tr>
                        <tr zippy="branchlist">
                            <td zippy="branch_name"></td>
                            <td zippy="address"></td>
                            <td zippy="phone"></td>


                            <td style="width:75px"><a zippy="edit" title="Редактировать"><i class="fa fa-edit"></i></a> <a
                                    zippy="delete" title="Удалить"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </table>


                </div>

                <form class="col-6 col-md-4" zippy="branchdetail"  >
                  <div class="form-group">
                        <label for="editbranch_name">Название</label>
                        <input  required="required" class="form-control" zippy="editbranch_name"/>
                  </div>
                 <div class="form-group">
                        <label for="editfirm">Название фирмы</label>
                        <input  required="required" class="form-control" zippy="editfirm"/>
                        <small>Если задано  перекрывает то что  в  настройках системы</small>
                  </div>
                 <div class="form-group">
                        <label for="editinn">ИНН</label>
                        <input  required="required" class="form-control" zippy="editinn"/>
                        <small>Если задано  перекрывает то что  в  настройках системы</small>
                  </div>
            
                  <div class="form-group">
                        <label for="editaddress">Адрес</label>
                        <input    class="form-control" zippy="editaddress"/>
                  </div>
                  <div class="form-group">
                        <label for="editphone">Телефон, Viber</label>
                        <input    class="form-control" zippy="editphone"/>
                        <small>Несколько телефонов - чере запятую</small>
                  </div>
                  
                                   
                  <div class="form-group">
                        <label for="editcomment">Комментарий</label>
                        <textarea    class="form-control" zippy="editcomment" >
                        </textarea>
                  </div>
                 <div class="form-check">
                        <input zippy="editdisabled" type="checkbox" class="form-check-input"  >
                        <label class="form-check-label" for="editdisabled">Закрыт</label>
                    </div> 

                    <input zippy="save" type="submit" value="Сохранить" class="btn btn-primary  ">&nbsp;&nbsp;
                    <input zippy="cancel" type="button" value="Отменить" class="btn btn-outline-primary  "> 

                </form>
            </div>
        </div>

    </body>
</html>