<html>
  <head>
        <title> Перелік філій   </title>

    </head>

    <body>
        <div class="row">
            <div class="col-12">
                <div zippy="branchtable">
                    <h3>Перелік філій </h3>
                    <a zippy="addnew" class="btn btn-outline-primary  ">Додати</a>
                    <table class="table table-bordered   table-sm" style="width:500px">

                        <tr zippy="branchlist">
                            <td zippy="branch_name"></td>

                            <td zippy="address"></td>


                            <td style="width:100px"><a zippy="edit" title="Редагувати"><i class="fa fa-edit"></i></a> 
                           &nbsp;&nbsp; <a zippy="delete" title="Вилучити"><i class="fa fa-trash text-danger"></i></a></td>
                        </tr>
                    </table>
                  <b>Перевести не прив`язані до філій ресурси  </b>
                  <form zippy="formmove"  class="form-inline"  >
                     На філію <select zippy="selmove" class="form-control mr-4"><option value="0">Вибрати</option></select> <input zippy="btnmove"  class="btn btn-success" type="submit" value="Виконати">
                  </form>
                  <small>Якщо підтримка філій ввімкнена  після  вже  проведених документів </small>
                </div>

                <form class="col-6 col-md-4" zippy="branchdetail">
                    <div class="form-group">
                        <label for="editbranchname">Назва</label>
                        <input  required="on"  class="form-control" zippy="editbranchname"/>
                    </div>


                    <div class="form-group">
                        <label for="editaddress">Адреса</label>
                        <input class="form-control" zippy="editaddress"/>
                        <small>Якщо зазначена, використовується замість налаштувань компанiї</small>
                    </div>
                    <div class="form-group">
                        <label for="editphone">Телефон</label>
                        <input  pattern="[0-9]+" class="form-control" zippy="editphone"/>
                        <small>Якщо зазначений, використовується замість налаштувань компанiї</small>
                    </div>


                    <div class="form-group">
                        <label for="editcomment">Коментар</label>
                        <textarea class="form-control" zippy="editcomment">
                        </textarea>
                    </div>
                    <div class="form-check">
                        <input zippy="editdisabled" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="editdisabled">Закрито</label>
                    </div>

                    <input zippy="save" type="submit" value="Зберегти" class="btn btn-primary  ">&nbsp;&nbsp;
                    <input zippy="cancel" type="button" value="Скасувати" class="btn btn-outline-primary  ">

                </form>
            </div>
        </div>
     <script  >

        function check_btnmove() {
                return confirm("Виконати?")
        }   
     </script>
    </body>
</html>

 
    
 