<html>

    <body>
        <div class="row">
            <div class="col-12 col-md-8 col-xl-6">
                <h4>Общий чат</h4>
 

          <div class="card direct-chat direct-chat-primary">
               
              <div class="card-body">
              
                <div class="direct-chat-messages" style="height:400px">
                  {{#chat}}
                  
                      {{^isme}}
                      <div class="direct-chat-msg">
                        <div class="direct-chat-infos clearfix">
                          <span class="direct-chat-name float-left">{{sender}}</span>
                          <span class="direct-chat-timestamp float-right">{{msgdate}}</span>
                        </div>
                          <div class="direct-chat-text">
                          {{message}}
                        </div>
                       
                      </div>
                      {{/isme}}
                      {{#isme}}
                       
                      <div class="direct-chat-msg right">
                        <div class="direct-chat-infos clearfix">
                          <span class="direct-chat-name float-right"> {{sender}}</span>
                          <span class="direct-chat-timestamp float-left">{{msgdate}}</span>
                        </div>
                       
                        <div class="direct-chat-text">
                          {{message}}
                        </div>
                       
                      </div>
                      {{/isme}} 
                {{/chat}}
                <a id="endchat" name="endchat"></a>
                </div>
               
  
              </div>
              
              <div class="card-footer">
                <form  zippy="msgform"  >
                  <div class="input-group">
                    <textarea required="required"   zippy="msgtext"   class="form-control"></textarea>
                     
                       
                  </div>
                 <div class="input-group">
                    
                      <button type="submit" class="btn btn-primary">Отправить</button>
                    
                  </div>
                </form>
              </div>
              
            </div>
  

            </div>

      
        </div>

    </body>

</html>