<html>
  <head>
        <title> Загальний чат   </title>

    </head>

    <body>
        <div class="row">
            <div class="col-12 col-md-8 col-xl-6">
                <h4>Загальний чат</h4>
 

          <div class="card direct-chat direct-chat-primary">
               
              <div class="card-body">
              
                   {{#chat}}
                  
                      {{^isme}}
                      
                      <div class="row">
                        <div class="col-6"><b>{{sender}}</b></div>
                        <div class="col-4 text-right">{{msgdate}}</div>
                        <div class="col-2"> </div>
                       </div>
                       <div class="row">
                        <div class="col-10  bg-light   rounded ">{{{message}}}</div>
                        <div class="col-2"> </div>
                       </div>
                   
                       
                     
                      {{/isme}}
                      {{#isme}}
                       
                    <div class="row">
                        <div class="col-2"> </div>
                        <div class="col-4 text-left">{{msgdate}}</div>
                        
                        <div class="col-6 text-right"><b>{{sender}}</b></div>
                    </div>
                       <div class="row">
                        <div class="col-2"> </div>
                        <div class="col-10 bg-info rounded">{{{message}}}</div>
                        
                       </div>
                   
                       
                      
                      {{/isme}} 
                {{/chat}}
                <a id="endchat" name="endchat"></a>
                <table style="width:100%;font-size:smaller">
                <tr><td>      <a zippy="prevpart" > <i class="fa fa-angle-double-left" ></i> попереднi</a></td>
                <td class="text-right"><a zippy="nextpart" >  наступнi <i class="fa fa-angle-double-right" ></i> </a></td></tr></table>
                
               
  
              </div>
              
              <div class="card-footer">
            <form  zippy="searchform"  >
               <div class="form-group">
          
                    <div class="input-group  ">
                      <input zippy="searchtext" placeholder="Пошук..." class="form-control"   - >
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-info"    ><i class="fa fa-search" ></i></button>
                        <a class="btn btn-outline-secondary" zippy="searchclear"   ><i class="fa fa-eraser " ></i></a>
                      </div>
                    </div>       
                    
                     
                       
                  </div>
                  </form>
            <form  zippy="msgform" enctype="multipart/form-data"   >
              
             <div class="form-group">
                     <label for="msgtext">Повiдомлення</label> 
                    <textarea required="required"   zippy="msgtext"   class="form-control"></textarea>
                     
                       
                  </div>
                 <div class="form-group">
                     <label for="msgpersonal">Особисте повiдомлення</label> 
                    <select    zippy="msgpersonal"   class="form-control  ">
                      <option value="0">Не обрано</option>
                    </select>
                       
                  </div>
            <details>
                <summary>Додатково</summary>
                              
                   <div class="form-group">
                     <label for="msgfile">Прикрiпити файл</label> 
                    <input type="file"     zippy="msgfile"   class="form-control"/> 
                    </div>                         
                              
                <div class="form-group">
                    <label for="msgdoc">Документ</label> 
                     <input placeholder="Введiть номер"    zippy="msgdoc"   class="form-control"/> 
                </div>                         
                <div class="form-group">
                     <label for="msglink">Зовнiшнє посилання</label> 
                    <input type="url"     zippy="msglink"   class="form-control"/> 
                    <small>Повна адреса, починаючи з http</small>
                    </div>                         
                              
               </details>                  
                  
                  
                  <br>
                 <div class="input-group">
                    
                      <button type="submit" class="btn btn-primary">Вiдправити</button>
                    
                  </div>
                </form>
            

              </div>
              
            </div>
  

            </div>

      
        </div>

    </body>

</html>