<html>
   <head>
        <title>  Особовий рахунок  </title>

    </head>
    <body>
        <div class="row">
                   
            <div class="col-12  col-lg-6  ">
                <h4>Нарахування зарплати</h4>   
                <div class="navbar nav">
                    <form zippy="filterz" class="form-inline">
                                        
                        <label for="from">З</label>
                        <select class="form-control  " zippy="mfrom"> </select>
                        <select class="form-control mr-sm-2" zippy="yfrom"> </select>

                        <label for="to">по</label>
                        <select class="form-control  " zippy="mto"> </select>
                        <select class="form-control mr-sm-2" zippy="yto"> </select>
                     

                        <input class="btn btn-outline-primary  " type="submit" value="ОК">


                    </form>
                </div>


         
       
                
            </div>
             <div class="col-12  col-lg-6">
                <h4>Рух по рахунку</h4>   
                   <div class="navbar nav">
                    <form zippy="filters" class="form-inline">
                                        
                        <label for="from">З</label>
                        <input class="form-control mr-sm-2" style="width: 110px" type="text" zippy="from">

                        <label for="to">по</label>
                        <input class="form-control mr-sm-2" style="width: 110px" type="text" zippy="to">

                   
                        <input class="btn btn-outline-primary  " type="submit" value="ОК">


                    </form>
                </div>

 
            </div>
                
            </div>
        </div>
    </body>
</html>