<html>
   <head>
        <title>  Особовий рахунок  </title>

    </head>
    <body>
        <div class="row">
                   
            <div class="col-12  col-lg-6  col-xl-4 ">
                <h3>Звіт по заробітній платі</h3>   
                <div class="navbar">
                    <form zippy="filterz"  >
                       <div class="row  ">                 
                        <label class="col-form-label col-auto" for="from">З</label>
                        <div class="col-auto  ">
                        <select class="form-control  " zippy="mfrom"> </select>
                         </div>
                        <div class="col-auto  ">
                        <select class="form-control mr-sm-2" zippy="yfrom"> </select>
                          </div>
                        <label class="col-form-label col-auto" for="to">По</label>
                        <div class="col-auto  ">
                        <select class="form-control  " zippy="mto"> </select>
                         </div>
                        <div class="col-auto  ">
                        <select class="form-control mr-sm-2" zippy="yto"> </select>
                          </div>
                        <div class="col-auto  ">
                        <input class="btn btn-outline-primary  " type="submit" value="ОК">
                         </div>
                        </div>  

                    </form>
                </div>

  <table class="ctable">

 
 

    
     <tr >

        <td style="font-weight: bolder;" colspan="2">
           Нарахування та утримання
        </td>
    </tr>
    {{#mempst}}
    <tr>
        <td>{{name}}</td>

        <td class="text-right">{{am}}</td>
    
    </tr>
    {{/mempst}}    
     <tr >

        <td style="font-weight: bolder;" colspan="2">
         <br>   Виплати
        </td>
    </tr>    
    {{#memsal}}
    <tr>

        <td> {{d}}</td>
        <td class="text-right">{{v}}</td>
  

    </tr>
    {{/memsal}}

    <tr style="font-weight: bolder;">

        <td class="text-right">Всього:</td>

        <td class="text-right">{{memtotal}}</td>
      
    </tr>
    
</table>
         
       
                
            </div>
             <div class="col-12  col-lg-8 col-xl-6">
                <h3>Особовий  рахунок</h3>   
                  
                    <form zippy="filters"  >
                       <div class="row  ">                  
                        <label class="col-form-label col-auto" for="from">З</label>
                        <div class="col-auto  ">
                        <input class="form-control mr-sm-2" style="width: 110px" type="text" zippy="from">
                          </div>
                        <label class="col-form-label col-auto" for="to">По</label>
                        <div class="col-auto  ">
                        <input class="form-control mr-sm-2" style="width: 110px" type="text" zippy="to">
                         </div>
                        <div class="col-auto  ">
                        <input class="btn btn-outline-primary  " type="submit" value="ОК">

                       </div> </div>
                    </form>
                   
                   {{#az}}
                  <span>Баланс по зарплатi   <b>{{z}}</b>,  в пiдзвiтi   <b>{{a}}</b>   </span>        {{dt}}
                    {{/az}} 
                    
                 <table class="ctable mt-2">
                    {{#detacc}}
                      <tr>
                        <td >{{dt}}</td>
                        <td >{{opname}}</td>
                        <td  class="text-right">{{amount}}</td>
                        <td >{{doc}}</td>
                        <td >{{notes}}</td>


                      </tr>    
                   {{/detacc}}  
                   
                 </table>  
                
            </div>
                
            </div>

    </body>
</html>