<html>
   <head>
        <title> Перелік компанiй   </title>

    </head>

    <body>
        <div class="row">
           
               <div class="col-12 col-md-8 col-xl-6">
 
                <div zippy="firmtable">
                    <h3>Перелік компанiй </h3>
                     <small>Компанії використовуються переважно для продажних документів для вказівки
                               від імені якого продавця документ. </small>
                    <br><a zippy="addnew" class="btn btn-primary  ">Додати</a>
                    <table class="table table-bordered   table-sm">
                        <tr>
                            <th>Назва</th>
                         
                      
                            <th></th>
                            <th></th>
                               
                        </tr>
                        <tr zippy="firmlist">
                            <td zippy="firm_name"></td>
                           

                             <td > <a zippy="edit" title="Редагувати"><i class="fa fa-edit"></i></a>  </td>
                            <td > <a zippy="delete" title="Видалити"><i class="fa fa-trash"></i></a>  </td>
                                     
                        </tr>
                    </table>

                </div>
            </div>
            
            
    
               
        </div>
        
            <form  zippy="firmdetail">
              <div class="row">
               <div class="col-6 col-md-4  col-xl-3">

                <div class="form-group">
                    <label for="editfirm_name">Назва</label>
                    <input  required  class="form-control" zippy="editfirm_name"/>
                </div>

                <div class="form-group">
                    <label for="editinn">IПН </label>
                    <input class="form-control" type="text" zippy="editinn">
                </div>
               
                <div class="form-group">
                    <label for="edittin">ЄДРПОУ </label>
                    <input class="form-control" type="text" zippy="edittin">
                </div>
               
                <div class="form-group">
                    <label for="editphone">Телефон, viber </label>
                    <input class="form-control" type="text" zippy="editphone">
                </div>
                <div class="form-group">
                    <label for="editaddress">Адреса </label>
                    <input class="form-control" type="text" zippy="editaddress">
                </div>


      
                 <div class="form-group">
                        <label for="editiban" data-label="editiban">IBAN</label>
                        <input class="form-control" type="text" zippy="editiban">
                        <small>Якщо не задано в банкiвському  рахунку</small>
                 </div>

                 <div class="form-group">
                        <label for="editpayname" data-label="editiban">Одержувач</label>
                        <input class="form-control" type="text" zippy="editpayname">
                        <small>Ім'я одержувача (платника), якщо відрізняється від назви фірми</small>
                    </div>

                 <div class="form-check">
                    <input zippy="editdisabled" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="editdisabled">Не використовується</label>
                </div>
               </div>
       
                  <div class="col-6 col-md-4  col-xl-3">
                        
                    <div class="form-group">
                        <label for="editlogo">Логотип </label>
                        <input class="form-control" type="text" zippy="editlogo">
                        <small class="form-text text-muted">Шлях до файлу логотипа вiдносно кореня сайту. Наприклад,
                            '/upload/logo.png'</small>
                    </div>
                    <div class="form-group">
                        <label for="editstamp">Печатка </label>
                        <input class="form-control" type="text" zippy="editstamp">
                        <small class="form-text text-muted">Шлях до файла зображення вiдносно кореня сайту. </small>
                    </div>
                    <div class="form-group">
                        <label for="editsign">Пiдпис (факсимiле) </label>
                        <input class="form-control" type="text" zippy="editsign">
                        <small class="form-text text-muted">Шлях до зображення вiдносно кореня сайту. </small>
                    </div>                    
                      {{#vdoc}}
                     <div class="form-group">
                        <label for="editvdoc">Токен Вчасно.EDO</label>
                        <input type="text" zippy="editvdoc" class="form-control" />
                    </div> 
                      {{/vdoc}}               
                 </div>     
                    
                    
              <div class="col-12">
                               
                <div class="form-check">
                  <input zippy="cancel" type="button" value="Скасувати" class="btn btn-outline-primary mr-1 ">
                  <input zippy="save" type="submit" value="Зберегти" class="btn btn-outline-primary  ">
                </div>                
              </div>                
           </div>                
                     

            </form>

      

       <script>
            function check_delete() {
                return confirm("Видалити компанiю?")
            }
               
 
            
            </script>
    </body>
</html>