<html>
   <head>
        <title> Список компанiй   </title>

    </head>

    <body>
        <div class="row">
             {{^loadkey}}
               <div class="col-12 col-md-8 col-xl-6">
             {{/loadkey}}
             {{#loadkey}}
               <div class="col-12   col-xl-10">
             {{/loadkey}}
                <div zippy="firmtable">
                    <h3>Список компанiй </h3>

                    <a zippy="addnew" class="btn btn-primary  ">Додати</a>
                    <table class="table table-bordered   table-sm">
                        <tr>
                            <th>Назва</th>
                         
                            <th></th>
   {{#loadkey}}
                            <th  > </th>
                            <th  >Власник сертифiкату</th>
                            <th  >Iдентифiкатор  ключа</th>
                            
                            
                            {{/loadkey}}                               
                        </tr>
                        <tr zippy="firmlist">
                            <td zippy="firm_name"></td>
                           

                            <td style="width:100px"><a zippy="edit" title="Редагувати"><i class="fa fa-edit"></i></a>
                             &nbsp;&nbsp; <a                                    zippy="delete" title="Видалити"><i class="fa fa-trash"></i></a></td>
    {{#loadkey}}
                            <td  >
                               <a  zippy="ppo" title="Загрузить ключ  и сертификат" ><i class="fa fa-key"></a>
                            </td>
                            <td zippy="ppoowner"> </td>
                            <td zippy="ppokeyid"> </td>
                            {{/loadkey}}                                      
                        </tr>
                    </table>
                {{#loadkey}}    <small>Iдентифiкатор  ключа мае  бути  прописаний в  податковiй</small>       {{/loadkey}}     
                </div>
            </div>
        </div>
        <div class="row">
            <form class="col-6 col-md-4  col-xl-3" zippy="firmdetail">
                <div class="form-group">
                    <label for="editfirm_name">Назва</label>
                    <input required="required" class="form-control" zippy="editfirm_name"/>
                </div>

                <div class="form-group">
                    <label for="editinn">IПН </label>
                    <input class="form-control" type="text" zippy="editinn">
                </div>
               
                <div class="form-group">
                    <label for="edittin">ЄДРПОУ </label>
                    <input class="form-control" type="text" zippy="edittin">
                </div>
               
                <div class="form-group">
                    <label for="editphone">Телефон,viber </label>
                    <input class="form-control" type="text" zippy="editphone">
                </div>
                <div class="form-group">
                    <label for="editaddress">Адреса </label>
                    <input class="form-control" type="text" zippy="editaddress">
                </div>

                <div class="form-group">
                    <label for="editlogo">Логотип </label>
                    <input class="form-control" type="text" zippy="editlogo">
                    <small class="form-text text-muted">Шлях до файлу логотипа вiдносно кореня сайту. Наприклад
                        '/upload/logo.png'</small>
                </div>
                <div class="form-group">
                    <label for="editstamp">Печать </label>
                    <input class="form-control" type="text" zippy="editstamp">
                    <small class="form-text text-muted">Шлях до файла зображення вiдносно кореня сайту . </small>
                </div>
                <div class="form-group">
                    <label for="editsign">Пiдпис (факсимiле) </label>
                    <input class="form-control" type="text" zippy="editsign">
                    <small class="form-text text-muted">Шлях до зображення вiдносно кореня сайту . </small>
                </div>
      


                <div class="form-check">
                    <input zippy="editdisabled" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="editdisabled">Не використовуеться</label>
                </div>
                <input zippy="save" type="submit" value="Зберегти" class="btn btn-outline-primary  ">&nbsp;&nbsp;
                <input zippy="cancel" type="button" value="Скасувати" class="btn btn-outline-primary  ">

            </form>
        </div>
          <div class="row">
            
            <form class="col-6 col-md-4  col-xl-3" zippy="keyform" enctype="multipart/form-data">
                <h5>Завантаження  ключа  та сертифiкату</h5>
            <small>Опис  роботи з ключами <a  target="_blank" href="https://zippy.com.ua/ua/ext#6">тут</a> </small>
                  <div class="form-group">
                    <label for="signtype">Метод  пiдпису </label>
                    <select   class="form-control" type="text" zippy="signtype">
                      <option value="0">Внутрiшня  бiблiотека</option>
                  <!--    <option value="1">Сервер  з передачею ключа</option>
                      <option value="2">Сервер з встроєним  ключем</option>
                      -->
                    </select>
                    
                </div>  
            
                             
                <div class="form-group">
                    <label for="password">Пароль </label>
                    <input required="required" class="form-control" type="text" zippy="password">
                </div>
                <div class="form-group">
                    <label for="keyfile">Файл ключа </label>
                    <input class="form-control" type="file" zippy="keyfile">
                  
                </div>
                <div class="form-group">
                    <label for="certfile">Файл сертифiкату </label>
                    <input class="form-control" type="file" zippy="certfile">
                </div>
   <small>Для jks ключiв (ПриватБанк) необов'язково</small>                      
                <div class="form-group">
                    <label for="serhost">Адреса  серверу пiдпису </label>
                    <input class="form-control"   zippy="serhost">
                </div>
                <div class="form-group">
                    <label for="serport">Порт  серверу </label>
                    <input class="form-control"   zippy="serport">
                </div>
                <div class="form-check">
                    <input zippy="usessl" type="checkbox" class="form-check-input">
                    <label class="form-check-label text-bold" for="usessl">Перевiряти SSL сертифiкат</label>
             <small for="usessl">У разі проблем із самопідписаним сертифікатом потрібно додати його до системи до списку довірених.
                 Або покласти файл сертифіката в папку config, перейменувавши в 'ssl.srt'
                </small>       
                </div>   

                <div class="form-check">
                   <input zippy="outher" type="checkbox" class="form-check-input">
                   <label class="form-check-label" for="outher">Використати  зовнiшнiй сервер</label>
                  <br> <small>Якщо помилка з таймаутом</small>
               </div>                              
                 
                <span style="display:block" id="progress"></span>
                <input zippy="send" type="button" value="Завантажити" class="btn btn-primary  ">&nbsp;&nbsp;
                <input zippy="cancelppo" type="button" value="Закрити" class="btn btn-outline-primary  ">
                <input zippy="delppo" type="button" value="Видалити" class="btn btn-outline-danger  "> &nbsp;&nbsp; 
      

            </form>
            
            </div> 
            <script>
            
            function check_send(){
                $('#progress').text('Завантаження...');
                $('#send').attr('disabled','disabled');
               
                return  true;
            }
            
            </script>
    </body>
</html>