<html>
    <head>
    </head>

    <body>
        <div class="row">
             {{^ppo}}
               <div class="col-12 col-md-8 col-xl-6">
             {{/ppo}}
             {{#ppo}}
               <div class="col-12   col-xl-10">
             {{/ppo}}
                <div zippy="firmtable">
                    <h3>Список компаний </h3>

                    <a zippy="addnew" class="btn btn-outline-primary  ">Добавить</a>
                    <table class="table table-bordered   table-sm">
                        <tr>
                            <th>Название</th>
                        
                            <th></th>
   {{#ppo}}
                            <th  > </th>
                            <th  >Владелец сертификата</th>
                            <th  >Идентификатор  ключа</th>
                            
                            
                            {{/ppo}}                            
                        </tr>
                        <tr zippy="firmlist">
                            <td zippy="firm_name"></td>
                           

                            <td style="width:100px"><a zippy="edit" title="Редактировать"><i class="fa fa-edit"></i></a> 
                           &nbsp;&nbsp; <a  zippy="delete" title="Удалить"><i class="fa fa-trash"></i></a></td>
                            
                           {{#ppo}}
                            <td  >
                               <a  zippy="ppo" title="Загрузить ключ  и сертификат" ><i class="fa fa-key"></a>
                            </td>
                            <td zippy="ppoowner"> </td>
                            <td zippy="ppokeyid"> </td>
                            {{/ppo}}                            
                            
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="col-6 col-md-4 col-xl-3" zippy="firmdetail">
                <div class="form-group">
                    <label for="editfirm_name">Название</label>
                    <input required="required" class="form-control" zippy="editfirm_name"/>
                </div>

                <div class="form-group">
                    <label for="editinn">ИНН </label>
                    <input class="form-control" type="text" zippy="editinn">
                </div>
               
                <div class="form-group">
                    <label for="edittin">ЕДРПОУ (ОКПО) </label>
                    <input class="form-control" type="text" zippy="edittin">
                </div>
                
                <div class="form-group">

                    <label for="editphone">Телефон,Viber </label>
                    <input class="form-control" type="text" zippy="editphone">
                </div>
                <div class="form-group">
                    <label for="editaddress">Адрес </label>
                    <input class="form-control" type="text" zippy="editaddress">
                </div>

                <div class="form-group">
                    <label for="editlogo">Логотип </label>
                    <input class="form-control" type="text" zippy="editlogo">
                    <small class="form-text text-muted">Путь к файлу логотипа относительно корня сайта. Например
                        '/upload/logo.png'</small>
                </div>
                <div class="form-group">
                    <label for="editstamp">Печать </label>
                    <input class="form-control" type="text" zippy="editstamp">
                    <small class="form-text text-muted">Путь к изображению печати относительно корня сайта. </small>
                </div>
                <div class="form-group">
                    <label for="editsign">Подпись (факсимиле) </label>
                    <input class="form-control" type="text" zippy="editsign">
                    <small class="form-text text-muted">Путь к изображению относительно корня сайта. </small>
                </div>
 

                <div class="form-check">
                    <input zippy="editdisabled" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="editdisabled">Не используется</label>
                </div>
                <input zippy="save" type="submit" value="Сохранить" class="btn btn-primary  ">&nbsp;&nbsp;
                <input zippy="cancel" type="button" value="Отменить" class="btn btn-outline-primary  ">

            </form>
        </div>
          <div class="row">
            
            <form class="col-6 col-md-4  col-xl-3" zippy="keyform" enctype="multipart/form-data">
                <h5>Загрузка  ключа  и сертификата</h5>
                <small>Описание  работы  с  ключами <a  target="_blank" href="https://zippy.com.ua/ext#6">здесь</a> </small>
               
                <div class="form-group">
                    <label for="signtype">Метод  подписи </label>
                    <select   class="form-control" type="text" zippy="signtype">
                      <option value="0">Внутренняя  библиотека</option>
                      <option value="1">Сервер  с передачей ключа</option>
                      <option value="2">Сервер с  встроеным  ключом</option>
                    </select>
                    
                </div>
                <div class="form-group">
                    <label for="password">Пароль </label>
                    <input required="required" class="form-control" type="text" zippy="password">
                </div>
                <div class="form-group">
                    <label for="keyfile">Файл ключа </label>
                    <input class="form-control" type="file" zippy="keyfile">
                     
                <div class="form-group">
                    <label for="certfile">Файл сертификата </label>
                    <input class="form-control" type="file" zippy="certfile">
                    <small>Для jks ключей (ПриватБанк) необязательно</small>
                </div>
                <div class="form-group">
                    <label for="serhost">Адрес  сервера подписи </label>
                    <input class="form-control"   zippy="serhost">
                </div>
                <div class="form-group">
                    <label for="serport">Порт  сервера </label>
                    <input class="form-control"   zippy="serport">
                </div>
                <div class="form-check">
                    <input zippy="usessl" type="checkbox" class="form-check-input">
                    <label class="form-check-label text-bold" for="usessl">Проверять SSL сертификат</label>
                    
                </div>
                <small>В случае  проблем  с  самоподписаным  сертификатом нужно  добавить его в  систему  в  список  доверенных.
                Или положить файл сертификата  в  папку  config переименовав в  'ssl.srt'
                </small>
                <span style="display:block" id="progress"></span>
                <input zippy="send" type="button" value="Загрузить" class="btn btn-primary  ">&nbsp;&nbsp;
                <input zippy="cancelppo" type="button" value="Закрыть" class="btn btn-outline-primary  "> &nbsp;&nbsp;
                <input zippy="delppo" type="button" value="Удалить" class="btn btn-outline-danger  ">  
      

            </form>
            
            </div> 
            <script>
            
            function check_send(){
                $('#progress').text('Загрузка...');
                $('#send').attr('disabled','disabled');
               
                return  true;
            }
            
            </script>
       
    </body>
</html>