<html>
    <head>
    </head>

    <body>      <h3>Мои  задачи </h3>
        <div class="row">


            <div class="col-12   col-xl-10" zippy="listpan">
                <div class="navbar nav">
                    <form zippy="filter" class="form-inline ">


                        <input class="form-control mr-2" type="text" zippy="searchtext" placeholder="Поиск по контенту">

                        <input type="submit" class="  btn btn-outline-success  " value="Искать">


                    </form>

                </div>
                <a zippy="addnew" class="btn btn-success">Добавить</a>
                <table class="table table-sm table-bordered  ">
                    <tr zippy="nlist">

                        <td zippy="date" class="text-nowrap">    </td>
                        <td  class="text-nowrap"> 
                            <span zippy="stwait" class="badge badge-success">Ожидает</span>
                            <span zippy="sttoday" class="badge badge-warning">Сегодня</span>
                            <span zippy="stpast" class="badge badge-danger">Просрочено</span>
                            <span zippy="stdone" class="badge badge-secondary">Выполнено</span>

                        </td>

                        <td   ><b zippy="title" ></b> </td>
                        <td >  <a zippy="customer" title="Открыть  карточку"></a>  </td>
                        <td > <small zippy="description"></small>   </td>
                        <td class="text-center"> <a zippy="toon"><i class="fa fa-toggle-on text-success"></i></a> 
                            <a zippy="tooff"><i class="fa fa-toggle-off"></i></a> 
                        </td>
                        <td><a zippy="edit"><i class="fa fa-edit"/></a></td>
                    </tr>
                </table>
                <div zippy="pag"></div>                

            </div>
            
  </div>    
  
         
            
                <form zippy="addeventform" class="row">
                  <div class="col-12 col-md-4  col-xl-3">

                    <small>Задачи,  связаные  с  контрагентом  следует задавать из справочника контрагентов</small>
                    <div class="form-group">
                        <label for="addeventdate">Дата, время</label>
                        <div class="input-group">
                            <input   class="form-control"   zippy="addeventdate" required="required">
                            <span class="input-group-text">:</span>
                            <input   class="form-control"   zippy="addeventtime" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addeventtitle">Заголовок, тип события</label>
                        <input required="required" class="form-control" zippy="addeventtitle">
                    </div>
                    <div class="form-group">
                        <label for="addeventdesc">Комментарий</label>
                        <textarea class="form-control" zippy="addeventdesc" style=" height:120px;"></textarea>
                    </div>
                 
                    <div class="form-group">
                        <a zippy="cancel" class="btn btn-outline-success  mr-4">Отменить</a>
                        <input class="btn btn-success  " type="submit" value="Сохранить">
                    </div>
                    </div>
                    
                    
                    <div class="col-12 col-md-4  col-xl-3">
                       <div class="form-group">
                        <label for="addeventnotify">Напомнить уведомлением за</label>
                        <select class="form-control" zippy="addeventnotify">
                            <option value="0">Не напоминать</option>
                        </select>
                    </div>
                      <div class="form-group">
                        <label for="adduser">Назначить пользователю</label>
                        <select class="form-control  " zippy="adduser">
                            <option value="0">Не выбрано</option>
                        </select>
                    </div>
                   
                      </div>
                </form>
                
                
                <div class="row">          
            <div class="col-12 col-md-4  col-xl-3">

                
                <form zippy="editeventform" >
                    <div class="form-group">
                        <label for="editeventdate">Дата, время</label>

                        <div class="input-group">
                            <input   class="form-control"   zippy="editeventdate" required="required">
                            <span class="input-group-text">:</span>
                            <input   class="form-control"   zippy="editeventtime" required="required">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="editeventtitle">Заголовок, тип события</label>
                        <input required="required" class="form-control" zippy="editeventtitle">
                    </div>
                    <div class="form-group">
                        <label for="editeventdesc">Комментарий</label>
                        <textarea class="form-control" zippy="editeventdesc" style=" height:120px;"></textarea>
                    </div>
                    <a zippy="canceledit" class="btn btn-outline-success  mr-2">Отменить</a> &nbsp;
                    <input class="btn btn-success mr-4 " type="submit" value="Сохранить">
                    <a zippy="delete" class="btn btn-danger  "    >Удалить</a>

                </form>

            </div>  
            </div>  


    </body>
</html>
