<html>
  <head>
        <title>  Мої завдання  </title>

    </head>

    <body>
        <h3>Мої завдання </h3>
        <div class="row">


            <div class="col-12   col-xl-10" zippy="listpan">
                <div class="card">
                    <form zippy="filter" class="form-inline ">


                        <input class="form-control mr-2" type="text" zippy="searchtext" placeholder="Пошук по контенту">

                        <input type="submit" class="  btn btn-outline-success  " value="Шукати">


                    </form>

                </div>
                <a zippy="addnew" class="btn btn-success">Додати</a>
                <table class="table table-sm table-bordered  ">
                     <tr>
                     <th>Дата</th>
                     <th>Створив</th>
                     <th>Виконавець</th>
                     <th>Статус</th>
                     <th>Заголовок</th>
                     <th>Контрагент</th>
                     <th>Коментар</th>
                     </tr>
                    <tr zippy="nlist">

                        <td zippy="date" class="text-nowrap">    </td>
                        <td zippy="createdby" >    </td>
                        <td zippy="username" >    </td>
                        <td  class="text-nowrap"> 
                            <span zippy="stwait" class="badge badge-success">Очiкує</span>
                            <span zippy="sttoday" class="badge badge-warning">Сьогоднi</span>
                            <span zippy="stpast" class="badge badge-danger">Прострочено</span>
                            <span zippy="stdone" class="badge badge-secondary">Виконано</span>

                        </td>

                        <td   ><b zippy="title" ></b> </td>
                        <td >  <a zippy="customer" title="Вiдкрити карточку"></a>  </td>
                        <td > <small zippy="description"></small>   </td>
                
                        <td><a title="Виконано" zippy="done"><i class="fa fa-gavel"></i></a></td>
                        <td><a zippy="edit"><i class="fa fa-edit"></i></a></td>

                    </tr>
                </table>
                <div zippy="pag"></div>                

            </div>
       </div>   
       
                <form zippy="addeventform" class="row" >
                   <div class="col-12 col-md-5  col-xl-4">
 
                    <small>Завдання, пов'язанi з контрагентом, слiд задавати з довiдника контрагентiв</small>
                    <div class="form-group row">
                        <label  class="col-3 col-form-label" for="addeventdate">Дата, час</label>
                        <div class="col-4">
                            <input   class="form-control"   zippy="addeventdate"  required >
                        </div>   
                        <div class="col-3">    
                            <input   class="form-control"   zippy="addeventtime"  required >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addeventtitle">Заголовок, тип подiї</label>
                        <input  required  class="form-control" zippy="addeventtitle">
                    </div>
                    <div class="form-group">
                        <label for="addeventdesc">Коментар</label>
                        <textarea class="form-control" zippy="addeventdesc" style=" height:120px;"></textarea>
                    </div>
                 
              <a zippy="cancel" class="btn btn-outline-success  mr-4">Скасувати</a>
                    <input class="btn btn-success  " type="submit" value="Зберегти">
                    
                     </div>
                    
                     <div class="col-12 col-md-5  col-xl-4">
                          <div class="form-group">
                            <label for="addeventnotify">Нагадати повiдомленням за</label>
                            <select class="form-control" zippy="addeventnotify">
                                <option value="0">Не нагадувати</option>
                                <option value="1">1 годину</option>
                                <option value="2">2 години</option>
                                <option value="4">4 години</option>
                                <option value="8">8 годин</option>
                                <option value="16">16 годин</option>
                                <option value="24">24 години</option>
                            </select>
                        </div>
                         {{#canevent}}
                         <div class="form-group">
                            <label for="adduser">Призначити користувачевi</label>
                            <select class="form-control  " zippy="adduser">
                                <option value="0">Не вказано (для мене)</option>
                            </select>
                        </div>
                        {{/canevent}}
                    </div> 
                </form>
               
             
              
                 <div class="row">  
                 <div class="col-12 col-md-4  col-xl-3">
  
                <form zippy="editeventform" >
                    <div class="form-group">
                        <label for="editeventdate">Дата, час</label>
                        <div class="input-group">
                            <input   class="form-control"   zippy="editeventdate"  required >
                            <span class="input-group-text">:</span>
                            <input   class="form-control"   zippy="editeventtime"  required >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editeventtitle">Заголовок, тип подiї</label>
                        <input  required  class="form-control" zippy="editeventtitle">
                    </div>
                    <div class="form-group">
                        <label for="editeventdesc">Коментар</label>
                        <textarea class="form-control" zippy="editeventdesc" style=" height:120px;"></textarea>
                    </div>
                    <a zippy="canceledit" class="btn btn-outline-success  mr-2">Скасувати</a> &nbsp;
                    <input class="btn btn-success mr-4 " type="submit" value="Зберегти">
                    <a zippy="delete" class="btn btn-danger  "    >Видалити</a>

                </form>

              </div>
              </div>
           
             
        <script>

            function check_delete() {
                return confirm("Видалити?")
            }
            
            function check_done() {
                return confirm("Виконано?")
            }
    </script>        

    </body>
</html>
