<html>
    <head>
    </head>

    <body>
        <div class="row">
            <div class="col-12 col-md-10 col-xl-8">
                     <h3>Мои  задачи </h3>
                  <div class="navbar nav">
                    <form zippy="filter" class="form-inline ">


                        <input class="form-control mr-2" type="text" zippy="searchtext" placeholder="Поиск по контенту">

                        <input type="submit" class="  btn btn-outline-success  " value="Искать">


                    </form>
                    <a zippy="addnew" class="btn btn-success">Добавить</a>
                </div>
                <table class="table table-sm table-bordered  ">
                    <tr zippy="nlist">

                        <td zippy="date" class="text-nowrap">    </td>
                        
                        <td zippy="title">  </td>
                        <td zippy="customer">    </td>
                       <td class="text-center"> <a zippy="toon"><i class="fa fa-toggle-on text-success"></i></a> 
                       <a zippy="tooff"><i class="fa fa-toggle-off"></i></a> </td>
                                 
                        <td > <a><i class="fa fa-eye" i/></a>  </td>
                        


                    </tr>
                </table>
                <div zippy="pag"></div>                
                 
            </div>
        </div>
  
</body>
</html>
