<html>

<body>

<div class="row">
    <div data-label="wrdoc" class="col-12 col-md-8  col-lg-6  col-xl-5 ">

        <div zippy="wrdoc"></div>
    </div>
 
    {{#usesnumber}}
    <div data-label="wsdate" class="col-12 col-md-8  col-lg-6  col-xl-5  ">
        <div zippy="wsdate"></div>
    </div>
    {{/usesnumber}}

    <div data-label="wminqty" class="col-12 col-md-8  col-lg-6  col-xl-5  ">

        <div zippy="wminqty"></div>
    </div>
 

    <div data-label="wdebitors" class="col-12 col-md-8  col-lg-6  col-xl-5 ">
        <div zippy="wdebitors"></div>
    </div>

   
 

</div>


<script>
    /*

    $.ajax({
           type: 'POST',
           url: '{{_baseurl}}'+'::test:1:3&ajax=true',
           data: 'xxx'
       }).success(function (data) {

           console.log(data);

       }).fail(function (data) {

           console.log(JSON.stringify(data));
       });

         */
</script>

</body>
</html>
