<html>
 <head>
        <title> Повідомлення   </title>

    </head>

    <body>
        <div class="row">
            <div class="col-12 col-md-8 col-xl-6">
                <h4>Повідомлення</h4>
                <div class="navbar nav">
                    <form zippy="filter" class="form-inline ">


                        <input class="form-control mr-2" type="text" zippy="searchtext" placeholder="Пошук по контенту">

                        <input type="submit" class="  btn btn-outline-success  " value="Шукати">


                    </form>
                </div>

                <table class="table table-sm    ">
                    <tr zippy="nlist">

                        <td><i class="fa fa-clock"> </i> <span zippy="ndate"></span>
                            &nbsp;&nbsp;&nbsp;<i zippy="sendericon" ></i> <span zippy="sender"></span>
                            <p zippy="msg">
                            <p>
                            <span zippy="nanswer"  style="cursor:pointer" >Вiдповiсти</span>
    
                        </td>
                        <td><span zippy="newn" class="badge badge-info">Нове</span></td>


                    </tr>
                </table>
                <div zippy="pag"></div>

            </div>
                     
        </div>

    </body>

</html>