<html>
 <head>
        <title>  Налаштування  </title>

    </head>
    <body>
      
        <div class="row">


            <div class="col-12  col-md-5 col-xl-4  ">

                <div class="card">
                    <div class="card-body">
                        <h4>Загальнi налаштування</h4>
                        <small>Після зміни налаштувань слід перелогінитись</small>

                        <form zippy="common">
                            <div class="form-group">
                                <label for="shopname">Назва сайту </label>
                                <input class="form-control" type="text" zippy="shopname">
                                <small> Назва для логотипу та сторiнки логiну. </small>
                            </div>

 
  
                            <div class="form-group  ">
                                <label for="qtydigits">Знаків після крапки в кількості</label>

                                <select style="width:175px;" class="form-control" zippy="qtydigits">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="form-group  ">
                                <label for="amdigits">Округлення вартості</label>

                                <select style="width:175px;" class="form-control" zippy="amdigits">
                                    <option value="0">Без копійок</option>
                                    <option value="1">До 1 копійки</option>
                                </select>
                            </div>
                       
                            <div class="form-check">
                                <input zippy="sell2" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="sell2">Продажа без копiйок </label>
                                <i class="fa fa-info-circle  " data-toggle="tooltip" data-placement="top"
                                   title="Формувати продажу без копiйок якщо в налаштуваннях  заданi копiйки "></i>
                            </div>                            
                             <div class="form-check">
                                <input zippy="sellcheck" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="sellcheck">Копiйки в  чеку </label>
                                <i class="fa fa-info-circle  " data-toggle="tooltip" data-placement="top"
                                   title="Друкувати двi цифри пiсля  коми в чеках незалежно вiд налаштувань "></i>
                            </div>                            
                           
                            <div class="form-group   mt-2">
                                <label for="dateformat">Формат дати</label>

                                <select style="width:175px;" class="form-control" zippy="dateformat">
                                    <option value="d.m.Y">dd.mm.yyyy</option>
                                    <option value="d-m-Y">dd-mm-yyyy</option>
                                    <option value="d/m/Y">dd/mm/yyyy</option>
                                    <option value="Y.m.d">yyyy.mm.dd</option>
                                    <option value="Y-m-d">yyyy-mm-dd</option>
                                    <option value="Y/m/d">yyyy/mm/dd</option>

                                </select>
                            </div>

                            <div class="form-group  ">
                                <label for="phonel">Довжина номера телефону</label>
                                <select style="width:75px" class="form-control" zippy="phonel">
                                </select>           
                            </div>
                                        
              
                            <div class="form-group mt-2 ">  
                                <label for="ts_start">Початок робочого дня</label>

                                <input style="width:75px;" class="form-control" zippy="ts_start"
                                       pattern="([0-1]{1}[0-9]{1}|20|21|22|23):[0-5]{1}[0-9]{1}">


                            </div>

                            
                            <div class="form-group  ">
                                <label for="ts_end">Кiнець робочого дня</label>

                                <input style="width:75px;" class="form-control" zippy="ts_end"
                                       pattern="([0-1]{1}[0-9]{1}|20|21|22|23):[0-5]{1}[0-9]{1}">


                            </div>
                            <div class="form-group">
                                <label for="ts_break">Перерва, хв.</label>
                                <input style="width:75px;" pattern="[0-9]+" class="form-control" type="text"
                                       zippy="ts_break">
                            </div>


                            <div class="form-group">
                                <button class="btn btn-success" type="submit">Зберегти</button>
                            </div>

                        </form>
                    </div>
                </div>
                
              
                
                <div class="card">
                    <div class="card-body">
                        <h4>Джерела продаж</h4>
                        <form zippy="salesourcesform">
                            <a  zippy="addnewsalesource">Додати</a>

                            <table class="table table-sm">
                                <tr zippy="salesourceslist">
                                    <td><input class="form-control" style="width:100%;" zippy="salesourcename"  ></td>
                                    <td><a zippy="delsalesource"> <i class="fa fa-trash"></i></a></td>
                                 </tr>   
                            </table>
                            <input zippy="salesourcesave"  type="submit"  value="Зберегти" class="btn  btn-success">

                        </form>         
                    </div>
                </div>                   
                              
            <div class="card">
                    <div class="card-body">
                        <h4>Налаштування API</h4>
                        <small>Налаштування API для доступу до даних з iнших систем</small>
                        <br><small><a target="_blank" href="/api/help"> Опис функцiй</a></small>
                 
                        <form zippy="api">

                            <div class="form-group  ">
                                <label for="atype">Тип авторизацiї</label>
                                <select class="form-control" zippy="atype">
                                </select>
                            </div>
                      
                            <div class="form-group">
                                <label data-label="aexp" for="aexp">Час життя токену в хв.</label>
                                <input zippy="aexp" pattern="[0-9]+" class="form-control" value="0">

                            </div>


                            <div class="form-group">
                                <button class="btn btn-success" type="submit">Зберегти</button>
                            </div>
                        </form>
                    </div>
                </div>                        
                
            </div>
            <div class="col-12  col-md-5 col-xl-4  "            >

                {{#useval}}
                <div class="card">
                    <div class="card-body">
                        <h4>Курси валют </h4>  
                        <form zippy="valform">
                          <a zippy="valadd">Додати</a>
              
                          <table class="table table-sm">
                             <tr><th>Код</th><th>Назва</th><th>Курс</th><th></th>
                             <tr zippy="vallist">
                             <td><input zippy="valcode" pattern="[A-Z]+" style="width:75px" class="form-control"  required >  </td>
                             <td><input zippy="valname"   class="form-control"  required >  </td>
                             <td><input zippy="valrate" pattern="[0-9,\.]+" style="width:75px" class="form-control qtyprice"  required >  </td>
                             <td><a  zippy="valdel"><i class="fa fa-trash"></i></a></td>
                            </tr>  
                            
                            </table>                           
                            <div class="form-check">
                                <input zippy="valprice" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="valprice">Враховувати курсову рiзницю
                                    при продажу </label>

                            </div>

                            <div class="form-group">
                               <a zippy="loadrate">Загрузити курс НБУ</a>
                            </div>
                          <div class="form-group">
                                <button zippy="saveval" class="btn btn-success" type="submit">Зберегти</button>
                            </div>
                        </form>
                    </div>
                </div>
                {{/useval}}            
              <div class="card">
                <div class="card-body">
                   <h4>Налаштування бізнес-процесів</h4>
                     
                         <form zippy="business">
                
                             <div class="form-group  ">
                                <label>Типи відпускних цін</label>
                                <input class="form-control" type="text" zippy="price1"  required >
                                <input class="form-control" type="text" zippy="price2">
                                <input class="form-control" type="text" zippy="price3">
                                <input class="form-control" type="text" zippy="price4">
                                <input class="form-control" type="text" zippy="price5">
                                <small>Введіть найменування типів цін. Непотрібні поля залиште  порожніми</small>

                            </div>
                              <div class="form-group">
                                <label for="defprice">Націнка за замовчуванням, у відсотках</label>
                                <input style="width:100px" pattern="[0-9]+" class="form-control" type="text"
                                       zippy="defprice">
                                <small>Використовується, якщо не задана ціна в товарі або в категорії
                                    товару</small>
                            </div>
                           <div class="form-group  ">
                                <label for="paytypein">Процес оплати по  ПН </label>
                                <select class="form-control" zippy="paytypein"> </select>
                                <small>Переважна  послідовність  оплати  при  закупівлі</small>

                            </div>
                           <div class="form-group  ">
                                <label for="paytypeout">Процес оплати по ВН </label>
                                <select class="form-control" zippy="paytypeout"> </select>
                                <small>Переважна  послідовність  оплати  при  продажі</small>

                            </div>
                          <div class="form-group">
                                <label for="actualdate">Початок актуального перiоду</label>
                                <input   class="form-control"   zippy="actualdate">
                                <small>Дата, раніше якої заборонено виконувати проводки</small>

                            </div> 
                                             
                           <div class="form-group  ">
                                <label for="usesnumber">Облік ТМЦ за серіями  </label>
                                <select class="form-control" zippy="usesnumber"> 
                                    <option value="0">Не використовується</option>
                                </select>
                                <small>Має бути  встановлено прапорець в  довіднику  ТМЦ </small>

                            </div>
                            
                            <div class="form-check">    
                                <input zippy="usescanner" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="usescanner">Підтримка сканера штрих       кодів </label>
                                <i class="fa fa-info-circle  " data-toggle="tooltip" data-placement="top"
                                   title="Використання сканера штрих кодів для введення товарів в видаткову накладну "></i>
                            </div>                                      
                             <div class="form-check">
                                <input zippy="storeemp" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="storeemp">Облік ТМЦ в  розрізі  співробітника</label>
                                <i class="fa fa-info-circle  " data-toggle="tooltip" data-placement="top"
                                   title="Облік ТМЦ в  розрізі  склад+співробітник (матерiально-вiдповiдальна особа)"></i>
                            </div>
                      
                       
                            <div class="form-check">
                                <input zippy="allowminus" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="allowminus">Дозволити списання ТМЦ в   мiнус </label>
                                <i class="fa fa-info-circle  " data-toggle="tooltip" data-placement="top"
                                   title=" Дозвiл списувати  кiлькiсть бiльшу наявної. Увага! Це прриводить до неточного  облiку ТМЦ.   "></i>
                            </div>
                            <div class="form-check">
                                <input zippy="allowminusmf" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="allowminusmf">Дозволити списання коштiв в   мiнус </label>
                                <i class="fa fa-info-circle  " data-toggle="tooltip" data-placement="top"
                                   title=" Дозвiл списувати суму  бiльшу нiж є на  рахунку.  "></i>
                            </div>
                            <div class="form-check">
                                <input zippy="noallowfiz" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="noallowfiz">Не дозволяти накладнi без контрагента </label>
                                <i class="fa fa-info-circle  " data-toggle="tooltip" data-placement="top"
                                   title=" Покупець обовязково має бути зазначений та занесений у довiдник "></i>
                            </div>

                            <div class="form-check">
                                <input zippy="useval" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="useval">Валюта в закупiвлi</label>
                                <i class="fa fa-info-circle  " data-toggle="tooltip" data-placement="top"
                                   title=" Можливiсть вводити накладну в валютi та перерахунку курсової рiзнимцi при продажі.  "></i>
                            </div>
                       
                              {{#fiscal}} 
                            <div class="form-check">
                                <input zippy="printoutqrcode" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="printoutqrcode">Друкувати QR коди на фiскальних чеках</label>
                                <i class="fa fa-info-circle  " data-toggle="tooltip" data-placement="top"
                                   title="Дозволяє за допомогою сканера QR кода знайти документ на сайтi податкової "></i>
                            </div>
                               {{/fiscal}} 
                            

                           
                       
                        
                             <div class="form-check">
                                <input zippy="spreaddelivery" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="spreaddelivery">Доставка на собiвартiсть</label>
                                <i class="fa fa-info-circle  " data-toggle="tooltip" data-placement="top"
                                   title="Розподiлити доставку на собiвартiсть в ПН за замовчанням"></i>
                            </div>
                             <div class="form-check">
                                <input zippy="baydelivery" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="baydelivery">Оплата  доставки  покупцем</label>
                                <i class="fa fa-info-circle  " data-toggle="tooltip" data-placement="top"
                                   title="Оплата  доставки  покупцем в ПН за замовчанням"></i>
                            </div>
                       
                                                                                        
                             <div class="form-group">
                                <label for="cashier">Касир в чеку за замовчанням</label>
                                <input   class="form-control"   zippy="cashier">
                                <small>Якщо не задано береться  поточний користувач</small>

                            </div>                            
                                 
                            
                                                                                        
                               <div class="form-group">
                                <label for="checkslogan">Фраза в кiнцi чеку</label>
                                <textarea   class="form-control"   zippy="checkslogan"></textarea>
                                <small>Наприклад, 'Дякуємо за довiру до нас!'. Кожна строка - окрема фраза. 
                                 Якщо бiльш нiж одна - буде вибиратись випадково.</small>

                            </div>                            
                                 
                           <div class="form-group">
                                <button class="btn btn-success" type="submit">Зберегти</button>
                           </div>

                        </form>           
               </div>
              </div>
            
            
        

            </div>
            <div class="col-12  col-md-5 col-xl-4  ">
            
       
                <div class="card">
                    <div class="card-body">
                        <h4>Параметри для етикеток і цінників</h4>
                      <small>  <a href="/index.php?p=App/Pages/UserProfile"><i class="fa fa-link"></i> Налаштування  принтера</a> </small>
                       <details>
                            <summary>Перелік тегів шаблону</summary>
                            <small>Файл шаблону этикеток /templates/printforms/item_tag.tpl. (item_tag_ps.tpl для  принт сервера)
                            <br>Детально  про  роботу  з  принтерами  <a href="https://zippy.com.ua/ext#id10" target="_blank">тут</a></small>
                            <table class="ctable">
                              <tr><td><b>name</b></td><td>Назва ТМЦ</td></tr>
                              <tr><td><b>price</b></td><td>Ціна</td></tr>
                              <tr><td><b>country</b></td><td>Країна-виробник</td></tr>
                              <tr><td><b>garterm</b></td><td>Гарантiйний термін</td></tr>
                              <tr><td><b>brand</b></td><td>Бренд</td></tr>
                              <tr><td><b>notes</b></td><td>Примітка</td></tr>
                              <tr><td><b>weight</b></td><td>Вага (для вагового ТМЦ)</td></tr>
                              <tr><td><b>cf_"код поля"</b></td><td>Значення кастомних  полiв </td></tr>
                              
                              <tr><td colspan="2" align="center">Управляючi теги</td></tr>
                              <tr><td><b>isprice</b></td><td>Друкувати цiну</td></tr>
                              <tr><td><b>isarticle</b></td><td>Друкувати артикул</td></tr>
                              <tr><td><b>isbarcode</b></td><td>Друкувати штрих-код</td></tr>
                              <tr><td><b>isqrcode</b></td><td>Друкувати QR код</td></tr>
                              <tr><td><b>isweight</b></td><td>Друкувати вагу</td></tr>
                              <tr><td colspan="2" align="center">Для  системного  принтера</td></tr>
                              <tr><td><b>qrcodeattr</b></td><td>Вставляеться  в  тег img</td></tr>
                              <tr><td><b>barcodeattr</b></td><td>Вставляеться  в  тег img</td></tr>
                              <tr><td><b>barcodewide</b></td><td>Напис під штрих-кодом </td></tr>
                              <tr><td colspan="2" align="center">Для ESCPOS принтера (принт-сервера)</td></tr>
                              <tr><td><b>qrcode</b></td><td>Текст для  QR коду</td></tr>                              
                              <tr><td><b>barcode</b></td><td>Текст для штрих коду</td></tr>                              
                              <tr><td><b>docnumber</b></td><td>Номер документу</td></tr>                              
                            </table>
                          </details>
                                          
                         <form zippy="printer">
                        
    
                         
                            <div class="form-group">
                                <label for="pmaxname">Максимальна давжина назви</label>
                                <input style="width:100px" class="form-control" type="text" zippy="pmaxname">
                                <small>Довжина короткої назви в довіднику ТМЦ</small>
                            </div>                            
                            <div class="form-group  ">
                                <label for="pricetype">Тип ціни</label>
                                <select class="form-control" zippy="pricetype">
                                </select>
                            </div>
                             <div class="form-check">
                                <input zippy="pcode" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="pcode">Друкувати артикул</label>
                            </div>
                            <div class="form-check">
                                <input zippy="pprice" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="pprice">Друкувати ціну</label>
                            </div>   
                             <div class="form-check">
                                <input zippy="pqrcode" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="pqrcode">Друкувати QR код</label>
                            </div>                                           
                            <div class="form-check">
                                <input zippy="pbarcode" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="pbarcode">Друкувати штрих код</label>
                            </div>
                            <div class="form-group  ">
                                <label for="barcodetype">Тип коду</label>
                                <select class="form-control" zippy="barcodetype">
                                </select>
                            </div>
                         
                   
                            <div class="form-group">
                                <input zippy="savep" class="btn btn-success" type="submit" value="Зберегти">
                            </div>
                        </form>
                    </div>
                </div>


             
                <div class="card">
                    <div class="card-body">
                        <h4>Налаштування SMS сервiсу    </h4>
                        <form zippy="sms">    

                            <div class="form-group  ">
                                <label for="smstype">Сервiс</label>
                                <select class="form-control" zippy="smstype">
                                    <option value="0">Не обрано</option>
                                </select>
                                <span zippy="semysmssite"><a href="https://semysms.net/" target="_blank">https://semysms.net/</a></span>
                                <span zippy="smsclubsite"><a href="https://smsclub.mobi/" target="_blank">https://smsclub.mobi/</a></span>
                                <span zippy="smsflysite"><a href="https://sms-fly.ua/" target="_blank">https://sms-fly.ua/</a></span>
                            </div>
                            <div class="form-group">
                                <label data-label="smssemytoken" for="smssemytoken">Токен</label>
                                <input zippy="smssemytoken"   class="form-control">

                            </div>
                            <div class="form-group">
                                <label data-label="smssemydevid" for="smssemydevid">Device ID</label>
                                <input zippy="smssemydevid"   class="form-control"  >

                            </div>
                            <div class="form-group">
                                <label data-label="flysmslogin" for="flysmslogin">Логiн</label>
                                <input zippy="flysmslogin"   class="form-control">

                            </div>
                            <div class="form-group">
                                <label data-label="flysmspass" for="flysmspass">Пароль</label>
                                <input zippy="flysmspass"   class="form-control"  >

                            </div>
                            <div class="form-group">
                                <label data-label="flysmsan" for="flysmsan">Альфа iм'я</label>
                                <input zippy="flysmsan"   class="form-control"  >

                            </div>
                            <div class="form-group">
                                <label data-label="smscluban" for="smscluban">Альфа iм'я (sms)</label>
                                <input zippy="smscluban"   class="form-control">

                            </div>
                            <div class="form-group">
                                <label data-label="smsclubtoken" for="smsclubtoken">Токен (sms)</label>
                                <input zippy="smsclubtoken"   class="form-control">

                            </div>
                            <div class="form-group">
                                <label data-label="smsclublogin" for="smsclublogin">Логiн (Viber)</label>
                                <input zippy="smsclublogin"   class="form-control">

                            </div>
                            <div class="form-group">
                                <label data-label="smsclubpass" for="smsclubpass">Пароль (Viber)</label>
                                <input zippy="smsclubpass"   class="form-control">

                            </div>
                            <div class="form-group">
                                <label data-label="smsclubvan" for="smsclubvan">Альфа iм'я (Viber)</label>
                                <input zippy="smsclubvan"   class="form-control">
             
                            </div>


                            <div class="form-group">
                                <button zippy="smssubmit" class="btn btn-success" type="submit">Зберегти</button>
                            </div>
                            <div class="form-group">
                                <span><i class="fa fa-exclamation-triangle"></i> Перед перевiркою збережiть налаштування    </span> 
                            </div>
                            <div class="form-group">
                                <label   for="smstestphone">Телефон</label>
                                <input zippy="smstestphone"   class="form-control"  >

                            </div>
                            <div class="form-group">
                                <label   for="smstesttext">Повiдомлення</label>
                                <input zippy="smstesttext"   class="form-control"  >

                            </div>


                            <div class="form-group">
                                <button zippy="smstest" class="btn btn-success" type="submit">Вiдправити</button>
                            </div>
                        </form>
                    </div>
                </div>            
            
               
                  <div class="card">
                    <div class="card-body">
                        <h4>Телеграм бот</h4>
                        <form zippy="tbform">
                           
                             <div class="form-group">
                                <label for="tbtoken">Токен бота </label>
                                <input     class="form-control" type="text" zippy="tbtoken">
                            </div>
              
                            <input    type="submit"  value="Зберегти" class="btn  btn-success">

                        </form>         
                    </div>
                </div>                  
                
            </div>
        </div>


        <script>
            function check_rowdelete() {
                return confirm("Видалити запис?")
            }
            
        function check_loadrate(ele){
            
           document.getElementById('dialogwait').showModal()
            return true;
       
        }       
                
        </script>

    </body>
</html>