<html>
 <head>
        <title> Довідник POS терміналів   </title>

    </head>

    <body>
        <div class="row">
            <div class="col-12">
                <div zippy="postable">
                    <h3>Довідник POS терміналів </h3>
                    <a zippy="addnew" class="btn btn-outline-primary  ">Додати</a>
                    <table class="table table-bordered   table-sm" style="width:600px">
                        <tr>
                            <th>Назва</th>
                            {{#usebranch}}
                            <th>Філія</th>
                            {{/usebranch}}
                            <th></th>

                            <th></th>
                        </tr>
                        <tr zippy="poslist">
                            <td zippy="pos_name"></td>
                            {{#usebranch}}
                            <td zippy="branch_name"></td>
                            {{/usebranch}}
                            <td zippy="comment"></td>

                            <td style="width:75px"><a zippy="edit" title="Редагувати"><i class="fa fa-edit"></i></a> <a
                                    zippy="delete" title="Вилучити"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </table>


                </div>

                <form zippy="posdetail">
                    <div class="row">
                        <div class="col-6 col-md-4 col-xl-3">

                            <div class="form-group">
                                <label for="editpos_name">Назва, номер</label>
                                <input required="required" class="form-control" zippy="editpos_name"/>
                            </div>
                            <div class="form-group">
                                <label for="editcomp">Компанія</label>
                                <select zippy="editcomp" class="form-control  ">
                                    <option value="0">Не вибрана</option>
                                </select>
                            </div>
                            {{#usebranch}}
                            <div class="form-group">
                                <label for="editbranch">Філія</label>
                                <select class="form-control" zippy="editbranch">
                                    <option value="0">Не встановлено
                                </select>
                            </div>
                            {{/usebranch}}

                            <div class="form-group">
                                <label for="editpointname"> Им'я торгової точки</label>
                                <input class="form-control" zippy="editpointname"/>
                                <small>Використовуєтся в чеках та фiскалiзацiї</small>

                            </div>


                            <div class="form-group">
                                <label for="editaddress"> Адреса</label>
                                <input class="form-control" zippy="editaddress"/>
                                <small>Якщо задана використовується в чеках замість налаштувань компанii</small>
                            </div>


                            <div class="form-group">
                                <label for="editcomment">Коментар</label>
                                <textarea class="form-control" zippy="editcomment">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <input zippy="save" type="submit" value="Зберегти" class="btn btn-primary  ">&nbsp;&nbsp;
                                <input zippy="cancel" type="button" value="Скасувати" class="btn btn-outline-primary  ">
                            </div>
                        </div>
                            <div class="col-6 col-md-4 col-xl-3">
                            {{#ppo}}
                            <div class="form-group">
                                <div class="form-check">
                                    <input zippy="editusefisc" type="checkbox" class="form-check-input">
                                    <label class="form-check-label text-bold" for="editusefisc">Використовувати
                                        фiскализацiю</label>
                                    <br><small>Чеки з цього термiналу будут вiдправлятись в ФСУ</small>
                                </div>
                            </div>
                           <div class="form-group">
                                <div class="form-check">
                                    <input zippy="edittesting" type="checkbox" class="form-check-input">
                                    <label class="form-check-label text-bold" for="edittesting">Тестовий режим</label>
                                    <br><small>Чеки будут вiдправлятись в ФСУ але  не  фiскалiзуватимутся</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="editfisc">Фiскальний номер</label>
                                <input class="form-control" zippy="editfisc"/>
                            </div>
                            <div class="form-group">
                                <label for="editposinner"> Локальний номер</label>
                                <input class="form-control" zippy="editposinner"/>
                            </div>
                            <div class="form-group">
                                <label for="editfiscalnumber"> Слiдуючий фiскальний номер документу</label>
                                <input class="form-control" zippy="editfiscalnumber"/>
                            </div>
                            {{/ppo}}
                            
                            </div>
                    </div>

                </form>
            </div>
        </div>
      <script>
            function check_delete() {
                return confirm("Видалити термiнал?")
            }
        </script>
    </body>
</html>