<html>
 <head>
        <title> Ролі користувачiв   </title>

    </head>

    <body>
        <div class="row">


            <div zippy="listpan" class="col-12 col-md-6 col-xl-4">
                <h3>Ролі користувачiв</h3>
                <a zippy="addnew" class="btn btn-outline-success  ">Додати</a>
                <table class="table   table-striped table-sm ">
           
                        <tr zippy="rolerow">
                            <td zippy="rolename"></td>
                            <td><span title="Користувачiв" zippy="cnt" class="badge badge-info "></span></td>


                            <td><a title="Права доступу" zippy="acl"><i class="fa fa-user-lock"></i></a></td>
                            <td><a title="Меню швидкого доступу" zippy="smenu"><i class="fa fa-ellipsis-v"></i></a></td>
                            <td><a zippy="edit"><i class="fa fa-edit"></i></a></td>
                            <td><a zippy="remove"><i class="fa fa-trash"></i></a></td>
                        </tr>
                   
                </table>

            </div>


            <div zippy="editpanname" class="col-12 col-sm-8 col-md-4 col-zl-3  ">
                <h4> Редагування ролі</h4>
                <form zippy="editformname" role="form">
                    <div class="form-group">
                        <label for="editname">Назва</label>
                        <input class="form-control" zippy="editname"  required >

                    </div>
                 <div class="form-check">
                    <input zippy="editdisabled" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="editdisabled">Не використовується</label>
                </div>                        
                    <div class="form-group">
                          <a zippy="cancelname" class="btn btn-outline-secondary    ">Скасувати</a>
                        <button type="submit" class="btn btn-primary ml-4  ">Зберегти</button>

                    </div>
                </form>
            </div>

            <div zippy="editpan" class="col-12 col-sm-10   ">
                <h4> Редагування доступу</h4>
                <form zippy="editform" role="form">


                    <div class="row">

                        <div class="col-md-6 col-xl-5">

                            <div class="form-group" zippy="metaaccess">
                                &nbsp;<b><i class="fa fa-eye"></i></b> <span>Тiльки перегляд</span><br>
                                &nbsp;<b><i class="fa fa-edit"></i></b>
                                <span>Створення та редагування без права проведення.</span><br>
                                &nbsp;<b><i class="fa fa-exchange-alt"></i></b> <span>Зміна статусу (крiм видалення та вiдмiни). Наприклад, менеджер створює наряд, а виконавець тiльки переводить статус</span><br>
                                &nbsp;<b><i class="fa fa-gavel"></i></b>
                                <span>Створення, затвердження та виконання.</span><br>
                                &nbsp;<b><i class="fa fa-undo"></i></b> <span>Вiдмiна проведення</span><br>
                                &nbsp;<b><i class="fa fa-trash"></i></b> <span>Видалення</span><br>

                                <table class="table table-sm  table-hover mr-4">
                                    <tr>
                                        <th>Сторінка</th>
                                        <th>Тип</th>
                                        <th onclick=" $('.viewacc').prop('checked', $('.viewacc').prop('checked') == false);"
                                            style="width:30px;cursor:pointer" title="Зняти/виставити прапорець"><i
                                                class="fa fa-eye"></i></th>
                                        <th onclick=" $('.editacc').prop('checked', $('.editacc').prop('checked') == false);"
                                            style="width:30px;cursor:pointer" title="Зняти/виставити прапорець"><i
                                                class="fa fa-edit"></i>
                                        </th>
                                        <th onclick=" $('.stateacc').prop('checked', $('.stateacc').prop('checked') == false);"
                                            style="width:30px;cursor:pointer" title="Зняти/виставити прапорець"><i
                                                class="fa fa-exchange-alt"></i>
                                        </th>

                                        <th onclick=" $('.exeacc').prop('checked', $('.exeacc').prop('checked') == false);"
                                            style="width:30px;cursor:pointer" title="Зняти/виставити прапорець"><i
                                                class="fa fa-gavel"></i></th>
                                        <th onclick=" $('.cancelacc').prop('checked', $('.cancelacc').prop('checked') == false);"
                                            style="width:30px;cursor:pointer" title="Зняти/виставити прапорець"><i
                                                class="fa fa-undo"></i></th>
                                        <th onclick=" $('.deleteacc').prop('checked', $('.deleteacc').prop('checked') == false);"
                                            style="width:30px;cursor:pointer" title="Зняти/виставити прапорець"><i
                                                class="fa fa-trash"></i></th>
                                    </tr>
                                    <tr zippy="metarow">

                                        <td zippy="description"></td>
                                        <td zippy="meta_name"></td>
                                        <td><input zippy="viewacc" class="viewacc" type="checkbox"></td>
                                        <td><input zippy="editacc" class="editacc" type="checkbox"></td>
                                        <td><input zippy="stateacc" class="stateacc" type="checkbox"></td>
                                        <td><input zippy="exeacc" class="exeacc" type="checkbox"></td>
                                        <td><input zippy="cancelacc" class="cancelacc" type="checkbox"></td>
                                        <td><input zippy="deleteacc" class="deleteacc" type="checkbox"></td>
                                    </tr>
                                </table>


                            </div>
                            <div class="form-group">
                            <a zippy="cancel" class="btn btn-outline-secondary    ">Скасувати</a>
                              &nbsp;  &nbsp; 
                                <button type="submit" class="btn btn-primary   ">Зберегти</button>
                               
                            </div>
                        </div>

                        <div class="col-md-4 col-xl-3">

                            <div class="form-group">

                                <table class="table table-sm  ml-4">
                                    <tr>
                                        <td>
                                        <label for="editcusttype">Доступ до  контрагентів </label>
                                        <select zippy="editcusttype" class="form-control mr-sm-2">
                                            <option value="0">Всі </option>
                                            <option value="1">Покупці</option>
                                            <option value="2">Постачальники</option>
                                        
                                        </select>                                        </td> 
                                       </tr> 
                                 <tr>
                                        <td>
                                            <input class="form-check-input" type="checkbox" zippy="editnoshowpartion">
                                            <label class="form-check-label mr-sm-2" for="editnoshowpartion"> Не показувати закупiвельнi цiни</label>
                                        </td> 
                                       </tr> 
                                       
                                        <tr>
                                        <td>
                                            <input class="form-check-input" type="checkbox" zippy="editcanevent">
                                            <label class="form-check-label mr-sm-2" for="editcanevent"> Може  створювати завдання iншим користувачам</label>
                                        </td> 
                                           
                                       </tr>
                                        <tr>
                                        <td>
                                            <input class="form-check-input" type="checkbox" zippy="editdashboard">
                                            <label class="form-check-label mr-sm-2" for="editdashboard"> Показувати  вiджети на дашбордi</label>
                                        </td> 
                                           
                                       </tr>
                                       
                                        {{#usebranch}}
                                     <tr>  <td>
                                            <input class="form-check-input" type="checkbox" zippy="editshowotherstores">
                                            <label class="form-check-label mr-sm-2" for="editshowotherstores"> Показувати стан складiв iнших фiлiй</label>
                                        </td>
                                        {{/usebranch}}
                                    </tr>
                          


                                    <tr>
                                        <td>
                                            <b>Доступ до модулів</b>
                                        </td>
                                    </tr>

                                    {{#ocstore}}
                                    <tr>
                                        <td>

                                            <input class="form-check-input" type="checkbox" zippy="editocstore">
                                            <label class="form-check-label mr-sm-2" for="editocstore"> Iнтеграція з
                                                опенкарт</label>
                                        </td>
                                    </tr>
                                    {{/ocstore}}
                                    {{#woocomerce}}
                                    <tr>
                                        <td>

                                            <input class="form-check-input" type="checkbox" zippy="editwoocomerce">
                                            <label class="form-check-label mr-sm-2" for="editwoocomerce"> Iнтеграція з
                                                Woocomerce</label>
                                        </td>
                                    </tr>
                                    {{/woocomerce}}
                                    {{#shop}}
                                    <tr>
                                        <td>

                                            <input class="form-check-input" type="checkbox" zippy="editshop">
                                            <label class="form-check-label mr-sm-2" for="editshop"> Онлайн каталог </label>
                                        </td>
                                    </tr>
                                    {{/shop}}
                                    {{#note}}
                                    <tr>
                                        <td>

                                            <input class="form-check-input" type="checkbox" zippy="editnote">
                                            <label class="form-check-label mr-sm-2" for="editnote"> База знань </label>
                                        </td>
                                    </tr>
                                    {{/note}}
                                    {{#issue}}
                                    <tr>
                                        <td>

                                            <input class="form-check-input" type="checkbox" zippy="editissue">
                                            <label class="form-check-label mr-sm-2" for="editissue"> Проекти та
                                                завдання </label>
                                        </td>
                                    </tr>
                                    {{/issue}}
                                    {{#ppo}}
                                    <tr>
                                        <td>

                                            <input class="form-check-input" type="checkbox" zippy="editppo">
                                            <label class="form-check-label mr-sm-2" for="editppo"> Програмний РРО </label>
                                        </td>
                                    </tr>
                                    {{/ppo}}
                                    {{#np}}
                                    <tr>
                                        <td>

                                            <input class="form-check-input" type="checkbox" zippy="editnp">
                                            <label class="form-check-label mr-sm-2" for="editnp">Нова Пошта</label>
                                        </td>
                                    </tr>
                                    {{/np}}
                                    {{#promua}}
                                    <tr>
                                        <td>

                                            <input class="form-check-input" type="checkbox" zippy="editpu">
                                            <label class="form-check-label mr-sm-2" for="editpu">PromUa</label>
                                        </td>
                                    </tr>
                                    {{/promua}}
                           
                                  {{#checkbox}}
                                    <tr>
                                        <td>

                                            <input class="form-check-input" type="checkbox" zippy="editcb">
                                            <label class="form-check-label mr-sm-2" for="editcb">CheckBox</label>
                                        </td>
                                    </tr>
                                    {{/checkbox}}

                                    {{#vkassa}}
                                    <tr>
                                        <td>

                                            <input class="form-check-input" type="checkbox" zippy="editvk">
                                            <label class="form-check-label mr-sm-2" for="editvk">ВчасноКаса</label>
                                        </td>
                                    </tr>
                                    {{/vkassa}}

                         
                                   {{#vdoc}}
                                    <tr>
                                        <td>

                                            <input class="form-check-input" type="checkbox" zippy="editvdoc">
                                            <label class="form-check-label mr-sm-2" for="editvdoc">Вчасно Документооборот</label>
                                        </td>
                                    </tr>
                                    {{/vdoc}}

                                </table>
                            </div>
                        </div>
                    </div>


                </form>
            </div>

            <div zippy="editpanmenu" class="col-12   col-md-8 col-xl-6  ">
                <h4> Меню швидкого доступу</h4>
                <small>Пiсля редагування необхiдно перелогiнитись. Меню не доступно на малих екранах</small>
                <form zippy="editformmenu" role="form">
                    <div class="form-group  ">

                        <table class="table   table-sm table-hover">

                            <tr zippy="mlist">
                                <td zippy="meta_desc"></td>
                                <td zippy="meta_name"></td>
                                <td zippy="menugroup"></td>
                                <td><input class="acl" zippy="mshow" type="checkbox"></td>

                            </tr>
                        </table>


                    </div>
                    <div class="form-group">
                        <a zippy="cancelmenu" class="btn btn-outline-secondary    ">Скасувати</a>
                        <button type="submit" class="btn btn-primary ml-4  ">Зберегти</button>
                       
                    </div>
                </form>
            </div>

        </div>
        <script>
            function check_remove() {

                return confirm("Видалити роль?")

            }

        </script>
    </body>
</html>