<html>
    <head>
    </head>

    <body>
        <div class="row">
            <div class="col-12 col-md-10 col-xl-8">
                <div zippy="plist">
                    <h3>Подписки на  события </h3>
                    <a  zippy="addnew" class="btn btn-info">Добавить</a>
                    <table class="table  table-sm">
                        <tr>
                            <th>Тип события</th>
                            <th>Тип сообщения</th>
                            <th>Получатель</th>
                            <th> </th>
                            <th> </th>

                        </tr>
                        <tr zippy="subslist">
                            <td zippy="sub_typename"> </td>
                            <td zippy="msg_typename"> </td>
                            <td zippy="reciever_typename"> </td>
                            <td zippy="desc"> </td>
                            <td> <a zippy="edit"><i class="fa fa-edit"></i> </a> </td>

                        </tr>

                    </table>
                </div>
            </div>
        </div>


        <form zippy="editform">      <h4>Редактирование  подписки</h4>
            <div class="row">

                <div class="col-12 col-md-4 col-xl-3">

                    <div class="form-group">
                        <label for="editeventtype">Тип события</label>
                        <select   class="form-control" zippy="editeventtype">

                        </select>
                    </div>
                    <div class="form-group">
                        <label data-label="editdoctype" for="editdoctype">Тип  документа</label>
                        <select   class="form-control" zippy="editdoctype">
                            <option value="0">Не  выбран</option> 
                        </select>
                    </div>
                    <div class="form-group">
                        <label data-label="editstate" for="editstate">Статус</label>
                        <select   class="form-control" zippy="editstate">
                            <option value="0">Не  выбран</option> 

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editrecievertype">Получатель</label>
                        <select   class="form-control" zippy="editrecievertype">

                        </select>
                    </div>           

                    <div class="form-group">
                        <label data-label="edituser" for="edituser">Пользователь</label>
                        <select   class="form-control" zippy="edituser">
                            <option value="0">Не  выбран</option>        
                        </select>
                    </div>           
  

                </div>  
                <div class="col-12 col-md-6 col-xl-4">


                    <div class="form-group">
                        <label for="editmsgtype">Тип сообщения</label>
                        <select   class="form-control" zippy="editmsgtype">
                            <option value="0">Не  выбрано</option>  
                        </select>
                    </div>  
                    <div class="form-group">
                        <label data-label="editmsgsubject" for="editmsgsubject">Тема сообщения</label>
                        <input    class="form-control" zippy="editmsgsubject">


                    </div>
                    <div class="form-group">
                        <label for="editmsgtext">Текст сообщения</label>
                        <textarea style="height:150px"   class="form-control" zippy="editmsgtext">
                    
                        </textarea>
                        <a href="javascript:void(0);" data-toggle="modal"
                           data-target="#modaltag">Описание  тегов <small><i class="fa fa-info-circle"></i></small></a>
                    </div>      


                    <div class="form-check">
                        <input zippy="editdisabled" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="editdisabled">Деактивировано</label>
                    </div>               
                </div> 
                <div class="col-12  ">    
                    <div class="form-group">
                        <a zippy="cancel"     class="btn btn-outline-info mr-4 ">Отменить</a>
                        <input zippy="save" type="submit" value="Сохранить" class="btn btn-primary mr-4  ">
                        <a zippy="delete"     class="btn btn-danger mr-4  "> Удалить</a>

                    </div>
                </div>   
            </div>         
        </form>

        <div id="modaltag" class="modal fade  " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             aria-hidden="true">
            <div class="modal-dialog  ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Описание  тегов</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Теги используются  для  подстановки  данных  из контекста (например  документа). 
                        Для  системных уведомлений и e-mail в разметке   можно использовать HTML  
                        <br>
                        Допускаются  следующие  теги
                        <table  >
                            <tr><td><small><b>{customer_name}</b></small> </td><td><small>Имя контрагента</small></td></tr>
                            <tr><td><small><b>{document_number}</b></small>< /td><td><small>Номер документа</small></td></tr>
                            <tr><td><small><b>{document_date}</b></small> </td><td><small>Дата документа</small></td></tr>
                            <tr><td><small><b>{amount}</b></small> </td><td><small>Сумма  по  документу</small></td></tr>
                            <tr><td><small><b>{mf} </b></small></td><td><small>Касса, счет</small></td></tr>
                            <tr><td><small><b>{nal} </b></small></td><td><small>Нал, безнал</small></td></tr>
                            <tr><td><small><b>{pos} </b></small></td><td><small>POS терминал</small></td></tr>
                            <tr><td><small><b>{forpay} </b></small></td><td><small>К оплате</small></td></tr>
                            <tr><td><small><b>{source} </b></small></td><td><small>Источник продаж</small></td></tr>
                            <tr><td><small><b>{device} </b></small></td><td><small>Изделие, принятое от заказчика</small></td></tr>
                            <tr><td><small><b>{credit} </b></small></td><td><small>Долг покупателя</small></td></tr>
                            <tr><td><small><b>{payed} </b></small></td><td><small>Принятая оплата  по  документу</small></td></tr>
                            <tr><td><small><b>{taxurl} </b></small></td><td><small>Ссылка  на  фискальный  чек</small></td></tr>

                        </table>
                        Если  нужно вывести  текст  в  зависимости  от наличия значения, например
                        <br>
                             {#credit}
                                Ваш долг {credit}  &nbsp;
                             {/credit}
                        <br>
                        <br>
                        Для  вывода  списков, например  позиций  документа нужно  заключить  вывод в теги
                        {#list}  и  {/list>} <br>
                        Внутри строки  списка  допускаются  следующие  теги
                        <table  >
                            <tr><td><small><b>{item_name}</b></small> </td><td><small>Наименование  товара</small></td></tr>
                            <tr><td><small><b>{item_code}</b></small>< /td><td><small>Артикул</small></td></tr>
                            <tr><td><small><b>{item_barcode}</b></small> </td><td><small>Штрих-код</small></td></tr>
                            <tr><td><small><b>{msr}</b></small> </td><td><small>Ед. измерения</small></td></tr>
                            <tr><td><small><b>{qty} </b></small></td><td><small>Количество</small></td></tr>
                            <tr><td><small><b>{price} </b></small></td><td><small>Цена</small></td></tr>
                            <tr><td><small><b>{summa} </b></small></td><td><small>Сумма  по строке</small></td></tr>

                        </table>
                        Например:<br>
                        <p class="text-bold">
                            Привет  {customer_name}&lt;br> <br> 
                            Мы  впарили  тебе  следующее <br>
                            &lt;table>  <br>
                            &lt;tr> &lt;th>Товар&lt;/th> &lt;th align="right" >Кол. &lt;/th> &lt;/tr><br>
                            {#list} <br>
                            &lt;tr> &lt;td>{item_name} &lt;/td> &lt;td align="right" >{qty} &lt;/td>&lt;/tr> <br>
                            {/list} <br>
                            &lt;/table>&lt;br>   <br> 
                            Ты нам  торчишь  {forpay}    &lt;br><br> 
                            Прайсы  по   &lt;a href="http://price.com/">ссылке&lt;/a>&lt;br><br> 
                            Пока, лошара
                        </p>


                    </div>

                </div>
            </div>
        </div>  


        <script>
            function check_delete() {
                return confirm("Удалить  подписку?")
            }
        </script>
    </body>   
</html>   