<html>
 <head>
        <title>  Підписки на події  </title>

    </head>

    <body>
        <div class="row">
            <div class="col-12 col-md-10 col-xl-8">
                <div zippy="plist">
                    <h3>Підписки на події </h3>
                    <small>Для відправки  email та  підписок  за  роскладом слід ввімкнути <a href="/index.php?p=App/Pages/CronTab">планувальник</a></small>
                    <br>
                    <a  zippy="addnew" class="btn btn-info">Додати</a>
                    <table class="table  table-sm">
                        <tr>
                            <th>Тип події</th>
                            <th>Отримувач</th>
                            <th>Тип повiдомлення</th>
                     
                            <th> </th>
                            <th> </th>

                        </tr>
                        <tr zippy="subslist">
                            <td zippy="sub_typename"> </td>
                            <td zippy="reciever_typename"> </td>
                            <td zippy="msg_typename"> </td>
                            <td zippy="desc"> </td>
                            <td> <a zippy="edit"><i class="fa fa-edit"></i> </a> </td>

                        </tr>

                    </table>
                </div>
            </div>
        </div>


        <form zippy="editform">      <h4>Редагування</h4>
            <div class="row">

                <div class="col-12 col-md-4 col-xl-3">

                    <div class="form-group">
                        <label for="editeventtype">Тип події</label>
                        <select   class="form-control" zippy="editeventtype">
                          <option value="0">Не обрано</option> 

                        </select>
                    </div>
                    <div class="form-group">
                        <label data-label="editdoctype" for="editdoctype">Тип документа</label>
                        <select   class="form-control" zippy="editdoctype">
                            <option value="0">Не обрано</option> 
                        </select>
                    </div>
                    <div class="form-group">
                        <label data-label="editstate" for="editstate">Статус</label>
                        <select   class="form-control" zippy="editstate">
                            <option value="0">Не обрано</option> 

                        </select>
                    </div>

                      
                    
                    <div class="form-group">
                        <label for="editrecievertype">Отримувач</label>
                        <select   class="form-control" zippy="editrecievertype">
                          <option value="0">Не обрано</option> 
                        </select>
                    </div>           
 
                    <div class="form-group">
                        <label data-label="edituser" for="edituser">Користувач</label>
                        <select   class="form-control" zippy="edituser">
                            <option value="0">Не обрано</option>        
                        </select>
                    </div>           
                     <div class="form-check">
                        <input zippy="editdisabled" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="editdisabled">Деактивовано</label>
                    </div>               

                </div>  
                <div class="col-12 col-md-6 col-xl-4">


                    <div class="form-group">
                        <label for="editmsgtype">Тип повiдомлення</label>
                        <select   class="form-control" zippy="editmsgtype">
                           <option value="0">Не обрано</option> 

                        </select>
                    </div>  
                    
                     <div class="form-group">
                        <label data-label="editemail" for="editemail">Email</label>
                        <input  type="email"  class="form-control" zippy="editemail">
                    </div>                    
                    
                    <div class="form-group">
                        <label data-label="editmsgsubject" for="editmsgsubject">Тема повiдомлення</label>
                        <input    class="form-control" zippy="editmsgsubject">
                    </div>
                    
                    <div class="form-group">
                        <label data-label="editurl" for="editurl">URL</label>
                        <input type="url"   class="form-control" zippy="editurl">
                         <small data-label="editurl">Запит вiдправляється методом POST</small>

                    </div>
                    <div class="form-group">
                        <label data-label="editchatid" for="editchatid">Chat ID</label>
                        <input    class="form-control" zippy="editchatid">


                    </div>
                    
              
                    <div class="form-group">
                        <label for="editmsgtext">Текст повiдомлення</label>
                        <textarea style="height:150px"   class="form-control" zippy="editmsgtext">
                    
                        </textarea>
                        <a href="javascript:void(0);" data-toggle="modal"
                           data-target="#modaltag">Опис тегiв <small><i class="fa fa-info-circle"></i></small></a>
                    </div>      


                    <div class="form-check">
                        <input data-label="editattach" zippy="editattach" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="editattach">Приєднати pdf</label>
                    </div>               
                    <div class="form-check">
                        <input data-label="edithtml" zippy="edithtml" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="edithtml">HTML формат</label>
                    </div>               
                </div> 
                <div class="col-12  ">    
                    <div class="form-group">
                        <a zippy="cancel"     class="btn btn-outline-info mr-4 ">Скасувати</a>
                        <input zippy="save" type="submit" value="Зберегти" class="btn btn-primary mr-4  ">
                        <a zippy="delete"     class="btn btn-danger mr-4  "> Видалити</a>

                    </div>
                </div>   
            </div>         
        </form>

        <div id="modaltag" class="modal fade  " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             aria-hidden="true">
            <div class="modal-dialog  ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Опис тегiв шаблонізатора</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Теги використовуються для підстановки даних з контексту (наприклад, документа).
                        Для системних повідомлень та e-mail в розмітці можна використовувати HTML.
                        <a href="https://core.telegram.org/bots/api#html-style">Доступні HTML теги</a> для відправки через Телеграм.
                        <br>
                        <br>Для реалізації логіки в шаблоні використовується синтаксис шаблонізатора  Mustache
                        <br>
                        Теги шаблонізатора для документу :
                        <table  >
                            <tr><td><small><b>{customer_name}</b></small> </td><td><small>Ім'я контрагента</small></td></tr>
                            <tr><td><small><b>{customer_name}</b></small> </td><td><small>Телефон контрагента</small></td></tr>
                            <tr><td><small><b>{document_id}</b></small></td><td><small>ID документа</small></td></tr>
                            <tr><td><small><b>{document_number}</b></small></td><td><small>Номер документа</small></td></tr>
                            <tr><td><small><b>{doc_dn}</b></small></td><td><small>Номер документа (тiльки цифри)</small></td></tr>
                            <tr><td><small><b>{document_date}</b></small> </td><td><small>Дата документа</small></td></tr>
                            <tr><td><small><b>{document_type}</b></small> </td><td><small>Тип документа</small></td></tr>
                            <tr><td><small><b>{amount}</b></small> </td><td><small>Сума по документу</small></td></tr>
                            <tr><td><small><b>{mf} </b></small></td><td><small>Каса, банк</small></td></tr>
                            <tr><td><small><b>{mfacc} </b></small></td><td><small>Розрахунковий рахунок (якщо банк)</small></td></tr>
                            <tr><td><small><b>{nal} </b></small></td><td><small>Готiвка, карта</small></td></tr>
                            <tr><td><small><b>{pos} </b></small></td><td><small>POS термiнал</small></td></tr>
                            <tr><td><small><b>{forpay} </b></small></td><td><small>До сплати</small></td></tr>
                            <tr><td><small><b>{source} </b></small></td><td><small>Джерело продаж</small></td></tr>
                            <tr><td><small><b>{device} </b></small></td><td><small>Вирiб, прийнятий вiд замовника</small></td></tr>
                            <tr><td><small><b>{credit} </b></small></td><td><small>Борг покупця</small></td></tr>
                            <tr><td><small><b>{payed} </b></small></td><td><small>Прийнята оплата по документу</small></td></tr>
                            <tr><td><small><b>{taxurl} </b></small></td><td><small>Посилання на фiскальний чек</small></td></tr>
                            <tr><td><small><b>{orderno} </b></small></td><td><small>Номер замовлення.Якщо документ не  Замовлення  шукатиме  замовлення  як  батькiвський (для чека  i ТТН)</small></td></tr>
                            <tr><td><small><b>{author} </b></small></td><td><small>Автор документа</small></td></tr>
                            <tr><td><small><b>{notes} </b></small></td><td><small>Примiтка до документа</small></td></tr>
                            <tr><td><small><b>{ttnnp} </b></small></td><td><small>Декларацiя НП та iнших служб доставок </small></td></tr>
                            <tr><td><small><b>{docurl} </b></small></td><td><small>Зовнiшнє посилання (URL) на документ</small></td></tr>
                            <tr><td><small><b>{docview} </b></small></td><td><small>Зовнiшнє посилання (URL) на журнал документiв (якщо сесiя з автологiном)</small></td></tr>
                            <tr><td><small><b>{payurl} </b></small></td><td><small>Посилання на оплату по реквiзитах </small></td></tr>
                            <tr><td><small><b>{botname} </b></small></td><td><small>Телеграм-бот </small></td></tr>
                          
                        </table>
                        Теги для контрагента :
                        <table  >
                            <tr><td><small><b>{customer_name}</b></small> </td><td><small>Ім'я контрагента</small></td></tr>
                            <tr><td><small><b>{customer_id}</b></small></td><td><small>ID контрагента</small></td></tr>
                        
                        </table>
                        
                        Теги для підсумків дня :
                        <table  >
                            <tr><td><small><b>{day_nal}</b></small> </td><td><small>Готівка в  касах</small></td></tr>
                            <tr><td><small><b>{day_beznal}</b></small></td><td><small>Безготівка на рахунках</small></td></tr>
                            <tr><td><small><b>{day_summa}</b></small></td><td><small>Сума продаж</small></td></tr>
                            <tr><td><small><b>{day_return}</b></small></td><td><small>Сума повернень</small></td></tr>
                            <tr><td><small><b>{minqtylist} </b>(список)</small></td><td><small>ТМЦ, що кількість на  складах менше  мінімальної. Колонки {name} {code} {minqty} {onstoreqty}   </small></td></tr>
                           
                        </table>
                         <br>
                        
                               Якщо потрібно вивести текст в залежності від наявності значення, наприклад,
                        <br>
                             {#credit}
                                Ваш борг {credit}  &nbsp;
                             {/credit}
                        <br>
                        <br>
                        Для виведення списків, наприклад, позицій документа, потрібно додати інформацію мiж тегами
                        {#list}  та  {/list&gt;}  
                        <br>  Всередині рядка списку допускаються наступні теги:

                        <table  >
                            <tr><td><small><b>{item_name}</b></small> </td><td><small>Найменування товару</small></td></tr>
                            <tr><td><small><b>{item_code}</b></small></td><td><small>Артикул</small></td></tr>
                            <tr><td><small><b>{item_barcode}</b></small> </td><td><small>Штрих код</small></td></tr>
                            <tr><td><small><b>{msr}</b></small> </td><td><small>Од. вимiру</small></td></tr>
                            <tr><td><small><b>{qty} </b></small></td><td><small>Кiлькiсть</small></td></tr>
                            <tr><td><small><b>{price} </b></small></td><td><small>Цiна</small></td></tr>
                            <tr><td><small><b>{summa} </b></small></td><td><small>Сума по строцi</small></td></tr>
                  
                        </table>
                        Наприклад:<br>
                        <p class="text-bold">
                            Привiт {customer_name}&lt;br&gt; <br> 
                           <br>
                            &lt;table&gt;  <br>
                            &lt;tr&gt; &lt;th&gt;Товар&lt;/th&gt; &lt;th align="right" &gt;Кiл. &lt;/th&gt; &lt;/tr&gt;<br>
                            {#list} <br>
                            &lt;tr&gt; &lt;td&gt;{item_name} &lt;/td&gt; &lt;td align="right" &gt;{qty} &lt;/td&gt;&lt;/tr&gt; <br>
                            {/list} <br>
                            &lt;/table&gt;&lt;br&gt;   <br> 
                            До сплати {forpay}   &lt;br&gt;<br> 
                            Прайси за &lt;a href="https://price.com/"&gt;посиланням&lt;/a&gt;&lt;br&gt;<br>
                           
                        </p>


                    </div>

                </div>
            </div>
        </div>  


        <script>
            function check_delete() {
                return confirm("Видалити підписку?")
            }
        </script>
    </body>   
</html>   
 
