<html>
<head>
</head>

<body>
<div class="row">
    <div class="col-12 col-md-10 col-xl-8">
        <div zippy="firmtable">
            <h3>Подписки на  события </h3>
             <a  zippy="addnew" class="btn btn-info">Добавить</a>
             <table class="table  table-sm">
               <tr>
                <th>Тип события</th>
                <th>Тип сообщения</th>
                <th>Получатель</th>
                <th>Описание</th>
                <th> </th>
                
               </tr>
               <tr zippy="slist">
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                
               </tr>
               
             </table>
        </div>
    </div>
</div>            