<html>

    <body>
      {{={| |}=}}   
        <div class="row">
        
            <div class="col-12 col-md-8 col-xl-6" id="vapp">
                <h4>Журнал системных уведомлений</h4>
 
                <div class="navbar nav">
                    <form   class="form-inline ">


                        <input v-model="searchtext" class="form-control mr-2" type="text" zippy="searchtext" placeholder="Поиск по контенту">

                        <input v-on:click.prevent="onsearch" type="submit" class="  btn btn-outline-success  " value="Искать">


                    </form>
                </div>

                <table class="table table-sm    ">
                    <tr v-for="item,index  in itemlist">

                        <td><i class="fa fa-clock"> </i> <span  >{{item.date}}</span>

                            <p v-html="item.message">
                            <p>
                        </td>
                        <td><span v-show="item.isnew" class="badge badge-info">Новое</span></td>


                    </tr>
                </table>
              
                <paginator   :onpage="change"  v-bind:rows="rowscnt" v-bind:pagesize="pagesize" buttonscnt="10"></paginator>
      
      
                
      
            </div>

            <!--
            <div class="col-12 col-md-8 col-xl-6" id="vapp2">
            
                
                 <datatable :init="inittable()" :ondata="this.loaddata" ref="dt"></datatable>
            </div>
            
            -->
        </div>
 
      
      
 
 
 {|={{ }}=|}  
 
 <script>
        
    var vapp = new Vue({
      el: '#vapp',
      data: {
          itemlist:[] ,
          rowscnt:0  ,
          searchtext:'' ,
          pagesize:25
      }  ,
     components: {
            'paginator': httpVueLoader('/assets/js/vue/paginator.vue') 
            
        }, 
        methods: {
            change:function( page){    //кнопка  пагинатора
                
                 this.loaddata( (page-1) * this.pagesize );
            }   ,
            loaddata: function(start=0){
                let body={
                    search:this.searchtext,
                    start:start,
                    count:this.pagesize 
                } 
                
                updateItems(body);
            }  ,
            onsearch:function (){
                this.rowscnt=0;
                this.loaddata();
            } 
            
        }  ,
        mounted: function(){
             this.loaddata();
        }
      
    })   
 
  
  
    function updateItems(body){
          callPageMethod('getItems',null, JSON.stringify(body),(data)=> 
          {
              let tmp =   JSON.parse(data)  
              vapp.itemlist=  tmp.items
             
              vapp.rowscnt=tmp.cnt
          
          });
            
      } 
      
  </script>
   <!--
   <script>     
  var vapp2 = new Vue({
      el: '#vapp2',
      data: {
           
      }  ,
     components: {
            'datatable': httpVueLoader('/assets/js/vue/datatable.vue') 
            
        }, 
        methods: {
         
             loaddata: async function (page,pagesize,field,sort){
                     
                    var url  = getMethodUrl('getItems2',[page,pagesize,field,sort])
                
                    let response = await fetch(url);
             
                    return  await response.json()  ;
            
             }    
                
                
        }  ,
        mounted: function(){
           
        }
      
    })   
 
  
   
    function inittable(){
           
           return {
               headers:[
                 {"title":"Дата","field":"dateshow","thclass":"text-center","sortable":true,"clickable":true},
                 {"title":"id","sortable":true,"field":"notify_id"} ,
                 {"title":"Сообщение","field":"message","tdclass":"text-right" }
               ] ,
               pagination:true,pagesize:5,buttonscnt:4
           }
        
        
      } 
      
        

      
 </script>   
   -->
          
    </body>

</html>
