<html>

    <body>
        <div class="row">
            <div class="col-12 col-md-8 col-xl-6">
                <h4>Журнал системних уведомлений</h4>
                <div class="navbar nav">
                    <form zippy="filter" class="form-inline ">


                        <input class="form-control mr-2" type="text" zippy="searchtext" placeholder="Поиск по контенту">

                        <input type="submit" class="  btn btn-outline-success  " value="Искать">


                    </form>
                </div>

                <table class="table table-sm    ">
                    <tr zippy="nlist">

                        <td><i class="fa fa-clock"> </i> <span zippy="ndate"></span>

                            <p zippy="msg">
                            <p>
                        </td>
                        <td><span zippy="newn" class="badge badge-info">Новое</span></td>


                    </tr>
                </table>
                <div zippy="pag"></div>

            </div>



        </div>
  
     <!-- 
    {{={| |}=}}
          
   <div id="app">
  {{ message }}
</div>
 {|={{ }}=|}
         <script src="/assets/js/vue.js"  ></script>

       <script>
  var app = new Vue({
  el: '#app',
  data: {
     message: 'Привет, Vue!'
  }
})
     
         
       </script>
      
       {{={| |}=}}     
        <script src="/assets/js/mustache.js" type="text/javascript"></script>
        <script >
  var view = {
    title: "<b>Joe</b>",
    calc: function () {
      return 2 + 4;
    }
  };       
   var  mustache = require('mustache');
    var output = mustache.render("{{title}} spends {{calc}}", view );
  
     console.log(output)
    
    
        </script>
     {|={{ }}=|}  

         -->
    </body>

</html>
