<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/js/fullcalendar/main.css"/>

        <script language="javascript" src="/assets/js/moment/moment.min.js"></script>
        <script language="javascript" src="/assets/js/moment/locale/ua.js"></script>
        <script language="javascript" src="/assets/js/fullcalendar/main.js"></script>
        <script language="javascript" src="/assets/js/fullcalendar/locales/ua.js"></script>


    </head>
    <body>
        <div class="row">
            <div class="col-12 col-lg-10">
                <h3>Табель облiку робочого часу</h3>
                <div class="navbar nav">
                    <form zippy="filter" class="form-inline ">

                        <label for="from">З</label>
                        <input class="form-control mr-sm-2" style="width: 120px" type="text" zippy="from">

                        <label for="to">по</label>
                        <input class="form-control mr-sm-2" style="width: 120px" type="text" zippy="to">


                        <label for="parea">Спiвробiтник</label>
                        <select class="form-control mr-sm-2" zippy="emp">
                            <option value="0">Не вибраний</option>
                        </select>

                        <input type="submit" class="  btn btn-outline-success  " value="ОК">


                    </form>
                </div>

                <div zippy="tpanel">


                    <a zippy="addnew" class="btn  btn-success">Додати</a>
                    <div class="mt-1" style="font-size: 1.5rem">
                        <a zippy="tabc"><span class="{{{tabcbadge}}}">  Календар</span> </a> &nbsp;&nbsp;
                        <a zippy="taba"><span class="{{{tababadge}}}">  Список   </span> </a> &nbsp;&nbsp;
                        <a zippy="tabs"><span class="{{{tabsbadge}}}">  Статистика   </span></a>
                    </div>


                    <div zippy="tcal">
                        <div zippy='calendar'></div>
                    </div>
                    <div zippy="tagen">
                        <table class="table table-sm" style="width:75%">
                            <tr zippy="llist">
                                <td zippy="ldate" style="width:100px;"></td>
                                <td zippy="lfrom" style="width:50px;"></td>
                                <td zippy="lto" style="width:50px;"></td>
                                <td style="width:50px;"><span zippy="ldur"></span></td>
                                <td zippy="ltypename"></td>
                                {{#usebranch}}     <td zippy="lbranch"></td>     {{/usebranch}}
                                <td zippy="ldesc"></td>

                                <td aling="center">

                                    <a zippy="edit" title="Редагувати"><i class="fa fa-edit"></i></a>
                                    &nbsp;<a zippy="delete" title="Видалити"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div zippy="tstat">
                        <table class="table table-sm" style="width:30%">
                            <tr zippy="lstat">
                                <td zippy="stypename"></td>
                                <td align="right"><span zippy="scnt"></span></td>

                            </tr>
                        </table>
                    </div>

                </div>


            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-md-6 col-lg-4 ">
                <form zippy="editform">
                    <h4>Редагування</h4>
                    <div class="form-group">
                        <label for="editdate">Дата</label>
                        <input required="required" class="form-control" zippy="editdate"/>
                    </div>
                    <div class="form-group">
                        <label for="editfrom">З</label>
                        <input required="required"   
                               class="form-control" zippy="editfrom"/>
                    </div>
                    <div class="form-group">
                        <label for="editto">По</label>
                        <input required="required"  
                               class="form-control" zippy="editto"/>
                    </div>
                    <div class="form-group">
                        <label for="edittype">Тип</label>
                        <select zippy="edittype" class="form-control">
                            <option value="0">Не выбран</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editbreak">Перерва, хв</label>
                        <input required="required" style="width:75px;" pattern="[0-9]+" class="form-control" zippy="editbreak"/>
                    </div>
                    <div class="form-group">
                        <label for="editnote">Примiтка</label>
                        <input class="form-control" zippy="editnote"/>
                    </div>

                    <input zippy="cancel" type="button" value="Скасувати" class="btn btn-outline-primary  ">
                    <input type="submit" value="Зберегти" class="btn btn-primary  ">&nbsp;&nbsp;

                </form>
            </div>
        </div>

    </body>

</html>