<html>
  <head>
     <title>  Оновлення програми  </title>
 
</head>
<body>
 <div class="row">
        
    <div class="col-12 col-lg-10 col-xl-6 ml-2"   >
        <h2>Оновлення</h2>
  
           <div class="row  mb-4  ">
            
             <div class="col-12  "  >
             <span>  Поточна версiя програми <b>{{curversion}}</b>. </span>
             {{#actual}}
             &nbsp; <span> Версiя   актуальна</span>
             {{/actual}}       
            </div>
            <div class="col-12  "  >
                Поточна версiя БД <b>{{curversiondb}}</b> 
               &nbsp;  <span class="text-danger"> {{{reqversion}}} </span>
                 {{#actualdb}}
                  <span>Версія   актуальна</span>
                 {{/actualdb}}    
            </div>
            
          <div class="col-12  "  >
                Поточна версiя PHP <b> {{oldphpv}}</b> 
                   
            </div>
            
          </div>
           
      <div class="row  ">
  
         {{#tooold}}
       <div class="col-12 col-xl-8 mb-4">
         <small>
        <i class="fa fa-exclamation-triangle text-danger" ></i>   Якщо пропущено кiлька оновлень може знадобитись ручне  оновлення.
            Для цього перейдіть на  <a href="https://zippy.com.ua/update">історію оновлень </a> 
            і виконайте послідовне оновлення структури база данних у відповідності з інструкціями, починаючи з поточної версії.
            Виконайте  повне  оновлення  з    <a class="link" href="https://zippy.com.ua/download/fullzstore.zip"> архiву</a> (крім config.php). 
            {{#oldphp}}
            <br> Оскільки поточна  версія PHP застаріла, папку vendor необхідно  <a class="link" href="https://zippy.com.ua/download/vendor74.zip"> зкачати  </a> окремо 
             {{/oldphp}}
          </small>
     </div>  
         {{/tooold}}
         {{#oldphp}}
  <div class="col-12  mt-2">
            
     <i class="fa fa-exclamation-circle text-warning"></i> 
       Поточна версія PHP на вашому сервері застарiла. 
       Пiдтримка версiй менших 8.1.0 з часом буде припинена.  
       <br> Рекомендується  оновити до 8.1+
       <br>
       <br>
       </div> 
         {{/oldphp}} 
         

 
   
    
      {{#show}}
      <div class="col-12  ">

  
     <i class="fa fa-info-circle text-info"></i> <h5 style="display:inline">    Доступна  версія <b>{{newver}}</b></h5>
         <br><br><b>Перелік змін</b>
           <p>
          <ul style=" line-height: 1.4em;"  >
            {{#list}}
            <li >{{item}}</li>
            {{/list}}
         </ul>
         </p>
         <p>
          {{notes}}
          </p>
          {{#warn}}
          <i class="fa fa-exclamation-triangle"></i> {{warn}}
          <br>
          {{/warn}}
        <small>    <a href="https://zippy.com.ua/update">Детальніше...</a>  </small>                  
          
      
           <br><br><a zippy="updatefile"><i class="fa fa-download"></i> <b>Оновити файли автоматично</b></a>

           <br> <br>Для оновлення вручну завантажити <a href="{{archive}}" >архів</a>  або  перейти на  <a href="{{github}}">GitHib</a>
            
           <br><small><i class="fa fa-exclamation-triangle"></i>  
                У випадку помилки оновити вручну  з  архіву
           </small> 
            {{#showdb}}  
            <br><small><i class="fa fa-exclamation-triangle"></i>  
                Бажано  оновити спочатку  структуру БД 
           </small>       
            {{/showdb}}  
           
                     
           <br><br>         
      
         
         
   </div>   
               
            
        {{/show}}
    
          {{#showdb}}       
  
     <div class="col-12 mt-2 ">  

           <b>Оновлення структури бази данних</b>
           <br><small><i class="fa fa-exclamation-triangle"></i>  
               Перед оновленням рекомендується зробити бакап БД.
                Користувачі "коробкових" версій можуть просто скопіювати або заархівувати папку із сервером
                (Попередньо його потрібно зупинити).
               
           </small>
     
           <br><br><a zippy="updatesql"><i class="fa fa-download"></i>  <b>Оновити структуру БД автоматично</b></a>
           <br>Завантажити  <a href="{{sqlurl}}" >sql скрипт</a>  для ручного оновлення
                    
           <br><br>
   </div>  
            {{/showdb}}       
         
       
       <div class="col-12  mt-2">
          {{#reinstall}}    
        <i class="fa fa-redo"></i> <a zippy="reload"><b>Повторити оновлення </b>  </a> 
        <br><small>Повторити оновлення коду, наприклад пiсля виходу виправлення (хотфiксу)</small>
           {{/reinstall}}    
          {{#rollback}}
        <br>  <br> 
        <i class="fa fa-undo"></i> <a zippy="rollback"><b>Вiдкотити код до попередньої версії </b> </a> 
        <br><small>На  випадок  виникнення проблем  пiсля оновлення</small>
          {{/rollback}}        
         {{^oldphp}}
        <br>  <br> 
         <a zippy="updatevendor"><i class="fa fa-download"></i> <b>Оновити папку  vendor</b> </a> 
        <br><small>Якщо були оновленi стороннi бiблiотеки</small>
          {{/oldphp}}        
     </div>  
                   
                      
    </div>         
  </div>        
</div>        
 <script>
       
       function check_updatefile(ele){
            
           document.getElementById('dialogwait').showModal()
            return true;
       
        } 
        
       function check_updatesql(ele){
            
           document.getElementById('dialogwait').showModal()
            return true;
       
        } 
        function check_rollback(ele){
           return confirm("Вiдкотити версію?")
        } 
        function check_reload(ele){
           return confirm("Повторити оновлення?")
        } 
        function check_updatevendor(ele){
            var b = confirm("Оновити vendor?")
            if(b==true) {     
              document.getElementById('dialogwait').showModal()
              return true; 
            }          
            return false;
        } 
        
 </script> 
</body>
</html>
