<html>

<body>

<div class="row ">
    <div class="col-10 col-lg-3 col-md-4">

        <h4>Мой профиль</h4>
        <form role="form" zippy="profileform">
            <div class="form-group">
                <label for="userlogin">Логин</label>
                <span zippy="userlogin" class="form-control-plaintext"></span>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" zippy="email">
            </div>
            <div class="form-group  ">
                <label for="defstore">Склад по умолчанию</label>

                <select class="form-control" zippy="defstore">
                    <option value='0'>Не выбран</option>
                </select>
            </div>
            <div class="form-group  ">
                <label for="defmf">Денежный счет по умолчанию</label>

                <select class="form-control" zippy="defmf">
                    <option value='0'>Не выбран</option>
                </select>
            </div>
            <div class="form-group  ">
                <label for="pagesize">Строк в таблицах с постраничным выводом </label>

                <select class="form-control" zippy="pagesize">

                </select>
            </div>

            <div class="form-check">
                <input zippy="hidesidebar" type="checkbox" class="form-check-input">
                <label class="form-check-label" for="hidesidebar">Прятать боковое меню </label>

            </div>
            <div class="form-check">
                <input zippy="popupmessage" type="checkbox" class="form-check-input">
                <label class="form-check-label" for="popupmessage">Всплывающие сообщения системы</label>

            </div>


            <div class="form-group  "> <br>
                <a data-toggle="collapse" href="#collapsesmartmenu" aria-expanded="false"
                   aria-controls="collapseExample">
                    <b>Оперативное меню <i style="font-size:smaller" class="fa fa-angle-down"></i></b>
                </a> <br>
                <div class="collapse" id="collapsesmartmenu">

                    <table class="table   table-sm">

                        <tr zippy="mlist">
                            <td zippy="meta_desc"></td>
                            <td zippy="meta_name"></td>
                            <td><input class="acl" zippy="mshow" type="checkbox"></td>

                        </tr>
                    </table>

                </div>
            </div>
            <div class="form-group  ">
                <button type="submit" zippy="submitpass" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    </div>
    <div class="col-10 col-lg-3 col-md-4">

        <h4>Смена пароля</h4>
        <form role="form" zippy="passwordform">

            <div class="form-group">
                <label for="userpassword">Пароль</label>
                <input type="password" class="form-control" zippy="userpassword" required="required">
            </div>

            <div class="form-group">
                <label for="userpassword">Подтверждение</label>
                <input type="password" class="form-control " zippy="confirmpassword" required="required">
            </div>

            <button type="submit" zippy="submitpass" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
    <div class="col-10 col-lg-3 col-md-4">

        <h4>Сообщение пользователю</h4>
        <form zippy="msgform" role="form">
            <div class="form-group  ">
                <label for="users">Выбрать получателя</label>

                <select class="form-control select2" zippy="users">
                    <option value='0'>Не выбран</option>
                </select>
            </div>
            <div class="form-check">
                <input zippy="sendall" type="checkbox" class="form-check-input">
                <label data-label="sendall" class="form-check-label" for="sendall">Всем пользователям</label>

            </div>
            <div class="form-group">
                <label for="msgtext">Текст</label>

                <textarea required="required" class="form-control" zippy="msgtext"></textarea>

            </div>
            <div class="form-group">

                <button type="submit" class="btn btn-primary   ">Отправить</button>

            </div>
        </form>

    </div>

</div>


</body>

</html>














