<html>
 <head>
        <title>   Мій профіль </title>

    </head>

    <body>

        <div class="row ">
            <div class="col-10  col-md-8 col-lg-6">

                <h4>Мій профіль</h4>
                <form role="form" zippy="profileform">
                    <div class="row ">
                        <div class="col-12 col-md-6 ">         


                            <div class="form-group  ">
                                <label for="defstore">Компанія за замовчуванням</label>

                                <select class="form-control" zippy="deffirm">
                                    <option value='0'>Не встановлено</option>
                                </select>
                            </div>
                            <div class="form-group  ">
                                <label for="defstore">Склад за замовчуванням</label>

                                <select class="form-control" zippy="defstore">
                                    <option value='0'>Не встановлено</option>
                                </select>
                            </div>
                            <div class="form-group  ">
                                <label for="defmf">Грошовий рахунок за замовчуванням</label>

                                <select class="form-control" zippy="defmf">
                                    <option value='0'>Не встановлено</option>
                                </select>
                            </div>
                            <div class="form-group  ">
                                <label for="defsalesource">Джерело продаж за замовчуванням</label>

                                <select class="form-control" zippy="defsalesource">
                                    <option value='0'>Не встановлено</option>
                                </select>
                            </div>
                            <div class="form-group  ">
                                <label for="pagesize">Рядків в таблицях на сторінці </label>

                                <select class="form-control" zippy="pagesize" style="width:100px;">

                                </select>


                                <div class="form-group  ">
                                    <label for="mainpage">Головна сторiнка</label>

                                    <select class="form-control" zippy="mainpage">
                                        <option value='\App\Pages\Main'>Дашборд (вiджети)</option>
                                    </select>
                                </div>

                              
                              
                                
                            </div>
                           <div class="form-check">
                                <input zippy="emailnotify" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="emailnotify">Вiдправляти повiдомлення на e-mail </label>

                            </div>   
                           <div class="form-check">
                                <input zippy="botnotify" type="checkbox" class="form-check-input">
                                <label data-label="botnotify" class="form-check-label" for="botnotify">Вiдправляти повiдомлення телеграм боту </label>

                            </div>   
                 
                           <div class="form-check">
                                <input zippy="hidesidebar" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="hidesidebar">Ховати бокове меню </label>

                            </div>
                          
                           <div class="form-check">
                                <input zippy="darkmode" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="darkmode">Нiчна тема </label>

                            </div>
                                  <div class="form-check">
                                    <input zippy="usemobileprinter" type="checkbox" class="form-check-input">
                                    <label class="form-check-label" for="usemobileprinter">Відкривати друк в новій вкладці  </label> 
                                   <i class="fa fa-info-circle  " data-toggle="tooltip" data-placement="top"
                                   title="Для мобільних пристроїв, щоб друкувати відповідним додатком через меню Поділитись. 
                                    Стосується тільки системних принтерів"></i>

                                </div>                              
                        </div>


                        <div class="col-12 col-md-6 ">         
                            <div class="form-group">
                                <label for="userlogin">Логін</label>
                                <span zippy="userlogin" class="form-control-plaintext"></span>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="email" class="form-control" zippy="email">
                            </div>
                            <div class="form-group">
                                <label for="phone">Телефон</label>
                                <input   class="form-control" zippy="phone">
                            </div>
                            <div class="form-group">
                                <label for="viber">Viber</label>
                                <input   class="form-control" zippy="viber">
                            </div>   

                        </div>


                    <div class="col-12 col-md-6 ">         
                        </div>
                       <div class="col-12 col-md-6 ">         
   

                            <div class="form-group  ">
                                <button type="submit"   class="btn btn-primary">Зберегти</button>
                            </div>


                        </div>
                    </div>            
                </form>
            </div>
        
            <div class="col-10  col-md-4 col-xl-3">
                         <h4>Принтер чеків</h4>
                         <small><a href="https://zippy.com.ua/ext#10">Опис</a></small>
                         <form zippy="printer">
                            <div class="form-group  ">
                                <label for="prtype">Тип підключення</label>
                                <select class="form-control" zippy="prtype">
                                     <option value="0">Системний принтер</option>
                                     <option value="1">Print сервер</option>
                                </select>
                                <small data-label="pserver">Опис <a href="https://zippy.com.ua/ext#10" target="_blank">тут</a>  </small>
                            </div>    
                                 
                                
                             <div class="form-group  ">
                                <label data-label="pserver" for="pserver">Адреса серверу</label>
                                <input class="form-control" zippy="pserver">
                                 
                            </div>
                             <div class="form-group  ">
                                <label data-label="pwsym" for="pwsym">Ширина (кiл. символiв)</label>
                                <input type="number"  style="width:100px"   class="form-control" zippy="pwsym">
                            </div>
                             <div class="form-group  ">
                                <label for="pcp">Кодова сторінка</label>
                                <select class="form-control" zippy="pcp">
                                     <option value="866">866</option>
                                     <option value="1251">win-1251</option>
                                </select>
                                <small>Кодування, виставлене в  принтері</small>    
                            </div>    
                                 
                                         
                             <div class="form-group">
                                <input zippy="savep" class="btn btn-primary" type="submit" value="Зберегти">
                            </div>                            
                             <div class="form-group">
                                <a    zippy="pstest" >Тест принтера</a>
                            </div>                            
                         </form>   
                             <h4>Принтер етикеток</h4>
                             <small>Кількість на позицiю, задається в довіднику ТМЦ </small>
                         <form zippy="printerlabel">
                            <div class="form-group  ">
                                <label for="prtypelabel">Тип підключення</label>
                                <select class="form-control" zippy="prtypelabel">
                                     <option value="0">Системний принтер</option>
                                     <option value="1">Print сервер (режим  receipt)</option>
                                     <option value="2">Print сервер (режим  label)</option>
                                </select>
                                <small data-label="pserverlabel">Опис <a href="https://zippy.com.ua/ext#10" target="_blank">тут</a>  </small>
                            </div>    
                                 
                                
                             <div class="form-group  ">
                                <label data-label="pserverlabel" for="pserverlabel">Адреса серверу</label>
                                <input class="form-control" zippy="pserverlabel">
                                 
                            </div>
                             <div class="form-group  ">
                                <label data-label="pwsymlabel" for="pwsymlabel">Ширина (кiл. символiв)</label>
                                <input type="number"  style="width:100px"   class="form-control" zippy="pwsymlabel">
                            </div>
                             <div class="form-group  ">
                                <label for="pcplabel">Кодова сторінка</label>
                                <select class="form-control" zippy="pcplabel">
                                     <option value="866">866</option>
                                     <option value="1251">win-1251</option>
                                </select>
                                <small>Кодування, виставлене в  принтері</small>    
                            </div>    
                            
                             <div class="form-group  ">
                                <label for="prturn">Поворот зображення</label>
                                <select class="form-control" zippy="prturn">
                                     <option value="0">0</option>
                                     <option value="1">90%</option>
                                     <option value="2">-90%</option>
                                </select>
                            </div>                                            
                             <div class="form-group">
                                <input zippy="saveplabel" class="btn btn-primary" type="submit" value="Зберегти">
                            </div>                            
                             <div class="form-group">
                                <a   zippy="pstestlabel" >Тест принтера</a>
                            </div>                            
                         </form>   
        </div>
            <div class="col-10 col-lg-3 col-md-3 col-xl-2">

                <h4>Зміна пароля</h4>
                <form role="form" zippy="passwordform">

                    <div class="form-group">
                        <label for="userpassword">Новий пароль</label>
                        <input type="password" class="form-control" zippy="userpassword" required="required">
                        <small>Перед введенням перевірте розкладку та регістр клавіатури </small>
                    </div>

                    <div class="form-group">
                        <label for="userpassword">Підтвердження</label>
                        <input type="password" class="form-control " zippy="confirmpassword" required="required">
                    </div>

                    <button type="submit"   class="btn btn-primary">Зберегти</button>
                </form>
                <br>


            </div>
        </div>


    </body>

</html>














