<html>

    <body>

        <div class="row ">
            <div class="col-10  col-md-9 col-lg-7">

                <h4>Мой профиль</h4>



                <form role="form" zippy="profileform">
                    <div class="row ">
                        <div class="col-12 col-md-6 ">         



                            <div class="form-group  ">
                                <label for="defstore">Компания по умолчанию</label>

                                <select class="form-control" zippy="deffirm">
                                    <option value='0'>Не выбрана</option>
                                </select>
                            </div>
                            <div class="form-group  ">
                                <label for="defstore">Склад по умолчанию</label>

                                <select class="form-control" zippy="defstore">
                                    <option value='0'>Не выбран</option>
                                </select>
                            </div>

                            <div class="form-group  ">
                                <label for="defmf">Денежный счет по умолчанию</label>

                                <select class="form-control" zippy="defmf">
                                    <option value='0'>Не выбран</option>
                                </select>
                            </div>
                            <div class="form-group  ">
                                <label for="defsalesource">Источник продаж  по умолчанию</label>

                                <select class="form-control" zippy="defsalesource">
                                    <option value='0'>Не выбрано</option>
                                </select>
                            </div>

                            <div class="form-group  ">
                                <label for="pagesize">Строк в таблицах с постраничным выводом </label>

                                <select class="form-control" zippy="pagesize" style="width:100px;">

                                </select>
                            </div>

                            <div class="form-group  ">
                                <label for="mainpage">Главная страница</label>

                                <select class="form-control" zippy="mainpage">
                                    <option value='\App\Pages\Main'>Дашборд (виджеты)</option>
                                </select>
                            </div>
                            <div class="form-check">
                                <input zippy="usemobileprinter" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="usemobileprinter">Открывать  печать документа в  новой вкладке</label>
                                <br><small>Для  мобильных  устройств, чтобы печатать соответствующим приложением через  меню  Поделится </small>
                            </div>
                            <div class="form-check">
                                <input zippy="emailnotify" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="emailnotify">Отправлять  уведомления на  почту </label>

                            </div>   
                          <div class="form-check">
                                <input zippy="hidesidebar" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="hidesidebar">Прятать боковое меню </label>

                            </div>   
                            <div class="form-check">
                                <input zippy="darkmode" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="darkmode">Ночная тема </label>

                            </div>

                        </div>


                        <div class="col-12 col-md-6 ">         
                            <div class="form-group">
                                <label for="userlogin">Логин</label>
                                <span zippy="userlogin" class="form-control-plaintext"></span>
                            </div>               <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" zippy="email">
                            </div>
                            <div class="form-group">
                                <label for="phone">Телефон</label>
                                <input   class="form-control" zippy="phone">
                            </div>
                            <div class="form-group">
                                <label for="viber">Viber</label>
                                <input   class="form-control" zippy="viber">
                            </div>


                        </div>


                       <div class="col-12 col-md-6 ">         
                        </div>
                       <div class="col-12 col-md-6 ">         
                       
                            <div class="form-group  ">
                                <button type="submit" zippy="submitpass" class="btn btn-primary">Сохранить</button>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
            <div class="col-10 col-md-3 col-lg-3 ">

                <h4>Смена пароля</h4>
                <form role="form" zippy="passwordform">

                    <div class="form-group">
                        <label for="userpassword">Пароль</label>
                        <input pattern="[0-9a-zA-Z]+" type="password" class="form-control" zippy="userpassword" required="required">
                    </div>

                    <div class="form-group">
                        <label for="userpassword">Подтверждение</label>
                        <input pattern="[0-9a-zA-Z]+" type="password" class="form-control " zippy="confirmpassword" required="required">
                    </div>

                    <button type="submit" zippy="submitpass" class="btn btn-primary">Сохранить</button>
                </form>
                <br>



            </div>

        </div>


    </body>

</html>














