<html>
 <head>
        <title> Користувачі системи   </title>

    </head>

    <body>
        <div class="row">


            <div zippy="listpan" class="col-12 col-md-10 col-xl-8">
                <h3>Користувачі системи</h3>
                <div class="card">

                    <form zippy="filter" class="form-inline">

                        <label for="searchrole">Роль</label>
                        <select zippy="searchrole" class="form-control mr-sm-2">
                            <option value="0">Не обрано</option>
                        </select>


                        <input class="btn btn-outline-success  " type="submit" value="ОК">

                    </form>
                </div>
                <a zippy="addnew" class="btn btn-outline-success  ">Додати</a>
                <table class="table table-bordered table-striped table-sm">

                    <thead align="center">
                        <tr>
                            <th>Логін</th>
                            <th>Роль</th>
                            <th>Спiвробiтник</th>
                            <th>Створено</th>

                            <th>E-mail</th>
                            <th>Ост. логiн</th>   


                            <th width="24">&nbsp;</th>
                            <th width="24">&nbsp;</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr zippy="userrow">
                            <td zippy="userlogin"></td>
                            <td zippy="rolename"></td>
                            <td zippy="empname"></td>
                            <td zippy="created" align="center" style="white-space:nowrap"></td>

                            <td zippy="email"></td>
             <td zippy="lastactive" align="center" style="white-space:nowrap"></td>  

                            <td><a zippy="edit"><i class="fa fa-edit"></i></a></td>
                            <td><a zippy="remove"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>

            </div>


            <div zippy="editpan" class="col-12 col-sm-10  col-md-8  col-lg-6 col-xl-4">
                <h4> Редагування користувача</h4>
                <form zippy="editform" role="form">
                    <div class="form-group">
                        <label for="editlogin">Логін</label>
                        <input pattern="[_a-zA-Z0-9]+" style="width:200px" class="form-control" zippy="editlogin"
                                required="on" >
                        <small>Допускаються латинські букви, цифри і підкреслення</small>
                    </div>
                    <div class="form-group">
                        <label for="editpass">Пароль</label>
                        <input style="width:200px" class="form-control" zippy="editpass">
                        <span style="font-size:12px">Якщо не змінюється пароль існуючого користувача, залиште порожнім</span>
                    </div>
                    <div class="form-group">
                        <label for="editrole">Роль</label>
                        <select class="form-control" zippy="editrole">
                            <option value="0">Не вказано</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="editemail">E-mail</label>
                        <input style="width:200px" class="form-control" zippy="editemail">
                    </div>

                    {{#usebranch}}


                    <div class="form-group">
                        <label for="acl">Налаштування доступу до філій</label>
                        <table class="table table-sm table-striped">
                            <tr zippy="brow">
                                <td zippy="branch_name"></td>
                                <td><input zippy="editbr" class="acl" type="checkbox"></td>
                            </tr>

                        </table>
                    </div>
                    {{/usebranch}}
                    <div class="form-group">
                        <div class="form-check   ">

                            <input class="form-check-input" type="checkbox" zippy="editonlymy">
                            <label class="form-check-label mr-sm-2" for="editonlymy"> Доступ лише до власних документів</label>
                        </div>
                        <div class="form-check   ">

                            <input class="form-check-input" type="checkbox" zippy="edithidemenu">
                            <label class="form-check-label mr-sm-2" for="edithidemenu"> Не показувати бокове меню (тiльки оперативне)</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check   ">
                            <input class="form-check-input" type="checkbox" zippy="editdisabled">
                            <label class="form-check-label mr-sm-2 text-danger" for="editdisabled"> Не активний</label>
                        </div>
                  </div>


                    <div class="form-group">

                        <button type="submit" class="btn btn-primary   ">Зберегти</button>
                        &nbsp; <a zippy="cancel" class="btn btn-outline-secondary    ">Скасувати</a>
                    </div>
                </form>
            </div>

        </div>
        <script>
            function check_remove() {

                return confirm("Видалити користувача?")

            }

        </script>
    </body>
</html>