<html>
    <body>


        <h4 >Документы к оплате </h4>
        <table style="background-color: white;" class="table   table-sm">
            <tr>
                <th>Номер</th>
                <th>Тип</th>
                <th>Контрагент</th>
                <th class="text-right">Сумма</th>
            </tr>
            <tr zippy="pdoclist">
                <td zippy="number"> </td>
                <td zippy="type"></td>
                <td zippy="cust"></td>
                <td zippy="amount"  class="text-right"></td>
            </tr>
        </table>


    </body>
</html>
