<html>
    <body>
        <h4  > Затоваривание</h4>
        <table class="table   table-sm">

            <tr>
                <th>Дата</th>
                <th>Товар</th>
                <th>Склад</th>
                <th>Всего</th>
                <th>Норма</th>
            </tr>
            <tr zippy="highlist">
                <td zippy="highdate"></td>
                <td zippy="highitem"></td>
                <td zippy="highstore"></td>
                <td zippy="highqty" align="right"></td>
                <td zippy="highneed" align="right"></td>
            </tr>
        </table>
        <br>
        <h5  >Недостаточное количество</h5>

        <table class="table   table-sm">

            <tr>
                <th>Дата</th>
                <th>Товар</th>
                <th>Склад</th>
                <th>Всего</th>
                <th>Норма</th>
            </tr>
            <tr zippy="lowlist">
                <td zippy="lowdate"></td>
                <td zippy="lowitem"></td>
                <td zippy="lowstore"></td>
                <td zippy="lowqty" align="right"></td>
                <td zippy="lowneed" align="right"></td>
            </tr>
        </table>                


    </body>
</html>
