<html>
    <body>


        <h5  >Неликвидные  товары </h5>

        <table class="table   table-sm">
            <tr>
                <th>Склад</th>
                <th>Товар</th>
                <th>Кол.</th>
            </tr>
            <tr zippy="noliqlist">
                <td zippy="noliqitem"></td>
                <td zippy="noliqstore"></td>
                <td zippy="now" style="text-align: right;" ></td>
            </tr>
        </table>
        <div zippy="noliqpag"></div>



    </body>
</html>
