<html>
    <body>
        <div class="row">
            <div class="col-12 col-xl-10">
            
            <h3>Експорт   товарів в  магазин</h3>
                &nbsp;&nbsp;&nbsp;<small><i class="fa fa-exclamation-triangle text-danger"></i>Спецсимволи (типу <b> & ' " `</b>)
                    в назвi або описi може викликати проблеми з вигрузкою</small>

            <br><a zippy="checkconn"><i class="fa fa fa-sync"></i> Перевiрити  з'єднання</a>        
                
                <div class="navbar nav">
                    <form zippy="filter" class="form-inline ">

                        <label for="searchcat">Категорія</label>

                        <select class="form-control mr-sm-2" zippy="searchcat">
                            <option value="0">Не задана</option>
                        </select>


                        <input onclick="$('#loader1').removeAttr('style')" type="submit" class=" mr-2 btn btn-outline-success  "
                               value="Завантажити">
                        <img id="loader1" style="display:none" src="/assets/images/ajax-loader.gif">

                    </form>
                </div>

                <form zippy="exportform">
                    <table class="table   table-sm   ">
                        <tr>

                            <th style="width:30px"><input type="checkbox" id="chall" onchange="chclick()"></th>

                            <th>Найменування</th>
                            <th>Артикул</th>
                            <th class="text-right">Кіл.</th>
                            <th class="text-right">Ціна</th>
                            <th> Опис</th>


                        </tr>
                        <tr zippy="newitemlist">

                            <td><input type="checkbox" zippy="ch" class="chc"></td>
                            <td zippy="name"></td>
                            <td zippy="code"></td>
                            <td zippy="qty" class="text-right"></td>
                            <td zippy="price" class="text-right"></td>
                            <td zippy="desc"></td>

                        </tr>

                    </table>
                    <div zippy="pag"></div>
                    <div class="ml-2 form-group row  ">
                        <label for="ecat">Категорія в магазині </label>
 
                        <select class="   mr-2" zippy="ecat">
                            <option value="0">Не обрано</option>
                        </select>

                        &nbsp;<input onclick="$('#loader2').removeAttr('style')" type="submit"
                                     class="  btn btn-outline-success btn-sm  " value="Відправити">
                        <img id="loader2" style="display:none" src="/assets/images/ajax-loader.gif">
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-8  ">

                <h3>Оновлення цін та кількості</h3>

                <div class="navbar nav">
                            
                  <form zippy="upd" class="form-inline ">
                      <label for="updcat">Категорiя</label>

                        <select class="form-control mr-sm-2" zippy="updcat">
                            <option value="0">Всi</option>
                        </select>
                    <a zippy="updateqty" class="  btn btn-outline-success  ">Оновити кількість</a>
                    <img id="loader3" style="display:none" src="/assets/images/ajax-loader.gif">
                    &nbsp;&nbsp;
                    <a zippy="updateprice" class="  btn btn-outline-success  ">Оновити ціни</a>
                    <img id="loader4" style="display:none" src="/assets/images/ajax-loader.gif">

                     </form>
                </div>
            </div>

            <div class="col-12 col-md-8  ">

                <h3>Iмпорт товарів з магазину </h3>

                <div class="navbar nav">
                    
                    <form zippy="importform" class="form-inline ">

                         <div class="form-check">

                            <input   class="form-check-input" type="checkbox" zippy="createcat">
                            <label class="form-check-label mr-1" for="createcat">Створювати  категорiю як в  магазинi</label>
                            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Категорiя  повинна бути вказана як  головна"></i>
                        </div>


                        <input zippy="getitems" type="submit" class=" mr-2 btn btn-outline-success  "
                               value="Завантажити">
                        <img id="loader6" style="display:none" src="/assets/images/ajax-loader.gif">

                    </form>

                </div>
            </div>
        </div>
        <script>

            function check_updateqty() {

                $('#loader3').removeAttr('style');
            }

            function check_updateprice() {

                $('#loader4').removeAttr('style');
            }

            function check_getitems() {

                $('#loader6').removeAttr('style');
            }

            function chclick() {
                var ch = $("#chall").prop('checked');
                $('.chc').prop('checked', ch)
            }
        </script>
    </body>
</html>
