<html>
    <body>
        <div class="row">
            <div class="col-12 col-xl-10">
            
            <h3>Експорт   товарів в  магазин</h3>
                &nbsp;&nbsp;&nbsp;<small><i class="fa fa-exclamation-triangle text-danger"></i>Спецсимволи (типу <b> &amp; ' " `</b>)
                    в назвi або описi можуть викликати проблеми з вигрузкою</small>

            <br><a zippy="checkconn"><i class="fa   fa-sync"></i> Перевiрити  з'єднання</a>        
                
                <div class="navbar">
                    <form zippy="filter"  >
                       <div class="row  ">
                        <label class="col-form-label col-auto" for="searchcat">Категорія</label>
                        <div class="col-auto  ">
                        <select class="form-control ms-sm-2" zippy="searchcat">
                            <option value="0">Не задано</option>
                        </select>
                       </div>
                         <div class="col-auto  ">
                        <input onclick="document.getElementById('dialogwait').showModal()" type="submit" class=" me-2 btn btn-success  "
                               value="Завантажити">
                      
                        </div>
                       </div>
                    </form>
                </div>

                <form zippy="exportform">
                    <table class="table   table-sm   ">
                        <tr>

                            <th style="width:30px"><input type="checkbox" id="chall" onchange="chclick()"></th>

                            <th>Найменування</th>
                            <th>Артикул</th>
                            <th class="text-end">Кіл.</th>
                            <th class="text-end">Ціна</th>
                            <th> Опис</th>


                        </tr>
                        <tr zippy="newitemlist">

                            <td><input type="checkbox" zippy="ch" class="chc"></td>
                            <td zippy="name"></td>
                            <td zippy="code"></td>
                            <td zippy="qty" class="text-end"></td>
                            <td zippy="price" class="text-end"></td>
                            <td zippy="desc"></td>

                        </tr>

                    </table>
                    <div zippy="pag"></div>
                    <div class="ms-2   row  ">
                        <label class="col-form-label col-auto" for="ecat">Категорія в магазині </label>
                         <div class="col-auto  ">
                          <select class="   me-2" zippy="ecat">
                            <option value="0">Не обрано</option>
                          </select>
                         </div>
                       <div class="col-auto  ">
                        <input onclick="document.getElementById('dialogwait').showModal()" type="submit"
                                     class="  btn btn-success btn-sm  " value="Відправити">
                         
                       
                    </div>
                   </div>
                </form>
                <a  zippy="updatenamestooc" >Оновити назви в магазані<a>
            </div>
            <div class="col-12 col-md-8  mt-4 ">

                <h3>Оновлення цін та кількості</h3>
                 <small>Відповідність товарів забезпечується по артикулу (SKU)</small>
                <div class="navbar">
                            
                  <form zippy="upd"  >
                         <div class="row  ">
                      <label class="col-form-label col-auto" for="updcat">Категорiя</label>
                      <div class="col-auto  ">
                        <select class="form-control ms-sm-2" zippy="updcat">
                            <option value="0">Всi</option>
                        </select>
                    </div>
                  <div class="col-auto  ">
                    <a zippy="updateqty" class="  btn btn-success  ">Оновити кількість</a>
                    </div>
                    <div class="col-auto  "> 
                    <a zippy="updateprice" class="  btn btn-success  ">Оновити ціни</a>
                     
                     </div>
                   </div>
                   </form>
                </div>
            </div>

            <div class="col-12 col-md-8    mt-4 ">

                <h3>Iмпорт товарів з магазину </h3>
                <small>Відповідність товарів забезпечується по артикулу (SKU)</small>
              
                <div class="navbar">
                    
                    <form zippy="importform"  >
                         <div class="row  ">
                          <div class="col-auto pt-2 ">
                         <div class="form-check">

                            <input   class="form-check-input" type="checkbox" zippy="createcat">
                            <label class="form-check-label me-1" for="createcat">Створювати  категорiю як в  магазинi</label>
                            <i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Категорiя  повинна бути вказана як  головна"></i>
                        </div>
                        </div>

                         <div class="col-auto  ">
                        <input zippy="getitems" type="submit" class=" me-2 btn btn-success  "
                               value="Завантажити">
                         </div>
                      </div>

                    </form>

                </div>
                
                <a  zippy="updatenamesfromoc" >Оновити назви з магазану<a>
            </div>
        </div>
        <script>

            function check_updateqty() {
                if(confirm("Оновити?") == false)    return false;
                document.getElementById('dialogwait').showModal()
            }

            function check_updateprice() {
               if(confirm("Оновити?") == false)    return false;
               document.getElementById('dialogwait').showModal()
            }

            function check_getitems() {
                if(confirm("Оновити?") == false)    return false;
                document.getElementById('dialogwait').showModal()
            }
            function check_updatenamestooc() {
                if(confirm("Оновити?") == false)    return false;
                document.getElementById('dialogwait').showModal()
            }
            
            function check_updatenamesfromoc() {
                if(confirm("Оновити?") == false)    return false;
                document.getElementById('dialogwait').showModal()
            }
            
            
            

            function chclick() {
                var ch = $("#chall").prop('checked');
                $('.chc').prop('checked', ch)
            }
        </script>
    </body>
</html>
