<html>

    <body>

        <div class="row  ">
            <div class="col-12  col-sm-10 col-md-6    col-xl-4  ">
                <h4>Налаштування підключення</h4>
                <form zippy="cform">
                    <div class="form-group">
                        <label for="site">Адреса сайту</label>
                        <input type="text" zippy="site" class="form-control" required="required"/>
                         <small>Потрiбно  вводити повну адресу</small>
                    </div>
                     <div class="form-check">
                        <input zippy="v4" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="v4">Opencart v4 </label>

                    </div>
                    
                    <div class="form-group">
                        <label for="apiname">Ім'я API</label>
                        <input type="text" zippy="apiname" class="form-control" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="key">Код API</label>
                        <textarea style="height:150px;" zippy="key" class="form-control" required="required"></textarea>
                    </div>
                    <div class="form-check">
                        <input zippy="ssl" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="ssl">Перевiрка SSL сертифiката </label>

                    </div>

                

                    <div class="form-group  ">
                        <label for="salesource">Джерело продаж</label>
                        <select class="form-control" zippy="salesource">
                            <option value="0">Не обрано</option>
                        </select>
                    </div>                    
                    <div class="form-group   ">
                        <label for="defpricetype">Тип ціни </label>

                        <select class="form-control" zippy="defpricetype">
                            <option value='0'>Не обрано</option>

                        </select>
                        <small class="form-text text-muted">Ціна для оновлення в магазині </small>

                    </div>
                   <div class="form-group   ">
                        <label for="defmf">Каса за замовчанням</label>

                        <select class="form-control" zippy="defmf">
                            <option value='0'>Не вказана</option>

                        </select>
                        <small class="form-text text-muted">Якщо оплата  не  на  стороні IM </small>

                    </div>
                    <div class="form-check">
                        <input zippy="outcome" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="outcome">Тільки списання товару</label>
                        <small class="form-text text-muted"> Замість замовлення створювати і автоматично проводити ТТН. 
                        Використовується, якщо замовлення обробляються на стороні IМ.</small>
                        <br>
                    </div>
                    <div class="form-check">
                        <input zippy="insertcust" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="insertcust">Iмпортувати контрангентiв </label>
                        <small class="form-text text-muted">Iмпортувати клiентiв з IМ в довiдник контрагентiв.</small>
                        <br>
                    </div>

                    <div class="form-check">
                        <input zippy="setpayamount" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="setpayamount">Ставити статус  До сплати  </label>
                        
                        <br>
                    </div>
                        
                    <div class="form-group">
                        <input type="submit" value="Зберегти" zippy="save" class="btn   btn-primary mr-2"/>
                            

                    </div>
                </form>
            </div>
        </div>
        <script>

            function check_check() {

                 document.getElementById('dialogwait').showModal()
            }

        </script>

    </body>
</html>
