<html>

    <body>

        <div class="row  ">
            <div class="col-12  col-sm-10 col-md-6    col-xl-4  ">
                <h4>Настройки соединения</h4>
                <form zippy="cform">
                    <div class="form-group">
                        <label for="site">Адрес сайта</label>
                        <input type="text" zippy="site" class="form-control" required="required"/>
                        <small>Нужно  ввводить  полный  адрес</small>
                    </div>
                    <div class="form-group">
                        <label for="apiname">Имя API</label>
                        <input type="text" zippy="apiname" class="form-control" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="key">Код API</label>
                        <textarea style="height:150px;" zippy="key" class="form-control" required="required"></textarea>
                        <small class="form-text text-muted"><i class="fa fa-exclamation-triangle"> В настройках API опенкарта
                                должен быть добавлен IP адрес сайта учетной системы.</i></small>
                    </div>
                    <div class="form-check">
                        <input zippy="ssl" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="ssl">Проверка SSL сертификата </label>

                    </div>
                    <div class="form-group  ">
                        <label for="defcust">Покупатель по умолчанию</label>

                        <select class="form-control select2" zippy="defcust">

                            <option value='0'>Не выбран</option>
                        </select>
                        <small class="form-text text-muted">Условный контрагент от имени котрого будут формироватся
                            заказы</small>

                    </div>
                    <div class="form-group   ">
                        <label for="defpricetype">Тип цены </label>

                        <select class="form-control" zippy="defpricetype">
                            <option value='0'>Не выбран</option>

                        </select>
                        <small class="form-text text-muted">Цена для обновления в магазине </small>
                    </div>
                    <div class="form-check">
                        <input zippy="outcome" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="outcome">Только списание </label>
                        <small class="form-text text-muted">Вместо заказа формировать и автоматически проводить расходную
                            накладную.
                            Используется если заказы обрабатываются на стороне ИМ.</small>
                        <br>
                    </div>
                    <div class="form-check">
                        <input zippy="insertcust" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="insertcust">Импортировать контрангентов </label>
                        <small class="form-text text-muted">Импортировать зарегистрированых клиентов из ИМ в справочник
                            контрагентов.</small>
                        <br></div>

                    <div class="form-group">
                        <input type="submit" value="Сохранить" zippy="save" class="btn   btn-primary mr-2"/>
                        
                        <img id="loader" style="display:none" src="/assets/images/ajax-loader.gif">

                    </div>
                </form>
            </div>
        </div>
        <script>

            function check_check() {

                $('#loader').removeAttr('style');
            }

        </script>

    </body>
</html>
