<html >

    <body >
        <div class="row ">    
            <div class="col-12">    
                <ol class="breadcrumb" zippy="breadcrumb">

                </ol>
            </div>
        </div>    
        <div  class="row">

            <div class="col-12 col-sm-4 col-lg-3 "  >  
                <div class="card ">  
                    <a data-type="image" zippy="product_image" data-toggle="lightbox" data-gallery="product" class="  card-link"    >
                        <img  class="card-img-top"  /></a>
                </div>    
            </div>	


            <div class="col-12 col-sm-8 col-lg-6 " 
                 <div class="row">
                    <div class="col-12">
                        <span  zippy="novelty"  class="badge badge-success">Новинка</span>
                        <span  zippy="topsold" class="badge badge-warning">Топ продаж</span>

                        <h4 zippy="productname"  ></h4> 
                        <h6><span zippy="manufacturername"></span></h6>
                        <p   zippy="description" ></p>

                    </div> 
                    <div class="col-12">
                        <h3 ><del style="color:red;"  zippy="oldprice"></del>
                            &nbsp;<b zippy="price"></b> грн</h3>
                        <br><b zippy="onstore"></b>
                        <br><a class="btn btn-success " zippy="buy" ></a>

                    </div> 
                    <div class="col-12">
                        <a zippy="addtocompare" >Добавить  к  сравнению</a><a zippy="compare" >Сравнить</a>
                        &nbsp;&nbsp;&nbsp;<a onclick="openComments()" href="return false;" zippy="comments"></a> <input readonly="readonly"   type="hidden" class="rating"  zippy="rated"   value="0"  data-filled="fas fa-star" data-empty="far fa-star "/>
                    </div> 
                </div> 


            </div>


        </div>     <br>
        <div  class="row">  
            <div  class="col-12 col-md-10">  


                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link  active" href="#descriptiontab" data-toggle="tab">Описание</a></li>
                    <li class="nav-item"><a class="nav-link   " href="#detailstab" data-toggle="tab">Характеристики</a></li>
                    <li class="nav-item"><a class="nav-link   " id="mt" href="#messagestab" data-toggle="tab">Отзывы</a></li>
                </ul>
                <div class="tab-content">
                    <div class="row tab-pane active" id="descriptiontab">
                        <div class="col-12 col-md-8"  >  
                            <div zippy="fulldescription"  ></div>
                        </div>
                    </div>
                    <div class="row tab-pane" id="detailstab">
                        <div class="col-12 col-md-8"  >  
                            <table    class="table table-sm   table-stripped  ">
                                <tr  zippy="attributelist">
                                    <td><span zippy="attrname" ></span></td>
                                    <td><span zippy="attrvalue" ></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class=" tab-pane" id="messagestab">
                        <div class="row "  >
                            <div class="col-12 col-sm-8  col-sm-6 "  >  

                                <table class="table"  >
                                    <tr zippy="commentlist">
                                        <td>

                                            <span  zippy="created"></span>&nbsp;&nbsp;<input readonly="readonly"   type="hidden" class="rating"  zippy="rate"   value="0"  data-filled="fas fa-star" data-empty="far  fa-star "/> 
                                            <br><b><span  zippy="nick"></span>:</b>  
                                            <p zippy="comment" ></p>

                                        </td>
                                        <td>
                                            {{#islogined}}    
                                            <a zippy="deletecomment" class="deletecomment" title=" Удалить коментарий "><i style="color:red;" class="fa fa-trash-alt"></i></a>
                                            {{/islogined}}    
                                        </td>
                                    </tr>
                                </table>
                                <div zippy="pag"></div>


                            </div>
                        </div>
                        <div class="row  " id="messagestab">
                            <div class="col-12 col-sm-6  col-sm-4 "  >  
                                <form method="post" zippy="formcomment">
                                    <a name="commentbegin" ></a>  
                                    <div class="form-group">
                                        <label>Имя</label>
                                        <input class="form-control" type="text" zippy="nick" required="required"  />
                                    </div>
                                    <div class="form-group">
                                        <label>Oценка</label>
                                        <input   type="hidden" class="rating"  zippy="rating"   value="0"  data-filled="fas fa-star" data-empty="far fa-star "/>
                                    </div>

                                    <div class="form-group">
                                        <label>Отзыв</label>
                                        <textarea class="form-control" type zippy="comment" cols="40" rows="5" required="required" ></textarea>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Добавить" class="btn btn-primary "/>
                                    </div>                         




                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {

                $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                    event.preventDefault();
                    $(this).ekkoLightbox({'alwaysShowClose': true});
                });




            });


            function openComments() {

                window.location = '#commentbegin';
                $('#mt').click();
            }


        </script>
    </body>
</html>
