<html >
  <head>
      <title> Документи на вiдправку   </title>

    </head>
    <body>
     {{={| |}=}}   
        <div class="row"  id="vapp">
            <div class="col-12   col-xl-10"  >

                <h3>Документи на вiдправку </h3>
                     
                     <div class="navbar nav">
                                <form  class="form-inline ">

                                    <label for="firm"> Компанiя </label>
                                    <select class="form-control  mr-2" v-model="firmid" id="firm" name="firm" >
                                       <option value="0">Не накладати  КЕП </option>
                                       <option v-for="f in firms" :value="f.key">
                                          {{ f.value }}
                                      </option>
                                    </select>

                                    <label for="customer"> Контрагент </label>
                                    <select v-model="custid" class="form-control  mr-2" id="customer" name="customer" >
                                       <option value="0">Всi </option>
                                       
                                      <option v-for="c in clist" :value="c.key">
                                          {{ c.value }}
                                      </option>
                                    </select>
                                 
                                    <label for="doctype"> Тип  документу </label>
                                    <select v-model="doctype" class="form-control mr-2" id="doctype"  name="doctype" >
                                       <option value="GoodsIssue"    >Видаткова  накладна </option>
                                       <option value="Invoice">Рахунок фактура </option>
                                       <option value="ServiceAct">Акт виконаних робiт </option>
                                    </select>

                                    <button v-on:click.prevent="onFilter" class="  btn btn-success " >Вибрати</button>


                                </form>
                            
                  
                          </div>
            </div>
            <div class="col-12   col-md-10 col-xl-8"  >

                
                <table class="table  table-sm">
                    <tr>
                        <th style="width:30px"> <input v-model="selall" v-on:change="onSelAll"  name="chlist"  class="seldel" type="checkbox"></th>
                        <th>Номер</th>
                        <th>Дата</th>
                        <th class="text-right">Сума</th>
                        <th>Контрагент</th>

                    </tr>
                    <tr  v-for="d in docs">
                        <td  ><input :id="d.id" :value="d" v-model="selectedDocs"     class="seldel" type="checkbox"></td>
                        <td  >{{d.number}}</td>
                        <td  >{{d.date}}</td>
                        <td  class="text-right">{{d.amount}}</td>
                        <td  >{{d.cname}}</td>
                    </tr>
                </table>
                
                <a class="btn btn-sm btn-outline-success" v-on:click.prevent="onMark">Позначити  як вiдправленi</a>
                <div v-show="showsp1" class="spinner-border spinner-border-sm"></div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-sm btn-success" v-on:click.prevent="onSend">Вiдправити  в  papeless</a>
                <div v-show="showsp2" class="spinner-border spinner-border-sm"></div>
                <div v-html="log" class="mb-4"> </div>
                
            </div>
        </div>
       {|={{ }}=|}  
       
      <script>
       var vapp = new Vue({
            el: '#vapp',
                data() { return  {
                   
                  
                  log:"",
                  showsp1:false,
                  showsp2:false,
                  counter:0,
                  selall:0,
                  custid:0,
                  firmid:0,
                  doctype:'GoodsIssue',
                  docs:[] ,
                  selectedDocs:[] ,
                  clist:[] ,
                  firms:[]
                  
                  
                  
                     
              } }            
             ,         
       
           methods: {
                init:function(){
                      
                  callPageMethod('init',[], null,(data)=> 
                  {
                       let tmp =   JSON.parse(data)  
                       this.firmid = tmp.firmid; 
                       this.firms = tmp.firms; 
                       this.clist = tmp.clist; 
                              
                      
                  });
                            
                              
                } ,
                
                
               onFilter:function(){
                   this.log =""   
                   this.loaddata() ;       
          
               } ,    
            
              
               onMark:function(){
                   if(this.selectedDocs.length ==0) return;
                   if(confirm("Позначити як вiдправленi?")==false)  return
                   
                   this.showsp1 = true
                   
                   var ids = [] 
                   for(var d of this.selectedDocs) {
                        ids.push(d.id)
                   }   
                        
                   callPageMethod('mark',[], ids.join(","),(data)=> 
                   {
                        
                       this.loaddata() ;       
           
                       this.showsp1 = false
                    
                       
                       
                   });         
                        
          
               } ,    
               onSend:function(){
                   if(this.selectedDocs.length ==0) return;
                   if(confirm("Вiдправити  в  papeless?")==false)  return
                   this.showsp2 = true
                   this.log = ""
                    
                    
                    
                   callPageMethod('connect',[], null,(data)=> 
                   {
                       if(data=="") {
                          this.log = "Успішне  з`єднання...<br>" 
                       }
                       else {
                          this.log = data 
                          this.showsp2 = false
                          return
                       }
                       this.counter = this.selectedDocs.length
                       
                       for(var d of this.selectedDocs) {
                            callPageMethod('send',[d.id,this.firmid ], null,(data)=> 
                            {
                                    this.log= this.log + data +"<br>"
                           
                                    this.counter--
                           
                           
                           });   
                       }   
                   
                   });   
                   
                
               } ,    
            
           onSelAll:function(){
                   if(this.selall==false) {
                       this.selectedDocs = []
                   }  else {
                       this.selectedDocs = this.docs
                   }
                   
          
               } ,    
            
              
           
               loaddata:function(){
                   
          
                  
                  this.counter=0
                     
                  callPageMethod('loaddocs',[this.custid,this.doctype], null,(data)=> 
                  {
                       let tmp =  JSON.parse(data)  
                       this.docs = tmp.docs 
                       this.selectedDocs = []  
 
                    
                       
                       
                  });
                      
          
               } ,    
           },    
        watch:   { 
                   counter(newVal, oldVal) { 

                       if(oldVal>0 && newVal==0) {
                           this.loaddata() ;       
               
                           this.showsp2 = false
                              
                       }
                  
                } 
           } ,
    
          mounted: function(){
             
              this.init();      
              
         }  ,       
            components: {   
             //  'select2': httpVueLoader('/assets/js/vue/select2.vue')
                     
               }            
        })   
     </script>       
    </body>
</html>
