<html>
    <head>
      <title> Налаштування   </title>

    </head>

    <body>

        <div class="row  ">
            <div class="col-12  col-sm-10 col-md-6    col-xl-4  ">
                <h4>Налаштування </h4>
                <form zippy="cform">
         
                     <div class="form-group">
                        <label for="clientid">Клієнт ID</label>
                        <input type="text" zippy="clientid" class="form-control" required="required"/>
                    </div>
                     <div class="form-group">
                        <label for="secret">Secret</label>
                        <input type="text" zippy="secret" class="form-control" required="required"/>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Зберегти" class=" btn   btn-primary  "/>
                        <br> <small>Збережiть данi перед перевiркою з'єднання</small>
                    </div>
                </form>  
                <a zippy="check">Перевiрити з'єднання</a>
              
            </div>
        </div>
       

    </body>
</html>
