<html>
    <body>
       
        <span zippy="_docid_"  ></span>   
        <span zippy="_path_"  ></span>   
          {{={| |}=}}   
        <div   id="vdocview" class="   p-3 mb-3    ">
          
<ul class="nav nav-tabs">
  
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#tprint"><i class="fa fa-print"></i> Форма для друку</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tdocs"><i class="fa fa-project-diagram"></i> Зв'язанi документи <span   class="badge badge-pill badge-info" v-show="doccnt>0" v-text="doccnt"> </span></a>
  </li>
 <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tcomm"><i class="fa fa-comments"></i> Коментарi  <span   class="badge badge-pill badge-info" v-show="msgcnt>0" v-text="msgcnt"> </span></a>
  </li>
 <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tfiles"><i class="fa fa-paperclip"></i> Прикрiпленi файли <span   class="badge badge-pill badge-info" v-show="filescnt>0" v-text="filescnt"> </span></a>
  </li>
 <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#thist"><i class="fa fa-calendar-alt"></i> Iсторiя змiн</a>
  </li>
<li class="nav-item" v-show="docdata.isscan">
    <a class="nav-link" data-toggle="tab" href="#tscan"><i class="fa fa-image"></i> Скан оригiналу</a>
  </li>
 
</ul>  
<div class="tab-content" v-show="loaded">
  
  <div class="tab-pane   show active" id="tprint"> 
       
       <a   v-if="docdata.usemobileprinter" :href="printmob" target="_blank"   title="Друк"><i class="fa fa-print mr-2"></i> </a>
       <a v-else  href="javascript:void(0)"   onclick="printform()" title="Друк"><i class="fa fa-print mr-2"></i></a>   
    
        
        <a v-show="docdata.exports.word" :href="word"  target="_blank" title="Експорт в Word"><i class="fa fa-file-word mr-2"></i>   </a>
        <a v-show="docdata.exports.excel"  :href="excel"   target="_blank" title="Експорт в Excel"><i class="fa fa-file-excel mr-2"></i>  </a>
        <a v-show="docdata.exports.pdf"   :href="pdf"  target="_blank" title="Експорт в PDF"> <i class="fa fa-file-pdf mr-2"></i>  </a>
        <a v-show="docdata.exports.email" v-on:click="sendmail"   href="javascript:void(0)"  title="Вiдправка  по  поштi"> <i class="fa fa-envelope mr-2"></i>  </a>
    
        <span v-show="docdata.exports.pos">
       
       <a v-if="docdata.usemobileprinter" :href="printpos" target="_blank" title="Друк на  чековому принтерi"> <i class="fas fa-cash-register mr-1"></i></a>
       <a v-else   onclick=" printpos()" title="Друк на  чековому принтерi"><i class="fas fa-cash-register mr-1"></i> </a>
         </span>            
       
       <br>
                    

        <div id="preview" v-html="docdata.html" >  
        </div>
        <div id="previewpos" style="display:none;" v-html="docdata.htmlpos" >
        </div> 
  </div>
  
  <div class="tab-pane  " id="tdocs">
              <div class="row">
              <div class="col-12 col-md-4 col-xl-3">
              <table class="table table-sm"   >
                <tr>
                    <td colspan="2" v-show="docdata.pdoc_id>0">
                       <b>Батькiвський документ:</b> <br> <a v-on:click="opendoc(docdata.pdoc_id)" href="javascript:void(0)"  >{{docdata.pdoc_name}}</a>
                    </td>
                </tr>
                <tr v-for="item   in  reldocs" >
                    <td><a v-on:click="opendoc(item.id)"  href="javascript:void(0)">{{item.name}}</a></td>
                    <td><a v-show="item.candel"   v-on:click="delchilddoc(item.id)" href="javascript:void(0)"><i class="fa fa-trash"></i></a></td>
                </tr>
            </table>
            <hr>
            <form onsubmit="return  false"     >

                <label for="addrel">Додати дочiрнiй документ:</label>
                <div class="form-group">
                    <typeahead  ref="docth"  :onquery="ontext"  :onhit="selectdoc" placeholder="Почнiть вводити номер..."></typeahead>   

                </div>

               
                <input v-on:click="onadddoc" class="btn btn-success  " type="button" value="Додати">
            </form>
      </div>
      </div>
  </div>
 <div class="tab-pane  " id="tcomm">
        <div class="row">
              <div class="col-12 col-md-4 col-xl-3"> 
                       <table class="table table-sm"  >
                        <tr v-for="item   in  msglist"  >
                            <td>
                                <span><b   >{{item.msguser}}</b> <span    class="text-muted float-right">{{item.msgdate}}</span></span>

                                 <p  v-html="item.msgdata"  ></p>
                            </td>
                            <td valign="top">
                               <a v-show="item.candel"   v-on:click="delmsg(item.id)" href="javascript:void(0)"><i class="fa fa-trash"></i></a>
                            
                            </td>
                        </tr>
                    </table>
                     <form id="msgform"  onsubmit="return  false"  >
       
                        <div class="form-group">
                            <label for="addmsg"> Коментар: </label>
                            <textarea  name="msgtext"  class="form-control" required="required"  
                                      style=" height:120px;"></textarea>
                        </div>
                        <input v-on:click="onaddmsg" class="btn btn-success  " type="button" value="Додати">
                    </form>   
  </div>
  </div>
  </div>
 <div class="tab-pane  " id="tfiles">
                      
       <div class="row">
              <div class="col-12 col-md-4 col-xl-3"> 
                       
                        <table class="table table-sm">
                        <tr v-for="item   in  fileslist">
                            <td  >
                            <a :title="item.title"  :href="item.url" v-text="item.filename" target="_blank"></a>
                            </td>
                            <td>
      <a v-show="item.candel"   v-on:click="delfile(item.id)" href="javascript:void(0)"><i class="fa fa-trash"></i></a>
                         </td>                           
                        </tr>
                    </table>

                     <form id="fileaddform" onsubmit="return  false"  enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="addfile"> Вибрати файл: </label>
                            <input name="addfile" class="form-control" type="file" required="required"  >
                        </div>

                        <div class="form-group">
                            <label for="adddescfile"> Коментар </label>
                            <input name="adddescfile" class="form-control" type="text"    >
                        </div>
                        <input v-on:click="onaddfile" class="btn btn-success  " type="button" value="Додати">


                    </form>   
              </div>
  </div>
  </div>
 <div class="tab-pane  " id="thist">
             <div class="row">

                        <div class="col-auto ">
                            <h5>Iсторiя статусiв</h5>
                            <table class="table table-sm">
                                <tr>
                                    <th>Статус</th>
                                    <th>Дата</th>
                                    <th>Змiнив</th>


                                </tr>
                                <tr  v-for="item   in docdata.loglist"  >
                                    <td >{{item.statename}}</td>
                                    <td class="text-nowrap "  >{{item.statedate}}</td>
                                    <td zippy="stateuser">{{item.stateuser}}</td>


                                </tr>
                            </table>
                        </div>
                        <div class="col-auto ">
                            <h5>Iсторiя оплат</h5>
                            <table class="table table-sm">
                                <tr>
                                    <th>Дата</th>
                                    <th>Рахунок</th>
                                    <th class="text-right">Прибуток</th>
                                    <th class="text-right">Видаток</th>
                                  


                                </tr>
                                <tr v-for="item   in docdata.paylist">
                                    <td class="text-nowrap " zippy="paydate">{{item.paydate}}</td>
                                    <td zippy="paymf">{{item.paymf}}</td>
                                    <td class="text-right " zippy="payamountp">{{item.payamountp}}</td>
                                    <td class="text-right " zippy="payamountm">{{item.payamountm}}</td>
                                

                                </tr>
                            </table>
                        </div>
                        <div class="col-auto ">
                            <h5>Проводки по складу</h5>
                            <table class="table table-sm">
                                <tr>
                                    <th>ТМЦ</th>
                                    <th>Код</th>
                                    <th class="text-right">Кiл.</th>
                                    
                                    <th v-show="docdata.showpartion" class="text-right">Обл. цiна</th>
                                  
                                    <th class="text-right">Цiна</th>
                                    <th class="text-right">Сума</th>

                                </tr>
                                <tr v-for="item   in docdata.entrylist" >
                                    <td  >{{item.itname}}</td>
                                    <td  >{{item.itcode}}</td>
                                    <td class="text-right "  >{{item.itqty}}</td>
                                    
                                    <td v-show="docdata.showpartion" class="text-right "  >{{item.itpartion}}</td>
                                   
                                    <td class="text-right "  >{{item.itprice}}</td>
                                    <td class="text-right "  >{{item.itamount}}</td>


                                </tr>
                            </table>
                        </div>
                    </div>
  </div>
  <div class="tab-pane  " id="tscan" v-show="docdata.isscan">
       <img   :src="docdata.scanimage"  />

  </div>
 
</div>

  
        </div>
      {|={{ }}=|}  
        <script>

            var _docid =0
        
            function printform() {
                $('#previewpos').attr('style', 'display:none');
                $('#preview').attr('style', 'display:block');
                $('#preview').printThis();
            }

            function printpos() {
                $('#preview').attr('style', 'display:none');
                $('#previewpos').attr('style', 'display:block');
                {{^printserver}}
                  $('#previewpos').printThis();
                {{/printserver}}
               
                {{#printserver}}
                  
                     var path=  $('#_path_').attr('path')         
               
                  callPageMethod(path +'::printEP',[_docid], null,(data)=> 
                  {
                     
                      var data = JSON.parse(data)
                      
                     
                  
                      if(data.error  != "") {
                          toastr.error(data.error)
                      } else {
                         //отправояем на  принтер 
                         sendPS("["+data.buf+"]" )                             
                          
                      }
                  
                  });                
                  
                  
                  
                {{/printserver}}
            }

               
        var vdocview = new Vue({
            el: '#vdocview',
        
              data() { return  {
                   
                  docid:0,
                   path:'',
                   loaded:false,
                  docdata:{
                      exports:{}
                  } ,
                  reldocs:[] ,
                  childdocid:0,
                  msglist:[]  ,
                  fileslist:[]  
                  
                     
              } }            
    ,
     computed:{
         printmob:function(){
              return '/index.php?p=App/Pages/ShowDoc&arg=print/'+this.docid  
         } ,
         printpos:function(){
              return '/index.php?p=App/Pages/ShowDoc&arg=pos/'+this.docid  
         } ,
         word:function(){
              
              return '/index.php?p=App/Pages/ShowDoc&arg=doc/'+this.docid  
         } ,
         excel:function(){
              return '/index.php?p=App/Pages/ShowDoc&arg=xls/'+this.docid  
         } ,
         pdf:function(){
            //  return '/showdoc/pdf/'+this.docid  
              return '/index.php?p=App/Pages/ShowDoc&arg=pdf/'+this.docid  
         }  ,
         showprintposmob:function(){
              return   docdata.pos== true && docdata.usemobileprinter== true
         }  ,
         showprintpos:function(){
              return  docdata.pos== true && docdata.usemobileprinter== false  
         }   ,
         doccnt:function(){
              return  this.reldocs.length  
         }  , 
         msgcnt:function(){
              return  this.msglist.length  
         }    ,
        filescnt:function(){
              return  this.fileslist.length  
         }   
         
     },
          watch:   { 
              docid(newVal, oldVal) { 
                   
                   this.load()
                  
                } 
           }  
         ,   
         mounted: function(){
             
              this.docid=  $('#_docid_').attr('docid')         
              this.path=  $('#_path_').attr('path')         
              _docid=  $('#_docid_').attr('docid')         
                         
        }  ,      
           methods: {
                load:function(){
                      
                   callPageMethod(this.path +'::loaddata',[this.docid], null,(data)=> 
                  {
                    
                        
                      this.loaded = true;
                      this.docdata = JSON.parse(data) ;
                      this.loaddocs()  
                      this.loadmessages()  
                      this.loadfiles()  
             
                      $('a[href="#tprint"]').tab('show') 
                
                  
                  });
                            
                            
                }
               ,
               sendmail:function(){
                   //toastr.success('Отправлено','',{'timeOut':'2000'})   
               } 
               ,
               opendoc:function(id){
                   
                  this.docid = id 
                  _docid = id 
               }   ,
             
             
               loaddocs:function( ){
                   
                   callPageMethod(this.path +'::loadchilddocs',[this.docid], null,(data)=> 
                              {    
                                  this.reldocs = JSON.parse(data) ;
                                   
                              });
               }  ,
               delchilddoc:function( id){
                    
                   callPageMethod(this.path +'::delchilddoc',[ id], null,(data)=> 
                              {
                                  this.loaddocs() 
                              });
               } ,
                selectdoc: function (id){
            
                    this.childdocid = id 
                },
                ontext: async function (query){
                   
                    var url  = getMethodUrl(this.path +'::getDocs',[query, this.docid])
                    let response = await fetch(url);
             
                    return  await response.json()  ;
     
                }  ,
                onadddoc:function (){
                    
                    
                   callPageMethod(this.path +'::addchilddoc',[this.childdocid, this.docid], null,(data)=> 
                   {
                      this.loaddocs() 
                   });                    
                   
                   this.childdocid = 0  
                   //this.cleartext = new Date().getTime()   //чтоби  сработал  watch                   
                 //  this.$children[0].query=''
                   this.$refs.docth.query=''
                }   ,
             
             
                delmsg:function( id){
                    
                   callPageMethod(this.path +'::delmsg',[ id], null,(data)=> 
                     {
                        this.loadmessages() 
                     });
               } ,  
                onaddmsg:function (){
                   var el = document.getElementById('msgform') ;
                   var f = new  FormData(el)  
                    
                   callPageMethod(this.path+'::addmsg',[  this.docid], f,(data)=> 
                   {
                        this.loadmessages() 
                   });                    
                   
                     el.reset();
            
                } ,               
               loadmessages:function( ){
                   
                   callPageMethod(this.path+'::loadmessages',[this.docid], null,(data)=> 
                      {
                          
                          this.msglist = JSON.parse(data) ;
                           
                      });
               } ,              
               
                 onaddfile:function (){
                   var el = document.getElementById('fileaddform') ;
                   var f = new  FormData(el)  
                    
                   callPageMethod(this.path +'::addfile',[  this.docid], f,(data)=> 
                   {
                        this.loadfiles() 
                   });                    
                   el.reset();
 
            
                } ,  
                delfile:function( id){
                    
                   callPageMethod(this.path+'::delfile',[ id], null,(data)=> 
                     {
                        this.loadfiles() 
                     });
               } ,  
                  loadfiles:function( ){
                   
                   callPageMethod(this.path +'::loadfiles',[this.docid], null,(data)=> 
                      {
                          
                          this.fileslist = JSON.parse(data) ;
                           
                      });
               }               
               
          } ,
        components: {   
               'typeahead': httpVueLoader('/assets/js/vue/typeahead.vue')
                     
               }            
        }) 
        
    
      
        function setdocid(id){   
              vdocview.docid= id
        }
         
        </script>
    </body>
</html>
   
