<html>
    <body>
     <div   zippy="witempan" class="row">  
        <div class="navbar">

            <form zippy="wisfilter"  >
                <div class="row  ">
                <label class="col-form-label col-auto" for="wissearchkey">пошук</label>
                 <div class="col-auto  ">
                  <input class="form-control ms-sm-2" type="text" zippy="wissearchkey">
                </div>
                <label class="col-form-label col-auto" for="wissearchcat">категорiя</label>
              <div class="col-auto  ">
                <select class="form-control ms-sm-2" zippy="wissearchcat">
                    <option value="0">Не задано</option>
                </select>
                </div>
                <label class="col-form-label col-auto" for="searchtype">Тип </label>
                  <div class="col-auto  ">
                   <select zippy="searchtype" class="form-control ms-sm-2">
                        <option value="0">Всі </option>
                        <option value="1">Товари</option>
                        <option value="2">Мат. та компл.</option>
                        <option value="3">МШП</option>
                        <option value="4">Готова продукція</option>
                        <option value="5">Напівфабрикати</option>
                      
                    </select>
                  </div>
                <label class="col-form-label col-auto" for="wissearchmanufacturer">Бренд </label>
                <div class="col-auto  ">
                <input autocomplete="off" list="wissearchmanlist" class="form-control me-2" zippy="wissearchmanufacturer"/>
                <datalist id="wissearchmanlist">
                    {{#manlist}}
                    <option label="{{mitem}}" value="{{mitem}}">  </option>
                        {{/manlist}}
                </datalist>
               </div>   
               <div class="col-auto  pt-2">    
                 <div class="form-check   ">
                   <label for="wissearchonstore" class="form-check-label">В наявностi </label> 
                   <input type="checkbox" zippy="wissearchonstore" class="form-check-input  me-2"  >
                  </div>                  
              </div>    
             <div class="col-auto  ">      
                <input class="btn btn-success  " type="submit" value="ОК">
              </div>
              </div>
            </form>
        </div>
        <table class="table table-sm" zippy="witemselt">

        </table>

         </div>
       
         <div   zippy="weditpan" class="row">  
           <div   class="col-12 col-md-10 col-xxl-8">  
       
             <form zippy="weditform"  >
                 <h4>Редагування ТМЦ  </h4>
                 <small> Зміни оновлять також довідник номенклатури  </small>
              
                 <div class="form-group row">
                    <label class="col-5 col-form-label" for="weditname">Найменування</label>
                    <div class="col-7">
                        <input required="on" autofocus="on"   class="form-control" zippy="weditname"/>
                    </div>
                </div>
                 <div class="form-group row">
                        <label class="col-5 col-form-label" for="weditbarcode">Штрих код </label>
                        <div class="col-5">
                            <input class="form-control" zippy="weditbarcode"/>
                            <small   >Латинскi  букви i цифри</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-5 col-form-label" for="weditprice">Цiна</label>
                        <div class="col-5">
                              <input style="width: 100px" pattern="[0-9,\.\%]+" class="form-control" zippy="weditprice"/>
                          
                            
                        </div>
                    </div>
                     <div class="form-group row ">
                        <label class="col-5 col-form-label" for="weditdescription">Опис</label>
                        <div class="col-7">
                            <textarea style="height:100px" class="form-control" zippy="weditdescription"></textarea>
                        </div>
                    </div> 
                            
                    <div class=" form-group  mt-4   ">
                         <input zippy="weditcancel"   value="Скасувати" class="btn btn-secondary ms-4 "> 
                         <input   type="submit" value="Зберегти" class="btn btn-primary  ">
                   </div>                            
               </form>   
            </div>
         </div>

          <div   zippy="wcatpan" class="row">                    
                      <div   zippy="wcatlist" class="col-12 col-sm-6 col-md-4  col-xl-3">
                            <div class="card mb-2" zippy="catbtn"  style="cursor:pointer" >

                                <table style="height:100%;width:100%;"  >
                                    <tr><td>
                                            <img zippy="catimage" style="height:100px "  >
                                        </td>
                                        <td valign="middle" align="left">

                                            <b   zippy="catname"> </b>
                                        </td></tr>
                                </table>  




                            </div>

                        </div >  
                        </div >  
          <div   zippy="wprodpan" class="row">
                          <div   zippy="wprodlist" class="col-12 col-sm-6 col-md-4  col-xl-3">
                            <div class="card mb-2" zippy="prodbtn" style="cursor:pointer;;">
                                <table style="height:100%;width:100%;"  >
                                    <tr><td rowspan="2">
                                            <img zippy="prodimage" style="height:100px "  >
                                        </td>
                                        <td   align="left">

                                            <b   zippy="prodname"> </b> 

                                        </td></tr>
                                    <tr><td><b zippy="prodprice" style="font-size:large"></b></td></tr>

                                </table>  



                            </div>

                        </div >        
                    </div >          
        
    </body>
</html>
