<html>
    <body>

        <div class="navbar nav">

            <form zippy="wisfilter" class="form-inline">

                <label for="wissearchkey">пошук</label>
                <input class="form-control mr-sm-2" type="text" zippy="wissearchkey">
                <label for="wissearchcat">категорiя</label>

                <select class="form-control mr-sm-2" zippy="wissearchcat">
                    <option value="0">Не задана</option>
                </select>
                <label for="wissearchmanufacturer">Бренд </label>
                <input autocomplete="off" list="wissearchmanlist" class="form-control mr-sm-2" zippy="wissearchmanufacturer"/>
                <datalist id="wissearchmanlist">
                    {{#manlist}}
                    <option label='{{mitem}}' value='{{mitem}}'>
                        {{/manlist}}
                </datalist>


                <input class="btn btn-outline-success  " type="submit" value="ОК">

            </form>
        </div>
        <table class="table table-sm" zippy="witemselt">

        </table>

    </body>
</html>
