<html>
    <body>
     <div   zippy="witempan" class="row">  
        <div class="navbar nav">

            <form zippy="wisfilter" class="form-inline">

                <label for="wissearchkey">пошук</label>
                <input class="form-control mr-sm-2" type="text" zippy="wissearchkey">
                <label for="wissearchcat">категорiя</label>

                <select class="form-control mr-sm-2" zippy="wissearchcat">
                    <option value="0">Не задана</option>
                </select>
                <label for="wissearchmanufacturer">Бренд </label>
                <input autocomplete="off" list="wissearchmanlist" class="form-control mr-sm-2" zippy="wissearchmanufacturer"/>
                <datalist id="wissearchmanlist">
                    {{#manlist}}
                    <option label='{{mitem}}' value='{{mitem}}'>
                        {{/manlist}}
                </datalist>


                <input class="btn btn-outline-success  " type="submit" value="ОК">

            </form>
        </div>
        <table class="table table-sm" zippy="witemselt">

        </table>

         </div>
        

          <div   zippy="wcatpan" class="row">                    
                      <div   zippy="wcatlist" class="col-12 col-sm-6 col-md-4  col-xl-3">
                            <div class="card mb-2" zippy="catbtn"  style="cursor:pointer" >

                                <table style="height:100%;width:100%;"  >
                                    <tr><td>
                                            <img zippy="catimage" style="height:100px "  >
                                        </td>
                                        <td valign="middle" align="left">

                                            <b   zippy="catname"> </b>
                                        </td></tr>
                                </table>  




                            </div>

                        </div >  
                        </div >  
                        <div   zippy="wprodpan" class="row">
                          <div   zippy="wprodlist" class="col-12 col-sm-6 col-md-4  col-xl-3">
                            <div class="card mb-2" zippy="prodbtn" style="cursor:pointer;;">
                                <table style="height:100%;width:100%;"  >
                                    <tr><td rowspan="2">
                                            <img zippy="prodimage" style="height:100px "  >
                                        </td>
                                        <td   align="left">

                                            <b   zippy="prodname"> </b> 

                                        </td></tr>
                                    <tr><td><b zippy="prodprice" style="font-size:large"></b></td></tr>

                                </table>  



                            </div>

                        </div >        
                    </div >          
        
    </body>
</html>
