<html>
    <body>

        <div  class="shadow-sm  p-3 mb-3 bg-white rounded" > 
            <h4 >Документы к оплате </h4>
           <small>Документы у которых сумма оплаты меньше суммы документаю Оплату можно
            добавить в журнале Расчеты с  контрагентами.</small>
 
            <table   class="table   table-sm">
                <tr>
                    <th>Номер</th>
                    <th>Тип</th>
                    <th>Контрагент</th>
                    <th  class="text-right">Долг</th>
                </tr>
                <tr zippy="ddoclist">
                    <td zippy="number"> </td>
                    <td zippy="type"></td>
                    <td zippy="cust"></td>
                    <td zippy="amount"  class="text-right"></td>
                </tr>
            </table>
            <div zippy="wdpag"></div>
        </div>
    </body>
</html>
