<html>
    <body>

        <div  class="shadow-sm  p-3 mb-3 bg-white rounded" > 
        <h5  >Неликвидные  товары </h5>

        <table class="table   table-sm">
            <tr>
                <th>Склад</th>
                <th>Товар</th>
                <th class="text-right" >Кол.</th>
            </tr>
            <tr zippy="noliqlist">
                <td zippy="noliqitem"></td>
                <td zippy="noliqstore"></td>
                <td zippy="qty"  class="text-right" ></td>
            </tr>
        </table>
        <div zippy="noliqpag"></div>

       </div>

    </body>
</html>
