<html>
    <body>

        <div  class="shadow-sm  p-3 mb-3 bg-white rounded" > 
            <h4 >Недавние документы </h4>
            <small>Документы с недавно измененным статусом</small>
            <table   class="table   table-sm">
                <tr>
                    <th>Номер</th>
                    <th>Тип</th>

                </tr>
                <tr zippy="rdoclist">
                    <td ><a zippy="number"></a></td>
                    <td zippy="type"></td>

                </tr>
            </table>

        </div>
    </body>
</html>
