<html>
<body>

<div class="card p-3 mb-3 bg-white  ">
    <a data-toggle="collapse" href="#collapsenoliq" aria-expanded="false" aria-controls="collapseExample">
        <h4>Ожидаемые товары <i style="font-size:smaller" class="fa fa-angle-down"></i></h4>
    </a>
    <small>Товары ожидающие поступления</small>
    <div class="collapse" id="collapsenoliq">
        <table class="table   table-sm">
            <tr>
                <th>Склад</th>
                <th>Товар</th>
                <th class="text-right">Кол.</th>
            </tr>
            <tr zippy="waitlist">
                <td zippy="waititem"></td>
                <td zippy="waitstore"></td>
                <td zippy="waitqty" class="text-right"></td>
            </tr>
        </table>
        <div zippy="waitpag"></div>

    </div>
</div>
</body>
</html>
