<html>
    <body>
        <div class="row">
            <div class="col-12 col-lg-10">

                <h3>Журнал заказов </h3>


                <div class="navbar nav">
                    <form zippy="filter" class="form-inline ">



                        <label   for="from">С  </label>
                        <input type="text" class="form-control mr-sm-2  " zippy="from" style="width:110px">


                        <label for="to">  по  </label>
                        <input type="text" class="form-control mr-sm-2 " style="width:110px" zippy="to">



                        <label for="searchnumber"> № </label>

                        <input class="form-control mr-2" type="text" zippy="searchnumber" style="width:100px">



                        <select class="form-control mr-2" zippy="status">
                        </select>

                        <input class="form-control mr-2" type="text" zippy="searchtext" placeholder="Поиск по контенту"] >


                        <input type="submit" class="  btn btn-outline-success  " value="ОК">




                    </form>
                </div>
                <table class="table   table-sm   ">
                    <tr>
                  
                        <th>Номер</th>
                        <th>Дата</th>
                        <th style="text-align: right;">Сумма</th>
                        <th>Статус</th>
                        <th> </th>
                        <th>Доставка</th>

                        <th></th>


                    </tr>   <tbody>
                        <tr zippy="doclist">
                    
                            <td zippy="number"></td>
                            <td style="white-space:   nowrap" zippy="date"></td>
                            <td zippy="amount" style="text-align: right;"></td>
                            <td style="white-space:   nowrap" zippy="state"> </td>
                            <td style="white-space:   nowrap"  ><i title="К оплате" zippy="spay"  class="far fa-credit-card"></i> <i title="В доставке" zippy="sship"  class="fas fa-truck"></i> <i title="Запланированный" zippy="splan" class="far fa-calendar-alt"></i>  </td>
                            <td zippy="delivery"></td>

                            <td style="white-space:   nowrap">
                                <a zippy="show" title="Просмотр"><i class="fa fa-search-plus"></i></a>

                            </td>


                        </tr>   </tbody>
                </table>

                <div zippy="pag"></div> 




            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <h5 data-label="statusform">Сменить статус заказа</h5>
                <div class="navbar nav">
                    <form zippy="statusform" class="form-inline ">
                        <button zippy="binprocess" type="submit" class="  btn btn-primary  mr-2 " ><i class="fas fa-wrench"></i> В обработку</button>
                        <button zippy="bpayed" type="submit" class="  btn btn-info  mr-2 " ><i class="far fa-credit-card"></i> Оплачен</button>
                        <button zippy="binshipment" type="submit" class="  btn btn-info  mr-2 " ><i class="fas fa-truck"></i> Отправлен</button>
                        <button zippy="bdelivered" type="submit" class="  btn btn-info  mr-2 " ><i class="fas fa-truck"></i> Доставлен</button>
                        <button zippy="bclose" type="submit" class="  btn btn-success  mr-2 " > <i class="fa fa-gavel"></i> Выполнен</button>
                        <button zippy="bcancel" type="submit" class="  btn btn-danger  mr-2 " > <i class="fa fa-trash"></i> Отменить</button>
                        <a zippy="bttn"  class= "btn btn-info  mr-2"  ><i class="fa fa-file"></i> Создать накладную</a>
                        
                    </form>
                </div>         


                <div zippy="docview"></div>
                <div>
                    <div>
                    </div>
                </div>


                </body>
                </html>
