<html>
    <head>
    </head>

    <body>
        <div class="row" zippy="custpanel">

            <div class="col-12 col-md-8 col-xl-6"  >
                <h3>Расчеты с  контрагентами </h3>
                <h5>Оплата поставщикам</h5>

                <table class="table   table-sm  ">
                    <tr>
                        <th>Контрагент</th>
                        <th style="width:250px;">Документ</th>
                        <th  style="text-align: right;width:100px;">К оплате</th>

                    </tr>
                    <tr zippy="sdoclist">
                        <td zippy="sname"></td>
                        <td   ><a zippy="sdoc"></a></td>
                        <td  style="text-align: right;"><a zippy="samount"></a></td>

                    </tr>
                </table>
                <h5>Оплата покупателей</h5>

                <table class="table   table-sm  ">
                    <tr>
                        <th>Контрагент</th>
                        <th style="width:250px;">Документ</th>
                        <th  style="text-align: right;width:100px;">К оплате</th>

                    </tr>
                    <tr zippy="cdoclist">
                        <td zippy="cname"></td>
                        <td ><a zippy="cdoc"></a></td>
                        <td  style="text-align: right;"><a zippy="camount"></a></td>

                    </tr>
                </table>                


            </div>
        </div>
        <div class="row" zippy="docpanel">
            <div class="col-12 col-md-10 col-xl-6"  >
                <div zippy="docview"></div>

            </div>
        </div>
        <div class="row" zippy="paypanel">
            <div class="col-12 col-md-4 col-xl-3"  >
                <h5>Добавить оплату</h5>
                <h6 zippy="pdocdesc"></h6>
                <form class="form-inline" zippy="payform">

                    <label   for="summa">Сумма  </label>
                    <input type="text" class="form-control mr-sm-2  " zippy="summa" style="width:100px" required="required" pattern="[0-9]+">

                    <button class="btn btn-primary" type="submit">Оплатить</button> 
                </form>
            </div>
        </div>



    </body>
</html>
