<html>
    <head>
    </head>

    <body>
        <div class="row">

            <div class="col-12   col-xl-10" zippy="itemtable">
                <h3>Товары на  складе </h3>
                <form zippy="filter" class="form-inline">


                    <input autocomplete="off" placeholder="Имя  или  код..." class="form-control mr-sm-2" type="text" zippy="searchkey">
                    <label for="searchstore">склад</label>

                    <select   class="form-control mr-sm-2" zippy="searchstore">
                        <option value="0">Все склады </option>
                    </select>         
                    <label for="searchcat">категория</label>

                    <select   class="form-control mr-sm-2" zippy="searchcat">
                        <option value="0">Не задана</option>
                    </select>         


                    <input class="btn btn-outline-success  " type="submit" value="ОК">

                </form>
                    <a zippy="csv"  >Скачать  CSV</a>  
           
                <table class="table   table-responsive-sm   table-sm  table-hover ">
                    <tr>
                        <th>Склад</th>
                        <th>Название</th>

                        <th>Артикул</th>
                        <th>Категория</th>
                        <th>Ед.</th>
                        <th  style="text-align: right;">Зак. цена</th>
                        <th  style="text-align: right;">Кол.</th>
                        <th  style="text-align: right;">На сумму</th>
                        <th  style="text-align: right;">Прод. цена</th>



                    </tr>
                    <tr zippy="itemlist">
                        <td zippy="storename"></td>
                        <td zippy="itemname"></td>

                        <td zippy="code"></td>
                        <td zippy="cat_name"></td>
                        <td zippy="msr"></td>
                        <td zippy="partion" style="text-align: right;"></td>
                        <td zippy="qty" style="text-align: right;"></td>
                        <td zippy="amount" style="text-align: right;"></td>
                        <td zippy="price" style="text-align: right;"></td>


                    </tr>
                </table>
                <div zippy="pag"></div>
            </div>




        </div>
        <script>
            function check_delete() {
                return confirm("Удалить  партию?")
            }
        </script>

    </body>
</html>
