<html>
    <head>
    </head>
    <body>
        <div class="row">
            <div class="col-12 col-xl-10">

                <h3>Експорт нових товарів</h3>
                              <a zippy="checkconn"><i class="fa   fa-sync"></i> Перевiрити  з'єднання</a>
         <div class="navbar">
                    <form zippy="filter"  >
                      <div class="row  ">
                       <label class="col-form-label col-auto" for="searchcat">Категорія</label>
                        <div class="col-auto  ">
                         <select class="form-control ms-sm-2" zippy="searchcat">
                            <option value="0">Не задано</option>
                         </select>
                        </div>
                         <div class="col-auto  ">
                          <input onclick=" document.getElementById('dialogwait').showModal() " type="submit" class=" me-2 btn btn-success  "
                               value="Завантажити">

                       </div>
                      </div>
                    </form>
                </div>

                <form zippy="exportform">
                    <table class="table   table-sm   ">
                        <tr>

                            <th style="width:30px"><input type="checkbox" id="chall" onchange="chclick()"></th>

                            <th>Найменування</th>
                            <th>Артикул</th>
                            <th class="text-end">Кіл.</th>
                            <th class="text-end">Ціна</th>
                            <th> Опис</th>


                        </tr>
                        <tr zippy="newitemlist">

                            <td><input type="checkbox" zippy="ch" class="chc"></td>
                            <td zippy="name"></td>
                            <td zippy="code"></td>
                            <td zippy="qty" class="text-end"></td>
                            <td zippy="price" class="text-end"></td>
                            <td zippy="desc"></td>

                        </tr>

                    </table>
                    <div zippy="pag"></div>
                    <div class="ms-2 form-group    ">


                        &nbsp;<input onclick="document.getElementById('dialogwait').showModal() " type="submit"
                                     class="  btn btn-success   " value="Відправити">


                    </div>
                </form>
            </div>
            <div class="col-12 col-md-8   pt-4">

                <h3>Оновлення цін і кількості</h3>

                <div class="navbar">
                  
                  <form zippy="upd"  >
                      <div class="row  ">
                      <label class="col-form-label col-auto" for="updcat">Категорiя</label>
                         <div class="col-auto  ">
                        <select class="form-control ms-sm-2" zippy="updcat">
                            <option value="0">Всi</option>
                        </select>
                        </div>
                       <div class="col-auto  ">
                    <a zippy="updateqty" class="  btn btn-success  ">Оновити кількість</a>
                      </div>

                      <div class="col-auto  ">
                    <a zippy="updateprice" class="  btn btn-success  ">Оновити ціни</a>
                      </div>
                      
                   </form>

                </div>
            </div>

            <div class="col-12 col-md-8   pt-4">

                <h3>Завантаження товарів з магазину </h3>

                <div class=" ">
                    <a zippy="getitems" class="  btn btn-success  ">Завантажити</a>



                </div>
            </div>
        </div>
        <script>

            function check_updateqty() {
               if(confirm("Оновити?") == false)    return false;

               document.getElementById('dialogwait').showModal() 
            }

            function check_updateprice() {
              if(confirm("Оновити?") == false)    return false;

              document.getElementById('dialogwait').showModal() 
            }

            function check_getitems() {
               if(confirm("Оновити?") == false)    return false;

                document.getElementById('dialogwait').showModal() 
                
            }

            function chclick() {
                var ch = $("#chall").prop('checked');
                $('.chc').prop('checked', ch)
            }
        </script>
    </body>
</html>
