<html>
    <head>
    </head>
    <body>
        <div class="row">
            <div class="col-12 col-xl-10   ">

                <h3>Імпорт замовлень</h3>
                <a zippy="checkconn"><i class="fa   fa-sync"></i> Перевiрити  з'єднання</a>
 

                <div class="card">
                    <form zippy="filter" class="form-inline ">

  <label for="eistatus">Статус в магазині </label>
                        <select class="form-control  mr-2" zippy="eistatus">

                        </select>

                    
                        <input onclick="       document.getElementById('dialogwait').showModal() " type="submit" class=" mr-2 btn btn-outline-success  "
                               value="Завантажити">
                       
                       
                    </form>
                </div>


                <table class="table   table-sm   ">
                    <tr>


                        <th>Номер</th>
                        <th>Дата</th>

                        <th>Клієнт</th>
                        <th class="text-right">Сума</th>
                        <th> Коментар</th>


                    </tr>
                    <tr zippy="neworderslist">


                        <td zippy="number"></td>
                        <td class="text-nowrap" zippy="date"></td>

                        <td zippy="customer"></td>
                        <td zippy="amount" class="text-right"></td>
                        <td zippy="comment"></td>


                    </tr>

                </table>
                <div class="card">
                    <a zippy="importbtn" class="  btn btn-outline-success  ">Імпортувати</a>

                </div>
            </div>
            <div class="col-12 col-xl-10    ">

                <h3>Експорт статусів в магазин</h3>
                <div class="card">
                    <a zippy="refreshbtn" class="  btn btn-outline-success  ">Оновити</a>

                </div>
                <form zippy="updateform">
                    <table class="table   table-sm   ">
                        <tr>
                            <th style="width:30px"><input type="checkbox" id="chall" onchange="chclick()"></th>
                            <th>Номер</th>
                            <th>WC Номер</th>
                            <th>Дата</th>

                            <th>Клієнт</th>
                            <th class="text-right">Сума</th>
                            <th>Статус</th>


                        </tr>
                        <tr zippy="orderslist">
                            <td><input type="checkbox" zippy="ch" class="chc"></td>
                            <td zippy="number2"></td>
                            <td zippy="number3"></td>
                            <td class="text-nowrap" zippy="date2"></td>

                            <td zippy="customer2"></td>
                            <td zippy="amount2" class="text-right"></td>
                            <td zippy="state"></td>


                        </tr>

                    </table>


                    <div class="ml-2 form-group row  ">
                         <div class="col-auto">
                            <label for="estatus">Статус в магазині </label>
                         </div>
                         <div class="col-auto">
                        <select class="form-control  mr-2" zippy="estatus">

                        </select>
                         </div>

                         <div class="col-auto">
                        <input onclick=" document.getElementById('dialogwait').showModal() " type="submit" class="  btn btn-outline-success  "
                               value="Відправити">

                         </div>

                    </div>
                </form>

            </div>
        </div>

        <script>
            function chclick() {
                var ch = $("#chall").prop('checked');
                $('.chc').prop('checked', ch)
            }


        </script>
    </body>
</html>
