<html>
    <head>
    <title> Проекти   </title>

    </head>

    <body>


    
   
    {{={| |}=}}   
    
        <div class="row"  id="vapp" >
            <div v-show="this.mode=='list'" class="col-12   ">
                <h2>Проекти</h2>
                <div class="navbar nav  ">
                    <form   class="form-inline ">
                        <input  v-model="searchtext" placeholder="Пошук..." class="form-control mr-2" type="text"  >

                        <label for="searchstate">статус </label>
                        <select v-model="searchstate" class="form-control  mr-2   "  >
                            <option value="0">Відкриті</option>
                           <option v-for="option in stlist" :value="option.key">
                              {{ option.value }}
                          </option>                            
                        </select>
                        <label for="searchcust">замовник </label>
                        <select v-model="searchcust" class="form-control     "  >
                           <option value="0">Не обрано</option>
                
                           <option v-for="option in custlist" :value="option.key">
                              {{ option.value }}
                          </option>
                       </select>

                      
                        <input v-on:click.prevent="onsearch" type="button" class=" ml-2   btn btn-success  " value="ОК">
                    </form>

                </div>
            </div>
            <div v-show="this.mode=='list'" class="col-12 col-md-10 col-xl-8 ">
                <a  v-on:click.prevent="add()"  class="btn btn-primary  ">Новий проект</a>
                <table class="table table-bordered  table-sm">
                    <tr>
                        <th>Назва</th>
                        <th>Замовник</th>
                        <th>Статус</th>
                        <th colspan="3" class="text-center">Завдання</th>

                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr  v-for="project,index  in projectlist">
                        <td  >{{project.project_name}}</td>
                        <td  >{{project.customer_name}}</td>
                        <td  >{{project.status}}</td>
                        <td style="width:40px" ><span   title="Нові" class="badge badge-success  " v-show="project.inew>0">{{project.inew}}</span></td>
                        <td style="width:40px"><span   title="В роботі" class="badge badge-primary" v-show="project.iproc>0">{{project.iproc}}</span></td>
                        <td style="width:40px"><span   title="Закриті" class="badge badge-secondary" v-show="project.iclose>0">{{project.iclose}}</span></td>

                        <td>
                            <a  v-show="project.allowedit" v-on:click.prevent="show(project.project_id)"   title="Перегляд" href="javascript:void(0)" ><i class="fa fa-eye"></i></a>
                         </td>
                         <td>   
                            <a  v-show="project.allowedit" v-on:click.prevent="edit(project.project_id)"   title="Редагувати" href="javascript:void(0)" ><i class="fa fa-edit"></i></a>
                         </td>
                         <td>
                           
                            <a  v-show="project.allowdel" v-on:click.prevent="del(project.project_id,project.project_name)"   title="Вилучити" href="javascript:void(0)" ><i class="fa fa-trash"></i></a>
                         </td>
                    </tr>
                </table>
               <paginator  v-on:onpage="changepage"  v-bind:rows="rowscnt" v-bind:pagesize="pagesize" buttonscnt="10"></paginator>
 
            </div>

            
            <div v-show="this.mode=='edit'" class="col-12">
                <form    method="post">
                    <div class="row">
                        <div class="col-12 col-md-8  col-xl-6">

                            <div class="form-group">
                                <label for="editname"> Назва</label>
                                <input v-model="editname" id="editname" name="editname" class="form-control" type="text"    >
                            </div>
                            <div class="form-group">
                                <label for="editcust"> Замовник </label>
                                <typeahead   v-model="editcust"  v-model="customer_id"  ref="cust"  :onquery="ontext"   placeholder="Почнiть вводити ..."></typeahead>   

                            </div>
                            <div class="form-group">
                                <label for="editdesc"> Опис </label>
                                <div  id="editdesc" class="form-control mr-2"  ></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4  col-xl-4">
                            <div class="form-group">
                                <label> Перелік учасникiв </label>
                              
                                <div v-for="user in users">
                                  <input type="checkbox" :id="user.key" :value="user" v-model="selectedUsers">
                                  <label :for="user.key">{{user.value}}</label>
                                </div>
                              
                                  
                            </div>
                        </div>
                        <div class="col-12 col-md-4  col-xl-4">

                            <div class="form-group">
                                <input v-on:click.prevent="onback"  type="button" value="Скасувати" class="btn btn-outline-secondary ">
                                <input v-on:click.prevent="onsave" type="button" value="Зберегти" class="btn btn-primary ml-2 "> 
                            </div>

                        </div>
                    </div>
                </form>
            </div>            
           <div v-show="this.mode=='show'" class="col-12 col-md-8 col-xl-6">
                <h4>{{title}} </h4>
                <a href="javascript:void(0)"   v-on:click.prevent="onback" ><i class="fa fa-arrow-circle-left" ></i> До переліку</a>
                &nbsp; &nbsp; <a id="optasks"  ><i class="fa fa-list"></i>  До переліку завдань</a>
                &nbsp; &nbsp; <a id="optasknew"  ><i class="fa fa-plus"></i> Створити завдання</a>

                <form  class="form-inline ">
                        <label for="stlist">Статус </label>
                        <select id="stlist" v-on:change="onchstatus" v-model="currstatus" class="form-control   ml-1  " >
                           <option v-for="option in stlist" :value="option.key">
                              {{ option.value }}
                          </option>                            

                        </select>

                </form>
                 <hr>

                <form id="fileaddform" class="form-inline mb-1"  enctype="multipart/form-data">
                       
                        <label> Вибрати файл: </label>

                        <input name="pfile" class="form-control mr-2" type="file" >

                        <input  v-on:click.prevent="onfile" class="btn btn-outline-info  " type="button" value="Додати">

                    </form>

                    <div v-for="f in filelist"  style="float:left">

                        <i class="fa fa-paperclip"></i> <a :href="f.url" target="_blank">{{f.filename}}</a>
                        &nbsp;<a v-show="f.candel" v-on:click.prevent="delfile(f.file_id)" href="javascript:void(0)"   class="text-danger  text-bold" title="Вилучити">x</a>&nbsp;&nbsp;

                    </div>


                    <hr>
                    <h4>Коментарі</h4>
                    <table style="width:400px" class="table table-sm">
                        <tr v-for="msg in msglist" >
                            <td>
                                <span><b >{{msg.user}}</b> <span  class="text-muted float-right">{{msg.date}}</span></span>

                                <br><span  >{{msg.data}}</span>

                            </td>
                            <td valign="top"><a v-show="msg.candel" v-on:click.prevent="delmsg(msg.message_id)"   title="Вилучити" href="javascript:void(0)"  class="text-danger text-bold">x</a></td>
                        </tr>
                    </table>
                    

                    <form >
                        <label> Коментар: </label>
                        <div class="form-group">
                            <textarea v-model="msg" class="form-control"  style="width:400px;height:120px;"></textarea>
                        </div>
                        <input   v-on:click.prevent="onmsg"  class="btn btn-outline-success  " type="button" value="Додати">
                    </form>
 
                         
          </div>
           <div v-show="this.mode=='show'" class="col-12 col-md-8 col-xl-6">
                <h4>Опис</h4>
                <p v-html="desc"><p>
          </div>
        </div>

    {|={{ }}=|}      
    

        <script>
        
        
     var vapp = new Vue({
            el: '#vapp',
      
      data() { return {
          projectlist:[] ,
          stlist:[] ,
          custlist:[] ,
          users:[] ,
          selectedUsers:[] ,
          rowscnt:0,
          searchtext:'' ,
          searchcust:'0' ,
          searchstate:'0',
          editid:0 ,
          editname:'' ,
          editcust:0,
         

          desc:'' ,
          title:'' ,
          currstatus:0 ,

          msg:"" ,
          msglist:[] ,
          filelist:[] ,
          pagesize:25  ,
          currpage:1  ,
          mode:'list'
      } } ,
     components: {
    
     'typeahead': httpVueLoader('/assets/js/vue/typeahead.vue')
   , 'paginator': httpVueLoader('/assets/js/vue/paginator.vue')
   
           
        }, 

         watch:   { 
             
                  
                
           } ,         
        methods: {
            del:function( project_id,name){    
                
               if(confirm("Видалити  проект '"+name+"'?"))
               {                
                  callPageMethod('del',[project_id], null,(data)=> 
                  {                                
                       if(data != ""){
                          toastr.error( data ,'',{'timeOut':'8000'})
               
                       } else {
                           
                       }           
                       this.loaddata();
                      
                  });      
               } 
            }   ,
            show:function( project_id){    
                 this.editid = project_id;
                 
                 $('#optasks').attr("href","/index.php?p=App/Modules/Issue/Pages/IssueList&arg=0/" + project_id  )                 
                 $('#optasknew').attr("href","/index.php?p=App/Modules/Issue/Pages/IssueList&arg=0/" + project_id +"/true"  )                
                 
                 
                 
                  callPageMethod('show',[project_id], null,(data)=> 
                  {    
                                              
                       let tmp =   JSON.parse(data)  
                  
                     
                       this.title=tmp.name;   
                       this.desc=tmp.desc;   
                       this.currstatus=tmp.status;   

                       this.mode='show'       
                       this.getmsglist();
                       this.getfilelist();
                

                  });                 
                   
            } ,
            edit:function( project_id){    
                  this.editid = project_id;
                
                  callPageMethod('edit',[project_id], null,(data)=> 
                  {                                
                       let tmp =   JSON.parse(data)  
                     
                       this.editname=tmp.name;   
                       this.editcust=tmp.customer_id;
                       this.selectedUsers=tmp.selusers;
                       this.$refs.cust.query = tmp.customer_name;  
                       $('#editdesc').summernote("code",tmp.desc)
                       
                       this.mode='edit'  

                  });               
                
                 
            }   ,     
            add:function( project_id){    
                  
               
                  this.editid = 0
                  this.editname =""
                  $('#editdesc').summernote("code","")                
                 // this.$refs.cust.query = "";       
                  this.mode='edit'  
                  this.editcust=0
                  
                
                 
            }   ,
       
            ontext: async function (query){
                   
                    var url  = getMethodUrl('ontextCustomers',[query ])
                    let response = await fetch(url);
             
                    return  await response.json()  ;
     
                }  ,
       
            onsave:function(  ){    
                  if(this.editname==""){

                     toastr.error("Не введено назву")
                      return;
                  }
                  var data = new  FormData();
                  var u ="";
                  this.selectedUsers.forEach((us) => u = u + ","+ us.key );

                  data.append('users',  u);
                  data.append('name',  this.editname);
                  data.append('customer_id',  this.editcust);
                  data.append('desc',   $('#editdesc').summernote("code")                );
                  
                  callPageMethod('save',[this.editid], data,(data)=> 
                  {                                
                       if(data==""){ 
                         this.mode='list' 
                         this.loaddata( (this.currpage-1) * this.pagesize ); 
                       } else {
                           toastr.error(data)
                       }
                  });               
                
                 
            }   ,
            
            onchstatus:function(  ){    

                  callPageMethod('onStatus',[this.editid,this.currstatus], null,(data)=> 
                  {                                
                       this.loaddata( (this.currpage-1) * this.pagesize ); 
                  });               
                

            }   ,
            onmsg:function(){
                  callPageMethod('addMsg',[this.editid], this.msg,(data)=> 
                  {     
                        this.msg=''                           
                        this.getmsglist();
                  });               
             
            } ,
            delmsg:function(id){
                  callPageMethod('delMsg',[id], null,(data)=> 
                  {                                
                        this.getmsglist();
                  });               
             
            } ,
            getmsglist:function(){
                  callPageMethod('getMsgList',[this.editid], null,(data)=> 
                  {                                
                      let tmp =   JSON.parse(data)  
                      this.msglist = tmp.list
                  });               
             
            } ,
            onfile:function(){
                   var el = document.getElementById('fileaddform') ;
                   var f = new  FormData(el)  
          
                  callPageMethod('addFile',[this.editid], f,(data)=> 
                  {     
          
                        this.getfilelist();
                  });               
                  el.reset();

            } ,
            delfile:function(id){
                  callPageMethod('delFile',[id], null,(data)=> 
                  {                                
                        this.getfilelist();
                  });               
             
            } ,
            getfilelist:function(){
                  callPageMethod('getFileList',[this.editid], null,(data)=> 
                  {                                
                      let tmp =   JSON.parse(data)  
                      this.filelist = tmp
                  });               
             
            } ,
                        
            onback:function(  ){    
                
                 this.mode='list'
                
                 
            }   ,
            changepage:function( page){    //кнопка  пагинатора
                 this.currpage = page
                 
                 this.loaddata( (page-1) * this.pagesize );
            }   ,
            loaddata: function(start=0){
                let body={
                    searchtext:this.searchtext,
                    searchcust:this.searchcust,
                    searchstate:this.searchstate,
                    start:start,

                    count:this.pagesize 
                };
                
                  callPageMethod('getList',null, JSON.stringify(body),(data)=> 
                  {
                      let tmp =   JSON.parse(data)  
                      this.projectlist=  tmp.prlist
                     
                      this.rowscnt=tmp.cnt
                      this.custlist=tmp.custlist
 
                      
                  });
            }  ,
            onsearch:function (){
                this.rowscnt=0;
                this.loaddata();
            }  
           
            
        }  ,
        mounted: function(){
            
                  callPageMethod('init',null, null,(data)=> 
                  {

                      let tmp     =  JSON.parse(data)  
                      this.stlist =  tmp.stlist
                      this.users  =  tmp.userlist
                       
                      this.pagesize=tmp.pagesize
                      this.loaddata();
                      
                      if(tmp.id >0) this.show(tmp.id)
                  });            
            
        }
      
    })
 
   
          
        
           

                $('#editdesc').summernote({
                    height: 400,
                    lang: 'uk-UA',

                    callbacks: {
          
                        onPaste: function (e) {

                            var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                            e.preventDefault();
                            document.execCommand('insertText', false, bufferText.replace(/\n/g, ''));
                        }
                    }
                });

         
        </script>
    </body>
</html>
