<html>
    <head>
        <title> Товари у постачальникiв </title>
   </head>

    <body>
        <div class="row">

            <div class="col-12  col-xl-11" zippy="itemtable">
                <h3>Товари у постачальникiв               </h3>

                <div class="card" >

                    <form zippy="filter" class="form-inline">

                        <label for="searchkey">Пошук</label>
                        <input class="form-control mr-2" type="text" zippy="searchkey" onkeydown="onSearch()">
                        <label for="searchbrand">бренд</label>
                        <input class="form-control mr-2" type="text" zippy="searchbrand"  >
                     
                        <label for="searchcust">постачальник </label>

                        <select class="form-control   mr-2" zippy="searchcust">
                            <option   value="0">Не вказано</option>
                        </select>
                        <label for="searchstore">склад</label>
                        <input class="form-control mr-2" type="text" zippy="searchstore"  >
                  
   
                        <input class="btn btn-success mr-4 " type="submit" value="ОК">
                        

                    </form>
                </div>
                <div class="navbar nav justify-content-start" >
               
                <a zippy="addnew" class="btn btn-success mr-4 ml-2" >   Додати</a>
                <a zippy="csv" class="mr-4 "><i  class="fa fa-upload" ></i> Експорт у Excel</a>
                <a zippy="imports" class="mr-4"><i  class="fa fa-download" ></i> Iмпорт з Excel</a>
                <a zippy="importxml" class="mr-4"><i  class="fa fa-download" ></i> Iмпорт з XML</a>
                <a zippy="options"  class="mr-4" ><i  class="fa fa-cog" ></i> Налаштування</a>
                  </div>
                <form zippy="listform">

                    <table class="table table-hover  table-sm ">
                        <tr>
                            <th><i onclick=" $('.seldel').prop('checked', $('.seldel').prop('checked') == false);"
                                style="width:30px;cursor:pointer" title="Зняти/виставити прапорець"
                                    class="fa fa-check-double "></i></th>                    
                            <th>Постачальник</th>
                            <th>Найменування </th>
                            <th>Код у пост.  </th>
                            <th>Артикул  </th>
                            <th>Штрих-код</th>
                            <th>Бренд</th>
                            <th>Склад</th>
                    
                            <th class="text-right  ">Цiна </th>
                            <th class="text-right  ">Кiл.</th>
                            <th>На дату</th>
                            <th> </th>
                            <th> </th>
                           
                            <th></th>
                            <th colspan="2" >В закупку</th>
                          
                           
                        </tr>
                        <tr zippy="itemlist">
                            <td><input  zippy="seldel" class="seldel" type="checkbox"></td>
                
                            <td zippy="customer_name"></td>
                            <td zippy="cust_name"></td>
                            <td zippy="cust_code"></td>
                            <td zippy="item_code"></td>
                            <td zippy="bar_code"></td>
                            <td zippy="brand"></td>
                            <td zippy="store"></td>
                       
                            <td zippy="price" class="text-right  "></td>
                            <td zippy="qty" class="text-right  "></td>
                            <td zippy="updatedon"  ></td>
            
                            <td > <small zippy="comment"></small> </td>
                            <td  > <span style="cursor:pointer" title="Вiдповiдний ТМЦ" zippy="onstore"><i class="fa fa-store"></i></span> </td>
                            <td  > <a zippy="edit"><i class="fa fa-edit"></i></a> </td>
                            <td  align="right" > 
                               <input placeholder="Кiлькiсть" zippy="cartqty" pattern="[0-9\.]+" class="form-control" style="width:50px" >
                              
                             </td>
                             <td>
                              <a title="Додати в  заявку постачальнику" zippy="cart"><i class="fa fa-shopping-cart"></i></a> 
                             </td>
                        </tr>
                        <tr>
                        <td  >
                                <a   zippy="deleteall" title="Видалити"><i class="fa fa-trash text-danger"></i></a>&nbsp;&nbsp;
                              </td>
                        <td colspan="14">
                                
                              </td>
                        </tr>                 
                    </table>
                     <div class="w-50"><div zippy="pag"></div> </div>   
                </form>
            </div>


            <div class="col-12  ">
                <form zippy="itemdetail"  >
                    <h4>Редагування   </h4>
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
     
                            <div class="form-group row">
                                <label class="col-5 col-form-label" for="editcust">Постачальник </label>
                                <div class="col-7">
                                     <input placeholder="Почніть вводити..." class="form-control    " zippy="editcust">
                                     
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-5 col-form-label" for="editcustname">Назва (у постачальника)</label>
                                <div class="col-7">
                                   <input required="on"     class="form-control" zippy="editcustname"/>
                                 
                                </div>
                            </div>
                             <div class="form-group row">
                                <label class="col-5 col-form-label" for="editcustcode">Код  </label>
                                <div class="col-7">
                                   <input required="on"     class="form-control" zippy="editcustcode"/>
                                 
                                </div>
                            </div>
                         
                           <div class="form-group row">
                                <label class="col-5 col-form-label" for="editcustbarcode">Штрих-код</label>
                                <div class="col-7">
                                   <input required="on"     class="form-control" zippy="editcustbarcode"/>
                                 
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-5 col-form-label" for="editbrand">Бренд</label>
                                <div class="col-7">
                                   <input      class="form-control" zippy="editbrand"/>
                                 
                                </div>
                            </div>

                             <div class="form-group row">
                                <label class="col-5 col-form-label" for="editstore">Склад</label>
                                <div class="col-7">
                                   <input      class="form-control" zippy="editstore"/>
                                 
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-5 col-form-label" for="editprice">Ціна</label>
                                <div class="col-7">
                                    <input required="on" style="width: 150px" pattern="[0-9\.\%]+" class="form-control" zippy="editprice"/>
                               </div>
                            </div>
 
                            <div class="form-group row">
                                <label class="col-5 col-form-label" for="editqty">Кількість</label>
                                <div class="col-7">
                                    <input style="width: 150px" pattern="[0-9\.]+"  class="form-control" zippy="editqty"/>
                                  
                                </div>
                            </div>
 

                            <div class="form-group row">
                                <label class="col-5 col-form-label" for="editcomment">Примітка</label>
                                <div class="col-7">
                                    <textarea class="form-control" zippy="editcomment"></textarea>
                                </div>
                            </div>       
                        </div>

                        <div class="col-12  ">

                            <div class="form-group">
                                <input zippy="cancel" type="button" value="До переліку" class="btn btn-outline-secondary mr-4 "> 
                                <input zippy="save" type="submit" value="Зберегти" class="btn btn-primary  ">

                            </div>
                        </div>
                    </div>
                </form>

            </div>     
            
           <div class="col-12 col-md-5 col-xl-3">
                       
                    <form zippy="optionsform">
                         <div class="form-group">
                            <label for="compare">Шукати при iмпортi вiдповiдний ТМЦ в номенклатурi</label>
                            <select zippy="compare" class="form-control">
                               <option value="0">По артикулу+бренду</option>
                               <option value="1">По штрих коду</option>
                               <option value="2">Штрих код потiм артикул+бренд,</option>
                            </select>
                             <small  >Для закупки або оновлення цiн. 
                             В разi  активного  використання прайсiв рiзних постачальникiв слiд  вимкнути в  довiднику  ТМЦ автоматичне  
                             створення артикулу та/або перевiрку артикула  на  унiкальнiсть</small>                                  
                             
                        </div> 
                         <div class="form-check mb-2">
                            <input zippy="optcreateitem" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="optcreateitem">Створювати новий  ТМЦ якщо не  знайдено вiдповiдний</label>
                           
                        </div>                     
                        <div class="form-group">
                            <label for="optclean">Очищати неактуальне за</label>
                            <div style="width:100px;" class="input-group  ">
                                <input  class="form-control"  zippy="optclean" pattern="[0-9]+">
                             <div  class="input-group-append">                                
                               &nbsp; днiв
                            </div> 
                           </div>   
                           <small>Має бути активований планувальник</small>  
                        </div>   
                        <div class="form-check mb-2">
                            <input zippy="optupdate" type="checkbox" class="form-check-input">
                            <label class="form-check-label" for="optupdate">Оновлювати з Прибуткової накладної</label>
                            <br><small>Цiни оновлюватимуться  при  проведеннi документу</small>                                  
                        </div>  
                          
                        <div class="form-group"> 
                         <input zippy="cancelo" type="button" value="Скасувати" class="btn btn-outline-secondary mr-4 "> 
                    
                         <input type="submit" value="Зберегти" class="btn btn-info  ">
                        </div>  
                        
                    </form>    
          
            </div>   
       
        
            <div class="col-12  " >
                
                <form zippy="importform" enctype="multipart/form-data"  >
                 
                    <h4>Iмпорт з Excel</h4>
                         <small>Товар  без  коду постачальника пропускається </small>
                        <div class="row">
                         <div class="col-12 col-md-4 col-xl-3">
                          
                            <div class="form-group  ">
                                <label data-label="icust" for="icust">Постачальник</label>
                                <input zippy="icust" placeholder="Почніть вводити" class="form-control   ">
                                 
                            </div>
                        
                             <div class="form-group  ">
                                <label for="filename">Файл імпорту</label>
                                <input type="file" zippy="filename" class="form-control  "/>
                             </div>
                             <div class="  form-check">
                                <input zippy="passfirst" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="passfirst">Пропустити першу строку</label>
                            </div>
                         </div> 
                         
                        <div class="col-12 col-md-4 col-xl-3">
                      
                             <div class="form-group  ">
                                <label><b>Номери колонок Excel файлу</b> </label>

                            </div>
                             <div class="form-group row">
                                <label  class="col-8 col-form-label" for="colcustname">Назва у постачальника</label>
                                <div class="col-2">
                                    <select   zippy="colcustname" class="form-control  ">
                                </select>  
                                 </div> 
                            </div>                     
                              <div class="form-group row">
                                <label  class="col-8 col-form-label" for="colcustcode">Код  </label>
                                <div class="col-3">
                                    <select style="width:100px;" zippy="colcustcode" class="form-control  ">
                                </select>   </div> 
                            </div>                                                                                
                             <div class="form-group row">
                                <label  class="col-8 col-form-label" for="colcustbarcode">Штрих-код  </label>
                                <div class="col-3">
                                    <select   zippy="colcustbarcode" class="form-control  ">
                                </select>   </div> 
                            </div>                                                                                
                            <div class="form-group row">
                                <label  class="col-8 col-form-label" for="colbrand">Бренд</label>
                                <div class="col-3">
                                    <select   zippy="colbrand" class="form-control  ">
                                </select>  
                                 </div> 
                            </div>                     
                          <div class="form-group row">
                                <label  class="col-8 col-form-label" for="colstore">Склад у постачальника</label>
                                <div class="col-3">
                                    <select   zippy="colstore" class="form-control  ">
                                </select>  
                                 </div> 
                            </div>                     
                                                                             
                            <div class="form-group row">
                                <label  class="col-8 col-form-label" for="colprice">Цiна</label>
                                <div class="col-3">
                                    <select   zippy="colprice" class="form-control  ">
                                </select>  
                                 </div> 
                            </div>                                                                                
                            <div class="form-group row">
                                <label  class="col-8 col-form-label" for="colqty">Кiлькiсть</label>
                                <div class="col-3">
                                    <select   zippy="colqty" class="form-control  ">
                                </select>  
                                 </div> 
                            </div>                                                                                
                            <div class="form-group row">
                                <label  class="col-8 col-form-label" for="colcomment">Коментар</label>
                                <div class="col-3">
                                    <select   zippy="colcomment" class="form-control  ">
                                </select>  
                                 </div> 
                            </div>                                                                                
                        </div> 
                      
                       <div class="col-12">
                       <a zippy="back" class="btn btn-secondary  mr-4 " >Скасувати</a>                          
                            
                        <input zippy="loadimport"    type="submit" value="Iмпортувати" class="btn btn-primary  "> 
                     
                       </div>
                        </div>  
                 
                 
                 </form>
            
            </div>
            
             <div zippy="xmlp" class="col-12  " >
                 <h4>Iмпорт з XML</h4>
                
                <div   class="row  " >
                  <div    class="col-12 col-md-6 col-xl-4 " >
                      <div zippy="tablepanx"    >
                       <a zippy="cancelx">До списку</a>   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    <a data-label="payed" href="javascript:void(0);" data-toggle="modal"
                                   data-target="#modalimhelp"><b>Опис</b> <i class="fa fa-info-circle"></i></a> 
                        <br>
                       <a zippy="addnewx" class="btn btn-success mr-4 ml-2" >   Додати</a>
                                 
                        <table class="table    table-sm  ">
                            <tr zippy="listx"> 
                              <td zippy="custnamex">          </td>

                              <td>  <a   zippy="editx">Редагувати код</a>       </td>
                              <td>  <a   zippy="editi">Iмпорт</a>       </td>
                              <td>  <a   zippy="delx"><i class="fa fa-trash"></i></a>       </td>
                            </tr>   
                        </table>  
                     </div>    
                 
              
                 <form zippy="editformx"    >
                     <div class="form-group  ">
                        <label    for="editcustx">Постачальник </label>
                   
                        <input placeholder="Почніть вводити..." class="form-control    " zippy="editcustx">
                       
                   </div>
                    <div class="form-group  ">
                        <label   for="editcodex">Код   </label>
                   
                        <textarea style="height:300px;" class="form-control" zippy="editcodex"></textarea>
                  
                    </div>       
                       
                     <div class="form-group">
                        <input zippy="cancelex" type="button" value="Скасувати" class="btn btn-outline-secondary mr-4 "> 
                        <input zippy="saveex" type="submit" value="Зберегти" class="btn btn-primary  ">

                    </div>
                                          
             </form> 
                 
                     
           
                 <form zippy="importformx"    >
                 <h6 zippy="imxcustname" ></h6>
                 <a zippy="cancelix" >До списку </a>
                        <div class="form-group  ">
                                <label for="filenamex">Файл імпорту</label>
                                <input onchange="readFile(this)" type="file" zippy="filenamex" class="form-control  "/>
                             </div>
                               <a class="btn btn-success" onclick="OnLoadFile()">Завантажити</a>
                          <span id="spinimx" style="display:none;"   >
                              Завантаження...
                           <div class="spinner-border spinner-border-sm"  >
                            </span>    </div>  
                         
                      
                 </form> 
                 <form zippy="importformxsend" >   
                 <input type="hidden" zippy="imxcust" >
                 <input type="hidden" zippy="imxjson" >
           
                </form>        
                   
             </div>     
            </div>     
        </div>
     </div>
   
               <div id="modalimhelp" class="modal fade  " tabindex="-1"   >
                <div class="modal-dialog modal-dialog-centered   ">
                    <div class="modal-content">
                   
                        <div class="modal-body">
Для iмпорту прайсу необхiдно для файлу данного  постачальника  написати javascript функцiю 
парсингу xml   перетворення данних в  json формат.
<br>  Фц
Функція має  називатись  "parseprice". На вхiд буде  передано змiст  вибраного файлу.
Функцiя має  повернкти строку  json з данними.
 
<pre>
<code>
    function parseprice(xmldata){
      тут виймаємо данi з xml
      return jsondata
    }
</code> 
</pre> 
JSON має мати таку  структуру
<pre>
<code>
  [
     {
        "name":"",
        "cust_code":"",
        "bar_code":"",
        "price":"",
        "quantity":"",
        "brand":"",
        "store":"",
        "comment":"" 
     } ,
     ...
  ]    
</code>     
</pre>  
name - назва товару  <br> 
                  
cust_code - код у постачальника <br>
bar_code - штрих-код  <br>
price - цiна   <br>
quantity - кiлькiсть  <br>
brand - бренд, виробник  <br>
store - склад у постачальника (якщо заданий)   <br>
comment - примiтка <br>
<br>
<i class="fa fa-exclamation-circle"></i> 
Якщо є готовий json, створений стороннiм засобом, функцiя  має просто повернути вхiдний параметр
 

          </div>
                    </div>
                </div>
            </div>    
             
            <script>

            function check_loadimport() {
               document.getElementById('dialogwait').showModal()
          
               return true;
            }
            function check_deleteall() {
                return confirm("Видалити?")
            }
            function check_delx() {
                return confirm("Видалити?")
            }
       
        {{{import_func}}}  
   
                      
   var file=null                 
  function readFile(input) {
       file = input.files[0];
  }   
   function OnLoadFile( ) {
       
     $("#imxjson").val( "" )  ;
        if (file) {
            $("#spinimx").show()  ;  
            const reader = new FileReader();

            reader.onload = function(e) {
                    
                var j=parseprice(e.target.result)
                
                $("#imxjson").val( j )  ;
                $("#importformxsend").submit( )  ;
            };
           
            reader.onerror = function() {
              toastr.error(reader.error)   
            };   
            reader.readAsText(file);
        } else {
           toastr.error("Не вибрано файл")  
        }
    } 
       
  
  
            
        </script>  



    </body>
</html>
