<html>
    <head>
        <title> Журнал доставок  </title>

    </head>
   <body>
        <div class="row"  >

            <div class="col-12 col-md-4 col-xl-3   " >
                <h3>Журнал доставок</h3>
                <div id="newordersalert" style="display:none;"  class="alert alert-success  ml-4"  >
                    <span id="neworderscnt"></span>
                </div>   

            </div>
            <div class="w-100">

                <div class="col-12 col-md-10 col-xl-8" >
                            <div class="navbar">
                                <form zippy="searchform"  >
                                   <div class="row  ">
                                    <label class="col-form-label col-auto" for="searchnumber"> № </label>
                                       <div class="col-auto  ">
                                    <input class="form-control mr-2" type="text" zippy="searchnumber" style="width:100px">
                                    </div>
                                       <div class="col-auto  ">
                                    <input type="submit" class="  btn btn-outline-success  " value="Шукати">
                                 </div></div>

                                </form>
                    </div>





                    <table class="table  table-sm">
                        <tr>
                            <th>Дата</th>
                            <th>Номер</th>

                            <th >Статус</th>
                            <th >Час доставки</th>
                            <th >Адреса </th>
                            <th >Контакт </th>
                            <th >Вiдповiдальний </th>
                            <th class="text-end">Сума</th>

                            <th ></th>
                            <th ></th>
                        </tr>
                        <tr zippy="orderlist">
                            <td zippy="docdate"  >   </td>

                            <td ><a zippy="docnumber"></a></td>
                   <td zippy="state"> </td>

                            <td class="text-nowrap  " zippy="deltime">  </td>
                            <td  zippy="address">   </td>
                            <td  zippy="contact">   </td>
                            <td  zippy="emp_name">   </td>


                            <td class="text-end" zippy="docamount"></td>

                            <td   ><i   zippy="wp" class="fa fa-credit-card" ></i></td>
                            <td zippy="docnotes"></td>
                        </tr>

                    </table> 
                    <a id="dankor"></a>
                </div>
                <div class="col-12 col-md-10 xl-8" >
                    <div   zippy="statuspan">

                        <div class="card">
                            <div class="card-body">
                                <div class="navbar">
                                    <form zippy="statusform"  >
                                    <div class="row  ">
                                          <div class="col-auto  ">
                                        <button zippy="bdelivered" type="submit" class="  btn btn-success  mr-2 ">Доставлено</button>   
                                        </div>
                                        <label class="col-form-label col-auto" data-label="emp" for="emp">Вiдповiдальний</label>
                                           <div class="col-auto  ">
                                        <select zippy="emp" class="form-control mr-2">
                                            <option value="0">Не вказано</option>
                                        </select>   </div>
                                           <div class="col-auto  ">
                                        <button zippy="bsend" type="submit" class="  btn btn-success ml-2  mr-2 ">Вiдправити</button>   
                                       </div></div>
                                    </form>

                                    <form zippy="payform"  >
                                    <div class="row  ">
                                        <label class="col-form-label col-auto" data-label="payamount" for="payamount">До сплати</label>
                                          <div class="col-auto  ">
                                       <input   style="width:100px;" pattern="[0-9,\.]+" zippy="payamount" class="form-control qtyprice mr-2">
                                        </div>
                                        <label class="col-form-label col-auto" data-label="mf" for="mf">Рахунок</label>
                                           <div class="col-auto  ">
                                        <select zippy="mf" class="form-control">
                                            <option value="0">Не вказано</option>
                                        </select>   </div>
                                          <div class="col-auto  ">
                                        <button zippy="bpay" type="submit" class="  btn btn-primary ml-2  mr-2 ">Внести оплату</button>
                                       </div></div> 
                                    </form>
                                </div>
                            </div>
                        </div>




                        <div class="card">
                            <div class="card-body">
                                <div zippy="docview"></div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <script>
                window.setInterval(onNewOrder, 5000);

              
                function onNewOrder() {
                        callPM('getMessages',null,null,(data)=> 
                        {
                           
                               var  answer = JSON.parse(data)  
                              
                                if (answer.cnt > 0) {
                                    $('#newordersalert').show();
                                    $('#neworderscnt').text('Нових доставок ' + answer.cnt);

                                }       
                            
                        } )     
                    
                    
                    
                }

            </script>              
                     
    </body>
</html>
