<html>
    <head>
        <title> Журнал документів  </title>

    </head>
   <body>
        <div class="row">
            <div class="col-12  ">
                
                <h3>Журнал документів
                    <i class="fa fa-info-circle" style="cursor:pointer;font-size:16px;" data-container="body"
                       data-toggle="popover"
                       data-placement="bottom" data-content="Загальний журнал для всіх документів з можливістю їх скасування та видалення.
                       Більш детальне управління статусами проводиться у відповідних спеціалізованих журналах."></i>
                </h3>


      <div class="navbar nav  ">
                    <form zippy="filter" class="row   g-2 align-items-center">
                      <div class="col-auto">
                       <div class="  row no-gutters"> 
                        <label class="col-auto mt-2" for="searchnumber">№ </label>
                        <div class="col-auto">
                           <input autofocus="on" placeholder="Пошук..." class="form-control  " type="search" zippy="searchnumber"
                               autocomplete="off"    onkeydown="onSearch()" style="width:125px" title="Якщо пошук по номеру, iншi елементи фiльтру iгноруються">
                         </div>
                       </div>
                      </div>
                       <div class="col-auto">  
                          <div class=" row no-gutters"> 
                             <label class="col-auto mt-2" for="from">З </label>
                             <div class="col-auto">
                                <input type="text" class="form-control    " zippy="from" style="width:110px">
                             </div>
                         </div>
                      </div>
                       <div class="col-auto"> 
                           <div class=" row no-gutters"> 
                               <label class="col-auto mt-2" for="to"> по </label>
                               <div class="col-auto">
                                  <input type="text" class="form-control   " style="width:110px" zippy="to">
                              </div>
                         </div>
                        </div>
                        <div class="col-auto">   
                          <div class=" row no-gutters"> 
                        <label class="col-auto mt-2" for="status"> Статус </label>
                             <div class="col-auto">
                                <select class="form-control  " zippy="status">
                                    <option value="0">Не вказано</option>
                                </select>
                            </div>
                           </div>
                           </div>
                        <div class="col-auto"> 
                            <div class=" row no-gutters"> 
 
                        <label class="col-auto mt-2" for="doctype"> Тип </label>
                                   <div class="col-auto">
                    <select class="form-control    " zippy="doctype">
                            <option value="0">Не вказано</option>
                        </select>
                           </div>
                           </div>
                           </div>
                           <div class="col-auto"> 
                                <div class=" row  no-gutters"> 
                                <label class="col-auto mt-2" for="searchcust"> Контрагент </label>
                                             <div class="col-auto">
                                  <input placeholder="Почніть вводити..." class="form-control mr-1" type="text" zippy="searchcust">

                           </div>
                           </div>
                           </div>
                        
                           <div class="col-auto"> 
                               <div class=" row no-gutters"> 
                               <label class="col-auto mt-2" for="author"> Автор </label>
                                                            <div class="col-auto">
                               <select class="form-control    " zippy="author">
                                        <option value="0">Не обрано</option>
                                    </select>
                             </div>
                           </div>
                           </div>
                           
                       <div class="col-auto"> 
                           <div class=" row no-gutters"> 
                      <label class="col-auto mt-2" for="store">Склад</label>
                               <div class="col-auto">
                        <select class="form-control mr-sm-2" zippy="store">
                            <option value="0">Не обрано</option>
                        </select>
                         </div>
                        </div>
                        </div>                           
                           
                      <div class="col-auto"> 
                           <div class=" row no-gutters"> 
                      <label class="col-auto mt-2" for="mfund">Рахунок</label>
                               <div class="col-auto">
                        <select class="form-control mr-sm-2" zippy="mfund">
                            <option value="0">Не обрано</option>
                        </select>
                         </div>
                        </div>
                        </div>                           
                           
                           <div class="col-auto"> 
                        <input class="form-control ml-2  mr-2" type="search" zippy="searchtext" placeholder="Пошук по контенту"   >

                           </div>
                           <div class="col-auto"> 

                        <input type="submit" class="  ml-2  mr-2  btn btn-outline-success  " value="ОК">
                        <a zippy="erase" title="Скинути фільтр"><i class="fa fa-eraser"></i></a>
                           
                       </div>
     

                    </form>
                </div>
                <a zippy="csv">Експорт в Excel</a>
                <table class="table   table-sm  table-hover   ">
                    <tr>
                        <th></th>

                         <th class="text-nowrap  "><a zippy="sortdoc">Тип документа</a></th>
                        <th class="text-nowrap  "><a zippy="sortnum">Номер</a></th>
                        <th class="text-nowrap  "><a zippy="sortdate">Дата</a></th>
                        <th class="text-nowrap  "><a zippy="sortcust">Контрагент</a></th>
                        <th class="text-right   "><a zippy="sortamount">Сума</a></th>
                        <th  > Статус </th>
                        {{#usebranch}}
                        <th>Філія</th>
                        {{/usebranch}}

                        <th>Підстава</th>
                        <th></th>
                        <th></th>

                        <th></th>
                      
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tbody>
                        <tr zippy="doclist">
                            <td>
                           <a  zippy="tofav"><i title="Додати в обране" zippy="top" class="far fa-star"  ></i></a>
                            <a  zippy="fromfav"><i title="Видалити з обраного" zippy="nottop" class="fas fa-star"  ></i></a>
                            </td>
                           
                            <td ><a zippy="name"></a></td>
                            <td ><a zippy="number"></a></td>
                            <td   class="text-nowrap" zippy="date"></td>
                            <td zippy="cust"></td>
                            <td zippy="amount" class="text-right  "></td>

                            <td style="white-space:  nowrap" zippy="state"></td>
                            {{#usebranch}}
                            <td zippy="branch"></td>
                            {{/usebranch}}

                            <td><a zippy="parentdoc"></a></td>
                            <td><i zippy="hasnotes" class="far fa-sticky-note" data-toggle="tooltip" data-placement="left"></i></td>
                            <td><i zippy="hasscan" class="far fa-image" title="Прикрiплено скан оригiналу"></i></td>

                            <td><i zippy="isplanned" class="fa fa-calendar-alt" title="Запланований"></i></td>
                            <td><i zippy="waitapp" class="fa fa-gavel" title="Очікує затвердження "></i></td>
                         <td  >
                                <a zippy="qr" title="Зовнішнє посилання  на  документ"><i class="fa fa-link"></i></a> &nbsp; &nbsp;
                            </td>

                            <td style="white-space:   nowrap"> &nbsp;&nbsp;
                                <a zippy="show" title="Перегляд"><i class="fa fa-eye"></i> </a>
                              &nbsp; &nbsp; &nbsp; &nbsp;   <a zippy="edit" title="Редагування"><i class="fa fa-edit"></i> </a>
                                <a zippy="cancel" title="Скасувати виконання"><i class="fa fa-undo"></i> </a>

                            </td>
                            <td>
                                <a zippy="delete" title="Видалення"><i class="fa fa-trash"></i></a>
                            </td>
                            <td>
                                <div class="btn-group" zippy="basedon">
                                    <button title="Створити на підставі" type="button"
                                            class="btn btn-outline-secondary btn-sm  dropdown-toggle" data-toggle="dropdown">
                                        Створити <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu" role="menu" zippy="basedlist">

                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div style="width:50%" zippy="pag"></div>


                <div class="navbar nav">
                    <form zippy="statusform" class="form-inline ">
                         <label data-label="mstates" for="mstates"> Статус </label>
                         <select zippy="mstates" class="form-control mr-2">
                         <option value="0">Не обрано</option>
                         </select>
                         <button zippy="bstatus" class="btn btn-success  mr-2"> Застосувати</button>
                         <label data-label="musers" for="mstates"> Відповідальний </label>
                         <select zippy="musers" class="form-control mr-2">
                         <option value="0">Не обрано</option>
                         </select>
                         <button zippy="buser" class="btn btn-success  mr-2"> Перевести</button>
                         &nbsp;&nbsp;<a zippy="btopay" class="  btn btn-primary  mr-2 ">Сплатити</a>
                        <button zippy="bap" class="btn btn-primary  mr-2"><i class="fas fa-thumbs-up"></i> Затвердити</button>
                        <button zippy="bref" class="btn btn-danger  mr-2"><i class="fas fa-thumbs-down"></i> Відхилити</button>
                        <input class="form-control mr-4" zippy="refcomment" placeholder="Коментар до скасування">
                         
                         <button zippy="bprint" class="btn btn-success  mr-2 ml-4"><i class="fa fa-print"></i> Друк етикеток</button>
                         &nbsp;<input data-label="bprint" zippy="print1" type="checkbox" > <span data-label="bprint">По одній на позицію</span>
                        <button zippy="bcopy" class="btn btn-info  ml-2"><i class="fas fa-copy"></i> Копія</button>                         
                    </form>
                </div>

            </div>

        </div>
        <div class="row" id="dankor">
            <div class="col-12  col-xl-10">
                <div zippy="docview"></div>
            </div>
        </div>
  <div id="pform" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             aria-hidden="true">
            <div class="modal-dialog  ">
                <div class="modal-content">
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td align="center" id="tag"></td>
                            <tr>
                            <tr>
                                <td align="center"><a href="javascript:void(0)"
                                                      onclick="$('#tag').printThis();$('#pform').modal('hide')"
                                                      class="btn btn-success btn-sm">Друк</a></td>
                            <tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <div id="modalqr" class="modal fade  " tabindex="-1" role="dialog"                    aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered   ">
                    <div class="modal-content">
                        <div class="modal-header">
                            
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body  ">
                          <table class="table table-sm">
                          <tr><td align="center">
                            <h5 >Посилання  на  документ</h5>
                           </td></tr>
                          <tr><td align="center">
                          <div class="mb-2" id="imagelink" > </div>
                          </td></tr>
                          <tr><td align="center">
                          <a  class="btn btn-info  " id="urllink"  >  Відкрити посилання        </a>

                           <button onclick="copycplink()" class="btn btn-success   "    title="Скопіювати в кліпборд" >Скопіювати </button>
                          </td></tr> </table>
                        </div>

                    </div>
                </div>
            </div>         
   
        <script>
            

            function onSearch( ) {


                if (event.key === 'Enter' || event.keyCode == 13) {
                    // alert($('#barcode').val());
                    $('#bsubmit').click()
                }
            }


            function check_delete() {
                return confirm("Видалити документ?")
            }
            
  function  copycplink() 
   {
                var url= $('#urllink').attr('href') ;
             
                if(navigator.clipboard){
                    navigator.clipboard.writeText(url);
                }else alert('Ваш браузер не підтримує Clipboard'); 
  
      
                  
               }             
            
        </script>
    </body>
</html>









