<html>
<body>
<div class="row" zippy="listpan">
    <div class="col-12 col-xl-10">
          <div class="card">
   <div class="card-body">
        <h3>Журнал продаж </h3>


        <div class="navbar nav">
            <form zippy="filter" class="form-inline ">


                <label for="searchnumber"> № </label>

                <input class="form-control mr-2" type="text" zippy="searchnumber" style="width:100px">

                <select class="form-control mr-2" zippy="status">
                </select>


                <label for="searchcomp">Продавец</label>
                <select zippy="searchcomp" class="form-control mr-sm-2">
                    <option value="0">Не выбран</option>
                </select>


                <input class="form-control mr-2" type="text" zippy="searchtext" placeholder="Поиск по контенту">


                <input type="submit" class="  btn btn-outline-success  " value="ОК">

            </form>
        </div>
        <a href="/index.php?p=App/Pages/Doc/GoodsIssue" class="btn btn-info mt-2 mb-3">Создать РН</a>&nbsp;
        <a href="/index.php?p=App/Pages/Doc/Invoice" class="btn btn-info mt-2 mb-3">Создать СФ</a>
        <a href="/index.php?p=App/Pages/Doc/TTN" class="btn btn-info mt-2 mb-3">Создать ТТН</a>
        <br> <a zippy="csv">Экспорт в Excel</a>

        <table class="table   table-sm   ">
            <tr>

                <th>Номер</th>
                <th>Дата</th>
                <th>Заказ</th>
                <th>Клиент</th>

                <th>Продавец</th>


                <th class="text-right">Сумма</th>

                <th>Статус</th>


                <th>Примечание</th>
                <th></th>
                <th></th>


            </tr>
            <tr zippy="doclist">

                <td zippy="number"></td>
                <td class="text-nowrap" zippy="date"></td>
                <td zippy="order"></td>
                <td zippy="customer"></td>

                <td zippy="firm"></td>

                <td zippy="amount" class="text-right"></td>


                <td class="text-nowrap" zippy="state"></td>
                <td zippy="onotes"></td>
                <td><i zippy="waitpay" class="fa fa-credit-card" title="Ожидает оплату "></i></td>

                <td class="text-nowrap">
                    <a zippy="show" title="Просмотр"><i class="fa fa-eye"></i></a>

                    &nbsp; <a zippy="edit" title="Редактирование"><i class="fa fa-edit"></i></a>

                </td>


            </tr>

        </table>

        <div zippy="pag">
        </div>
        <a id="dankor"></a>
   
    </div>
    </div>
    </div>

</div>


<div class="row" zippy="statuspan">
    <div class="col-12" >
       <div class="card">
   <div class="card-body">
        <div class="navbar nav">
            <form zippy="statusform" class="form-inline ">
                {{#np}}
                <button zippy="bnp" type="submit" class="  btn btn-success  mr-2 ">Декларация НП</button>
                {{/np}}
                <input zippy="ship_number" style="width:250px;" placeholder="Номер декларации"
                       class="form-control mr-sm-2">
                <button zippy="bsend" type="submit" class="  btn btn-success  mr-2 ">Отправить</button>
                <button zippy="bdevivered" type="submit" class="  btn btn-success  mr-2 ">Доставлено</button>
                <input zippy="closeorder" type="checkbox" class="form-control "> <span data-label="closeorder">Закрыть ордер</span>
                 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                <button zippy="bttn" type="submit" class="  btn btn-success  mr-2 ">Создать ТТН</button>
                <button zippy="bgar" type="submit" class="  btn btn-success  mr-2 ">Гарантийный талон</button>
                <button zippy="bret" type="submit" class="  btn btn-success  mr-2 ">Возврат</button>
 
            </form>
        </div>
       </div>
    </div>
       <div class="card">
   <div class="card-body">  
        <div zippy="docview"></div>

  </div>
    </div>  
    </div>
</div>

<div  zippy="nppan">
      <h4>Создание  декларации  НП</h4>
      <form zippy="npform">
      <div class="row" >
      <div class="col-12 col-md-4 col-xl-3" >

           <div class="form-group">
                <label for="sellastname">Фамилия отправителя</label>
                <input type="text" zippy="sellastname" class="form-control"  />
            </div>
            <div class="form-group">
                <label for="selfirstname">Имя отправителя</label>
                <input type="text" zippy="selfirstname" class="form-control"  />
            </div>
           <div class="form-group">
                <label for="selmiddlename">Отчество отправителя</label>
                <input type="text" zippy="selmiddlename" class="form-control"  />
            </div>
           <div class="form-group">
                <label for="seltel">Тел. отправителя</label>
                <input type="text" zippy="seltel" class="form-control"   />
            </div>
             <div class="form-group">
                <label for="selarea">Область</label>
                <select   zippy="selarea" class="form-control   "  >
                <option value="0">Не  выбрано</option>
                </select>
            </div>
           <div class="form-group">
                <label for="selcity">Город</label>
                <select  zippy="selcity" class="form-control  "  >
                <option value="0">Не  выбрано</option>
                </select>
            </div>
          <div class="form-group">
                <label for="selpoint">Отделение</label>
                <select  zippy="selpoint" class="form-control  "  >
                <option value="0">Не  выбрано</option>
                </select>
            </div>   
     </div>
      <div class="col-12 col-md-4 col-xl-3" >
             <div class="form-group">
                <label for="baylastname">Фамилия получателя</label>
                <input type="text" zippy="baylastname" class="form-control"  />
            </div>
            <div class="form-group">
                <label for="bayfirstname">Имя получателя</label>
                <input type="text" zippy="bayfirstname" class="form-control"  />
            </div>
           <div class="form-group">
                <label for="baymiddlename">Отчество получателя</label>
                <input type="text" zippy="baymiddlename" class="form-control"  />
            </div>
           <div class="form-group">
                <label for="baytel">Тел. получателя</label>
                <input type="text" zippy="baytel" class="form-control"  />
            </div>
             <div class="form-group">
                <label for="bayarea">Область</label>
                <select   zippy="bayarea" class="form-control   "  >
               <option value="0">Не  выбрано</option>
                </select>
            </div>
           <div class="form-group">
                <label for="baycity">Город</label>
                <select  zippy="baycity" class="form-control  "  >
              <option value="0">Не  выбрано</option>
                 </select>
            </div>
          <div class="form-group">
                <label for="baypoint">Отделение</label>
                <select  zippy="baypoint" class="form-control  "  >
              <option value="0">Не  выбрано</option>
                 </select>
            </div>      
     </div>
      <div class="col-12 col-md-6 col-xl-4" >
             <div class="form-group row">
                <label class="col-6" for="npw">Вес</label>
                <div class="col-6">
                <input pattern="[0-9\.]+" type="text" zippy="npw" class="form-control"  />
                </div>
            </div>
             <div class="form-group row">
                <label class="col-6" for="npplaces">Кол.мест</label>
               <div class="col-6">
                <input pattern="[0-9]+" type="text" zippy="npplaces" class="form-control"  />
                </div>
           </div>
             <div class="form-group row">
                <label class="col-6" for="npcost">Оценка, грн</label>
               <div class="col-6">
                <input pattern="[0-9]+" type="text" zippy="npcost" class="form-control"  />
                </div>
           </div>
            <div class="form-group row">
                <label class="col-6" for="npdate">Дата  отправки</label>
               <div class="col-6">
                <input   type="text" zippy="npdate" class="form-control"  />
                </div>
           </div>
           <div class="form-group row">
                <label class="col-6" for="npst">Тип  доставки</label>
                <div class="col-6">
                <select   zippy="npst" class="form-control   "  >
                
                </select>
                </div>
           </div>
          <div class="form-group row">
                <label class="col-6" for="nppt">Кто оплачивает</label>
                <div class="col-6">
                <select   zippy="nppt" class="form-control   "  >
                
                </select>
                </div>
           </div>
         <div class="form-group row">
                <label class="col-6" for="nppm">Тип  оплаты</label>
                <div class="col-6">
                <select   zippy="nppm" class="form-control   "  >
                
                </select>
                </div>
           </div>
            <div class="form-group row">
                <label class="col-6" for="npback">Обратная доставка,грн   </label>
               <div class="col-6">
                <input pattern="[0-9]+" type="text" zippy="npback" class="form-control"  />
                </div>
           </div>
           
      
            <div class="form-group row">
                <label class="col-6" for="npdesc">Описание</label>
                <div class="col-6">
                  <textarea    zippy="npdesc" class="form-control"   ></textarea>
                 </div>
          </div>

       
    </div>
  
      <div class="col-12  col-md-8 col-xl-6 pb-4 pt-4" >
      <h4>Данные  по  ТТН</h4>
      <table class="table   table-sm">
      <tr><td>Покупатель</td><td zippy="npttncust"></td></tr>
      <tr><td>Адрес доставки</td><td zippy="npttaddress"></td></tr>
      <tr><td>Примечание</td><td  zippy="npttnnotes"></td></tr>
      </table>
      <a data-toggle="collapse" href="#collapsettn" aria-expanded="false" aria-controls="collapseExample">
        <h5>Список  товаров <i style="font-size:smaller" class="fa fa-angle-down"></i></h5>
    </a> 
   <div class="collapse" id="collapsettn">

        <table class="table   table-sm" >
            <tr>
                <th>Наименование</th>
                <th>Артикул</th>
                <th class="text-right">Вес</th>
                <th class="text-right">Кол.</th>
                <th class="text-right">Цена</th>
                
            </tr>
            <tr zippy="npitemlist">
                <td zippy="npitemname"></td>
                <td zippy="npitemcode"></td>
                <td zippy="npitemw" class="text-right"></td>
                <td zippy="npitemqty" class="text-right"></td>
                <td zippy="npitemprice" class="text-right"></td>

            </tr>
        </table>    
      </div>  
        </div>    
      <div class="col-12  " >
      <div class="form-group">
           <a zippy="npcancel"  class="btn btn-outline-primary ">Отмена</a>
           &nbsp;&nbsp;<input type="submit" value="Создать"   class="btn   btn-primary  "/>
  
            </div>   
     </div>
     
     </div>
     </form>
</div>


</body>
</html>
