<html>
     <head>
        <title> Журнал прибуткiв та  видаткiв  </title>

    </head>
  <body>
        <div class="row">
            <div class="col-12  ">

                <h3>Журнал прибуткiв та  видаткiв</h3>


                <div class="navbar nav">
                    <form zippy="filter" class="form-inline ">



                        <label for="fuser"> автор </label>
                        <select class="form-control mr-2" zippy="fuser">
                            <option value="0">Не вибраний</option>
                        </select>
                        <label for="ftype"> тип </label>
                        <select class="form-control mr-2" zippy="ftype">
                            <option value="0">Не вибраний</option>
                        </select>


                        <input type="submit" class="  btn btn-outline-success  " value="ОК">

                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-8">


                <br><a zippy="csv">Експорт в Excel</a>

                <table class="table   table-sm   ">
                    <tr>


                        <th>Дата</th>

                        <th>Номер</th>
                        <th>Автор</th>


                        <th>Тип прибутку/видатку</th>


                        <th>Примiтка</th>
                        <th></th>


                    </tr>
                    <tr zippy="doclist">

                        <td class="text-nowrap" zippy="date"></td>

                        <td zippy="number"></td>
                        <td zippy="username"></td>


                        <td zippy="paytype"></td>


                        <td zippy="notes"></td>

                        <td class="text-nowrap">

                            <a zippy="show" title="Перегляд"><i class="fa fa-eye"></i></a>


                        </td>


                    </tr>

                </table>

                <div zippy="pag"></div>

                <div class="row" id="dankor">

                </div>

            </div>

            <div class="col-12">
                <div zippy="docview"></div>
            </div>

        </div>





    </body>
</html>
