<html>
     <head>
        <title> Журнал прибутків та видатків  </title>

    </head>
  <body>      
        <div class="row">
            <div class="col-12  ">

                <h3>Журнал прибутків та видатків</h3>
                <b> <i class="fa fa-repeat"></i>
                  {{^bmode}}
                 <a zippy="bmode">Режим Книги обліку прибутків та видатків</a> <small data-label="bmode">Для системи загального оподаткування</small>
                  {{/bmode}}
                   {{#bmode}}
                 <a zippy="jmode">Режим повного журналу</a>
                  {{/bmode}}
                </b> 
                </div>
                 <div class="col-12  my-2">
                    <form zippy="filter"  >
                        <div class="row row-cols-sm-auto g-2 align-items-start ">
                          <div class="col-12">
                           <div class="input-group">
                            <label   for="from"> З </label>
                            <input type="text" class="form-control    " zippy="from" style="width:110px">
                           </div>
                          </div>
                           <div class="col-12">
                           <div class="input-group">
                             
                           <label   for="to"> по </label>
                          
                          <input type="text" class="form-control    " zippy="to" style="width:110px">
                           </div>
                          </div>
                          
                          {{^bmode}}
                          <div class="col-12">
                           <div class="input-group">
            
                        <label   for="fuser"> автор </label>
                         
                          <select class="form-select  " zippy="fuser">
                            <option value="0">Не обрано</option>
                        </select>
                         </div>
                         </div>
                         <div class="col-12">
                           <div class="input-group">
                         
                        <label   for="ftype"> тип </label>
                          
                          <select class="form-select  " zippy="ftype">
                            <option value="0">Не обрано</option>
                        </select>
                         </div>
                         </div>
                       {{/bmode}}
                        <div class="col-12  ">
                           <input type="submit" zippy="bfilter" class="  btn btn-success  " value="ОК">
                        </div> 
                      </div>
                     
             
                    </form>
                     </div>  
                  {{#bmode}}
                     <div class="col-12  ">
                   <form zippy="docform"  >
                      <div class="row row-cols-sm-auto g-2 align-items-start ">
                         <div class="col-12">
                           <div class="input-group">
 
                             <label   for="docnumber"> Документ </label>
                         
                             <input style="width:125px" required="on" placeholder="Номер документа" class="form-control  me-2  " zippy="docnumber"  >
                           </div>
                           </div>
                         <div class="col-12">
                           <div class="input-group">
                          <label   for="docio"> Тип </label>
                          <select class="form-select me-2" zippy="docio">
                            <option value="0">Не обрано</option>
                          </select>
                         </div>
                        </div>
                         <div class="col-12">
                           <div class="input-group">
                              <label for="docdate">Дата:</label>
                              <input   class="form-control  " type="text" zippy="docdate"  >
                          </div>
                          </div>
                        <div class="col-12">
                           <div class="input-group">
                            <label   for="docamount"> Сума </label>
                            <input style="width:75px" required="on"   class="form-control  me-2  " zippy="docamount"  >
                           </div>
                          </div>
                          
                          <div class="col-12  ">
                             <input type="submit" class="  btn btn-success  " value="Додати">
                        </div>
                        </div>
                     
                    </form>   
                       </div>    
                  {{/bmode}}
                    
                    
                    
              
            </div>
        

        <div class="row">
            <div class="col-12 col-md-8 col-xl-6">

                  {{#bmode}} 
                     <small class="compact"><i class="fa fa-exclamation-triangle"></i> В  режимі книги витрати - собівартість реалізованого товару (а не  закупка). Редагування впливає тільки на  формування  книги. Оригінальні документи і касові операції не  змінюються</small>
                  {{/bmode}} 
                <br>
                  {{^bmode}} 
                <a zippy="csv">Експорт у Excel</a>
                 {{/bmode}} 
                  {{#bmode}} 
                <a zippy="viewbook"><i class="fa fa-book"></i> Перегляд Книги</a>
                  {{/bmode}} 

                <table class="table   table-sm   ">
                    <tr>

                        <th>Дата</th>
                        <th>Номер</th>
                        <th class="text-end">Дохід</th>
                        <th class="text-end">Витрата</th>
                        <th>Автор</th>     
                        <th>Тип прибутку/видатку</th>
                        <th></th>
                        <th></th>
                        


                    </tr>
                    <tr zippy="doclist">

                        <td class="text-nowrap" zippy="date"></td>

                        <td zippy="number"></td>
                        <td zippy="amountin"  class="text-end"> </td>
                        <td zippy="amountout"  class="text-end"> </td>
                        
                        <td zippy="username"></td>     
                        <td zippy="iotype"></td>
                      
                        <td  >

                            <a zippy="show" title="Перегляд"><i class="fa fa-eye"></i></a>
                      
                        </td>
                         <td  >

                            {{#bmode}} 
                          
                             <a zippy="delete" title="Видалити"><i class="fa fa-trash text-danger"></i></a>
                             {{/bmode}} 

                        </td>


                    </tr>
    
                </table>

                <div class="col-12 col-lg-8 mb-2" zippy="pag"></div>

              

            </div>

          
            <div class="col-12">
                <table   class="ctanle">
                  
                   <tr><td style="width:100px"  >Дохід  </td><td class="text-end"><b> {{totalin}} </b> </td></tr>
                   <tr><td style="width:100px"  >Видатки </td><td class="text-end"><b>{{totalout}}</b></td></tr>
                   <tr><td style="width:100px"  >Прибуток </td><td class="text-end"><b>{{totaldiff}}</b></td></tr>

                </table>
            </div>
            <div class="col-12">
                <div zippy="docview"></div>
            </div>
             <br><hr><br>
             <div zippy="bookrep" class="col-12  ">
                 
                 <a href="/index.php?p=App/Pages/ShowReport&arg=xls/iobook" target="_blank"  >Експорт у Excel</a>
                 &nbsp;&nbsp;&nbsp;&nbsp;  <a style="cursor:pointer" onclick=" $('#bookrephtml').printThis();"  >Друк</a>                      
                  
                 <div zippy="bookrephtml"></div> 
            </div>
            
            
        </div>
   
      
      

     <script>
            function check_delete() {
                return confirm("Видалити документ?")
            }
            function check_viewbook() {
               document.getElementById('dialogwait').showModal()
               return true;
            }
            function check_bmode() {
               document.getElementById('dialogwait').showModal()
               return true;
            }
            function check_bfilter() {
               document.getElementById('dialogwait').showModal()
               return true;
            }
        
            function editRow($id,$dt) {
                 
                $('#editio').val($id)
                $('#editdate').val($dt)
               
                openModal('modaledit')
           
            }
            
            
            
       </script>
    </body>
</html>
