<html>
    <head>
        <title> Товари на складі  </title>

   
        <link rel="stylesheet" href="/assets/css/ekko-lightbox.css">
        <script src="/assets/js/ekko-lightbox.js" type="text/javascript"></script>

    </head>

    <body>
        <div class="row">

            <div class="col-12    " zippy="itempanel">
                <h3>Товари на складі </h3>
                <div class="navbar nav  ">
                    <form zippy="filter" class="form-inline">


                        <input autocomplete="off" placeholder="Имя  или  код..." class="form-control mr-sm-2" type="text"
                               onkeydown="onSearch()" zippy="searchkey">

                        <label for="searchcat">категорія</label>

                        <select class="form-control mr-sm-2" zippy="searchcat">
                            <option value="0">Не задано</option>
                        </select>
                        <label for="searchstore">Склад</label>
                        <select class="form-control mr-sm-2" zippy="searchstore">
                            <option value="0">По всім</option>
                        </select>

                        <input class="btn btn-outline-success  " type="submit" value="ОК">

                    </form>
                </div>
                <a zippy="csv">Експорт в Excel</a>

                <table class="table      table-sm  table-hover ">
                    <tr>
                        {{#useimages}}
                        <th></th>
                        {{/useimages}}

                        <th>Назва</th>


                        <th>Артикул</th>
                        <th>Категорія</th>
                        <th>Бренд</th>
                        <th>Од.</th>
                        <th> </th>

                        <th class="text-right  ">Мін. Кіл.</th>
                        <th class="text-right  ">Кіл.</th>
                        {{^noshowpartion}}
                        <th class="text-right  ">На суму</th>

                        {{/noshowpartion}}                        

                        {{#hp1}}<th class="text-right  ">{{hp1}}</th>{{/hp1}}
                        {{#hp2}}<th class="text-right  ">{{hp2}}</th>{{/hp2}}
                        {{#hp3}}<th class="text-right  ">{{hp3}}</th>{{/hp3}}
                        {{#hp4}}<th class="text-right  ">{{hp4}}</th>{{/hp4}}
                        {{#hp5}}<th class="text-right  ">{{hp5}}</th>{{/hp5}}
                        {{^noshowpartion}}


                        <th style="width:50px"></th>
                        {{/noshowpartion}}


                    </tr>
                    <tr zippy="itemlist">
                        {{#useimages}}
                        <td>
                            <a zippy="imagelistitem" data-type="image" data-toggle="lightbox" data-gallery="thumb"> <img
                                    style="float:left; width:64px"></a>

                        </td>
                        {{/useimages}}

                        <td zippy="itemname"></td>

                        <td zippy="code" class=" text-nowrap"></td>
                        <td zippy="cat_name"></td>
                        <td zippy="brand"></td>
                        <td zippy="msr"></td>
                        <td  class="text-right"><i title="Акцiя" zippy="hasaction" class="fa fa-gift"/></td>

                        <td zippy="minqty" class="text-right  "></td>
                        <td zippy="iqty" class="text-right  "></td>
                        {{^noshowpartion}}


                        <td zippy="iamount" class="text-right  "></td>

                        {{/noshowpartion}}                        

                        {{#hp1}}<td zippy="iprice1" class="text-right  "></td>{{/hp1}}
                        {{#hp2}}<td zippy="iprice2" class="text-right  "></td>{{/hp2}}
                        {{#hp3}}<td zippy="iprice3" class="text-right  "></td>{{/hp3}}
                        {{#hp4}}<td zippy="iprice4" class="text-right  "></td>{{/hp4}}
                        {{#hp5}}<td zippy="iprice5" class="text-right  "></td>{{/hp5}}
                        {{^noshowpartion}}


                        <td><a zippy="show" title="Детальна інформація"><i class="fa fa-eye"></i></a></td>
                        {{/noshowpartion}}


                    </tr>
                    <tr>
                        {{#useimages}}
                        <td></td>
                        {{/useimages}}

                        {{^noshowpartion}}
                        <td colspan="8" class="text-right font-weight-bolder"> Всього на суму:</td>
                        <td class="text-right font-weight-bolder" zippy="totamount"></td>
                        <td></td>    {{/noshowpartion}}
                    </tr>
                </table>
                <div zippy="pag"></div>

            </div>
            <div class="col-12   col-xl-10" zippy="detailpanel">
                <a zippy="back"> <i class="fa fa-arrow-circle-left"></i> До списку</a>
                <h4 zippy="itemdetname"></h4>
                <table class="table   table-responsive-sm   table-sm  table-hover ">
                    <tr>
                        <th>Склад</th>
                        {{#usesnumber}}
                        <th class="text-right text-nowrap">Серія</th>

                        <th class="text-right text-nowrap">Придатний до</th>
                        {{/usesnumber}}
                        <th class="text-right text-nowrap">Обл. ціна</th>
                        {{#useval}}
                        <th class="  text-nowrap">По курсу</th>
                        {{/useval}}
                        <th class="text-right text-nowrap">Кіл.</th>
                        <th class="text-right text-nowrap">На суму</th>
                        <th class="text-right text-nowrap ">Прод. ціна</th>

                          <th  > </th>

                    </tr>
                    <tr zippy="stocklist">
                        <td zippy="storename"></td>
                        {{#usesnumber}}
                        <td zippy="snumber" class="text-right  "></td>
                        <td zippy="sdate" class="text-right  "></td>

                        {{/usesnumber}}
                        <td zippy="partion" class="text-right  "></td>
                        {{#useval}}
                        <td zippy="rate"></td>
                        {{/useval}}

                        <td zippy="qty" class="text-right  "></td>
                        <td zippy="amount" class="text-right  "></td>
                        <td zippy="price" class="text-right  "></td>
                         <td  ><a zippy="createmove" >Створоти перемiщення</a></td>


                    </tr>
                </table>
                <small><i class="fa fa-exclamation-triangle"/> Скоригувати партii наприклад коли утворився мiнус можна
                    документом Перемiщення партiй .</small>

            </div>


        </div>
        <script>
            function check_delete() {
                return confirm("Видалити партію?")
            }

            $(document).ready(function () {

                $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                    event.preventDefault();
                    $(this).ekkoLightbox({'alwaysShowClose': true});
                });

                $('#searchkey').focus();


            });

            function onSearch(ele) {

                if (event.key === 'Enter' || event.keyCode == 13) {
                    // alert($('#barcode').val());
                    $('#filter').Submit();
                }
            }
        </script>
    </body>
</html>
