<html>
     <head>
        <title> Журнал замовлень  </title>

    </head>
  <body>
        <div class="row">
            <div class="col-12 ">

                <h3>Журнал замовлень </h3>
            </div>
             <div zippy="listpanel" class="col-12 col-xl-11">

                <div class="card">
                    <form zippy="filter" class="form-inline ">


                        <label for="searchnumber"> № </label>

                        <input class="form-control mr-2" type="text" zippy="searchnumber" style="width:100px">

                        <label for="status">Статус</label>

                        <select class="form-control mr-2" zippy="status">
                        </select>

                        <label for="salesource">Джерело продаж</label>
                        <select class="form-control mr-2" zippy="salesource">
                            <option value="0">Не обрано</option>
                        </select>

                        <input class="form-control mr-2" type="text" zippy="searchtext" placeholder="Пошук по контенту">


                        <input type="submit" class="  btn btn-outline-success  " value="ОК">


                    </form>
                </div>
                <a href="/index.php?p=App/Pages/Doc/Order" class="btn btn-info mt-2 mb-3">Нове замовлення</a>


                <br><a zippy="csv">Експорт у Excel</a>

                <table class="table   table-sm   ">
                    <tr>

                        <th>Номер</th>
                        <th>Дата</th>
                        <th>Замовник</th>
                        <th class="text-right">Сума</th>
                        <th>Статус</th>
                        <th>Вiдповiдальний</th>



                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>


                    </tr>
                    <tr zippy="doclist">

                        <td class="text-nowrap" ><a zippy="number"></a></td>
                        <td class="text-nowrap" zippy="date"></td>
                        <td  class="text-nowrap"><a href="return false; void(0)" zippy="customer"></a></td>
                        <td zippy="amount" class="text-right"></td>


                        <td class="text-nowrap" zippy="state"></td>
                        <td   zippy="emp"></td>
                        <td ><small zippy="onotes"></small></td>
                        <td>
                            <i  zippy="isreserved" title="Зарезервованi товари" class="fa fa-archive"></i>
                        </td>
                        <td>
                            <i  zippy="ispay"   class="fa fa-credit-card "></i>
                        </td>
                         <td>
                           <i style="cursor:pointer" zippy="cchat" title="Чат с  замовником" ></i>  
                        </td>

                        <td class="text-nowrap">
                            &nbsp; &nbsp;<a zippy="show" title="Перегляд"><i class="fa fa-eye"></i></a>
                             &nbsp; &nbsp; &nbsp; &nbsp; <a zippy="edit" title="Редагування"><i class="fa fa-edit"></i></a>

                        </td>


                    </tr>

                </table>

                <div zippy="pag">
                </div>
             
            </div>

        </div>

      

        <div class="row" zippy="statuspan">
            <div class="col-12   col-xl-10">
                <details>
                  <summary>Наявнiсть товарiв на складi та/або у постачальника</summary>
                  
                 
           
              <table class="table table-sm">
                     <tr>
                     <th>Товар</th>
                     <th>Артикул</th>
                     <th class="text-right">Замовлено</th>
                     <th>На складi</th>
                     <th>У постачальникiв</th>
                      {{#isciprod}}
                  
                     <th class="text-right">Гот. до вир.</th>
                     {{/isciprod}}
                    
                  
                     <th> </th>
                     </tr>
                     {{#citems}}
                     <tr>
                        <td>{{itemname}}</td>
                        <td>{{itemcode}}</td>
                        <td class="text-right">{{itemqty}}</td>
                        <td>     
                          <table style="font-size:smaller"  class="ctable">
                              {{#citemsstore}}
                              <tr>
                                 <td>{{itstore}}</td>
                                 <td class="text-right">{{itqty}}</td>
                              </tr>
                             {{/citemsstore}} 
                          </table>
                        </td>
                        <td>
                          <table style="font-size:smaller"  class="ctable"> 
                              {{#citemscust}}
                              <tr>
                                 <td>{{itcust}}</td>
                                 <td>{{itcustcode}}</td>
                                 <td class="text-right">{{itcustprice}}</td>
                                 <td class="text-right">{{itcustqty}}</td>
                                 <td >{{itcustupdated}}</td>
                              
                              </tr>
                             {{/citemscust}} 
                          </table>
                        </td>
                      {{#isciprod}}
                        
                       <td class="text-right">
                           {{prqty}}
                       
                        </td>
                      {{/isciprod}}
                        
                        <td> <a href="javascript:void(0)" onclick="{{toco}}" > В закупку</a>  </td>                        
                     </tr>
                     {{/citems}} 
                  </table>
                </details>
                  {{#issitems}} 
                  </div>
                  <div class="col-12 col-md-10  col-xl-8">
          
                  
                <details>
                  <summary> Товари в  заявках постачальнику</summary>
               <table class="table table-sm">
                     <tr>
                     <th>Заявка</th>
                     <th>Постачальник</th>
                     <th >Поставка</th>
                     </tr>
                       {{#sitems}} 
                     <tr>
                     <td> {{dnum}}</td>
                     <td>{{dc}} </td>
                     <td  >{{dd}} </td>
                     </tr> 
                      {{/sitems}} 
                       </table> 
                </details>
                 {{/issitems}} 
            </div>
             <div class="col-12 col-xl-10 mt-2">      
                <div class="card">
                    <form zippy="statusform" class="form-inline row">
                       <div class="col-12 mb-2">      
                      
                        <button zippy="binp" class="btn btn-success  mr-2">  В обробку</button>
                        
                        <button zippy="bscan" class="btn btn-primary  mr-2">  Зiбрати</button>
                   
                        <button zippy="brd" class="btn btn-success  mr-2">  Готовий до вiдправки</button>
                        <button zippy="bsent" class="btn btn-success  mr-2">  Вiдправлений</button>
                        <button zippy="brec" class="btn btn-success  mr-2">  Доставлений</button>
                        <button zippy="bclose"   class="  btn btn-success  mr-2 ">  Закрити                </button>
                        <a zippy="btopay" class="  btn btn-success  mr-4 "> Сплатити</a>
                        <button zippy="bref" class="btn btn-danger  mr-2">  Анулювати                </button>
                       </div>
                       <div class="col-12"> 
                        <span>Створити </span> 
                        <button zippy="bttn" class="btn btn-info  mr-2">  ТТН</button>
                        <button zippy="bpos" class="btn btn-info  mr-2">  {{^fiscal}} Чек   {{/fiscal}}     {{#fiscal}}  Фіскальний чек    {{/fiscal}}                 </button>
                        <button zippy="bgi" class="btn btn-info  mr-2">  Видаткову накладну                </button>
                        <button zippy="bginv" class="btn btn-info  mr-2">  Рахунок-фактуру                </button>
                        <button zippy="bco" class="btn btn-info  mr-2">  Заявку постачальнику                                       </button>
                        {{#useprod}} 
                        <button zippy="btask" type="submit" class=" btn btn-info mr-2 ">  Наряд</button>
                            {{/useprod}}
                        <button zippy="bcopy" class="btn btn-info  mr-4">  Копію</button>
                       </div>     
                            
                    </form> 
                          </div>
                       <div class="col-12 mb-2">      
                      
                       <div class="row"> 
                       <div class="col-auto"> 
                          
              
                     
                     <form zippy="resform" class="form-inline mt-1">
                        <label data-label="bres">Резервувати товари </label>
                        <select class="form-control mr-2"  zippy="store"></select>
                         
                        <button zippy="bres" class="btn btn-info  ">OK                 </button>
                        <button zippy="bunres" class="btn btn-info "> Зняти з резерву                </button>


                    </form>       
                      </div>
                       <div class="col-auto"> 
                    
                    <form zippy="moveform" class="form-inline mt-1 ml-4">
                        <label class="mr-2">Перевести на: </label>
                       {{#usebranch}}

                        <label for="brmove">фiлiя </label>
                        <select zippy="brmove" class="form-control mr-2 ">
                            <option value="0">Не вказано</option>
                        </select>
                  
                       {{/usebranch}}
                  
                        <label for="usmove">користувач </label>
                        <select class="form-control mr-2" zippy="usmove"  >

                        </select>
                        <button zippy="bmove" type="submit" class="btn btn-info  mr-4 ">OK                 </button>
                   
                     </form>                
                    </div>
                       </div>  
                   
                    
                </div>


                <div zippy="docview"></div>

            </div>
        </div>
        
        
       <div zippy="editpanel" class="row">
            <div class="col-12 col-md-8 col-xl-6">
                 <h5>Замовлення <span zippy="editdn"></span></h5>
                 <form zippy="editform"  >
                     {{#usescanner}}
                    <div class="card justify-content-start">
                        Штрих код &nbsp;<input autofocus="on"   style="width:150px;" autocomplete="off"  type="text" zippy="editbarcode"  onkeydown="onBarCode()">
                        &nbsp;   &nbsp;<a zippy="addcode" class="btn btn-info btn-sm">+</a>
                
                    
                      
                    </div>
                    {{/usescanner}}        
                   <table class="table table-sm">
                   <tr><th>
<i onclick=" $('.seldel').prop('checked', $('.seldel').prop('checked') == false);"
                                style="width:30px;cursor:pointer" title="Зняти/виставити прапорець"
                                    class="fa fa-check-double "></i>                   
                   </th><th colspan="4"></th></tr>
                   <tr  zippy="edititemlist">
                      <td style="width:20px"><input zippy="checkscan" class="seldel mt-1" type="checkbox"></td>
                      <td zippy="editlistname"></td>
                      <td zippy="editlistcode"></td>
                      <td zippy="editlistbarcode"></td>
                      <td class="text-right" zippy="editlistqty"></td>
                   </tr> 
                 </table>         
                 <div class="form-group">
                    <button zippy="editcancel" type="submit" class="  btn btn-secondary  mr-2 ">Скасувати</button>                 
                    <button zippy="editsave" type="submit" class="  btn btn-info  mr-2 ">Зберегти</button>                 
                    <button zippy="editready" type="submit" class="  btn btn-success  mr-4 ">Зiбрано</button>                 

                    <i style="cursor:pointer" title="Вiдправити запитання" zippy="editchat" class="fa fa-comments"></i>

 
                 </div>


               </form>
      
            </div>
        </div>        
        
        
         {{={| |}=}}   
          <div class="row">
            <div class="col-12" id="vapp">
            
               <div id="modalcchat" class="modal fade  " tabindex="-1" role="dialog" >
                    <div class="modal-dialog modal-dialog-centered   ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Чат  з замовником</h5>
                                
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            
                             <details  >
                                <summary>Перелiк товарiв</summary>
                                <table class="ctable" style="font-size:smaller">
                                    <tr v-for="item in cchatitemlist">
                                        <td>{{item.itemname}} </td>
                                        <td>{{item.item_code}} </td>
                                        <td align="right">{{item.quantity}} </td>
                                        <td align="right">{{item.price}} </td>
                                        <td  >  </td>
                                    </tr>
                                </table>
                                </details> 
                                <div class=" direct-chat direct-chat-primary mb-4">
                                  <div class="row">
                                  <div v-for="msg in msglist" class="col-12">
                                      <div v-show="msg.isseller ==false" class="row">
                                         <div class="col-6"><b>Замовник</b></div>
                                         <div class="col-4 text-right"><small>{{msg.msgdate}}</small></div>
                                         <div class="col-2"> </div>
                                       </div>
                                       <div v-show="msg.isseller ==false" class="row">
                                         <div class="col-10  bg-light     ">{{msg.message}}</div>
                                         <div class="col-2"> </div>
                                       </div>                  
                                    
                                 
                                        <div v-show="msg.isseller ==true" class="row">
                                            <div class="col-2"> </div>
                                            <div class="col-4 text-left"><small>{{msg.msgdate}}</small></div>
                                            
                                            <div class="col-6 text-right"><b>Продавець</b></div>
                                        </div>
                                        
                                        <div v-show="msg.isseller ==true" class="row">
                                            <div class="col-2"> </div>
                                            <div class="col-10    ">{{msg.message}}</div>
                                            
                                       </div>                            
                                       
                                          <div  v-show="msg.isseller ==true" class="row">
                                            <div class="col-12 text-right">  
                                              <small>   
                                             <i v-show="msg.checked==true"   class="fa fa-check-double "></i>
                                             <i v-show="msg.checked==false"   class="fa fa-check "></i>
                                               </small>
                                            </div>
                                            
                                          </div>                                        
                                    </div>    
                                  
                                    
                                                            
                                 </div>                            
                                <form>
                                  <div class="form-group">
                                         <label for="msgtext">Повiдомлення</label> 
                                        <textarea  v-model="message"      class="form-control"></textarea>
                                         
                                           
                                      </div>
                                  <div class="input-group">
                                    
                                      <button v-show="showntnsend" v-on:click.prevent="send()"   class="btn btn-primary">Вiдправити</button>
                                    
                                  </div>
                                <small>Вiдправка уточнень по  смс  </small>  
                                </form>
                           
                            
                            </div>

                        </div>
                    </div>
                </div>
            
               </div> 
         </div> 
       </div>
  {|={{ }}=|}  
        <script>
        
     function onBarCode(ele) {

            if (event.key === 'Enter' || event.keyCode == 13) {
                // alert($('#barcode').val());
                $('#addcode').click()
            }
        }        
        
        
          {{#askclose}}

            function check_bclose() {
                return confirm("Замовлення не оплачено або не виконано. Закрити?")

            }
          {{/askclose}} 
        
     
    
          var vapp = new Vue({
              el: '#vapp',
           
              data() {
                  return  {
                     doc_id:0 ,
                     message:'' ,
                     showntnsend:true ,
                     cchatitemlist:[] ,
                     msglist:[] 
                     
                   }   
              }  ,
              methods:   {
               
                 send:function( ){
                     if(this.message=='') return;
                     this.showntnsend = false;
                     callPM('sendMessage',[this.doc_id ],this.message,(data)=> 
                      {
                         this.showntnsend = true;
                      
                          this.message = ""
                          callPM('getCChatMessages',[this.doc_id],null,(data)=> 
                          {
                              this.msglist = data.msglist        
                          })         
                            
                       
                      })                 
                 },
                 CChatInit:function(doc_id ){

                      this.doc_id  = doc_id;
                      
                      callPM('getCChatMessages',[this.doc_id],null,(data)=> 
                      {
                               
                          this.msglist = data.msglist  

       
                      })                       
                      
                       callPM('getCChatItems',[this.doc_id],null,(data)=> 
                       {
                          this.cchatitemlist = data.itemlist  
                       })                   
                    
                 }    
                 
                 
                            
             }     
       
        })             
          
     
                   
          function opencchat(doc_id ) {
             $('#modalcchat').modal('show')
           
             
             vapp.CChatInit(doc_id   )  
               
               
            }
       
     
         
        </script>



    
    </body>
</html>












