<html>
      <head>
        <title> Розрахунки з покупцями  </title>

    </head>
 <body>
        <div class="row">
            <div class="col-12  col-md-10 col-md-8 " zippy="clist">
                <h3>Розрахунки з покупцями </h3>
                <small>В списку тільки ті контрагенти у яких кредитовий або дебетовий борг</small>
                <div class="card">
                    <form zippy="filter" class="form-inline ">


                        <label for="holdlist"> Холдинг </label>
                        <select class="form-control mr-2" zippy="holdlist">
                            <option value="0">Не вказано</option>
                        </select>

                        <input type="submit" class="  btn btn-outline-success  " value="ОК">

                    </form>
                </div>


                <table class="table   table-sm   ">
                    <tr>

                        <th>Ім'я</th>
                        <th>Тел.</th>
                        <th class="text-right">Борг покупця</th>
                        <th class="text-right">Борг покупцю</th>

                        <th></th>
                        <th></th>
                   


                    </tr>
                    <tr zippy="custlist">

                        <td><a zippy="customer_name" title="Відкрити профіль"></a></td>
                        <td zippy="phone"></td>

                         <td zippy="amountd" class="text-right"></td>
                        <td zippy="amountc" class="text-right"></td>
               
                        <td><a zippy="showdet">Деталiзацiя</a></td>
                          <td><a zippy="createpay">До сплати</a></td>


                    </tr>
                    <tr>

                        <td></td>
                        <td class="text-right text-bold">Всього:</td>

                       <td zippy="totamountd" class="text-right text-bold"></td>
                        <td zippy="totamountc" class="text-right text-bold"></td>


                        <td></td>


                    </tr>
                </table>


            </div>

            <div class="col-12 col-lg-10 col-xl-8 " zippy="plist">
                <a zippy="back"><i class="fa fa-arrow-alt-circle-left"></i> до переліку</a>
                <h3 zippy="cname"></h3>
                <span>До сплати </span><b zippy="allforpay"> </b> &nbsp;<span>Створити </span> <a zippy="payorder"></a> 

                <table class="table table-sm    ">
                    <tr>

                        <th>Документ</th>
                        <th>Номер</th>
                        <th>Дата</th>
                         {{#usebranch}}
                        <th>Фiлiя</th>
                           {{/usebranch}}


                        <th class="text-right">Сума</th>

                       

                        <th></th>
                        <th>Перевести в статус</th>


                    </tr>
                    <tr zippy="doclist">

                        <td zippy="name"></td>
                        <td zippy="number"></td>
                        <td zippy="date"></td>
                            {{#usebranch}}
                       <td zippy="branch_name"></td>
                           {{/usebranch}}

                        <td zippy="sum" class="text-right"></td>


                        <td class="text-nowrap">
                          &nbsp;  <a zippy="show" title="Перегляд"><i class="fa fa-eye"></i></a>
                            &nbsp; &nbsp;<a zippy="pay" title="Внести оплату"><i class="fa fa-credit-card"></i></a>


                        </td>
                         <td  class="text-nowrap"  > <a zippy="stpayed">Оплачений</a> <a  zippy="stdone">Виконаний</a> <a  zippy="stclosed">Закритий</a>  </td>
                    </tr>

                </table>
             
            </div>

            <div class="col-12 col-lg-10 col-xl-8 " zippy="paypan">


                <div class="card">
                    <form zippy="payform" class="row   g-2 align-items-center ">
                     <div class="col-auto">
                       <div class="  row no-gutters"> 
                       
                        <label class="col-auto mt-2">До сплати</label>
                          <div class="col-auto">
                      <input zippy="pamount" pattern="[0-9\.\-]+" style="width:100px;" placeholder="Сума..."                               class="form-control mr-2">
                        </div>
                       </div>
                      </div>
                 
                 
                     <div class="col-auto">
                       <div class="  row no-gutters"> 

                        <label class="col-auto mt-2" for="payment">рахунок</label>
                           <div class="col-auto">
                     <select class="form-control mr-2" zippy="payment">

                        </select>
                          </div>
                       </div>
                      </div>
  
                        <div class="col-auto">
                       <div class="  row no-gutters"> 
                     <label class="col-auto mt-2">дата</label>
                         <div class="col-auto">
                       <input zippy="pdate" style="width:100px;" class="form-control mr-2 ">
             </div>
                       </div>
                      </div>
                        <div class="col-auto"> 
                          <input zippy="pcomment" placeholder="Коментар..." class="form-control mr-2">
                           </div>
                       

                          <div class="col-auto"> 
                         
                        <button type="submit" class="  btn btn-info  mr-2 ">Сплатити</button>
                        </div>

                    </form>

                </div>
                <b><i class="fa fa-credit-card"></i> Оплати ( <span zippy="pname"></span>)</b><br>
                <table cellpadding="4">
                    <tr zippy="paylist">
                        <td zippy="pldate"></td>
                        <td zippy="pluser"></td>
                        <td class="text-right">&nbsp;<span zippy="plamount">&nbsp;</span></td>

                        <td zippy="plmft"></td>
                        <td zippy="plcomment"></td>

                    </tr>
                </table>


            </div>
             
            
            
        <div class="col-12 col-lg-10 col-xl-8 " zippy="dlist">
                <a zippy="backd"><i class="fa fa-arrow-alt-circle-left"></i> до списку</a>
                <h3 zippy="cnamed"></h3>
                <small>                Прибуток - надходження від контрагента грошей або ТМЦ. 
               Видаток - видача контрагенту грошей або ТМЦ </small>
                <table class="table table-sm ">
                     <tr>

                        <th  >Документ</th>
                        <th  >Номер</th>
                        <th  >Дата</th>
              
                         {{#usebranch}}
                        <th>Фiлiя</th>
                         {{/usebranch}}
                         <th  class="text-right">Прибуток</th>
                        <th  class="text-right">Видаток</th>
                        <th  class="text-right">Борг покупця</th>
                        <th  class="text-right">Борг покупцю</th>



      

                          <th  ></th>
                    </tr>              
                    
              
                    
                    <tr zippy="blist">
                      <td zippy="dname"></td>
                      <td zippy="dnumber"></td>
                      <td zippy="ddate" ></td>
                      {{#usebranch}}
                       <td zippy="dbranch_name"></td>
                           {{/usebranch}}
                      <td zippy="in" class="text-right"></td>
                      <td zippy="out" class="text-right"></td>
                      <td zippy="bc" class="text-right"></td>
                      <td zippy="bd" class="text-right"></td>
                      <td  > &nbsp; <a zippy="showdet" title="Перегляд"><i class="fa fa-eye"></i></a></td>
                    
                    </tr>                    
                </table>
             <div zippy="pagd"></div>      
            </div>
               <div class="col-12 col-lg-10 col-xl-8 ">   <a id="dankor"></a>
                <div zippy="docview"></div>
            </div>
            
   
              
        </div>


    </body>
</html>
