<html>
      <head>
        <title> Розрахунки з покупцями  </title>

    </head>
 <body>
        <div class="row">
            <div class="col-12  col-xl-10 " zippy="clist">
                <h3>Розрахунки з покупцями </h3>
                <div class="navbar nav">
                    <form zippy="filter" class="form-inline ">


                        <label for="holdlist"> Холдинг </label>
                        <select class="form-control mr-2" zippy="holdlist">
                            <option value="0">Не вказано</option>
                        </select>

                        <input type="submit" class="  btn btn-outline-success  " value="ОК">

                    </form>
                </div>


                <table class="table   table-sm   ">
                    <tr>

                        <th>Ім'я</th>
                        <th>Тел.</th>
                         <th class="text-right">Деб. борг</th>
                        <th class="text-right">Кред. борг</th>

                        <th></th>
                        <th></th>
                        <th></th>


                    </tr>
                    <tr zippy="custlist">

                        <td><a zippy="customer_name" title="Відкрити профіль"></a></td>
                        <td zippy="phone"></td>

                         <td zippy="amountd" class="text-right"></td>
                        <td zippy="amountc" class="text-right"></td>
                   <td><a zippy="createpay">Створити  КО</a></td>


                        <td><a zippy="showdet">Деталiзацiя</a></td>
                        <td><a zippy="showdocs">Документи до оплати</a></td>


                    </tr>
                    <tr>

                        <td></td>
                        <td class="text-right text-bold">Всього:</td>

                       <td zippy="totamountd" class="text-right text-bold"></td>
                        <td zippy="totamountc" class="text-right text-bold"></td>


                        <td></td>


                    </tr>
                </table>


            </div>

            <div class="col-12 col-lg-8 col-xl-6 " zippy="plist">
                <a zippy="back"><i class="fa fa-arrow-alt-circle-left"></i> до списку</a>
                <h3 zippy="cname"></h3>
                <small><i class="fa fa-exclamation-circle"></i> Для  оплати  по  угодах  а  не окремих документах  використовуются  кассовi  ордери</small>

                <table class="table table-sm    ">
                    <tr>

                        <th>Документ</th>
                        <th>Номер</th>
                        <th>Дата</th>


                        <th class="text-right">Сума</th>

                       

                        <th></th>


                    </tr>
                    <tr zippy="doclist">

                        <td zippy="name"></td>
                        <td zippy="number"></td>
                        <td zippy="date"></td>

                        <td zippy="sum" class="text-right"></td>


                        <td class="text-nowrap">
                          &nbsp;  <a zippy="show" title="Перегляд"><i class="fa fa-eye"></i></a>
                            &nbsp; &nbsp;<a zippy="pay" title="Внести оплату"><i class="fa fa-credit-card"></i></a>


                        </td>

                    </tr>

                </table>
             
            </div>

            <div class="col-12 col-lg-10 col-xl-8 " zippy="paypan">


                <div class="navbar nav">
                    <form zippy="payform" class="form-inline ">
                        <label>До оплати</label>
                        <input zippy="pamount" pattern="[0-9\.\-]+" style="width:100px;" placeholder="Сума..."
                               class="form-control mr-2">
                        <label for="payment">рахунок</label>
                        <select class="form-control mr-2" zippy="payment">

                        </select>
                        {{#ppo}}
                        <label for="pos">POS</label>
                        <select class="form-control mr-2" zippy="pos">
                            <option value="0">Не вибраний</option>

                        </select>
                        {{/ppo}}
                        <label>дата</label>
                        <input zippy="pdate" style="width:100px;" class="form-control mr-2 ">

                        <input zippy="pcomment" placeholder="Коментар..." class="form-control mr-2">

                        <button type="submit" class="  btn btn-info  mr-2 ">Оплатити</button>


                    </form>

                </div>
                <b><i class="fa fa-credit-card"></i> Оплати ( <span zippy="pname"></span>)</b><br>
                <table cellpadding="4">
                    <tr zippy="paylist">
                        <td zippy="pldate"></td>
                        <td zippy="pluser"></td>
                        <td class="text-right">&nbsp;<span zippy="plamount">&nbsp;</span></td>

                        <td zippy="plmft"></td>
                        <td zippy="plcomment"></td>

                    </tr>
                </table>


            </div>
             
            
            
        <div class="col-12 col-lg-10 col-xl-8 " zippy="dlist">
                <a zippy="backd"><i class="fa fa-arrow-alt-circle-left"></i> до списку</a>
                <h3 zippy="cnamed"></h3>
                <small>                Прибуток - надходження від контрагента грошей або ТМЦ. 
               Видаток - видача контрагенту грошей або ТМЦ </small>
                <table class="table table-sm ">
                     <tr>

                        <th  >Документ</th>
                        <th  >Номер</th>
                        <th  >Дата</th>
                        <th  class="text-right">Прибуток</th>
                        <th  class="text-right">Видаток</th>
                        <th  class="text-right">Кред. борг</th>
                        <th  class="text-right">Деб. борг</th>



      

                          <th  ></th>
                    </tr>              
                    
              
                    
                    <tr zippy="blist">
                      <td zippy="dname"></td>
                      <td zippy="dnumber"></td>
                      <td zippy="ddate" ></td>
     
                      <td zippy="in" class="text-right"></td>
                      <td zippy="out" class="text-right"></td>
                      <td zippy="bd" class="text-right"></td>
                      <td zippy="bc" class="text-right"></td>
                      <td  > &nbsp; <a zippy="showdet" title="Перегляд"><i class="fa fa-eye"></i></a></td>
                    
                    </tr>                    
                </table>
                 
            </div>
               <div class="col-12 col-lg-10 col-xl-8 ">   <a id="dankor"></a>
                <div zippy="docview"></div>
            </div>
            
   
              
        </div>


    </body>
</html>
