<html>
     <head>
        <title>  Журнал платежів </title>

    </head>
  <body>
        <div class="row">
            <div class="col-12  ">

                <h3>Журнал платежів </h3>


                <div class="card">
                    <form zippy="filter" class="row   g-2 align-items-center">
                      <div class="col-auto">
                       <div class="  row no-gutters"> 
                         <label class="col-auto mt-2" for="from">З </label>
                          <div class="col-auto">
                            <input type="text" class="form-control mr-sm-1  " zippy="from" style="width:110px">
                         </div>
                       </div>
                      </div>     
                       <div class="col-auto">
                        <div class="  row no-gutters"> 
 
                         <label class="col-auto mt-2" for="to"> по </label>
                            <div class="col-auto">
                           <input type="text" class="form-control mr-sm-1 " style="width:110px" zippy="to">
                          </div>
                       </div>
                      </div>     
                       <div class="col-auto">
                        <div class="  row no-gutters"> 
    
                        <label class="col-auto mt-2" for="fmfund"> рахунок </label>
                            <div class="col-auto">
                      <select class="form-control mr-2" zippy="fmfund">
                            <option value="0">Не обрано</option>
                        </select>
                     </div>
                      </div>   
                     </div>     
                       <div class="col-auto">
                        <div class="  row no-gutters"> 
                        
                        <label class="col-auto mt-2" for="fuser"> створив </label>
                               <div class="col-auto">
                         <select class="form-control mr-2" zippy="fuser">
                            <option value="0">Не обрано</option>
                        </select>
                        </div>
                      </div>   
                      </div>    
                       <div class="col-auto">
                        <div class="  row no-gutters"> 

                        <label class="col-auto mt-2" for="fcustomer"> контрагент </label>
                               <div class="col-auto">
                          <input placeholder="Почніть вводити..." type="text" class="form-control  mr-2 " zippy="fcustomer">
                       </div>
                      </div>     
                     </div>
                       <div class="col-auto">
                        <div class="  row no-gutters"> 
                        
                            <label class="col-auto mt-2" for="fiostate"> тип витрат  </label>
                            <div class="col-auto">
                               
                              <select class="form-control" zippy="fiostate">
                                <option value="0">Не обрано</option>
                             </select>
                            </div>
                      </div>   
                      </div>    
                       <div class="col-auto">
                        <div class="  row no-gutters"> 
                        
                        <label class="col-auto mt-2" for="fsort"> сортувати </label>
                           <div class="col-auto">
                             <select class="form-control mr-2" zippy="fsort">
                                <option value="0">За датою</option>
                                <option value="1">За прибутком</option>
                                <option value="2">За видатком</option>
                            </select>
                        </div>
                      </div>   
                      </div>    
                       <div class="col-auto">   
                        <input type="submit" class="  btn btn-outline-success  " value="ОК">
                      </div> 
                    </form>
                </div>
            </div>
        </div>

        <div class="row" zippy="tpanel">
            <div class="col-12 col-xl-10">
                <small>Скасування оплати виконується касовими ордерами   або перепроведенням  вiдповiдного документу</small>

                <br><a zippy="csv"><i  class="fa fa-upload" ></i> Експорт у Excel</a>
                <a zippy="import" class="ml-4"><i  class="fa fa-download" ></i> Iмпорт виписок</a>
      
                <table class="table   table-sm   ">
                    <tr>


                        <th>Дата</th>
                        <th>Створив</th>
                        <th>Рахунок</th>
                        <th class="text-right">Прибуток</th>
                        <th class="text-right">Видаток</th>
                        <th>Номер</th>
                        <th>Дата. док.</th>
                        

                        <th>Контрагент</th>



                        <th>Примітка</th>
                        <th></th>


                    </tr>
                    <tr zippy="doclist">

                       <td class="text-nowrap" zippy="date"></td>
                        <td zippy="username"></td>
                        <td zippy="mf_name"></td>
                        <td zippy="amountp" class="text-right"></td>
                        <td zippy="amountm" class="text-right"></td>
                        <td zippy="number"></td>
                        <td class="text-nowrap" zippy="docdate"></td>
                 
                        <td zippy="customer_name"></td>


                        <td zippy="notes"></td>

                        <td class="text-nowrap">
                            <a zippy="print" title="Друкувати квитанцiю про оплату"><i class="fa fa-print"></i></a>&nbsp;&nbsp;
                            <a zippy="show" title="Перегляд"><i class="fa fa-eye"></i></a>
                            &nbsp;&nbsp; <a href="javascript:void(0);" zippy="del" title="Скасування оплати"><i class="fa fa-trash"></i></a>


                        </td>


                    </tr>

                </table>

                <div zippy="pag"></div>
                 <table class="ctable" >
                   <tr><td>Прибуток </td><td zippy="totp" class="text-right text-bold"></td></tr>
                   <tr><td>Видаток </td><td zippy="totm" class="text-right text-bold"></td></tr>
                   <tr><td class="text-bold">Разом </td><td zippy="tottot" class="text-right text-bold"></td></tr>
                 
                 </table>
                <div class="row" id="dankor">

                </div>

            </div>

            <div class="col-12">
                <div zippy="docview"></div>
            </div>

        </div>

        <div id="dform" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <form zippy="fnotes">

                            <div class="form-group">
                                <label for="notes">Підстава скасування</label>
                                <input type="hidden" zippy="pl_id"/>
                                <input  required="on"  class="form-control" zippy="notes"/>
                            </div>
                            <div class="form-group">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
                                <input zippy="save" type="submit" value="Виконати" class="btn btn-primary  ">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="pform" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td align="center" id="paysprint"></td>
                            </tr>
                            <tr>
                                <td align="center"><a href="javascript:void(0)"
                                                      onclick="$('#paysprint').printThis();$('#pform').modal('hide')"
                                                      class="btn btn-success btn-sm">Друк</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

   
                
                <form zippy="importform" enctype="multipart/form-data"  >
                 
                    <h4>Iмпорт банківських виписок  </h4>
                     <small>Для суми з плюсом (покупець) створюється прибутковий ордер, їнакше видатковий </small>
                        <div class="row">
                         <div class="col-12 col-md-4 col-xl-3">
                          
                             <div class="form-group  ">
                                <label for="bipayment">Банк</label>
                                 <select   zippy="bipayment" class="form-control  ">
                                    <option value="0">Не вибраний</option>
                                </select> 
                             </div>
                               
                        
                             <div class="form-group  ">
                                <label for="filename">Файл імпорту</label>
                                <input type="file" zippy="filename" class="form-control  "/>
                             </div>                  
                             <div class="  form-check">
                                <input zippy="passfirst" type="checkbox" class="form-check-input">
                                <label class="form-check-label" for="passfirst">Пропустити першу строку</label>
                            </div>
                          
                                   
                      
                             <div class="form-group  ">
                                <label><b>Номери колонок Excel файлу</b> </label>

                            </div>
                                              
                              <div class="form-group row">
                                <label  class="col-8 col-form-label" for="coltran">Номер тран.  </label>
                                <div class="col-4">
                                    <select style="width:100px;" zippy="coltran" class="form-control  ">
                                </select>   
                                </div> 
                            </div>                                                                                
                             <div class="form-group row">
                                <label  class="col-8 col-form-label" for="coledrpou">ЄДРПОУ контрагента  </label>
                                <div class="col-4">
                                    <select style="width:100px;" zippy="coledrpou" class="form-control  ">
                                </select>   
                                </div> 
                            </div>                                                                                
                            <div class="form-group row">
                                <label  class="col-8 col-form-label" for="colsum">Сума</label>
                                <div class="col-4">
                                    <select   zippy="colsum" class="form-control  ">
                                </select> 
                                 </div> 
                            </div>                     
                          <div class="form-group row">
                                <label  class="col-8 col-form-label" for="coldate">Дата</label>
                                <div class="col-4">
                                    <select   zippy="coldate" class="form-control  ">
                                </select>  
                                 </div> 
                            </div>                     
                                                                             
                            <div class="form-group row">
                                <label  class="col-8 col-form-label" for="colnotes">Призначення</label>
                                <div class="col-4">
                                    <select style="width:100px;" zippy="colnotes" class="form-control  ">
                                </select>  
                                 </div> 
                            </div>                                                                                
                                                                                                      
                     
                         <div class="form-group">
                           <a zippy="biback" class="btn btn-secondary  mr-4 " >Скасувати</a>                          
                                
                            <input zippy="bipreview"    type="submit" value="Завантажити" class="btn btn-primary  "> 
                          
                           </div>                                                                                                            
                        </div> 
                      
                        <div class="col-12 col-md-8 col-xl-6">
                           <a zippy="biload" class="btn btn-success  mr-4 " >Iмпортувати</a>                          
                           <table class="ctable">
                              {{#ilist}}
                              <tr>
                                 <td>{{tran}}</td>
                                 <td>{{edrpou}}</td>
                                 <td>{{customer_name}}</td>
                                 <td align="right">{{sum}}</td>
                                 <td>{{dates}}</td>
                                 <td>{{notes}}</td>
                              </tr>
                               {{/ilist}}
                           </table>
                       </div>
                        </div>  
                 
                 
                 </form>
            
      
      
        <script>
            function delpay(id) {
                $('#pl_id').val(id);
                $('#dform').modal()
            }
        </script>


    </body>
</html>
