<html>
     <head>
        <title>  Журнал платежів </title>

    </head>
  <body>
        <div class="row">
            <div class="col-12  ">

                <h3>Журнал платежів </h3>


                <div class="navbar nav">
                    <form zippy="filter" class="form-inline ">
                         <label for="from">З </label>
                        <input type="text" class="form-control mr-sm-1  " zippy="from" style="width:110px">


                        <label for="to"> по </label>
                        <input type="text" class="form-control mr-sm-1 " style="width:110px" zippy="to">

            

                        <label for="fmfund"> рахунок </label>
                        <select class="form-control mr-2" zippy="fmfund">
                            <option value="0">Не обрано</option>
                        </select>
                        <label for="fuser"> створив </label>
                        <select class="form-control mr-2" zippy="fuser">
                            <option value="0">Не обрано</option>
                        </select>

                        <label for="fcustomer"> контрагент </label>
                        <input placeholder="Почніть вводити..." type="text" class="form-control  mr-2 " zippy="fcustomer">


                        <input type="submit" class="  btn btn-outline-success  " value="ОК">

                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10">


                <br><a zippy="csv">Експорт у Excel</a>
                <br><small>Скасування оплати виконується проведенням оплати зi знаком мiнус </small>

                <table class="table   table-sm   ">
                    <tr>


                        <th>Дата</th>
                        <th>Створив</th>
                        <th>Рахунок</th>
                        <th class="text-right">Прибуток</th>
                        <th class="text-right">Видаток</th>
                        <th>Номер</th>
                        <th>Дата. док.</th>
                        

                        <th>Контрагент</th>



                        <th>Примітка</th>
                        <th></th>


                    </tr>
                    <tr zippy="doclist">

                       <td class="text-nowrap" zippy="date"></td>
                        <td zippy="username"></td>
                        <td zippy="mf_name"></td>
                        <td zippy="amountp" class="text-right"></td>
                        <td zippy="amountm" class="text-right"></td>
                        <td zippy="number"></td>
                        <td class="text-nowrap" zippy="docdate"></td>
                 
                        <td zippy="customer_name"></td>


                        <td zippy="notes"></td>

                        <td class="text-nowrap">
                            <a zippy="print" title="Друкувати квитанцiю про оплату"><i class="fa fa-print"></i></a>&nbsp;&nbsp;
                            <a zippy="show" title="Перегляд"><i class="fa fa-eye"></i></a>
                            &nbsp;&nbsp; <a href="javascript:void(0);" zippy="del" title="Скасування оплати"><i class="fa fa-trash"></i></a>


                        </td>


                    </tr>

                </table>

                <div zippy="pag"></div>
                 <table class="ctable" >
                   <tr><td>Прибуток </td><td zippy="totp" class="text-right text-bold"></td></tr>
                   <tr><td>Видаток </td><td zippy="totm" class="text-right text-bold"></td></tr>
                   <tr><td class="text-bold">Разом </td><td zippy="tottot" class="text-right text-bold"></td></tr>
                 
                 </table>
                <div class="row" id="dankor">

                </div>

            </div>

            <div class="col-12">
                <div zippy="docview"></div>
            </div>

        </div>

        <div id="dform" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <form zippy="fnotes">

                            <div class="form-group">
                                <label for="notes">Підстава скасування</label>
                                <input type="hidden" zippy="pl_id"/>
                                <input required="required" class="form-control" zippy="notes"/>
                            </div>
                            <div class="form-group">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
                                <input zippy="save" type="submit" value="Виконати" class="btn btn-primary  ">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="pform" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td align="center" id="paysprint"></td>
                            <tr>
                            <tr>
                                <td align="center"><a href="javascript:void(0)"
                                                      onclick="$('#paysprint').printThis();$('#pform').modal('hide')"
                                                      class="btn btn-success btn-sm">Друк</a></td>
                            <tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <script>
            function delpay(id) {
                $('#pl_id').val(id);
                $('#dform').modal()
            }
        </script>


    </body>
</html>
