<html>
    <body>

        <div class="row">
            <div class="col-12 col-lg-10 col-xl-8 " zippy="clist">
                <h3>Расчеты с поставщиками </h3>
                <div class="navbar nav">
                    <form zippy="filter" class="form-inline ">


                        </select>
                        <label for="holdlist"> Холдинг </label>
                        <select class="form-control mr-2" zippy="holdlist">
                            <option value="0">Не указан</option>
                        </select>

                        <input type="submit" class="  btn btn-outline-success  " value="ОК">

                    </form>
                </div>

                <br><a zippy="csv">Скачать CSV</a>
                <table class="table   table-sm   ">
                    <tr>

                        <th>Имя</th>
                        <th>Тел.</th>
                        <th class="text-right">К оплате</th>


                        <th></th>
                        <th></th>


                    </tr>
                    <tr zippy="custlist">

                        <td><a zippy="customer_name" title="Открыть  профиль"></a></td>
                        <td zippy="phone"></td>

                        <td zippy="amount" class="text-right"></td>

                        <td><a zippy="createpay">Создать  КО</a></td>
                        <td><a zippy="showdocs">Документы</a></td>


                    </tr>
                    <tr>

                        <td></td>
                        <td class="text-right text-bold">Всего:</td>

                        <td zippy="totamount" class="text-right text-bold"></td>

                        <td></td>


                    </tr>

                </table>

            </div>

            <div class="col-12 col-lg-10 col-xl-8 " zippy="plist">
                <a zippy="back"><i class="fa fa-arrow-alt-circle-left"></i> к списку</a>
                <h3 zippy="cname"></h3>
                <small><i class="fa fa-exclamation-circle"></i> Для  оплаты  по  договорам  а  не  отдельным документам  используются  кассовые  ордера</small>
                <br><a zippy="csv2">Экспорт в Excel</a>
                <table class="table   table-sm   ">
                    <tr>

                        <th>Документ</th>
                        <th>Номер</th>
                        <th>Дата</th>


                        <th class="text-right">Расход</th>
                        <th class="text-right">Приход</th>


                        <th></th>


                    </tr>
                    <tr zippy="doclist">

                        <td zippy="name"></td>
                        <td zippy="number"></td>
                        <td zippy="date"></td>

                        <td zippy="payamount" class="text-right"></td>
                        <td zippy="payed" class="text-right"></td>


                        <td class="text-nowrap">
                            <a zippy="show" title="Просмотр"><i class="fa fa-eye"></i></a>
                            &nbsp; &nbsp;<a zippy="pay" title="Внести оплату"><i class="fa fa-credit-card"></i></a>


                        </td>

                    </tr>

                </table>  
                <a id="dankor"></a>
            </div>

            <div class="col-12 col-lg-10 col-xl-8 " zippy="paypan">


                <div class="navbar nav">
                    <form zippy="payform" class="form-inline ">
                        <label>К оплате</label>
                        <input zippy="pamount" pattern="[0-9\.\-]+" style="width:100px;" placeholder="Сумма..."
                               class="form-control mr-2">
                        <label for="payment">касса, счет</label>
                        <select class="form-control mr-2" zippy="payment">

                        </select>
                        {{#ppo}}
                        <label for="pos">POS</label>
                        <select class="form-control mr-2" zippy="pos">
                            <option value="0">Не выбран</option>
                        </select>
                        {{/ppo}}
                        <label>дата</label>
                        <input zippy="pdate" style="width:100px;" class="form-control mr-2">
                        <input zippy="pcomment" placeholder="Комментарий..." class="form-control mr-2">

                        <button type="submit" class="  btn btn-info  mr-2 ">Оплатить</button>


                    </form>

                </div>
                <b><i class="fa fa-credit-card"></i> Оплаты ( <span zippy="pname"></span>)</b><br>
                <table cellpadding="4">
                    <tr zippy="paylist">
                        <td zippy="pldate"></td>
                        <td zippy="pluser"></td>
                        <td class="text-right">&nbsp;<span zippy="plamount">&nbsp;</span></td>

                        <td zippy="plmft"></td>
                        <td zippy="plcomment"></td>

                    </tr>
                </table>


            </div>
            <div class="col-12 col-lg-10 col-xl-8 ">
                <div zippy="docview"></div>
            </div>
        </div>


    </body>
</html>
