<html>
     <head>
        <title> Виробничі етапи  </title>
  
    </head>
  <body>
        <div class="row">
            <div class="col-12  ">

                <h3>Виробничі етапи</h3>



            </div>
        </div>    
        <div zippy="listpan">

            <div class="row">
                <div class="col-12  ">
                 

                    <div class="card">
                        <form zippy="filter" class="form-inline ">



                            <label for="fproc"> Процес </label>
                            <select class="form-control mr-2" zippy="fproc">
                                <option value="0">Не обрано</option>
                            </select>
                            <label for="fparea"> Дільниця </label>
                            <select class="form-control mr-2" zippy="fparea">
                                <option value="0">Не обрано</option>
                            </select>



                            <input type="submit" class="  btn btn-outline-success  " value="ОК">

                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-xl-8 col-xl-6">

                    <table class="table   table-sm   ">
                
                        <tr>

                            <th >Найменування</th>
                            <th  >Статус</th>
                     

                            <th>Процес</th>
                            

                            <th></th>
                   
                       
                          

                        </tr>
                        <tr zippy="stlist">

                            <td ><a zippy="sname"></a></td>
                            <td zippy="sstate"></td>

                          
                            
                            <td zippy="pname"></td>
                          
                            <td><i zippy="hasnotes" class="far fa-sticky-note" data-toggle="tooltip" data-placement="left"></i></td>


                            <td  >
                                <a zippy="show" title="Перегляд"><i class="fa fa-eye"></i></a>
                            </td>
                       
                            <td  >
                                <a zippy="card" title="Тех. карта"><i class="fa fa-wrench"></i></a>
                            </td>

                        </tr>

                    </table>

                    <div zippy="pag"></div>

                    <div class="row" id="dankor">

                    </div>

                </div>


            </div>

        </div>

       

        <div zippy="cardpan"  class="row">
            <div   class="col-12 col-md-8 col-xl-6">
                <a zippy="backc"><i class="fa fa-arrow-alt-circle-left"></i> До списку</a> 
                <h5 zippy="stagenamec"></h5>
                <b>Технологічна карта</b>
                <div zippy="carddata" ></div>
            </div>
        </div>

  
        <div zippy="statuspan"  class="row">
            <div   class="col-12 col-md-8 col-xl-6">
                <a zippy="backs"><i class="fa fa-arrow-alt-circle-left"></i> До списку</a> 
                <h5 zippy="stagenames"></h5>
                <div class="navbar nav justify-content-start">
                    
                    <a title="Запустити етап" class="btn btn-primary mr-2" zippy="btnstart">Запустити</a>
                    <a title="Призупинити етап" class="btn btn-primary mr-2" zippy="btnstop">Призупинити</a>
                    <a title="Закрити етап" class="btn btn-success mr-2" zippy="btnclose">Закрити</a>
          
                     &nbsp;&nbsp;&nbsp;&nbsp;
                    <a title="Списати у виробництво сировину та матеріали" class="btn btn-info mr-2" zippy="btntoprod">Списати</a>
                    <a title="Оприбуткувати готову продукцію або напівфабрикати" class="btn btn-info mr-2" zippy="btnfromprod">Оприбуткувати</a>
                    <a title="Переміщення між етапами " class="btn btn-info mr-2" zippy="btnmove">Переміщення</a>
                    <a title="Сторонні  послуги " class="btn btn-info mr-2" zippy="btnservice">Отримані послуги</a>
   

                </div>             
                <table class="table table-sm">
                    <tr zippy="doclist">
                        <td zippy="docdate"></td>
                        <td zippy="docnumber"></td>
                        <td zippy="docname"></td>
                        <td  ><a zippy="viewdoc"><i class="fa fa-eye"></i></a></td>
                    </tr>
                </table>
            </div>
            <div   class="col-12 col-md-10 col-xl-9"> 
                <div zippy="docview"></div>
            </div>
        </div>


      

 
     <script type="text/javascript">
  
 
     
      

            function check_btnclose() {
                return confirm("Закрити етап?")
            }
        </script>  
    </body>
</html>
