<html>
     <head>
        <title>  Виробничі процеси </title>
 
    </head>
  <body>
        <div class="row">
            <div class="col-12  ">

                <h3>Виробничі процеси</h3>



            </div>
        </div>

        <div class="row" zippy="listpan">
            <div class="col-12 col-md-12 col-xl-10">

                <a  zippy="addnewproc" class="btn btn-info">Створити</a>
                <table class="table   table-sm   ">
                    <tr>


                        <th>Найменування</th>
                        <th>Замовлення, договір</th>
                        <th>Серія, партія</th>
                        <th>Статус</th>
                        <th>Початок</th>
                        <th>Кінець</th>


                        <th  > </th>
                        <th  > </th>
                        <th  > </th>
                        <th  > </th>
                        <th  > </th>
                        <th  >  </th>
                        <th  >  </th>


                    </tr>
                    <tr zippy="proclist">
                        <td zippy="name"></td>
                        <td zippy="basedoc"></td>
                        <td zippy="snumber"></td>
                        <td zippy="state"></td>

                        <td class="text-nowrap" zippy="startdate"></td>
                        <td class="text-nowrap" zippy="enddate"></td>
                        <td><i zippy="hasnotes" class="far fa-sticky-note" data-toggle="tooltip" data-placement="left"></i></td>


                        <td  >
                          &nbsp;   <a zippy="view" title="Перегляд"><i class="fa fa-eye"></i></a>
                        </td> 
                        <td  >
                       &nbsp;        <a zippy="prods" title="Готова продукція"><i class="fa fa-gift"></i></a>
                        </td> 
                        <td  >
                          &nbsp;   <a zippy="edit" title="Редагування"><i class="fa fa-edit"></i></a>
                        </td> <td  >
                          &nbsp;   <a zippy="stages" title="Виробничі етапи"><i class="fa fa-gavel"></i></a>
                        </td> 
                        <td  >
                          &nbsp;   <a zippy="copy" title="Копіювати"><i class="fa fa-copy"></i></a>
                        </td>
                        <td  >
                          &nbsp;   <a zippy="delete" title="Видалити"><i class="fa fa-trash"></i></a>
                        </td>


                    </tr>

                </table>

                <div zippy="pag"></div>

            </div>
            <div zippy="showpan" class="col-12">
                <div   class="row">
                    <div   class="col-12  ">
                        <div class="navbar nav justify-content-start">
                            <a class="btn btn-info" zippy="btnstinprocess">На виконання</a>
                            &nbsp;&nbsp;
                            <a class="btn btn-warning" zippy="btnstsuspend">Призупинити</a>
                            &nbsp;&nbsp;
                            <a class="btn btn-danger" zippy="btnstcancel">Скасувати</a>
                            &nbsp;&nbsp;
                            <a class="btn btn-success" zippy="btnstclose">Виконано</a>


                        </div>               
                    </div>
                    <div   class="col-12 col-md-8 col-xl-6">
                        <h5>Виробничі етапи</h5>
                        <table class="table table-sm">
                            <tr><th>Найменування</th><th  >Статус</th><th  >Виробнича дільниця</th></tr>
                            {{#stagelist}}
                            <tr   >
                                <td   >{{stagename}} </td>

                                <td   >{{stagestatus}} </td>
                                <td   >{{stagearea}} </td>
                            </tr>
                            {{/stagelist}}
                        </table>
                    </div>   
             
                    <div class="w-100"></div>         
                    <div   class="col-12 col-md-6 col-xl-4">
                        <h5>Готова продукція</h5>
                        <table class="table table-sm">
                            <tr><th>Найменування</th><th class="text-right">План</th><th class="text-right">Факт</th></tr>
                            {{#prodready}}
                            <tr><td >{{itemname}} </td><td class="text-right">{{itemplan}} </td><td class="text-right">  {{itemfact}}</td></tr>
                            {{/prodready}}
                        </table>
                    </div>            
                    <div   class="col-12 col-md-6 col-xl-4">
                        <h5>Списано матеріалів та комплектуючих</h5>
                        <table class="table table-sm">
                            <tr><th>Найменування</th><th class="text-right">Кіл.</th><th class="text-right">На суму</th></tr>
                            {{#prodstuff}}
                            <tr><td >{{itemname}} </td><td class="text-right">{{itemqty}} </td><td class="text-right">  {{itemamount}}</td></tr>
                            {{/prodstuff}}                     
                        </table>
                    </div>            

                </div>            
            </div>            


        </div>

        <form zippy="editproc"  >
            <h4>Редагування процесу</h4>
            <div class="row"  >
                <div class="col-12 col-md-4 col-xl-3">
                    <div class="form-group">
                        <label for="editname">Найменування</label>
                        <input required="required" class="form-control" zippy="editname"/>
                    </div>
                    <div class="form-group">
                        <label for="editbasedoc">Замовлення, договір</label>
                        <input   class="form-control" zippy="editbasedoc"/>
                    </div>
                    <div class="form-group">
                        <label for="editsnumber">Серія, партія</label>
                        <input   class="form-control" zippy="editsnumber"/>
                    </div>
                    <div class="form-group">
                        <label for="editstartdateplan">Початок (план)</label>
                        <input   class="form-control" zippy="editstartdateplan"/>
                    </div>
                    <div class="form-group">
                        <label for="editenddateplan">Кінець (план)</label>
                        <input   class="form-control" zippy="editenddateplan"/>
                    </div>
                    <div class="form-group">
                        <label for="editnotes">Примітка</label>
                        <textarea  style="height:100px"  class="form-control" zippy="editnotes"></textarea>
                    </div>
                </div>

                <div class="col-12">
                    <input zippy="save"   type="submit" value="Зберегти" class="btn btn-primary  ">&nbsp;&nbsp;
                    <input zippy="cancel" type="button" value="Скасувати" class="btn btn-outline-primary  ">  &nbsp;&nbsp;

                </div>
            </div>
        </form>           

        <div class="row" zippy="prodspan" >
            <div class="col-12 col-md-8 col-xl-6">
                <h5>Запланована готова продукція</h5>
                <div class="navbar nav">
                    <form zippy="addprodform" class="form-inline ">
                        <label  for="additem">Найменування</label>

                        <select   class="form-control mr-2" zippy="additem">
                            <option value="0">Не обрано</option>

                        </select>
                        <label for="addqty">Кіл.</label>
                        <input style="width:60px"  class="form-control qtyprice mr-2" zippy="addqty" pattern="[0-9,\.]+"  />

                        <input type="submit" class="  btn btn-success  " value="+">


                    </form>
                </div>               

                <table class="table table-sm">
                    <tr zippy="proditemlist">
                        <td zippy="proditemname"></td>
                        <td class="text-right" zippy="proditemqty"></td>
                        <td><a zippy="proditemdel"><i class="fa fa-trash"></i></a></td>
                    <tr>
                </table>
                <a zippy="cancelprods" class="btn btn-outline-success" >Скасувати</a>&nbsp;&nbsp;&nbsp;
                <a zippy="saveprods"  class="btn  btn-success">Зберегти</a>
            </div>
        </div>

        <div class="row" zippy="stagespan" >
            <div class="col-12 col-md-10 col-xl-8">
                <h5>Виробничі етапи </h5>
                <a zippy="backtoproc"   ><i class="fa fa-arrow-alt-circle-left"></i> До списку процесів</a>  <br>
                <a zippy="addstage"  class="btn  btn-success">Додати</a>
                <table class="table table-sm">
                    <tr>
                       <th>Назва</th>
                       <th>Статус</th>
                       <th>Вир. дільниця</th>
                       <th>Початок</th>
                       <th>Кінець</th>
                       <th>Годин</th>
                       <th> </th>
                       <th> </th>
                       <th> </th>
                    </tr>
                    <tr zippy="stagelist">
                        <td zippy="stagename"></td>
                        <td zippy="stagestate"></td>
                        <td zippy="stageareaname"></td>
                        <td zippy="stagestartdate"></td>
                        <td zippy="stageenddate"></td>
                        <td zippy="stagehours"></td>

                        <td><a title="Редагувати" zippy="stageedit"><i class="fa fa-edit"></i></a></td>
                        <td><a title="Тех. карта" zippy="stagecard"><i class="fa fa fa-wrench"></i></a></td>
                        <td><a title="Видалити" zippy="stagedel"><i class="fa fa-trash"></i></a></td>
                    <tr>
                </table>               
            </div>
        </div>

        <form zippy="editstage"  >
                <h4>Редагування етапу</h4>
 
            <div class="row"  >
                <div class="col-12 col-md-4 col-xl-3">
                    <div class="form-group">
                        <label for="editstagename">Найменування</label>
                        <input required="required" class="form-control" zippy="editstagename"/>
                    </div>
                    <div class="form-group">
                        <label for="editstagearea">Виробнича дільниця  </label>
                        <select  class="form-control" zippy="editstagearea">
                            <option value="0">Не обрано</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="editstagestartdateplan">Початок (план)</label>
                        <input required="required"  class="form-control" zippy="editstagestartdateplan"/>
                    </div>
                    <div class="form-group">
                        <label for="editstageenddateplan">Кінець (план)</label>
                        <input required="required"   class="form-control" zippy="editstageenddateplan"/>
                    </div>

                    <div class="form-group">
                        <label for="editstagehours">Кіл. годин (план)</label>
                        <input pattern="[0-9,\.]+" style="width:75px"   class="form-control qtyprice" zippy="editstagehours"/>
                    </div>
                    <div class="form-group">
                        <label for="editstagesalary">Сума по зарплаті</label>
                        <input pattern="[0-9]+" style="width:75px"   class="form-control" zippy="editstagesalary"/>
                    </div>
                    <div class="form-group">
                        <label for="editstagenotes">Коментар</label>
                        <textarea  style="height:100px"  class="form-control" zippy="editstagenotes"></textarea>
                    </div>
                </div>

                <div class="col-12">
                    <input zippy="savestage"   type="submit" value="Зберегти" class="btn btn-primary  ">&nbsp;&nbsp;
                    <input zippy="cancelstage" type="button" value="Скасувати" class="btn btn-outline-primary  ">  &nbsp;&nbsp;
                </div>
            </div>
        </form> 

        <form zippy="editcardform"  >
            <h4 zippy=stagenameh4></h4>    
            <div class="row"  >
                <div class="col-12 col-md-8 col-xl-6">
                    <div class="form-group">
                        <label for="editcard">Технологічна карта</label>
                        <textarea     class="form-control" zippy="editcard"></textarea>
                    </div>             

                </div>
                <div class="col-12">
                    <input zippy="savecard"   type="submit" value="Зберегти" class="btn btn-primary  ">&nbsp;&nbsp;
                    <input zippy="cancelcard" type="button" value="Скасувати" class="btn btn-outline-primary  ">  &nbsp;&nbsp;
                </div> 
            </div>
        </form> 

        <script>
            function check_delete() {
                return confirm("Видалити?")
            }
            function check_stagedel() {
                return confirm("Видалити?")
            }
            function check_btnstsuspend() {
                return confirm("Призупинити?")
            }
            function check_btnstclose() {
                return confirm("Закрити?")
            }
            function check_btnstcancel() {
                return confirm("Скасувати?")
            }

            $(function () {
                // Summernote

                $('#editcard').summernote({
                    height: 600,
                    lang: 'uk-UA',

                    callbacks: {
            
                        onPaste: function (e) {

                            var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                            e.preventDefault();
                            document.execCommand('insertText', false, bufferText.replace(/\n/g, ''));
                        }
                    }
                });
            })

         
            
        </script>            

    </body>
</html>
