<html>
    <body>
        <div class="row">
            <div class="col-12  ">

                <h3>Производственные процессы</h3>


               
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-10 col-xl-8">

                <a class="btn btn-info">Создать</a>
                <table class="table   table-sm   ">
                    <tr>

                      
                        <th>Наименование</th>
                        <th>Заказ, договор</th>
                        <th>Серия, партия</th>
                        <th>Статус</th>
                        <th>Начало</th>
                        <th>Окончание</th>


                        <th style="width:100px"> </th>
      

                    </tr>
                    <tr zippy="proclist">
                        <td zippy="name"></td>
                        <td zippy="basedoc"></td>
                        <td zippy="snumber"></td>
                        <td zippy="state"></td>

                        <td class="text-nowrap" zippy="datestart"></td>
                        <td class="text-nowrap" zippy="dateend"></td>
                         

                        <td class="text-nowrap">

                            <a zippy="show" title="Просмотр"><i class="fa fa-eye"></i></a>
                            &nbsp;&nbsp;
                            <a zippy="edit" title="Редактирование"><i class="fa fa-edit"></i></a>
                            &nbsp;&nbsp;
                            <a zippy="stages" title="Призводственные  этапы"><i class="fa fa-gavel"></i></a>
                            &nbsp;&nbsp;
                            <a zippy="stages" title="Создать  копию"><i class="fa fa-copy"></i></a>


                        </td>


                    </tr>

                </table>

                <div zippy="pag"></div>

              

            </div>

           

        </div>






    </body>
</html>
