<html>
     <head>
        <title>  Журнал зарплат </title>

    </head>
  <body>
        <div class="row">
            <div class="col-12 col-xl-10">

                <h3>Журнал зарплат </h3>


                <div class="card">
                    <form zippy="filter" class="form-inline ">

                        <label for="searchnumber"> № </label>
                        <input class="form-control mr-2" type="text" zippy="searchnumber" style="width:100px">
                        <input type="submit" class="  btn btn-outline-success  " value="ОК">

                    </form>
                </div>

                <a href="/index.php?p=App/Pages/Doc/CalcSalary" class="btn btn-info mt-2 mb-3">Створити Нарахування</a>
                <a href="/index.php?p=App/Pages/Doc/OutSalary" class="btn btn-info mt-2 mb-3">Створити виплату</a>
                <br> <a zippy="csv">Експорт у Excel</a>

                <table class="table   table-sm   ">
                    <tr>

                        <th>Номер</th>
                        <th>Дата</th>
                        <th>Рiк</th>
                        <th>Мiсяць</th>
                        <th class="text-right">Сума</th>

                        <th>Статус</th>


                        <th>Примiтка</th>
                        <th></th>


                    </tr>
                    <tr zippy="doclist">

                        <td ><a zippy="document_number"></a></td>
                        <td class="text-nowrap" zippy="date"></td>
                        <td zippy="year"></td>
                        <td zippy="month"></td>
                        <td zippy="amount" class="text-right"></td>


                        <td class="text-nowrap" zippy="state"></td>
                        <td zippy="onotes"></td>

                        <td class="text-nowrap">
                            <a zippy="show" title="Перегляд"><i class="fa fa-eye"></i></a>

                             &nbsp; &nbsp; &nbsp; &nbsp; <a zippy="edit" title="Редагування"><i class="fa fa-edit"></i></a>

                        </td>


                    </tr>

                </table>

                <div zippy="pag" style="width:60%">
                </div>
                <a id="dankor"></a>
            </div>

        </div>


        <div class="row" zippy="statuspan">
            <div class="col-12">
                 <div zippy="docview"></div>
            </div>
        </div>


    </body>
</html>
