<html>
   <head>
        <title>  Журнал послуг </title>

    </head>
    <body>
        <div zippy="listpan" class="row">
            <div class="col-12 col-xl-10">

                <h3>Журнал послуг  </h3>


                <div class="card">
                    <form zippy="filter" class="form-inline ">


                        <label for="searchnumber"> № </label>

                        <input class="form-control mr-2" type="text" zippy="searchnumber" style="width:100px">

                        <select class="form-control mr-2" zippy="status">
                        </select>

                        <input class="form-control mr-2" type="text" zippy="searchtext" placeholder="Пошук по контенту" ]>


                        <input type="submit" class="  btn btn-outline-success  " value="ОК">

                    </form>
                </div>

                <a href="/index.php?p=App/Pages/Doc/ServiceAct" class="btn btn-info mt-2 mb-3">Створити новий</a>
                <br> <a zippy="csv">Експорт у Excel</a>

                <table class="table   table-sm   ">
                    <tr>

                        <th>Номер</th>
                        <th>Дата</th>
                        <th>Клієнт</th>
                        <th> </th>
                        <th class="text-right">Сума</th>

                        <th>Статус</th>

                            <th></th>
                        <th>Примітка</th>
                   
                        <th></th>


                    </tr>
                    <tr zippy="doclist">

                        <td  ><a zippy="number"></a></td>
                        <td class="text-nowrap" zippy="date"></td>
                        <td zippy="customer"></td>
                        <td zippy="customerphone"></td>
                        <td zippy="amount" class="text-right"></td>


                        <td class="text-nowrap" zippy="state"></td>
       <td>
                            <i  zippy="ispay"   class="fa fa-credit-card "></i>
                        </td>
                                        
                        <td zippy="onotes"></td>

                        <td class="text-nowrap">
                            <a zippy="show" title="Перегляд"><i class="fa fa-eye"></i></a>

                            &nbsp; &nbsp; &nbsp; &nbsp; <a zippy="edit" title="Редагування"><i class="fa fa-edit"></i></a>

                        </td>


                    </tr>

                </table>

                <div zippy="pag">
                </div>
                <a id="dankor"></a>
            </div>

        </div>


        <div class="row" zippy="statuspan">
            <div class="col-12">

                <div class="card">
                    <form zippy="statusform" class="form-inline ">

                        <button zippy="binproc" type="submit" class="  btn btn-success  mr-2 ">На виконання</button>
                        <button zippy="bfin" type="submit" class="  btn btn-success  mr-2 ">Виконано</button>
                        <a zippy="btopay" class="  btn btn-success  mr-2 ">Оплатити</a>
                        <button zippy="bpos" class="btn btn-info  mr-2">   {{^fiscal}} Чек   {{/fiscal}}     {{#fiscal}}  Фіскальний чек    {{/fiscal}}    </button>
 

                        <button zippy="binvoice" type="submit" class="  btn btn-info mr-2 "  >Рахунок  </button>
                        <button zippy="bwarranty" type="submit" class="  btn btn-info mr-2 "  >Гар. талон  </button>
                          {{#useprod}}
                        <button zippy="btask" type="submit" class=" btn btn-info mr-2 ">Наряд</button>
                         {{/useprod}}
                        <button zippy="bref" type="submit" class="  btn btn-danger mr-2 ">Анулювано</button>


                    </form>
                </div>


                <div zippy="docview"></div>

            </div>
        </div>

       <div zippy="editpan" class="row"  >
          <div  class="col-12 col-md-10 col-xl-8"  >
               <table class="table  table-sm">
                    <tr>
                        <th>Назва</th>
                 
                        <th> </th>
                        <th class="text-right">Кiл.</th>

                        <th class="text-right"><i class="fa fa-gift"></i>,%</th>
                        <th class="text-right">Ціна</th>
                        <th class="text-right">Сума</th>

                        <th  ></th>
                           
                    </tr>
                    <tr><td colspan="8">
                         <form zippy="sform" class="form-inline" >
                               Робота  
                               <select zippy="sser" class="form-control select2">
                                  <option value="0">Не вибрана</option>                                  
                               </select>
                               &nbsp;Коментар
                               <input  type="text"  class="form-control" zippy="sdesc"  >
                               &nbsp;Кiл.
                               <input  required="on"  style="width:100px"  type="text"  class="form-control priceqty" zippy="sqty"  >
                               &nbsp;Цiна
                               <input  required="on"  style="width:100px"  type="text"  class="form-control priceqty" zippy="sprice"  >
                               &nbsp;
                              <input  zippy="ssubmit" type="submit"  value="+" class="btn btn-success"   >
                         </form>
                    </td></tr> 
                     <tr zippy="slist"   >
                                <td zippy="rsservice_name"></td>
                              
                                <td zippy="rsdesc"></td>
                                <td zippy="rsquantity" class="text-right"> </td>
                                <td zippy="rsdisc"  class="text-right"></td>
                                <td zippy="rsprice"  class="text-right"></td>
                                <td zippy="rsamount"  class="text-right"></td>


                                <td> <a  zippy="rsdel" ><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        <tr><td colspan="8">
                          <form zippy="iform" class="form-inline" >
                               ТМЦ  
                               <input zippy="iitem"  class="form-control">
                              {{#usesnumberitem}}
                                &nbsp;с/н  
                               <input zippy="isn"  class="form-control">
                               {{/usesnumberitem}}
                               &nbsp;Кiл.
                               <input  required="on"  style="width:100px"  type="text"  class="form-control priceqty" zippy="iqty"  >
                               &nbsp;Цiна
                               <input  required="on"  style="width:100px"  type="text"  class="form-control priceqty" zippy="iprice"  >
                           
                              <input  zippy="isubmit" type="submit"  value="+" class="btn btn-success"   >
                            </form>                    
                        </td></tr>           
                             <tr zippy="ilist" >
                                <td zippy="riname"  ></td>
                                <td zippy="ricode"   ></td>
                            

                                <td zippy="riquantity"  class="text-right"></td>

                                <td  zippy="ridisc" class="text-right"></td>
                                <td  zippy="riprice" class="text-right"></td>
                                <td  zippy="riamount" class="text-right"></td>


                                <td> <a  zippy="ridel"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>                 
                             <tr style="font-weight: bolder;">
                                <td colspan="5" class="text-right">На суму:</td>
                                <td zippy="etotal"  class="text-right"></td>
                                <td></td>
                            </tr>                                 
                      <tr><td colspan="7">
                          <a zippy="closeedit"  class="btn btn-outline-info mr-2">Скасувати</a>
                          <a zippy="saveedit" class="btn btn-success ">Зберегти</a>
                    </td></tr>           
                                           
                    
                    
               </table>
         </div>
       </div>

    </body>
</html>
