<html>
   <head>
        <title> Журнал руху ТМЦ  </title>

    </head>
    <body>
        <div class="row">
            <div class="col-12 col-xl-10  ">

                <h3>Журнал руху ТМЦ </h3>

                <div class="navbar">
                    <form zippy="filter"  >
                         <div class="row  " >
                        <label class="col-form-label col-auto" for="from">З </label>
                         <div class="col-auto  ">
                         <input type="text" class="form-control ms-sm-2  " zippy="from" style="width:110px">
                          </div>

                        <label class="col-form-label col-auto" for="to"> по </label>
                         <div class="col-auto  ">
                         <input type="text" class="form-control ms-sm-2 " style="width:110px" zippy="to">
                         </div>
                        <label class="col-form-label col-auto" for="fstore"> склад </label>
                         <div class="col-auto  ">
                         <select class="form-control me-2" zippy="fstore">
                            <option value="0">Не обрано</option>
                        </select>
                         </div>
                       {{#storeemp}}
             
                       <label class="col-form-label col-auto" class="col-auto mt-2" for="searchemp">Співробітник</label>
                          <div class="col-auto  ">
                        <select class="form-control ms-sm-2" zippy="searchemp">
                            <option value="0">Не вказано</option>
                        </select>
                          </div>
                       {{/storeemp}}                        
                        
                        <label class="col-form-label col-auto" for="fitem"> ТМЦ </label>
                        
                        <input placeholder="Почніть вводити..." class="form-control ms-sm-2" zippy="fitem">
                         </div>
                         {{#usesnumber}}
               
                        <label class="col-form-label col-auto" data-label="fsnumber" for="fsnumber">Серія, с/н </label>
                         <div class="col-auto  ">
                         <input class="form-control ms-sm-2" zippy="fsnumber">
                            </div>
                             {{/usesnumber}}
                   
                          <div class="col-auto  ">
                        <input type="submit" class="  btn btn-success  " value="ОК">
                        </div> </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 col-xl-6">


                <table class="table   table-sm   ">
                    <tr>


                        <th>Дата</th>
                        <th>Документ</th>
                        <th>Контрагент</th>
                  

                        {{#usesnumber}}
                        <th class="text-end">Серія</th>
                        {{/usesnumber}}
                        <th class="text-end">Кіл.</th>
                       

                        <th></th>


                    </tr>
                    <tr zippy="doclist">

                        <td class="text-nowrap" zippy="date"></td>
                        <td zippy="dnumber"></td>
                        <td zippy="customer_name"></td>

                        {{#usesnumber}}
                        <td zippy="snumber"></td>
                        {{/usesnumber}}
                        <td zippy="qty" class="text-end"></td>

                  
                        <td class="text-nowrap">
                            <a zippy="show" title="Перегляд"><i class="fa fa-eye"></i></a>


                        </td>


                    </tr>

                </table>

                <div zippy="pag"></div>


                <div class="row" id="dankor">

                </div>

            </div>

            <div class="col-12">
                <div zippy="docview"></div>
            </div>
        </div>


    </body>
</html>
