<html>
   <head>
        <title> Журнал руху ТМЦ  </title>

    </head>
    <body>
        <div class="row">
            <div class="col-12 col-xl-10  ">

                <h3>Журнал руху ТМЦ </h3>

                <div class="card">
                    <form zippy="filter" class="form-inline ">

                        <label for="from">З </label>
                        <input type="text" class="form-control mr-sm-2  " zippy="from" style="width:110px">


                        <label for="to"> по </label>
                        <input type="text" class="form-control mr-sm-2 " style="width:110px" zippy="to">

                        <label for="fstore"> склад </label>
                        <select class="form-control mr-2" zippy="fstore">
                            <option value="0">Не обрано</option>
                        </select>
                        
                       {{#storeemp}}
             
                       <label class="col-auto mt-2" for="searchemp">Співробітник</label>
                
                        <select class="form-control mr-sm-2" zippy="searchemp">
                            <option value="0">Не вказано</option>
                        </select>
        
                       {{/storeemp}}                        
                        
                        <label for="fitem"> ТМЦ </label>
                        <input placeholder="Почніть вводити..." class="form-control mr-sm-2" zippy="fitem">
                         {{#usesnumber}}
               
                        <label data-label="fsnumber" for="fsnumber">Серія, с/н </label>
                        <input class="form-control mr-sm-2" zippy="fsnumber">
                             {{/usesnumber}}
                   

                        <input type="submit" class="  btn btn-outline-success  " value="ОК">

                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 col-xl-6">


                <table class="table   table-sm   ">
                    <tr>


                        <th>Дата</th>
                        <th>Документ</th>
                        <th>Контрагент</th>
                  

                        {{#usesnumber}}
                        <th class="text-right">Серія</th>
                        {{/usesnumber}}
                        <th class="text-right">Кіл.</th>
                       

                        <th></th>


                    </tr>
                    <tr zippy="doclist">

                        <td class="text-nowrap" zippy="date"></td>
                        <td zippy="dnumber"></td>
                        <td zippy="customer_name"></td>

                        {{#usesnumber}}
                        <td zippy="snumber"></td>
                        {{/usesnumber}}
                        <td zippy="qty" class="text-right"></td>

                  
                        <td class="text-nowrap">
                            <a zippy="show" title="Перегляд"><i class="fa fa-eye"></i></a>


                        </td>


                    </tr>

                </table>

                <div zippy="pag"></div>


                <div class="row" id="dankor">

                </div>

            </div>

            <div class="col-12">
                <div zippy="docview"></div>
            </div>
        </div>


    </body>
</html>
