<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/vendor/leon-mbs/zippy/zcl/gantt/jquery.ganttView.css"/>

        <link href="/assets/css/ekko-lightbox.css" rel="stylesheet" type="text/css">
        <script src="/assets/js/ekko-lightbox.js" type="text/javascript"></script>


        <link rel="stylesheet" type="text/css" href="/assets/js/fullcalendar/main.css"/>

        <script language="javascript" src="/assets/js/fullcalendar/main.js"></script>
        <script language="javascript" src="/assets/js/fullcalendar/locales/ru.js"></script>



    </head>
    <body>
        <div class="row">
            <div class="col-12  col-xl-10">
                <h3>Журнал нарядов</h3>
                <div class="navbar nav">
                    <form zippy="filterform" class="form-inline">


                        <label for="filterassignedto">Исполнитель</label>

                        <select class="form-control  mr-sm-2" zippy="filterassignedto">
                            <option value="0">Все</option>
                        </select>
                        <label for="filterpa">Пр. участок</label>

                        <select class="form-control  mr-sm-2" zippy="filterpa">
                            <option value="0">Все</option>
                        </select>


                        <div class="form-check   ">

                            <input class="form-check-input" type="checkbox" zippy="filterfinished">
                            <label class="form-check-label mr-sm-3" for="filterfinished">Закрытые</label>
                        </div>

                        <button type="submit" class="btn btn-primary  ">ОК</button>
                        &nbsp;<a title="Очистить фильтр" zippy="eraser"><i class="fa fa-eraser"></i></a>

                    </form>
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col-12  col-xl-10   ">


                <div class="mt-1" style="font-size: 1.5rem">
                    <a zippy="tabs"><span class="{{{tabsbadge}}}">  Список</span> </a> &nbsp;&nbsp;
                    <a zippy="tabc"><span class="{{{tabcbadge}}}">  Календарь   </span> </a>

                </div>


                <div zippy="tasktab">
                    <a href="/index.php?p=App/Pages/Doc/Task" class="btn btn-info mt-2 mb-3">Создать</a>

                    <div class="row">
                        <div class="col-12    table-responsive">
                            <a zippy="csv">Экспорт в Excel</a>

                            <table class="table   table-sm table-hover">
                                <tr>

                                    <th>Номер</th>


                                    <th>Начало</th>

                                    <th style="text-align: right;">Час.</th>

                                    <th>Исполнитель</th>
                                    <th>Работа</th>
                                    <th>Статус</th>
                                    <th>Описание</th>


                                    <th style="width:75px;"></th>

                                </tr>
                                <tr zippy="tasklist">

                                    <td zippy="tasknumber"></td>


                                    <td zippy="taskdocument_date" style="white-space:   nowrap"></td>
                                    <td zippy="taskhours" style="text-align: right;"></td>

                                    <td zippy="taskemps"></td>
                                    <td zippy="taskservices"></td>
                                    <td zippy="taskstatus"></td>

                                    <td zippy="taskdesc"></td>

                                    <td>
                                        <a zippy="taskshow" title="Просмотр"><i class="fa fa-eye"></i></a>
                                        &nbsp;&nbsp;<a zippy="taskedit" title="Редактировать"><i class="fa fa-edit"></i></a>

                                    </td>

                                </tr>

                            </table>
                            <div zippy="pag"></div>
                            <a id="dankor"></a></div>
                    </div>


                    <div class="row" zippy="statuspan">
                        <div class="col-12   ">


                            <div class="navbar nav">
                                <form zippy="statusform" class="form-inline ">
                                    <button zippy="binprocess" type="submit" class="  btn btn-primary  mr-2 "><i
                                            class="fas fa-wrench"></i> На выполнение
                                    </button>
                                    <button zippy="bshifted" type="submit" class="  btn btn-warning  mr-2 "><i
                                            class="fas fa-clock"></i> Отложить
                                    </button>
                                    <button zippy="bclosed" type="submit" class="  btn btn-success  mr-2 "><i
                                            class="fa fa-gavel"></i> Закончен
                                    </button>
                                    <button zippy="bitems" type="submit" class="  btn btn-secondary  mr-2 "><i
                                            title="Списание  на производство  комплектующих  и материалов"
                                            class="fa fa-cogs"></i> Расходные материалы
                                    </button>
                                    <button zippy="bgoods" type="submit" class="  btn btn-secondary  mr-2 "><i
                                            title="Оприходование  готовой продукции" class="fa fa-box"></i> Готовая
                                        продукция
                                    </button>
                                    <button zippy="bact" type="submit" class="  btn btn-secondary  mr-2 "><i
                                            title="Акт выполненых работ для  заказчика" class="fa fa-tools"></i> Акт
                                        выполненых работ
                                    </button>


                                </form>


                            </div>

                            <div zippy="docview"></div>

                        </div>
                    </div>

                </div> <!-- tasktab -->
                <div zippy="caltab">

                    <div zippy='calendar'></div>


                </div>


            </div>
        </div>
    </body>
</html>
