<html>
   <head>
        <title>  Журнал нарядів </title>

 
        <link rel="stylesheet" type="text/css" href="/vendor/leon-mbs/zippy/zcl/gantt/jquery.ganttView.css"/>

        <link href="/assets/css/ekko-lightbox.css" rel="stylesheet" type="text/css">
        <script src="/assets/js/ekko-lightbox.js" type="text/javascript"></script>


        <link rel="stylesheet" type="text/css" href="/assets/js/fullcalendar/main.css"/>

        <script language="javascript" src="/assets/js/fullcalendar/main.js"></script>
        <script language="javascript" src="/assets/js/fullcalendar/locales/ua.js"></script>


    </head>
    <body>
        <div class="row">
            <div class="col-12  col-xl-10">
                <h3>Журнал нарядів</h3>
                <div class="card">
                    <form zippy="filterform" class="form-inline">


                        <label for="filterassignedto">Виконавець</label>

                        <select class="form-control  mr-sm-2" zippy="filterassignedto">
                            <option value="0">Не обрано</option>
                        </select>
                        <label for="filterpa">Вир. ділянка</label>

                        <select class="form-control  mr-sm-2" zippy="filterpa">
                            <option value="0">По всіх</option>
                        </select>


                        <div class="form-check   ">

                            <input class="form-check-input" type="checkbox" zippy="filterfinished">
                            <label class="form-check-label mr-sm-3" for="filterfinished">Закриті</label>
                        </div>

                        <button type="submit" class="btn btn-primary  ">ОК</button>
                        &nbsp;<a title="Очистити фільтр" zippy="eraser"><i class="fa fa-eraser"></i></a>

                    </form>
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col-12  col-xl-10   ">


                <div class="mt-1" style="font-size: 1.5rem">
                    <a zippy="tabs"><span class="{{{tabcbadge}}}">  Перелік</span> </a> &nbsp;&nbsp;
                    <a zippy="tabc"><span class="{{{tababadge}}}">  Календар   </span> </a> &nbsp;&nbsp;

                </div>

                <div zippy="tasktab" class="tab-pane  active ">
                    <a href="/index.php?p=App/Pages/Doc/Task" class="btn btn-info mt-2 mb-3">Створити</a>

                    <div class="row">
                        <div class="col-12    table-responsive">
                            <a zippy="csv">Експорт у Excel</a>

                            <table class="table   table-sm table-hover">
                                <tr>

                                    <th>Номер</th>


                                    <th>Початок</th>

                                    <th style="text-align: right;">Час.</th>

                                    <th>Виконавець</th>
                                    <th>Робота</th>
                                    <th>Статус</th>
                                    <th>Опис</th>


                                    <th  ></th>

                                </tr>
                                <tr zippy="tasklist">

                                    <td ><a zippy="tasknumber"></a></td>


                                    <td zippy="taskdocument_date" style="white-space:   nowrap"></td>
                                    <td zippy="taskhours" style="text-align: right;"></td>

                                    <td zippy="taskemps"></td>
                                    <td zippy="taskservices"></td>
                                    <td zippy="taskstatus"></td>

                                    <td zippy="taskdesc"></td>

                                    <td>
                                        <a zippy="taskshow" title="Перегляд"><i class="fa fa-eye"></i></a>
                                        &nbsp; &nbsp; &nbsp; &nbsp;<a zippy="taskedit" title="Редагувати"><i class="fa fa-edit"></i></a>

                                    </td>

                                </tr>

                            </table>
                            <div zippy="pag"></div>
                            <a id="dankor"></a></div>
                    </div>


                    <div class="row" zippy="statuspan">
                        <div class="col-12   ">


                            <div class="card">
                                <form zippy="statusform" class="form-inline ">
                                    <button zippy="binprocess" type="submit" class="  btn btn-primary  mr-2 "><i
                                            class="fas fa-wrench"></i> На виконання
                                    </button>
                                    <button zippy="bshifted" type="submit" class="  btn btn-warning  mr-2 "><i
                                            class="fas fa-clock"></i> Відкласти
                                    </button>
                                    <button zippy="bclosed" type="submit" class="  btn btn-success  mr-2 "><i
                                            class="fa fa-gavel"></i> Закінчено
                                    </button>
                                    <button zippy="bitems" type="submit" class="  btn btn-secondary  mr-2 "><i
                                            class="fa fa-cogs"></i> Витратні матеріали
                                    </button>

                                    <button zippy="bgoods" type="submit" class="  btn btn-secondary  mr-2 "><i
                                            class="fa fa-box"></i> Готова продукція
                                    </button>
                                    <button zippy="bact" type="submit" class="  btn btn-secondary  mr-2 "><i
                                            class="fa fa-tools"></i> Акт виконаних робіт
                                    </button>


                                </form>


                            </div>

                            <div zippy="docview"></div>

                        </div>
                    </div>

                </div> <!-- tasktab -->
                <div zippy="caltab" class="tab-pane    ">

                    <div zippy="calendar"></div>


                </div>


            </div>
        </div>

    </body>
</html>
